[2016-04-01 15:12] jeromekelleher commented on #998
Ah, OK, gotcha. So, how do you provide the data, just upload the file on a web form?

[2016-04-01 15:15] jeromekelleher commented on #335
Unblocking this, as pysam 0.9.0 support has been merged in #880

[2016-04-01 16:34] jeromekelleher commented on #1003
Closed in #1007.

[2016-04-01 16:34] #1003 closed

[2016-04-01 17:29] jeromekelleher opened #1045 "URL support for reads and variants within data repo"
{Kevin O: I pasted this initial comment back into the history from my email. Somehow github dropped it!}

We need to provide support for reads and variants being read from a URL. Here is a sketch of one possible implementation:

Within FileSystemDataset, glob for json files. For each JSON file, the localId is the basename of this file. So, for a readGroupSet HG00096, we would have HG00096.json.

T

[2016-04-01 17:32] jeromekelleher commented on #1045
Another thought: for 1000 genomes, it's probably not such a great idea to have several thousand JSON files lying around inside one directory. We could make a single file to hold all of the URLs/metadata easily enough. Perhaps this should be done as a follow up?

[2016-04-01 17:42] david4096 opened #1046 "Richer ontology model support"
In the thread of #980 @cmungall raised:

A more robust ontology model would support the sanctioned RDF formats, which are hosted [here](https://github.com/The-Sequence-Ontology/SO-Ontologies).

[2016-04-01 18:18] macieksmuga commented on #988
I've made some modifications to the gff3->db ingestion script in the latest sequence-annotations PR update #1036 that should considerably ease the pain.

[2016-04-01 18:20] macieksmuga opened #1047 "Refactor repo manager to allow user-specified metadata for reference sets"
While working on #955 I noticed that the Repo manager currently assumes various metadata values when generating companion JSON files to references. These should instead be optionally specified by the user on the command line or through a user-supplied metadata file.

Related to #1040

[2016-04-01 20:00] diekhans commented on #1046
We need to be able to support true ontology queries.  The
current exact match is a short-term hack.  The thinking of the
metadata group was this would alway go through the an external
ontology lookup service, not have a GA4GH server maintain a
local copy of ontology.  Of course, it would probably want to
cache the results.

David Steinberg <notifications@github.com> writes:

[2016-04-01 21:14] david4096 commented on #1045
Here's an attempt to break this into some more manageable tasks.

- [ ] Repo manager tests
Tests which show the `add-readgroupset repo datasest url` functionality working
Tests which show the `add-removereadgroupset repo datasest rgsName` when a rgs has been added to the repo via url.
- [ ] Reads unit tests
HTSLib Read group set should accept urls
Sending in a url and index file executes the remot

[2016-04-01 21:32] cmungall commented on #1046
Separation of concerns is always good.

However, it's not always easy to distribute the query processing across services.

Consider a basic query for finding all variants of a certain phenotype ontology class `p`. The query engine should return any variant `v` where `v has-phenotype p'`, and `p' descendant-of p`

For example, when asking for any variant implicated in an [Abnormality of the nervous

[2016-04-01 22:01] david4096 commented on #998
@jeromekelleher Yeah, it's a drag and drop at the bottom of the description box.

This is for the current release:

https://github.com/david4096/server-1/releases/download/0.2.1-data/ga4gh-example-data.zip

This is for a release after the ontology maps PR https://github.com/ga4gh/server/pull/980.

https://github.com/david4096/server-1/releases/download/moredata/ga4gh-example-data.zip

[2016-04-01 22:05] david4096 commented on #998
- [ ] Make data release for current version
- [ ] Update `docs/installation.rst`

You can include the extra data with each release, or use a single "data release" that is refreshed (by deleting the zip and readding it) so the documentation doesn't have to be updated for each release.

[2016-04-01 22:13] david4096 commented on #1035
This feature is ready for review/merge.

[2016-04-01 23:12] kozbo opened #1049 "repo manager fails to add the reference set for 1000 Genomes, hs37d5.fa.gz"
While trying to add some parts of the 1000 Genome dat set to my Azure vm I found that I got an error while trying to add the reference fa.gz file.

The import sort of fails and sort of succeeds. Here are the details:
[code]
But the file is actually there (though a symbolic link), and an index has been created
[code]

[2016-04-01 23:23] david4096 commented on #1049
I was able to reproduce:

[code]

[2016-04-01 23:50] david4096 commented on #1049
Pysam fails to create indexes for gzipped fasta's. First we need to `gunzip` and then `bgzip` this file. It would be nice if the repo manager would catch the pysam exception to produce a nice looking error.

[2016-04-02 00:33] david4096 opened #1050 "Sending in unexpected referenceId reads/search request causes 500"
When sending in requests to `reads/search` if it can't find the reference it fails with an Internal Server Error.

[code]

[2016-04-02 00:33] kozbo commented on #1050
Here is the output on the server side:
[code]

[2016-04-04 12:55] jeromekelleher commented on #1045
Thanks @david4096, I agree we need to split this into more manageable subtasks. However, this was intended as a design discussion rather than an assignment of work. Does anyone have any thoughts on this design, or are we all happy with what I've outlined above?

[2016-04-04 13:03] jeromekelleher commented on #1049
Yes, ditto this. There doesn't seem to be any error checking on FASTA formatting in lower layers so we need to be fairly strict about what we accept as input. (For example, some versions of htslib will segfault if you provide a FASTA with no sequence ID.)

[2016-04-04 14:00] jeromekelleher commented on #998
OK, looks good @david4096, let's go with this approach. Can you create the data release please?

-1 on changing to zip files though. Nearly all the data in there is already compressed, so there's no point in compressing it again (just takes longer to extract). Also, tarballs are much more ... Unix anyway.

[2016-04-04 14:01] jeromekelleher commented on #1046
Again, very helpful, thanks @cmungall!

[2016-04-04 14:30] dcolligan commented on #1050
Can't reproduce.  Can you put an `import pdb; pdb.set_trace()` somewhere and dump the request that the server is receiving?

Also what is the `http` utility you are using?

These lines in the stacktrace are helpful:
[code]

They indicate that the issue is that a readGroupSet did not have a referenceSet assigned to it, rather than a lookup failure for a reference (which returns a 404, correctly).

[2016-04-04 14:37] jeromekelleher commented on #998
@david4096, I'm looking at the download_data script and it doesn't seem to have any code for downloading the data in question. We should keep this script in sync with (and use it to generate) the actual data tarball. If I'm not missing something, can we create an issue to update the script as a prerequisite to make the data release?

[2016-04-04 17:34] macieksmuga commented on #1049
This is related to #955 so I'm taking this up along with that issue.

[2016-04-04 18:24] kozbo commented on #1049
One added note... the bgzip that I have in my Ubuntu VM does not create an index file. So the import still failed. I tried installing the tabix tool set (sudo apt-get install tabix) but that didn't help. Not sure what I did wrong here. So I resorted to running a couple of commands in the python interpreter"
[code]
and this created the index file alongside the gz. Then the add-referenceset command

[2016-04-04 18:28] diekhans commented on #1049
I believe it's a two step operation:
  - bgzip
  - then index.

Kevin Osborn <notifications@github.com> writes:

[2016-04-04 19:03] david4096 opened #1052 "Repo manager leaves files on fail"
When attempting to add the apparently corrupted file `HG00101.mapped.ILLUMINA.bwa.GBR.low_coverage.20130415.bam` I found the repo manager left behind the linked file, even though the process apparently failed.

[code]

[2016-04-04 19:14] david4096 commented on #1050
To replicate I generated the compliance dataset using `prepare_compliance_data`. I then added the referenceSet from @jeromekelleher's [example data](http://www.well.ox.ac.uk/%7Ejk/ga4gh-example-data-v3.0.tar).

[HTTPie](https://github.com/jkbrzt/httpie) is a user friendly curl replacement. The request I sent is equivalent to `curl -X POST -H "Content-Type: application/json" -d '{"readGroupIds": ["

[2016-04-04 20:20] david4096 opened #1053 "Add ontology maps to data download script"
As we improve our support of ontology sources a more robust method for gathering ontology maps should be arrived at. For the short term this might be downloading the OWL and converting to our format.

[2016-04-04 20:51] david4096 opened #1055 "Add variant annotation to example data"
There are annotated variants available in the thousand genomes FTP. By updating the script to access annotated variants we can demonstrate a larger part of the server.

[2016-04-04 21:54] macieksmuga opened #1056 "Order features returned from features/search by genomic coordinates"
Somehow this got missed in the original implementation.

[2016-04-04 23:04] macieksmuga opened #1058 "Improve gff3->db script to add indexes"
- [x] From @david4096's comment in #1036

- [ ] Also, while I'm messing with it, improve performance by grouping multiple calls into an insert-many style statement (that can wrap many inserts into a single transaction)

[2016-04-05 00:21] david4096 opened #1059 "Repo manager `check` for variantsets misleading"
In a previous fix the "Inconsistent metadata" between VCFs was ignored, however, this is still part of `repo check`. We should either make these checks meaningful or remove them entirely.

[2016-04-05 15:22] dcolligan commented on #1050
Yeah, this is a data problem primarily; I couldn't reproduce the issue (using a valid readGroupId I have lying around):

Using httpie:
[code]

Using curl:
[code]

The readGroupSet that you are using in your data set doesn't have a reference set assigned to it.

[2016-04-05 15:29] dcolligan commented on #1052
So in the case (like here) where we are doing a processing step that may fail, what do you propose the recovery process should be?  I think:

0) delete all index files that pysam may leave lying around, in any case
1a) if the moveMode is link, delete the link
1b) if the moveMode is copy, delete the file
1c) if the moveMode is move, move the file back to where it came from

Sound good?

[2016-04-05 15:30] dcolligan commented on #1059
Could you elaborate?  What do you consider a meaningful check?

[2016-04-05 15:33] dcolligan commented on #1047
Please list the metadata values that you want to make user-settable.

[2016-04-05 20:56] david4096 commented on #1052
I believe if you were to perform the move after all other processing you would simplify the approach. If the index step's exceptions are handled properly you shouldn't have to do anything else.

[2016-04-05 21:09] david4096 opened #1062 "RefSeq gff3 parsing"
RefSeq genes causes the below failure in `generate_gff3_db.py` script.

[code]

[2016-04-05 21:24] david4096 commented on #1059
I posted an issue that the server wasn't starting after adding 1kg variant set (https://github.com/ga4gh/server/issues/946). It seems to run fine when I've added it, but `repo check` claims there is something wrong. What feature are we supporting by having repo check fail?

[2016-04-05 21:41] kozbo commented on #1059
Another way to put it is... Is the ga4gh_repo check failure a false negative? The API seems to function without error (perhaps due to the fix in #946) so we are wondering if the same fix needs got be applied to the logic of the check function (or some similar logic). The alternative is that the error message from the check function is a **real** problem that needs to be fixed.

I am pasting the er

[2016-04-05 22:04] diekhans commented on #1062
The gff3 specification is unclear if one can have multiple
attributes with the same name.  For some attributes, it
indicates they can be multi-valued with comma separators.

In this cases, the multiple idty are in the match record types,
which which not be imported when creating sequence annotations.

Many a GFF file have been preprocessed with awk.

David Steinberg <notifications@github.com> writ

[2016-04-06 13:28] dcolligan commented on #1052
Perhaps, but I want to avoid modifying files in areas that we don't control (e.g. outside a repo) and aren't explicitly asked to do

[2016-04-06 13:31] dcolligan commented on #1059
Yeah so the `check` function (among other things) runs the `checkConsistency` methods which run any number of tests to determine if the data that you want to add is "consistent."  We should definitely evaluate if the checks are in there are still necessary, and if we should add ones that are not there... @jeromekelleher ?

[2016-04-06 13:40] dcolligan commented on #957
Closed in #980

[2016-04-06 13:40] #957 closed

[2016-04-06 13:43] dcolligan commented on #1045
Is anyone working on this?  Seems like a prerequisite (or at least something that goes in tandem with) adding remote files via the repo manager.  We should also add it to the milestone, IMHO.

[2016-04-06 14:52] jeromekelleher commented on #1059
I think the checkConsistency method is intended to make sure that the VCFs we're putting into a VariantSet really are all from the same VariantSet by checking the headers. We should definitely do this at ``add`` time in repo manager. If the VCFs really are from the same VariantSet and we're getting an error then there is a problem with the checking logic and we should file a specific bug against t

[2016-04-06 15:35] jeromekelleher opened #1064 "Repo_manager assumes that samtools is in PATH"
Depending on external executables is brittle and problematic. We should just exit with a helpful error message like "FASTA not indexed. Please run samtools faidx {}" if the FASTA file isn't indexed.

[2016-04-06 15:38] jeromekelleher commented on #1064
Also remove dependency on tabix.

[2016-04-06 15:56] kozbo commented on #1064
+1, I like this approach

[2016-04-06 16:59] dcolligan commented on #596
In a recent conference call, some of the team discussed what would be required to implement a fully-confirming readsSearch endpoint.  In my mind, this would involve:

- a new IntervalIterator subclass: we would need to figure out a way to handle potentially cross-bam requests; this will likely require a refactor of IntervalIterator
- pageTokens: since a single readGroupId is not being requested bu

[2016-04-06 17:17] dcolligan commented on #1045
Oh, I see Jerome is working on it; I'll assign him and add it to the milestone

[2016-04-06 17:48] dcolligan opened #1065 "CompoundId method to generate Ids"
`tests/unit/test_views.py` has this line in it:
[code]
It would be nice to have a `CompoundId` method `getRandomId` or some such that generated (presumably) non-existent ids... or, a compacting of `notValid` values might be better

(It's a pain to change all these hardcoded values whenever the id format changes.)

[2016-04-06 17:51] diekhans commented on #596
The majority common case would be all readgroups in all BAMs; so
this could be identified upfront and special cased to avoid storing
all readgroupids in the token.

Most likely find for a subset of readgroups to be significantly
slower.

Danny Colligan <notifications@github.com> writes:

[2016-04-06 18:42] david4096 commented on #1064
Nice, would also close https://github.com/ga4gh/server/issues/1052 (I believe). @dcolligan what do you think about limiting the scope of the repo manager to expect indexed files already created?

[2016-04-06 18:45] david4096 commented on #1052
How about #1064? We should limit the features of the repo manager as much as possible and add features if their requested.

[2016-04-06 18:52] macieksmuga commented on #1012
I created a document capturing the above architecture sketch for future reference:
https://docs.google.com/a/soe.ucsc.edu/document/d/1xhzM3_jGL0OgpEElok-5WGsdlfUxQ6KjF78jaFOdIvw/edit?usp=sharing

[2016-04-06 19:14] jeromekelleher commented on #1064
I'd support expecting indexes to exist already for now. I think there are other directions we need to flesh repo manager out in (mostly, metadata) before we bring this functionality in.

[2016-04-06 19:15] jeromekelleher commented on #1045
Thanks @dcolligan, probably time I did a bit of coding again!

[2016-04-06 19:18] jeromekelleher commented on #1052
I'm with @david4096 here. Let's pull back on the auto-generating index feature of repo manager for a while, and flesh out the features we need for the upcoming milestones. (We'll figure out exactly what those features are over the next few days.)

[2016-04-06 19:28] #1035 closed

[2016-04-06 21:36] #998 closed

[2016-04-06 21:47] kozbo commented on #596
Hmm. I think this issue is about implementing to the current state of the Schemas. While the work so far goes a long way to implementing the schemas, and is enough for the short term, this issue is not complete until they have been implemented. So I think the right thing to do is to leave this issue open until that work is complete too.

[2016-04-06 22:15] dcolligan commented on #596
@kozbo sometimes GitHub automatically closes issues when they are referenced in a PR that is merged... but it always seems to happen to the ones you don't want closed... I agree that this issue should remain open

[2016-04-07 00:25] david4096 commented on #1059
The original bug post was about the inconsistent metadata check was failing for the 1kg dataset. https://github.com/ga4gh/server/issues/946

I'm happy to close this and reopen as another issue, as @jeromekelleher states we need to know whether the inconsistent metadata check is meaningful (or not).

[2016-04-07 00:32] david4096 commented on #1050
To replicate:

[code]

[2016-04-07 09:06] dcolligan commented on #1064
Hm, I'm not so sure about this.  It may be true that depending on outside executables is brittle, but we can do a more involved check for them on a repo manager invocation that might use them.  My concern is that the repo manager should be as easy as possible for people to use -- the user should just be able to point it at a BAM (e.g.) file and have it work.  Creating indexes seems like something

[2016-04-07 09:24] jmarshall commented on #1064
Does pysam provide access to htslib's `fai_build()`?  If so, in this case you can build the _.fai_ index natively via the API you're already depending on rather than via an additional dependency on an external executable.

[2016-04-07 09:34] dcolligan commented on #1050
I can reproduce the error.  So what should be the expected behavior here?

[2016-04-07 17:41] david4096 commented on #1050
I think it should produce a 400 bad request if the reference ID isn't found.

[2016-04-08 16:53] macieksmuga opened #1071 "Suggestion to coordinate development of infrastructure and features"
Since we're currently working on both infrastructural improvements to the server (ex: compound ID, protobuf) as well as additional endpoints and data entities (ex: sequences annotation, biodata, RNA), it would be helpful if every infrastructure PR included an explicit description of changes and warnings, if any, needed for any branch working on a new data entity or endpoint.

[2016-04-08 18:34] david4096 opened #1073 "Add sequence annotations to example data"
Some useful subset of gencode should be added to the example data. This will require:

- [ ] editing the gencode gff3 mapped against grch38 to select a subset of genes and their children
- [ ] munged using the https://github.com/ga4gh/server/blob/master/scripts/generate_gff3_db.py to generate an the sqlite DB.
- [ ] download [existing example data](https://github.com/ga4gh/server/releases/download

[2016-04-08 18:56] macieksmuga commented on #1073
Thanks @david4096 - I'm on it.

[2016-04-08 21:41] macieksmuga commented on #1073
Looks like we're putting together a GRCh37 based example set.

[2016-04-09 22:02] dcolligan commented on #1012
Fixed in #1060

(although the issue will probably need to be solved more generally somewhere down the road)

[2016-04-09 22:02] #1012 closed

[2016-04-11 11:34] dcolligan commented on #596
Limited case addressed in #1021, but general case still not resolved

[2016-04-11 11:59] dcolligan commented on #1018
Fixed in #1042

[2016-04-11 11:59] #1018 closed

[2016-04-11 12:02] dcolligan opened #1075 "Running datadriven sequence annotation tests creates files in source tree"
These files need to be cleaned up after a successful (or failed) test run:

[code]

[2016-04-11 12:17] dcolligan commented on #1065
Fixed in #1068

[2016-04-11 12:17] #1065 closed

[2016-04-11 12:59] dcolligan commented on #1075
These are sqlite generated files... maybe it's better to put them in gitignore

[2016-04-11 14:58] #1075 closed

[2016-04-11 15:28] dcolligan commented on #1075
Fixed in #1078

[2016-04-11 18:12] macieksmuga commented on #1064
The `scripts/prepare_compliance_data.py` script already does this by using equivalent samtools-equivalent `pysam` methods (and its dependencies are identical to what's required of the server code in the first place). Relevant snippet:
[code]

[2016-04-11 21:54] macieksmuga commented on #1056
Done in a6fafa6

[2016-04-11 21:54] #1056 closed

[2016-04-11 21:57] macieksmuga commented on #1062
@diekhans what's your suggested solution in our case?

[2016-04-11 21:57] macieksmuga commented on #1058
Splitting the second item in the issue description list into a new issue.

[2016-04-11 21:57] #1058 closed

[2016-04-11 21:59] macieksmuga opened #1080 "Speed up GFF3 -> DB script"
By grouping multiple database `insert` calls into an `executemany` style statement (that can wrap many inserts into a single transaction, and thus save per-transaction costs in the inner loop).

[2016-04-11 22:01] diekhans commented on #1062
pre-filter to discard the match records as they have the problem and we don't want them anyway.  Maybe just add a pre-filter function attribute to the parser.

[2016-04-12 08:03] jeromekelleher commented on #1049
You need to call ``samtools faidx`` after bgzipping @kozbo.

[2016-04-12 08:13] #500 closed

[2016-04-12 14:03] dcolligan opened #1083 "files in scripts directory importing ga4gh"
Some files in the `scripts` directory are importing the `ga4gh` package, which they do not have access to (if it is not installed):
[code]
We need to either remove references to the `ga4gh` package within the `scripts` directory or figure out some import magic to ensure that the scripts are using the development ga4gh rather than the installed ga4gh.

[2016-04-12 14:03] dcolligan commented on #1083
Right now the only offenders are `generate_gff3_db.py` and `demo_example.py`

[2016-04-12 20:10] macieksmuga opened #1087 "Better handling of data source filenames in server"
The current system manually counts off `.`s to strip out suffixes whenever they're encountered, which can create issues with files whose names nontrivially include `.`. Ex: #1086

[2016-04-12 20:28] macieksmuga commented on #1087
I believe there is no general mechanism to solve the problem as currently stated: Some file types we use have "double extensions" such as `.fa.gz` whereas other automatically ingested files have `.`s in their filename body, such as `GL000249.1.json` (part of the GRCh37 reference set) and even `GL000249.1.fa.gz.fai` - which have extra `.`s in both the filename body _and_ extension.

The only proper

[2016-04-12 20:32] diekhans commented on #1087
Is this blocking anything with 1K genomes?

Maciek Smuga-Otto <notifications@github.com> writes:

[2016-04-12 20:43] macieksmuga commented on #1087
Nope. The 1 line fix in #1086 removes the one existing block for me. This issue was created to capture the fact that #1086 is a pure patch, not a general solution.

[2016-04-12 21:29] david4096 opened #1088 "Landing page -- support"
The index page of the server that prints configuration about the server could include an optional HTML fragment so we can add support blurbs for a deployed server.

This could be a HTML snippet that gets injected into the template if it is present. It would provide a support email for our next deployment.

[2016-04-12 22:00] dcolligan commented on #1087
The general mechanism that the repo manager uses is that you have to know what kind of file extension you are expecting.  If you scan from the right you can determine if it's the kind of filetype you want.  But yeah, absent that, I don't think there is a general solution, but I don't know if there's going to be a case where we want to parse a filename and not know the type of file we're looking fo

[2016-04-12 22:52] kozbo commented on #988
This issue is now covered by #1080 so closing it.

[2016-04-12 22:56] kozbo commented on #596
Taking this issue out of the milestone because the work required for the 1000 Genome support is complete.

[2016-04-12 23:01] #988 closed

[2016-04-12 23:23] david4096 opened #1089 "Update docker documentation"
From Jianshen Liu <jliu120@ucsc.edu>

We need to update the docker documentation to follow the latest guidelines from the docker community.

[2016-04-12 23:45] david4096 opened #1090 "Mac OS X Development install instructions"
Although people aren't deploying on Mac we can offer better onboarding instructions for developers using Mac. This means determining the necessary equivalent libraries based on the current installation instructions. Apache will not be needed.

[2016-04-13 00:26] david4096 opened #1091 "Remove DS_Store from example data"
Made on a mac (example-3.2), so hidden files are in there and shouldn't be. Although they don't cause problems when in the root directory, for the sake of cleanliness the tar file should be regenerated without DS_Store files.

[2016-04-13 00:29] diekhans commented on #1091
tar --exclude can handle this.

David Steinberg <notifications@github.com> writes:

[2016-04-13 14:15] jeromekelleher commented on #1087
Yes, hopefully all this messiness goes away post #1079.

[2016-04-13 14:16] jeromekelleher commented on #1088
Good idea. The support email should be provided as a Flask configuration option, e.g., SUPPORT_EMAIL.

[2016-04-13 14:27] diekhans commented on #1088
We need a bit more than support e-mail.  A HTML block to insert
would be describe the site.

Jerome Kelleher <notifications@github.com> writes:

[2016-04-13 14:29] jeromekelleher commented on #1088
Sure, whatever works. I just don't want to hard-code in any specific information to the source.

[2016-04-13 14:45] dcolligan commented on #1080
Fixed in #1085

[2016-04-13 14:45] #1080 closed

[2016-04-13 14:58] dcolligan commented on #1083
Fixed in #1084

[2016-04-13 14:58] #1083 closed

[2016-04-13 15:18] diekhans commented on #1088
A conf variable pointing the html frag would do the trick.

Jerome Kelleher <notifications@github.com> writes:

[2016-04-13 15:49] jeromekelleher opened #1092 "No CLI support for GET VariantAnnotationSet"
The CLI should support running GETs for VariantAnnotationSet objects.

[2016-04-13 16:46] dcolligan commented on #1050
Fixed in #1081

[2016-04-13 16:46] #1050 closed

[2016-04-13 17:09] macieksmuga opened #1094 "Change default range for features-search client"
to start=0, end=2**32

[2016-04-13 17:12] macieksmuga commented on #1094
Never mind, it's already using these defaults.

[2016-04-13 17:12] #1094 closed

[2016-04-13 21:03] #1088 closed

[2016-04-13 23:09] diekhans opened #1099 "logging exceptions should not be controlled by DEBUG and should default to enabled"
It would be really good for server to use the syslog (also python logging) conceptual model.  In particular, logging uncaught exceptions would not be controlled by a option called DEBUG.  This is at least level
`Error'.  This should default to `on'.

see https://en.wikipedia.org/wiki/Syslog#Severity_level

Since logging exceptions is the only thing controlled by `DEBUG',  please change this to def

[2016-04-13 23:32] kozbo commented on #1099
https://github.com/ga4gh/server/blob/99aafd4b83ac4d65a73b37a152e1851b3be82f70/ga4gh/frontend.py#L343

[2016-04-13 23:48] kozbo commented on #1099
You can work around this problem by adding the line
DEBUG=True
in the config.py file and restarting apache.

[2016-04-14 07:53] jeromekelleher commented on #1099
We should do proper logging, following the [Flask patterns](http://flask.pocoo.org/docs/0.10/errorhandling/)

Turning on DEBUG by default could have very serious security implications! From the [Flask documentaion](http://flask.pocoo.org/docs/0.10/quickstart/)

So, we need to find another way to work around this problem.

[2016-04-14 15:02] diekhans commented on #1099
We will be moving away from flask. Python logging, which is
based on syslog, is a far better understood model than flask.
Leave the flask variables for flask stuff and don't mix them
and they will be fine.

The problems seem to be:

  - DEBUG is not documented in the config file as something the
    controls flask, or for for that matter what it controls.
    From looking at the code, it appears t

[2016-04-14 15:57] diekhans opened #1101 "deploy/config.py does not document meaning off DEBUG variable"
the documentation on the DEBUG variable just repeats what is obvious from the code and doesn't explain what it does and the fact that it is an dangerous Flask configuration option.

[2016-04-14 15:59] jeromekelleher commented on #1099
I'm pretty sure that the logging exceptions thing is a side-effect of us working around some other stupid issue in Flask (possible what Kevin is hitting).

However, the server IS a Flask app, for better or worse. We can't ignore the fact that it is, and a administrator can't deploy safely or sensibly without knowing how Flask configuration works and what the overall options are. Pretending Flask i

[2016-04-14 16:00] #1091 closed

[2016-04-14 16:23] diekhans commented on #1099
I am not arguing for pretending it isn't there, only making it
clear that is it and what is flask and what is not.  I just
filed a bug on config.py documentation as it doesn't describe
DEBUG at all, even say `RTFM Flask'

If we have our own logging, it doesn't need to be he tied to
flask, but would be to have a clear model and go through the
python logging API, even if this ends up in the flask lo

[2016-04-14 16:32] jeromekelleher commented on #1099
OK, here's our actual manual @diekhans: http://ga4gh-reference-implementation.readthedocs.org/en/stable/configuration.html#configuration-file

We do not attempt to document any of Flask's config variables but instead point the user to the Flask documentation. Note the ..warning block about DEBUG. I think this confusion has been caused by reading the source rather than reading the manual.

[2016-04-14 16:42] diekhans commented on #1099
RTFM, who, me !?!?!

I am reading the config file!  A pointer back to the doc in the
config file would solve this nicely.

Jerome Kelleher <notifications@github.com> writes:

[2016-04-14 18:53] david4096 opened #1102 "Pluggable backend"
With the changes proposed in the sql repo branch and from conversations with @bwalsh I would like to begin a conversation about how best to use multiple backends alongside each other. Brian is implementing an ES backend for some parts of the API and it would be valuable to agree on an approach on how to handle SQL backed, file-backed, and other DB backed protocols, and how to use them in concert.

[2016-04-14 19:32] diekhans commented on #1102
Good to start this discussion.

Lets start with functional requirements.  Each container having
it's own back end is an implementation requirements.  To know if
this is right, we need articulate what we want to accomplish in
terms of functionality.

[I do think this is a right implementation requirement, but that
doesn't mean anything unless the functional requirements are
clear.]

Also, it might

[2016-04-14 23:16] #1092 closed

[2016-04-14 23:30] macieksmuga commented on #1102
Thanks @david4096 for starting this discussion!

One suggestion: The specific datamodel-centric code, instead of opening and managing its own database, could instead obtain a connection to a shared database from more generic code in the `ga4gh.sqliteBackend` module, that maintains a server-wide database with individual tables carved out for the different types of data it serves out. I'm not sure t

[2016-04-14 23:49] david4096 commented on #1101
Closed with #1103

[2016-04-14 23:49] #1101 closed

[2016-04-15 09:11] jeromekelleher commented on #1102
This is an excellent time to talk about this @david4096; thanks for getting the discussion going. Some thoughts:

1. I find the terminology 'backend' a bit confusing here, as we have a ``Backend`` object within the server, which does something pretty specific. Perhaps ``Container`` would be more suitable? Each Container can be an instance of PysamContainer, SqlContainer, JsonServiceContainer, Spar

[2016-04-15 15:37] diekhans commented on #1102
How about `datasource'; although in the generic sense, these are
databases (even BAM).  Container's doesn't implement indexing
and queries.

`database adapter' is very clear to me.

Jerome Kelleher <notifications@github.com> writes:

[2016-04-15 15:49] jeromekelleher commented on #1102
Hmm, DataSource is good. Not hugely keen on DatabaseAdapter --- sounds too much like it's tied to SQL to me...

[2016-04-15 16:03] diekhans commented on #1102
datasource does have the clarity that it's not a database we
control.

Even with the NoSQL stuff everywhere, I still have to convince
people database != SQL ; we can't escape our engineering
childhood..

Jerome Kelleher <notifications@github.com> writes:

[2016-04-15 16:12] bwalsh commented on #1102
Ideally, we should be able to add a new _Connector_ "adding some files that implement a specific, documented convention or interface & configuring via yml".  A key test would be: "As an implementor, in order to integrate a new data source for a portion of the api,  I should not need to fork the server and maintain it as others change core parts of the server."

Currently, all things being equal, i

[2016-04-15 16:15] bwalsh commented on #1102
The second thing we run into, at least in the biodata area, is that the keys for individuals, samples etc are  wrapped up with data sets,etc.

[2016-04-15 16:23] #1099 closed

[2016-04-15 16:26] dcolligan opened #1105 "Revisit server error logging"
We decided to merge this pull request before shipping to get errors logged in production:

https://github.com/ga4gh/server/pull/1100

But the downside is that it double-logs errors in development.

(also, we probably shouldn't use the "from" import syntax, for consistency)

[2016-04-18 08:53] jeromekelleher commented on #1102
Good requirements @bwalsh, I like your thinking.

@diekhans, ``DataAdapter``? It's pretty generic, but we're capturing the idea that we're adapting the data from some source from our needs. I just can't bring myself to call a VCF file a database...

[2016-04-18 08:56] jeromekelleher commented on #1071
Agreed @macieksmuga, an explicit discussion of the impact for feature branches will accompany the sql repo PR.

[2016-04-18 09:00] jeromekelleher commented on #810
@dcolligan, can you update the docs following your experience with v0.2.2 please?

[2016-04-18 09:00] jeromekelleher commented on #821
@kozbo, can you update the docs following your recent experience with Apache deployment please?

[2016-04-18 09:06] jeromekelleher opened #1109 "Port FeatureSet functionality to SQL repo"
Update the SQL repo branch to include  add/remove/verify functionality for FeatureSets. This should follow the testing pattern given in #1104.

[2016-04-18 09:07] jeromekelleher opened #1110 "Port VariantSet/VariantAnnotationSet functionality to SQL repo"
Need to port add/remove/verify functionality for VariantSets to sql repo.

[2016-04-18 09:11] jeromekelleher opened #1111 "Port onologies to SQL repo, and fix nomenclature"
Currently `ontology` objects are confused and inconsistent. Change the name to OntologyTermMap throughout and implement add/remove/verify functionality.

[2016-04-18 09:13] jeromekelleher opened #1112 "Add test repo DB for test data, and remove FileSystemDataRepository"
Once all parts of the data model have been ported to the SQL repo, create a repo for the test data and remove the FileSystemDataRepository object.

[2016-04-18 09:17] jeromekelleher opened #1113 "OntologyTermMap should log missed terms"
Currently the OntologyTermMap silently returns the empty string when a term name cannot be found in the map. This is very problematic behaviour for an administrator, as they will not know when their map is incomplete.

The behaviour int this case should be configurable (perhaps there are a number of different things an admin might want to do here?), but certainly there should be an option to log t

[2016-04-18 12:27] jeromekelleher opened #1115 "Update documentation for sql repo."
The documentation currently spends quite a lot of effort explaining the data tree. This needs to be replaced.

[2016-04-18 12:27] dcolligan commented on #810
Fixed in #1114

[2016-04-18 12:27] #810 closed

[2016-04-18 12:42] dcolligan opened #1116 "Versioning scheme for sql data repo"
Right now we are just inserting a literal arbitrary value into the `System` table.  We need to come up with a better scheme than this.

[2016-04-18 17:50] macieksmuga commented on #1116
I'm not sure what you're thinking here @dcolligan - Having a literal schema version satisfies the need for a migration path as the schema evolves (application checks schema version in the DB against the value in its codebase, performs any needed actions on DB to update it). Are there any other requirements here that need to be satisfied?

[2016-04-18 18:38] bjea commented on #1090
When i followed your instructions below, it seemed to be fine until running the test.
1. Install libraries and header code (which you have partially done)
2. Download source code
Using git, the method in the directions is fine here.
3. Install python dependencies
from within the server:
pip install -r dev-requirements.txt
4. Download/extract example data
5. Start server/run tests
To start the serv

[2016-04-18 20:07] jeromekelleher commented on #1116
I agree with @macieksmuga  here. Initially I was thinking just a simple ``major.minor`` version scheme using semantic versioning: we increment ``minor`` each time we make a non-breaking change, and ``major`` each time we make a breaking change. What do you think @dcolligan?

[2016-04-18 20:25] david4096 commented on #1090
Thanks Bettie! I added an empty `sequenceAnnotations` directory to the example data. If you redownload and extract the example data you should not see that error anymore. I'm glad the pip install worked without having to circle back to homebrew.

[2016-04-19 08:57] jeromekelleher opened #1119 "IDs for SQL repo"
A number of questions have popped up about how we're going to manage IDs in the SQL repo. Here is the current state-of-play, and a sketch for how we might proceed.

In the current branch and PRs #1104, #1117, IDs work in precisely the same way as they do in the master branch. A CompoudId is constructed based on the object's name and the names of its enclosing containers. This constructed ID is sto

[2016-04-19 16:29] macieksmuga commented on #1119
+1 Yes! All containers get a simple auto-generated ID upon ingestion by the repo manager tool (which I'm thinking of more as a registry manager, now that the container files themselves can be stored in arbitrary locations), and all GA4GH entities within a container have an ID that decodes into a pair `(containerID, entityID)`, the second entry determined differently per container type.

[2016-04-19 17:34] bjea commented on #1090
Good morning David!  Sorry for my delayed response, kinda swamped yesterday.  Thanks a lot for your prompt reply!  I tried to run the test several times, but it showed "socket.error: [Errno 48] Address already in use" every time.

[2016-04-19 17:39] macieksmuga opened #1120 "Repo manager not ingesting references and reference sets correctly"
The repo manager currently seems to expect a single FASTA file as input for its `add-referenceset` command, and creates a corresponding full reference set for it with a single JSON file for the first record encountered. This is incorrect regardless of how many records the FASTA file contains.

Since ingesting novel reference sets is not at present a critical function of the server (most of the tim

[2016-04-19 17:49] diekhans commented on #1120
Are the servers we are currently deploying using split FASTAs?

Does this impact compliance?

Maciek Smuga-Otto <notifications@github.com> writes:

[2016-04-19 18:01] macieksmuga commented on #1120
@diekhans: Yes, and no.
😄

[2016-04-19 19:17] #821 closed

[2016-04-19 19:51] david4096 opened #1121 "Landing message utf8 bug"
When trying to parse a unicode byte in the landing message HTML flask's template rendering fails. We should coerce the file to ascii before placing in the template. Python version 2.7.6

[2016-04-19 20:05] diekhans commented on #1121
Can flask speak unicode?  Unicode to HTML entity conversion would be
required.

David Steinberg <notifications@github.com> writes:

[2016-04-19 20:56] macieksmuga opened #1122 "RNA branch prepare compliance data"
Add ingestion of RNA seq data into compliance data script (to be refactored anyway)

[2016-04-19 23:51] david4096 opened #1123 "Installation.rst points to develop branch"
Needs to be updated to point at master branch.

[2016-04-20 08:15] jeromekelleher opened #1124 "PysamFileHandleCache should log open/close events"
We should log when significant events happen in the FileHandleCache, as this will be an important debugging tool.

[2016-04-20 11:54] dcolligan commented on #1116
If it's as easy as that and adding an `if` to make sure the version is correct, fine... just as long as we have something!

[2016-04-20 20:38] david4096 opened #1127 "Repo manager move mode cross-device error"
I received this error when trying to move a file from one drive to another. GA4GH is installed on /srv, while the file is in /run/shm.

[code]

[2016-04-21 07:43] jeromekelleher commented on #1127
Solved in sql repo --- we no longer create symlinks or move files.

[2016-04-21 08:23] jeromekelleher commented on #1116
Sounds like you'd like to implement this @dcolligan!

[2016-04-21 17:03] jeromekelleher opened #1129 "File handles being opened for ReadGroupSet search"
When we run a readgroupsets/search operation in the SQL repo we should not have to look at the underlying file handles (indeed, it's essential that we don't, is this operation will be cripplingly slow when we're opening connections to thousands of remote URLs.)

We need to track down why this is happening and eliminate the open call. All the data we need to satisfy a search readgroupsets call shou

[2016-04-21 17:06] jeromekelleher opened #1130 "Experiment and ReadStats not stored in DB"
We're currently not storing Experiment and ReadStats in the DB for ReadGroupSets. These need to be stored. We should follow the approach taken elsewhere for now, and store the JSON version of the protocol element, which can then be read in at run time.

This is probably related to #1129.

[2016-04-21 17:42] saupchurch opened #1132 "RNA API needs test for searching multiple expressions and feature groups"
Add tests and test data as required to verify functionality of `searchFeatureGroupsInDb` and `searchExpressionLevelsInDb` in `datamodel/rna_quantification.py`

[2016-04-21 17:58] david4096 opened #1134 "Load testing"
Hi everyone! In order to prepare for our demonstration server with the 1kg VCFs I've started to perform some rudimentary single node load testing. Both server and client are in the same region of Microsoft's cloud.

The infrastructure is as follows:

### Server (latest source):
[code]

### Client
[code]

I'm using the locust load testing tool, which spawns individual processes that repeatedly make

[2016-04-21 18:12] kozbo commented on #974
We have updated a number of Azure instances at this point. The only server that we will try to keep running going forward is the ga4gh-demo server at http://ga4gh-demo.westus.cloudapp.azure.com and it is running the latest version.

[2016-04-21 18:12] #974 closed

[2016-04-21 18:18] kozbo commented on #653
See http://ga4gh-demo.westus.cloudapp.azure.com for another example.

[2016-04-21 18:20] david4096 commented on #1120
If this is going to be fixed in a future version we should list it as a known issue in our documentation somewhere.

[2016-04-21 19:21] jeromekelleher commented on #1120
This is solved in the current sql repo branch.

[2016-04-21 19:49] jeromekelleher opened #1135 "searchFeaturesInDb not throwing correct exception"
The searchFeaturesInDb  does not throw a BadPageTokenException when an invalid page token is passed (i.e., one that is not a valid integer). This causes an internal server error instead of flagging bad user input.

[2016-04-21 19:59] jeromekelleher commented on #1134
@david4096, this is just great! This is incredibly useful data, and it's massively encouraging to see the server behaving well under load. I'd love to see more stats on this, and particularly be fascinating to see what happens when we do a distributed swarm (locust looks great by the way, thanks for introducing me!).

Regarding the errors, these look like someone playing with the Swagger front end

[2016-04-21 22:08] david4096 commented on #1134
@jeromekelleher I believe you are correct, someone was using the swagger docs during the night! Future load tests will be against a private server and performed in a more coordinated fashion across nodes so this kind of confusion won't happen.

I too was very encouraged by our performance without tuning!

I believe we modified the logging code so any exceptions during a request will be logged, not

[2016-04-21 22:14] david4096 commented on #1135
The error comes from `sqliteBackend.py`, which coerces the pagetoken to an int. The type needs to be guaranteed at a higher level since the pagetokens are strings, this is not caught by input validation.

[code]

[2016-04-21 22:56] kozbo opened #1136 "add robot.txt to production server files"
Place the file next to the application.wsgi file in the root of the server.

Suggested content is

[code]

[2016-04-22 00:33] david4096 commented on #335
Here is an example of using pysam with a remote BAM from S3 with a local index file.  This is the internal mechanism the server uses and the behavior seems quite predictable. It takes a little over a second to initially open the file handle, and then up to 2 seconds to respond to randomized fetch requests http://nbviewer.jupyter.org/gist/david4096/545f90664aeb9611d6bc8cb5d5d655ec

[2016-04-22 02:28] diekhans commented on #1136
Is the googlebot entry for allowing indexing of static pages?
We want to make sure it doesn't hit the API end points.

Kevin Osborn <notifications@github.com> writes:

[2016-04-22 08:00] jeromekelleher commented on #335
Great work @david4096, this is excellent news. Overall the response times look quite good, and I think shouldn't add too much latency to our responses, if we use a reasonably large page size.

[2016-04-22 08:11] jeromekelleher commented on #1134
Some follow up questions:

1. What are the units for the response times?
2. Do you have more information on the ``failures`` section? This should really be zero, I can't think of any good reason for a ``datasets/search`` to fail.

Keep the data coming!

[2016-04-22 15:26] kozbo commented on #1136
@diekhans Yes, the googlebot entry will only index static pages, it will not hit the API endpoints.

[2016-04-25 12:57] dcolligan commented on #1129
The initial reason this is happening is because of the `getAlignedReads` and `getUnalignedReads` calls in `AbstractReadGroupSet.toProtocolElement`, which access the file.  These values should be constant, so we should cache them.

[2016-04-25 13:01] jeromekelleher commented on #1129
Excellent --- these go into the ``Stats`` object, right? If so, we should populate this at load time and store the JSON in the DB.

[2016-04-25 13:49] dcolligan commented on #1130
For ReadGroups, you mean... ReadGroupSets do not have an experiment field (and storing ReadGroupSets.stats is #1129)

[2016-04-25 15:31] jeromekelleher opened #1141 "Opening non-existent DB results in stack trace"
If I try to read a non-existent repo DB I get a ``sqlite3.OperationalError: no such table: System`` rather than a sensible error message. We should at least test for existence of the file and throw a good exception here.

[2016-04-25 16:26] jeromekelleher opened #1142 "populateFromFile for HtslibReferenceSet should log for progress"
When we are calculating the md5checksums for for each reference, we should have an INFO level output to keep the user informed, i.e.,
[code]
etc. This is a good-enough indicator of progress, to allow the user see what's happening during the long-running operation. Since it takes around 30 seconds to import the human reference, it doesn't seem worthwhile putting in a more elaborate progress indicat

[2016-04-25 21:22] saupchurch opened #1144 "datasetId should not be optional in rnaquantification search"
for consistency with the rest of the API datasetId should be required by RNAQuantification search not an optional argument

[2016-04-25 21:36] david4096 opened #1145 "Validate HTML for landing page"
The HTML on the landing page isn't valid. There are a couple of simple fixes to make it valid HTML.

[2016-04-25 23:25] david4096 commented on #1144
The schema should reflect this as well (I believe).

[2016-04-25 23:37] saupchurch commented on #1144
the change has already been made in the rna branch of ga4gh/schemas

[2016-04-26 08:11] jeromekelleher opened #1147 "Ontology handling update required"
The handling of the ontology term mapping in the sql reqo is currently quite brittle, and needs some attention. The most important issue that we need to understand is where the ontology term mapping file comes from, and how we version it. Ideally, I think it would be good if we could get rid of the intermediate text file, and create the term name -> ID mapping as a table in the DB.

Once this is d

[2016-04-26 12:18] sarahhunt commented on #1147
@jeromekelleher - the SO is available here:
https://github.com/The-Sequence-Ontology/SO-Ontologies/blob/master/so-xp.obo

There is a python OBO parser. There is a data-version date in the file, but I'm not sure how this relates to the version number on the browser: http://www.sequenceontology.org/browser/obob.cgi

@keilbeck manages the SO so would be able to advise on versioning.

[2016-04-26 12:29] dcolligan commented on #1116
Fixed in #1128

[2016-04-26 12:29] #1116 closed

[2016-04-26 12:38] dcolligan commented on #1129
Fixed in #1140

[2016-04-26 12:38] #1129 closed

[2016-04-26 12:38] dcolligan commented on #1130
Fixed in #1140

[2016-04-26 12:38] #1130 closed

[2016-04-26 12:42] jeromekelleher commented on #1147
Thanks a million @sarahhunt, this is hugely useful. I'm sure we can build solid ontology support based on this!

[2016-04-26 12:59] jeromekelleher commented on #1147
Here's a snipped using the ontology library above:
[code]

Gives
[code]

Any reason not to use this directly in the server? All we need really is term name to ID mapping, which the library does directly from a well known format.

[2016-04-26 13:20] dcolligan commented on #1109
Fixed in #1125

[2016-04-26 13:20] #1109 closed

[2016-04-26 18:31] macieksmuga opened #1149 "FeatureSet record has empty ReferenceSet field"
The current implementation of `FeatureSet` is not properly initialized with a valid `ReferenceSetId`, and the corresponding field in responses to `featuresets/search` and `featuresets/<id>` is currently left blank.

[2016-04-26 19:50] jeromekelleher commented on #1149
This is resolved in the sql repo branch.

[2016-04-26 22:01] macieksmuga commented on #1149
Not sure I see how - I've been testing the `jeromekelleher/remove-filesystemdataset` branch today (which I believe is the latest SQL repo manager codebase), and `addFeatureSet` (as well as `removeFeatureSet`) is not implemented in the `RepoManager` object there yet. Unless there's some other place I should be looking, I'll supply the needed code.

[2016-04-26 23:27] macieksmuga opened #1150 "add-referenceset in repo manager needs supplied metadata fields"
When I issue a request to add a reference set:
[code]
The resulting entity is missing several important fields:
[code]
most importantly the `assemblyId`, which can be searched by.

[2016-04-26 23:34] diekhans commented on #1150
The schema does allow these fields to be omitted.  is there no way to set them
with a metadata json file?

Maciek Smuga-Otto <notifications@github.com> writes:

[2016-04-27 07:57] jeromekelleher commented on #1149
It looks like something weird has happened with that branch @macieksmuga, sorry about that. It's turned into a bit of a mess trying to keep all these PRs going at the same time. Here's what happens with the code in the ``sql_repo`` branch now:
[code]

[2016-04-27 07:59] jeromekelleher commented on #1150
We need to add CLI options for these metadata fields. It's a 10 minute job.

[2016-04-27 08:21] jeromekelleher opened #1151 "Only 500 errors should stack trace"
Currently all exceptions that happen in the server result in a stack trace. This is not the correct behaviour as exceptions other than 500 are normal server behaviour dealing with bad user input, etc. This also makes it almost impossible to use the test cases, as thousands of stack traces get printed out during the normal course of running the tests.

Basically, if the exception is an instance of

[2016-04-27 09:03] jeromekelleher opened #1152 "Storing IDs for simulated data in tests is a bad idea"
In tests/paths.py we currently have some IDs for the simulated data, which are then used in the ``test_gestalt`` tests. This is very brittle, and needs to be updated every time anything to do with IDs is changed. Where we use simulated IDs we should create an instance of the SimulatedRepo using the same configuration as the server, and get the IDs directly from there.

[2016-04-27 13:04] dcolligan commented on #1141
Fixed in #1148

[2016-04-27 13:04] #1141 closed

[2016-04-27 16:04] david4096 opened #1159 "Improve layout of data tables in landing page"
The current landing page could be improved.

When identifiers are very long the tables overflow the screen. When there are many readgroups within a readgroupset the table becomes difficult to use.

[2016-04-27 16:15] jeromekelleher commented on #1159
Agreed. We should also change the VariantAnnotationSets  to show that they are 'in' a VariantSet rather than a Dataset.

[2016-04-27 16:32] jeromekelleher commented on #1111
Done in #1117.
￼
￼￼￼

[2016-04-27 16:32] #1111 closed

[2016-04-27 16:33] jeromekelleher commented on #1110
Done in #1126

[2016-04-27 16:33] #1110 closed

[2016-04-27 16:34] jeromekelleher commented on #1112
PR #1155

[2016-04-27 16:35] jeromekelleher commented on #1115
PR #1158

[2016-04-27 16:37] diekhans commented on #1159
VariantAnnotationSets are not intended to be in a VariantSet.  It's possible
to have multiple VariantAnnotationSets for a VariantSet and these be produced
by independently and hence in different DataSets.

Jerome Kelleher <notifications@github.com> writes:

[2016-04-27 16:48] jeromekelleher commented on #1159
Is that what the schema currently says @diekhans ?  A VariantAnnotationSet contains a reference to a VariantSet --- doesn't this mean that it's 'in' a VariantSet? There is no linkage to a dataset. I can completely see how we would want to have multiple annotation sets per VariantSet; why we would want to put these in different datasets (thereby breaking the tree structure of the data, and making r

[2016-04-27 16:51] saupchurch commented on #1144
PR #1146

[2016-04-27 16:51] saupchurch commented on #1132
PR #1139

[2016-04-27 16:59] diekhans commented on #1159
There should be no restriction on cross-dataset id
references.  A VariantAnnotationSet set should
be able to reference any VariantSet.

Use case: I want to run several variant annotation methods on 1K
genomes and make available via API.  I should not have to copy
1K genomes into my dataset or ask the owners of the 1K genomes
to add my VariantAnnotationSets to their dataset.

I wouldn't be surprise

[2016-04-27 17:04] jeromekelleher commented on #1147
My proposal here would be

1. Update the Ontology table in the DB so that it has an integer primary key, and add a ``sequenceOntology`` column to the  SequenceAnnotationSet and FeatureSet tables with foreign key constraints.
2. Discard our current ``datamodel/ontotologies.py`` module, and use the OBOOntology class instead and use a standard ``.obo`` ontology file as the backing store.

That should

[2016-04-27 17:10] jeromekelleher commented on #1159
I think we're a long way from this sort of thing @diekhans, and there's a lot of practical issues in the way. In any case, it's not in the schema; there is no dataset assigned to the VariantAnnotationSet, so we can only assume that it inherits the dataset from the VariantAnnotationSet that it refers to. Putting a VariantAnnotationSet in a dataset is just plain misleading. This is the current reali

[2016-04-27 17:10] diekhans commented on #1147
would obo loaded into a table?

This sounds very reasonable; although we should take a look
at what is takes to existing ontology package and get
true ontology lookups.  If we are important the ontologies,
we are there data wise.

words of wisdom from @cmungall would be appreciated

Jerome Kelleher <notifications@github.com> writes:

[2016-04-27 17:13] jeromekelleher commented on #1147
I don't think there's much point in loading obo into a table --- the parser reads in the full sequence ontology file I got in less than a second, and I'm going to assume that they have a sensible algorithm for looking up names/IDs. If we load the name/ID map into a table, we're basically going to replicate this, and then have to re-ingest the data when we realise that we've missed some important a

[2016-04-27 17:51] cmungall commented on #1147
I'm lacking the full context but it sounds like parsing the obo into an in-memory lookup table is sufficient for your purposes. If your use case expands to include graph closure (e.g. 'RNA' and all subtypes) or search (e.g. matching based on synonyms as well as primarily labels) the orange ontology library should suffice. Of course, omitting it from the sql schema will hamper your ability to do jo

[2016-04-27 18:10] saupchurch opened #1160 "rename featureGroup"
due to similarity with FeatureSet, the FeatureGroup object in the RNA API should be renamed to QuantificationGroup.  This change will need to be made in compliance and schemas as well

[2016-04-27 18:39] jeromekelleher commented on #1147
Thanks @cmungall, this is very useful. I'm hoping the in-memory model the orange library gives us will keep us going until we have more requirements (which are quite simple at the moment). Thanks very much for the schema links, this will be very useful in the future I'd imagine!

@diekhans, what do you think? You have a better idea of where our ontology support is going; should we use the library

[2016-04-27 18:53] jeromekelleher opened #1161 "Document database write access"
As @david4096 pointed out in #1158 we might need to allow for write permissions for the web server when pointing it at a repository DB file. See [here](https://www.sqlite.org/tempfiles.html) for information on sqlite temp files.

It seems a bit wasteful though, since these files are all for transational updates and so on, and we really just want to open the DB in read-only mode when running within

[2016-04-27 18:56] saupchurch commented on #1144
fixed in #1146

[2016-04-27 18:56] #1144 closed

[2016-04-27 19:34] diekhans commented on #1147
perfect; table in memory :-)

Jerome Kelleher <notifications@github.com> writes:

[2016-04-27 19:53] diekhans commented on #1147
@jeromekelleher it's a tactical implementation decision, of
which you guys are the best judge.

We do need to move towards doing full ontology queries in the
near future.  It's kind of the point of representing data using
ontologies.

If it was me, I would spend a small about of time looking at the
library Chris recommended.  If it looks like a small amount of
additional work gear for ontology que

[2016-04-27 20:16] david4096 commented on #335
Although this issue is about AWS, I'm leaving this notebook here that shows behavior across 4 different servers with pysam. It seems azure's byte range functionality is not quite there yet.

http://nbviewer.jupyter.org/gist/david4096/7094a9faf95430e6354332d73b11901c

[2016-04-27 21:26] david4096 opened #1162 "References should require index path"
It appears the index files are optional in the current references implementation. We ought to explicitly pass the index path using `filepath_index` so that repositories can be read only directories, or so the index and fasta don't have to be in the same directory. A column would need to be added to the `ReferenceSet` table.

[2016-04-27 21:30] diekhans commented on #1159
Agreed, it's the server's job to to implement the schema and this is a schema
issue:  https://github.com/ga4gh/schemas/issues/615

It would still be reasonable for the reserver to impose more
restrictions, especially as long as the annotations are crammed
into the VCF info field.

Jerome Kelleher <notifications@github.com> writes:

[2016-04-27 21:38] #1151 closed

[2016-04-27 22:55] #1123 closed

[2016-04-27 23:11] macieksmuga opened #1164 "SQL repo referenceSets search returns number for boolean field"
From my quick and dirty testing of the `sql_repo` branch:
[code]
Per schemas, `isDerived` should be either `true` or `false`.

[2016-04-27 23:36] saupchurch commented on #1132
fixed in #1139

[2016-04-27 23:36] #1132 closed

[2016-04-28 08:48] jeromekelleher commented on #1164
Good catch @macieksmuga --- this is also a bug in our unit tests. Does this get past the Avro validate function? I think we need a test case that loads up our test data repo,  pulls out all the objects and checks if they are valid instances of the schema. Should be quick enough to do.

[2016-04-28 08:52] jeromekelleher commented on #1162
I agree this would be good @david4096. I tried to implement it while I was doing the rest of the updates, but it didn't seem to work very well with pysam. I didn't look into it too deeply, but it seemed to me like pysam wasn't passing the ``filepath_index`` down to htslib properly. It's also complicated by the fact that we seem to have two index files for bgzipped FASTAs, which I don't follow. We

[2016-04-28 08:56] jeromekelleher commented on #1147
Tactically, I think we should use the ``orangecontrib.bio.ontology`` --- it's a huge improvement over what we have, and the changes required are trivial.

[2016-04-28 08:58] jeromekelleher commented on #335
The link 404s for me @david4096 ...

[2016-04-28 10:02] jeromekelleher commented on #1164
Partial fix for this in #1165 to try and push the sql repo merge ahead. This issue shouldn't be closed until we have test coverage of the issue though.

[2016-04-28 10:09] jeromekelleher commented on #1112
Closed in #1155.

[2016-04-28 10:09] #1112 closed

[2016-04-28 10:30] jeromekelleher commented on #1147
OK, here's a quick way forward for this:

1. Update the ontology table to have a integer primary key ``id``, and another string field ``class`` (or something like this?), which contains things like "SO", "GO", following the usual convention within ontologies.
2. Update our existing ``OntologyTermMap`` class to use the ``orangecontrib.bio.ontology`` class to do all the actual lookups.
3. Change the

[2016-04-28 10:45] jeromekelleher commented on #1046
This should be addressed in #1147. Can we close this issue in and move discussion over there?

[2016-04-28 10:47] jeromekelleher commented on #1044
We should be able to support multi contig VCFs without changes. We should have an example in the test data, I agree.

[2016-04-28 10:51] jeromekelleher commented on #894
Resolved in #907

[2016-04-28 10:51] #894 closed

[2016-04-28 10:52] jeromekelleher commented on #893
Has this been resolved @andrewjesaitis?

[2016-04-28 10:53] jeromekelleher commented on #816
No longer relevant.

[2016-04-28 10:53] #816 closed

[2016-04-28 10:58] jeromekelleher opened #1167 "Increase test coverage requirements again"
Assumes #1166 has been merged.

The minimum test coverage was dropped to 80% as part of the sql repo change over. We should bring this up as high as possible, and do some analysis on our code to see where the coverage is lowest. This might require some follow-up issues.

[2016-04-28 11:01] jeromekelleher opened #1168 "How should name guessing for object work?"
Assumes #1166 has been merged.

Currently ``getNameFromPath(filePath)`` returns ``filepath.split(".")[0]``, which is simple, but probably not what people expect for a lot of things. How should it work? Or should object ``name``s be mandatory?

Please don't answer this question until you've spent at least 30 minutes using the repo manager!

[2016-04-28 11:05] jeromekelleher opened #1169 "Repo manager list function is extremely crude"
Assumes #1166 has been merged.

The repo manager list method is very crude and ugly. How can we make it more useful? Ideally, we want to get some repos with a few thousand ReadGroupSets and VariantSets and see what we actually want this to do.

Presumably, we would also want to subset things, like say
[code]

[2016-04-28 11:08] jeromekelleher opened #1170 "Repo manager verify function is extremely crude"
Assumes #1166 has been merged.

The goal of the repo manager ``verify`` function is to let an administrator run some simple diagnostics on the repository. This is useful to check, say, that a readgroupset URL still works. The current implementation is badly factored and very crude.

Similarly to ``list`` in #1169, we would need a method of subsetting the objects we examine.

[2016-04-28 11:13] jeromekelleher opened #1171 "Implement getVcfHeaderReferenceSetName"
Assumes #1166 has been merged.

We should use the pysam VCF header parsing code to attempt a guess at the reference name for a particular Variant set. There are some headers in the VCF spec for this which we should try to use.

[2016-04-28 11:19] jeromekelleher opened #1172 "Repo manager should have a catch-all error exception handler"
Assumes #1166 has been merged.

If an unexpected exception occurs in repo manager, this should be considered a bug. Therefore, we should add a catch-all exception handler to repo main that prints the stack trace, along with a message like:
[code]
Also, we need to make sure we exit with a non-zero exit status.

[2016-04-28 11:26] jeromekelleher opened #1173 "Refactor: remove SimulatedRepository and SimulatedDataset"
Assumes #1166 has been merged.

The ``SimulatedDataset`` and ``SimulatedDataRepository`` class now do very little. We should remove these classes, and consolidate the functionality into a factory function (``simulated_repository_factory``?), which takes a bunch of keyword arguments, and creates the SimulatedReadGroupSets, SimulatedVariantSets, etc directly, and inserts them into a ``SqlDataReposit

[2016-04-28 11:33] jeromekelleher opened #1174 "Implement checkReferenceConsistency for ReadGroupSets and VariantSets"
Assumes #1166 has been merged.

We should check that the reference set that we have associated with ReadGroupSets and VariantSets are minimally consistent with the data they contain at import time. To do this, we use the opened pysam handle to query the references that are in the file, and compare this with the names of the ``Reference`` objects in the ``ReferenceSet`` that has been associated wit

[2016-04-28 11:43] jeromekelleher opened #1175 "Clarify annotation software support and generalise VEP support"
Assumes #1166 has been merged.

Currently the VariantAnnotations code is quite strict about the versions of the programs that it will support. We have
[code]
If we detect a version of VEP other than v82 or v77 we will not create an annotation set. Clearly this not a good solution. We should find out at what versions the incompatibilities in the VEP annotations occured, and try to detect the code w

[2016-04-28 11:44] jeromekelleher opened #1176 "Parse annotation creation times from the VCF header"
Assumes #1166 has been merged.

Annotation programs often provide the creation time of the annotations in VCF headers. We should use this information to set the creation and update times in for VariantAnnotationSets when we call ``populateFromFile``. These are then stored in the DB.

[2016-04-28 11:45] dcolligan commented on #1161
In that SO thread there's a workaround for our version of python.

[2016-04-28 11:48] jeromekelleher opened #1177 "Refactor ``getVariantAnnotations`` code path"
Assumes #1166 has been merged.

Currently the code path that is taken for a given annotation type in the `getVariantAnnotations` method is quite opaque. We should refactor this so that it's clear where the different annotation types share code and where they don't. We should not use the identity of the `transcriptConverter` function for control flow.

[2016-04-28 11:54] #1121 closed

[2016-04-28 11:54] dcolligan commented on #1121
Fixed in #1163

[2016-04-28 11:56] jeromekelleher opened #1178 "Refactor ``tests/end_to_end/test_repo_manager.py`` and enable tests"
Assumes #1166 has been merged.

The end-to-end tests for repo manager were disabled as part of the sql repo update. These should be reinstated.

[2016-04-28 12:01] jeromekelleher opened #1179 "``tests/unit/test_faultydata.py`` should be reinstated"
Assumes #1166 has been merged.

The ``tests/unit/test_faultydata.py`` is intended to check that we get the correct behaviour when we try to insert bad data into our repo. The tests currently in the module will need some refactoring, and should be reinstated. We should also aim to add quite a few more tests here, as dealing properly with dodgy inputs is one of the most important usability criteria

[2016-04-28 12:05] jeromekelleher opened #1180 "Add tests to ``tests/unit/test_datarepo.py`` to verify behaviour when incorrect indexes are passed"
Assumes #1166 has been merged.

The ``add-variantset`` and ``add-referenceset`` functions in repo manager allow the option of specifying index files to go with the data URLs provided. We should add some tests to check that we correctly catch problems such as providing files that (a) aren't actually indexes; and (b) are indexes but are for the wrong file. It might be tricky to do this with pysam, b

[2016-04-28 12:12] jeromekelleher opened #1181 "Add tests to ``tests/unit/test_datarepo.py`` to verify behaviour when duplicate names exist"
Assumes #1166 has been merged.

When we have (e.g.) ``dataset1/variantset1`` and ``dataset2/variantset1``, we need to ensure that calling  ``ga4gh_repo delete-variantset dataset1 variantset1`` correctly deletes ``dataset1/variantset1`` and doesn't affect  ``dataset2/variantset1``. Likewise across other containers.

See comments on line 342.

[2016-04-28 12:13] jeromekelleher opened #1182 "Reinstate TestVerify in test_repo_manager.py"
Assumes #1166 has been merged.

[2016-04-28 12:15] jeromekelleher opened #1183 "Refactor variant annotations tests in ``test_simulated_stack.py``"
Assumes #1166 has been merged.

See TODO comments on lines 597 and 605.

[2016-04-28 12:18] jeromekelleher commented on #1161
Yeah, looks a bit gnarly though. I can imagine that getting messy when we're running under a web server --- SELinux or something might not like us accessing ``/dev/df/x``. Or maybe not...

[2016-04-28 12:20] #1115 closed

[2016-04-28 14:59] diekhans commented on #1147
Nice!  go for it or pass it to David.

Jerome Kelleher <notifications@github.com> writes:

[2016-04-28 15:42] diekhans commented on #1046
discussion continues in #1147.

[2016-04-28 15:42] #1046 closed

[2016-04-28 15:47] cmungall commented on #1147
Minor terminological point: `class` is used in the ontology and W3C world to mean what we're calling `term` here. So I would call your new field something like `ontology` or `idspace` or `ontologyPrefix`

[2016-04-28 15:49] jeromekelleher commented on #1147
Fantastic, thanks @cmungall, this is exactly the type of stupid mistake we want to avoid making. ``ontologyPrefix`` it is!

[2016-04-28 16:35] macieksmuga opened #1185 "Providing accessions for individual references?"
Given the vastly improved method for importing reference sets into the SQL repo, the current system does not have a mechanism to populate the `accessions` field for individual references (it's not even clear to me what the source of this `accessions` field should be - per discussion in https://github.com/ga4gh/schemas/issues/518#issuecomment-215458384 )

For now, several key compliance tests for r

[2016-04-28 18:06] david4096 commented on #1162
Confirmed your experience, feel free to share your thoughts :)

https://github.com/pysam-developers/pysam/issues/270

[2016-04-28 18:07] david4096 commented on #335
Eh, github does a fine job rendering the ipython notebooks now, updated the link, sorry! @jeromekelleher

[2016-04-28 18:12] david4096 commented on #1161
Yeah, I don't think we need to go to those ends yet. I'd just like it documented that the server needs write access to the directory containing the `.db`.

[2016-04-28 18:19] david4096 commented on #1044
Unfortunately, it's something I wasn't quite able to google for. If someone knows of a realistic multi-contig VCF a link would be helpful!

[2016-04-28 18:41] andrewjesaitis commented on #893
Yes. Merged in with PR #912

[2016-04-28 18:41] #893 closed

[2016-04-28 18:44] david4096 commented on #1185
Hmm, yeah the references aren't added directly by the repo manager and may have individual accession codes that can't be inferred from the fasta file.

Ideas on how to mitigate this? For passing compliance we could manually modify the SQL table, but essentially we need to be able to update records that don't have a repo manager endpoint.

We could make add-referenceset interactive where it asks fo

[2016-04-28 18:52] david4096 commented on #978
This should be done as part of the move to the SQL registry.

[2016-04-28 20:17] saupchurch commented on #1160
PR #1186

[2016-04-28 20:35] diekhans commented on #1185
We should obtain all information from
 ftp://ftp.ncbi.nlm.nih.gov/genomes/ASSEMBLY_REPORTS/All/GCF_000001405.28.assembly.txt

this file has all the accessions, names, English description.   This is the official source.  I sent you a python package I wrote to parse it.

[2016-04-28 23:13] david4096 opened #1187 "Compound ID assumes names are ASCII"
I tried adding a dataset with a non-ascii character (sql_repo branch).

[code]

[2016-04-29 18:41] dcolligan commented on #1150
Fixed in #1184

[2016-04-29 18:41] #1150 closed

[2016-04-30 00:19] kozbo commented on #950
I was running some tests against the 1000 Genomes VCF files (2504 samples) and I verified the slow results. I ran some tests with different page sizes and the amount of time to return each page increased linearly with the number of variants included in each page. I also tried changing my search variants to use `callSetIds=[]` but that made no difference hoping that I could avoid the callSetId sear

[2016-04-30 01:01] diekhans opened #1192 "document how to run development server with profiling"
running the development server with profiling is tricky because flask gets in the way by starting a second process for the reloader functionality.  Please document the process:

`python -m cProfile -s cumulative -o profile.out ko-server/server_dev.py -H 100.70.26.73 --dont-use-reloader --config-file /srv/ga4gh/config.py`

[2016-05-02 15:29] dcolligan commented on #1192
A wiki page on profiling might be a good place to put that:

https://github.com/ga4gh/server/wiki

Or we could put it in the server docs somewhere.

[2016-05-02 17:01] macieksmuga commented on #1185
While it's not blocking sql_repo any more (we worked around it), this metadata should be getting properly ingested and assigned ASAP. This is presumably for GRCh37. Is there a matching metadata file for 38? What's the pattern in general?

Also, @diekhans could you paste a link to the python code you mentioned in this issue? I'm not seeing it in my email or slack.

[2016-05-02 21:46] saupchurch commented on #1160
fixed in #1186

[2016-05-02 21:46] #1160 closed

[2016-05-03 07:27] jeromekelleher commented on #1162
Excellent, thanks @david4096.

[2016-05-03 07:44] jeromekelleher commented on #950
Excellent, thanks @kozbo. The variant search code definitely needs some attention, I'm sure there's quite substantial improvements we can make using the profiling.

[2016-05-03 13:20] dcolligan commented on #1181
Fixed in #1195

[2016-05-03 13:20] #1181 closed

[2016-05-03 14:04] dcolligan commented on #1180
The `add-referenceset` command doesn't allow specification of indexes... presumably you meant `add-readgroupset`?

[2016-05-03 15:05] jeromekelleher commented on #1180
Yes, sorry, that was a typo.

[2016-05-03 18:36] david4096 opened #1200 "Repo manager success feedback"
A message returning the result of a write operation while modifying the registry would be helpful.

`A new dataset with id "abx23" has been added".

[2016-05-03 18:57] diekhans commented on #1200
as long as there is a quiet option.

large command line automations like to only see error messages

David Steinberg <notifications@github.com> writes:

[2016-05-03 21:06] saupchurch opened #1201 "encode2ga4gh.py not populating rnaquantification table"
rnaquantification data is not being added to the rnaquantification table when running `encode2ga4gh.py` with fewer than `batchSize` rnaQuantifications

[2016-05-04 00:29] david4096 opened #1204 "SQL repo needs absolute paths"
The full path must be used when adding a file because the server may be running from a different location than the database. Even if the file exists according to `ga4gh_repo`, without an absolute path the installed server may not be able to find it.

I made this mistake adding a feature set to the 1kgenomes server and the failure wasn't detected leading to a 500 when issuing requests against that

[2016-05-04 05:56] jeromekelleher commented on #1204
This is a slightly tricky one, because we do sometimes want relative paths too. The only time I can think of right now is for our example data,  which we couldn't just download and run anymore if paths we're obligately fully qualified.

Perhaps the most useful thing to do is to automatically expand all paths in the repo manager CLI when adding objects, but to provide a command line option to suppr

[2016-05-04 06:21] jeromekelleher commented on #1200
Agreed on both counts. I think we should add this functionality using the logging framework, so that these messages are at the INFO level. We should have a -q --quiet option that turns off all messages, and a -v --verbose that turns up the verbosity level. That is, -vvv will turn on all DEBUG messages,  etc.

I'm adding this to the logging milestone to keep these issues batched together.

[2016-05-04 06:45] jeromekelleher opened #1205 "CLI docs for repo manager need rewriting"
The CLI docs for repo manager are very limited. We need to create a comprehensive reference resource for all the commands on line. It would be good if we could use something like [sphinx-argparse]
(http://sphinx-argparse.readthedocs.io/en/latest/)  so that we have a single definitive source for our CLI docs, defined in the help text.

[2016-05-04 06:47] jeromekelleher opened #1206 "An administration tutorial is needed"
We need a full tutorial for the process of administering a repo. This should go through the full process of downloading and installing a reference, creating a dataset, and all the rest. This will be essential in getting people started in working with the repo.

[2016-05-04 20:39] macieksmuga opened #1209 "Server error on searching multiple ReadGroups within a single ReadGroupSet"
The following error is emitted by the server:
[code]
with debug info:
[code]
upon responding to a multi-readgroup request:
[code]

[2016-05-04 23:02] david4096 opened #1210 "VCF Indexfiles option ignored"
I'm working with the add-variantset to see whether remote VCF will work yet, or not.

Here is the repo manager call

`python repo_dev.py add-variantset ga4gh-example-data/repo.db test "http://s3.amazonaws.com/1000genomes/release/20130502/ALL.chr1.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz" -I"/Users/david/1000genomes/1kvcf/ALL.chr1.phase3_shapeit2_mvncall_integrated_v5a.20130

[2016-05-04 23:08] macieksmuga commented on #1209
I've debugged this to the point where I see a leftover local variable from a filesystem-based reads repository, `reads.py`, line 119:
[code]
Not sure what new entity would replace this missing _readGroupLocalIdMap, but whatever it is, it's currently MIA.

[2016-05-04 23:23] david4096 commented on #1204
I would always expand relative paths to absolute paths. I think it's fine if the administrator needs to generate the registry, for the example data it will only take a few seconds.

However, we could handle it via documentation: "If the server is running from a different location than the data files then you must specify an absolute path when adding files to the registry."

[2016-05-04 23:29] david4096 opened #1211 "Repo manager accepts blank name"
Although checks are in place to keep the inferred names from being empty, it appears one can manually set the name to be empty.

`python repo_dev.py add-readgroupset l a ga4gh-example-data/HG00096.bam --name ""`

[2016-05-04 23:32] david4096 commented on #1180
Related https://github.com/ga4gh/server/issues/1210

[2016-05-05 00:04] macieksmuga commented on #1204
With an emphasis on non-development deployments (either via pip install & apache setup or just via docker), I agree with @david4096 here - let's require fully qualified paths, can always provide a shell-expandable idiom (`./mypath` or `$PWD/mypath`) when spinning up local dev instances.

[2016-05-05 01:40] diekhans commented on #1204
having the repo manager expand that than relying on the user to do it is more robust and user friendly

[2016-05-05 08:02] jeromekelleher commented on #1204
Come to think of it, we don't use the repo manager to create the example data for development, so expanding all input paths to be absolute is the way to go. So, to be clear, if I say
[code]
the path in the DB will be stored as /full/path/to/file.bam.

[2016-05-05 08:05] jeromekelleher commented on #1209
This should not be closed until we have test coverage for this in the server unit tests.

[2016-05-05 08:25] jeromekelleher opened #1213 "New end-to-end test required"
Recent issues have shown some weaknesses in our test coverage (see e.g. #1209, #1164), where we're only discovering some issues when the compliance suite is run against the server. The root cause of this is that we're not really exercising our production data interfacing layer (i.e., where we interact with BAM, VCF and FASTA) in our end-to-end tests.

I think we could resolve this by adding a new

[2016-05-05 08:30] jeromekelleher commented on #1211
Good catch. We should add a method to SqlDataRepository called ``checkNameFormat`` (or something similar) that is called during the ``insertX`` methods.

[2016-05-05 08:32] jeromekelleher commented on #1210
Interesting... Does this happen for non-S3 URLs?

[2016-05-05 12:33] dcolligan commented on #1187
Fixed in #1188

[2016-05-05 12:33] #1187 closed

[2016-05-05 13:03] dcolligan commented on #1172
Fixed in #1193

[2016-05-05 13:03] #1172 closed

[2016-05-05 13:10] dcolligan commented on #1178
Fixed in #1198

[2016-05-05 13:10] #1178 closed

[2016-05-05 13:18] dcolligan commented on #1182
Fixed in #1194

[2016-05-05 13:18] #1182 closed

[2016-05-05 13:40] #1209 closed

[2016-05-05 15:56] jeromekelleher commented on #1149
Closed by #1166.

[2016-05-05 15:56] #1149 closed

[2016-05-05 15:56] jeromekelleher commented on #1030
Closed by #1166.

[2016-05-05 15:56] #1030 closed

[2016-05-05 15:57] jeromekelleher commented on #689
Closed by #1166.

[2016-05-05 15:57] #689 closed

[2016-05-05 15:57] jeromekelleher commented on #751
Closed by #1166.

[2016-05-05 15:57] #751 closed

[2016-05-05 15:57] jeromekelleher commented on #1127
Closed by #1166.

[2016-05-05 15:57] #1127 closed

[2016-05-05 15:58] jeromekelleher commented on #1120
Closed by #1166.

[2016-05-05 15:58] #1120 closed

[2016-05-05 15:58] jeromekelleher commented on #955
Closed by #1166.

[2016-05-05 15:58] #955 closed

[2016-05-05 15:58] jeromekelleher commented on #1087
Closed by #1166.

[2016-05-05 15:58] #1087 closed

[2016-05-05 15:59] jeromekelleher commented on #1064
Closed by #1166.

[2016-05-05 15:59] #1064 closed

[2016-05-05 15:59] jeromekelleher commented on #1052
Closed by #1166.

[2016-05-05 15:59] #1052 closed

[2016-05-05 15:59] jeromekelleher commented on #1047
Closed by #1166.

[2016-05-05 15:59] #1047 closed

[2016-05-05 16:00] jeromekelleher commented on #1059
Closed by #1166.

[2016-05-05 16:00] #1059 closed

[2016-05-05 16:01] jeromekelleher commented on #1049
Closed by #1166.

[2016-05-05 16:01] #1049 closed

[2016-05-05 16:01] jeromekelleher commented on #1045
Closed by #1166.

[2016-05-05 16:01] #1045 closed

[2016-05-05 16:01] jeromekelleher commented on #970
Closed by #1166.

[2016-05-05 16:01] #970 closed

[2016-05-05 16:02] jeromekelleher commented on #1038
Closed by #1166.

[2016-05-05 16:02] #1038 closed

[2016-05-05 16:02] jeromekelleher commented on #1019
Closed by #1166.

[2016-05-05 16:02] #1019 closed

[2016-05-05 16:04] kozbo commented on #1213
@jeromekelleher It seems like the ideal way to do actual end to end tests is to use the repo manager to put data into the repository and then queries to pull data back out again. Is this what you are suggesting here or is the repo.db a pre-ingested database?

[2016-05-05 16:21] jeromekelleher commented on #1213
This is true @kozbo, and we should also do what you're talking about I think. However, what I had in mind here was just using the pre created repo.db that is checked into Git. For this test I think we need to concentrate on stressing the query interface, so we get into all the little cracks in the data interfacing code.

But yeah, another end-to-end test where we bung a bunch of stuff that we know

[2016-05-05 23:11] kozbo opened #1216 "Create a new release for PyPI that captures the sql repo changes"
I would like to have another tagged release before we merge in the Protobuf code. I don't have a firm date for the Protobuf code but I am hoping it can be reviewed for merge by May 13, 2016.

[2016-05-06 10:54] jeromekelleher opened #1217 "Clarify nomenclature"
Currently we're using the work 'repository' to refer to the sum total of all data within the server (i.e., datasets, reference sets, etc) as well as the database we use to store information about the objects concerned. This is probably a bit confusing. Several people have proposed  'registry' as an alternative, but it's not clear to me if this is just the DB (good IMO), or as a replacement for the

[2016-05-06 11:00] jeromekelleher commented on #1152
Fixed in  #1157

[2016-05-06 11:00] #1152 closed

[2016-05-06 11:04] jeromekelleher commented on #1040
Resolved in #1166.

[2016-05-06 11:04] #1040 closed

[2016-05-06 11:10] jeromekelleher commented on #1216
Completely agree @kozbo, it should be a strong priority to make a solid release before we take on the protobuf transition pain. Some points to note:

- I think we should decide on our nomenclature (#1217), and improve our administration documentation (#1205, #1206) before we release. These are critical for our admin user experience.
- Do we need updated ontology handling (#1147) for a new release?

[2016-05-06 17:03] jeromekelleher commented on #1147
Ah, there's the catch. It turns out that the Orange Bioinformatics package here depends on Orange, which depends on scipy... These are pretty hefty dependencies, which it would be nice to avoid. Having said that, there doesn't really seem to be any other Python obo parsers out there, and big dependencies are becoming less of an issue with pip caching builds, and things like bioconda.

So, I think

[2016-05-06 17:50] macieksmuga commented on #1217
@jeromekelleher thanks for continuing this discussion. The way you informally define the terms is in line with my understanding: "Repository" refers to the sum total of all the data, while "registry" refers just to the SQL database that contains all metadata and pointers to the actual data objects. Thing is, by going in this direction, we're no longer creating a "repository" proper - the raw data

[2016-05-06 17:56] cmungall commented on #1147
There is also https://github.com/tanghaibao/goatools/blob/master/goatools/obo_parser.py

But I think for what you want, 2 is fine.

[2016-05-06 22:09] dcolligan commented on #1211
This could probably use some design up-front.  We're basically talking about adding a object validation layer before DB insertion.

In fact it might be good to refactor the data repo insertion code to make it more OO.  We could have some logic like:

[code]

Or some variation of that in the datarepo code.  Then we'd have an object hierarchy of `DbObject` where each subclass would implement `valida

[2016-05-06 22:16] dcolligan commented on #1204
I'll make a comment here similar to the one I made in #1211, which is that it might be a good idea to make the datarepo insertion code more OO and then have methods for handling each insertion step.  In a `prepare` method, the objects that have file paths could have them expanded to absolute paths, for instance.

[2016-05-06 22:21] dcolligan commented on #1136
Fixed in 1136_robots_txt

[2016-05-06 22:21] #1136 closed

[2016-05-06 23:29] david4096 opened #1220 "Variant parsing (bugs?)"
It appears some of the variants are receiving empty alternateBases in the 1kg vcf.

[code]

Here is another variant where it appears the INFO.AA field has been parsed incorrectly.

[code]

[2016-05-07 00:19] bioinformed commented on #1220
Please let me know if this turns out to be a pysam VCF parsing bug.

[2016-05-09 08:46] jeromekelleher commented on #1220
Nicely spotted @david4096, great work. We'll need the original VCF entries to make progress on this. Can you paste in the (relevant bits of) the VCF lines? Creating a minimal VCF file for each consisting of just the header and the VCF line in question will be useful for further debugging too.

[2016-05-09 08:56] jeromekelleher commented on #1211
This looks like a nice pattern @dcolligan, and I agree that we should try to add more structure to the admin process soon. However, I would like to build out the admin features more before we stand back and refactor/redesign things. The code is still reasonably clear, and there's a lot of features yet to go in. I'm wary of trying to do too much design before the full feature set has been fleshed o

[2016-05-09 09:33] jeromekelleher commented on #1217
OK, good, I think we're more-or-less in agreement then. I think it's still useful to have a word to refer to the 'total sum of all data' in the server, as this is what the client interacts with ultimately. The client doesn't know or care how this (I'm going with singular here in the CS sense @david4096!) data is organised; it just knows that there is a server at an IP address, and that this server

[2016-05-09 09:38] jeromekelleher commented on #1147
Thanks @cmungall --- how specific to Gene Ontology is this parser do you think? I see a lot of GO stuff in there.

[2016-05-09 21:37] cmungall commented on #1147
To be honest I haven't done a full evaluation, the class names appear to sound GO specific, but look reasonably generic. The id2int method has a dangerous assumption, but isn't called.

The lack of a really rigorous and generic python lib has been bothering me for a while. We do a lot of heavy lifting with ontologies using JVM languages and OWL, but of course the majority of the bioinformatics com

[2016-05-10 21:26] david4096 commented on #1217
No objections here. I've put together the latest set of commands I used to stand up the 1kg server, which you may find useful.

https://gist.github.com/david4096/fa83f6bbe85b7f3342accdbaa4e7d9d1

[2016-05-10 21:37] david4096 commented on #1206
Leaving the cookbook I used to stand up the 1kgenomes server here.

https://gist.github.com/david4096/fa83f6bbe85b7f3342accdbaa4e7d9d1

[2016-05-10 21:57] kozbo opened #1223 "Repo manager returns an error when adding Sequence Ontologies last"
While configuring a reference server I added all the components and then realized that I had't added the Sequence Ontologies file yet. I received an error:
"""
ga4gh_repo add-ontology repo.db /srv/ga4gh/compliance/sequence_ontology.txt
/srv/ga4gh/ga4gh-server-env/bin/ga4gh_repo: error: Ontology with name
'sequence_ontology' not found
"""
I was able to work around the problem by removing my repo.db

[2016-05-11 16:16] jeromekelleher commented on #1147
Thanks @cmungall, I've tried it out and it works well enough to get us started. Let us know if you every get around to the heavy-duty Python ontology package --- it's badly needed!

[2016-05-11 23:34] Kusdhill commented on #1220
https://github.com/david4096/bioapi-examples/blob/master/variantParsingBug.ipynb

After looking at the pysam output, alternate alleles were found. It seems that the problem is taking place somewhere other than in pysam.

[2016-05-11 23:49] david4096 commented on #1210
Yes, it happens for non-S3 urls as well.

[code]

Note that the downloaded indexes are in whatever directory the repo command was called from and that they are downloaded and left even when the name already exists in the registry.

[code]

[2016-05-12 16:05] bioinformed commented on #1210
Please let me know if this appears to be a pysam issue.

[2016-05-12 19:01] jeromekelleher commented on #1210
It does look like there an issue somewhere in pysam or htslib @bioinformed. It seems that the remote index (if it exists) takes precedence over the supplied index file. E.g.:
[code]
In the first run there is no ``chr1.vcf.gz.tbi`` file on the web server, and the specified index works fine. In the second call, there is a file `chr1.vcf.gz.tbi`` on the web server which is downloaded in preference to

[2016-05-12 20:19] bioinformed commented on #1210
Please open a pysam issue.  I suspect it is an htslib problem, but I'd like
to triage it first and add regression tests to pysam.

On Thu, May 12, 2016 at 1:01 PM, Jerome Kelleher <notifications@github.com>
wrote:

[2016-05-12 20:35] jeromekelleher commented on #1210
Thanks @bioinformed, done.

[2016-05-12 20:52] jeromekelleher commented on #1220
The original VCF text would still be informative --- would it be possible to get it here for reference?

[2016-05-12 21:03] david4096 commented on #1220
I've been having trouble replicating the result of the [first variant](http://1kgenomes.ga4gh.org/variants/WyIxa2dlbm9tZXMiLCJ2cyIsInJlbGVhc2UiLCI1IiwiMjIxMTIiLCJiZmNjYzI2NmRjZmQ4NjFlYjNkZGM3NTJiNzBhYTI0YSJd) with empty `alternateBases`, `<CN0>` and `<CN2>` are now returned properly.

The [second case](http://1kgenomes.ga4gh.org/variants/WyIxa2dlbm9tZXMiLCJ2cyIsInJlbGVhc2UiLCI1IiwiNDcyNDciLCJmMzQx

[2016-05-12 21:49] bioinformed commented on #1220
Correct.  Those internal '|' delimiters are not part of the VCF spec and are an application-specific encoding convention.  pysam/htslib don't know anything about those semantics, so it is up to the application to apply the additional parsing logic.

[2016-05-13 07:49] jeromekelleher commented on #1220
I think we're doing everything we can here --- we can only return what's in the underlying VCF. Please close the issue if you're happy with this @david4096.

[2016-05-13 14:53] jeromekelleher opened #1226 "Attempting to delete in-use reference set results in stack trace"
[code]
We should catch this error and raise a meaninful error message.

[2016-05-16 14:07] dcolligan commented on #1211
It's not a solution I'm thrilled about, but if you think a refactor would hamper existing/future efforts, then I suppose I can pepper the code with `checkNameFormat` calls...

[2016-05-16 14:08] dcolligan commented on #1180
Fixed in #1214

[2016-05-16 14:08] #1180 closed

[2016-05-16 20:38] saupchurch commented on #1201
fixed in #1202

[2016-05-16 20:38] #1201 closed

[2016-05-16 20:42] david4096 commented on #1162
Should we remove the option to allow optional indexes until pysam solves this?

[2016-05-16 20:43] david4096 commented on #978
Closed with this commit:
https://github.com/ga4gh/server/pull/1189/files#diff-0daf61941b83c615dfe385b45d7fdd2d

[2016-05-16 20:43] #978 closed

[2016-05-16 20:46] saupchurch opened #1227 "RNA data needs to be managed by repomanager"
Update RNA topic branch to:
- remove references to prior data directory structure
- add functions to manage RNA data to `cli.py` and probably also `datarepo.py`

[2016-05-16 20:54] david4096 commented on #1185
The solution was to use the Python API for the repo manager. The CLI doesn't need to offer this functionality, I think we can close this issue and offer via documentation the more complicated edge cases for setting fields of underlying reference objects. Opinions? @macieksmuga

From `prepare_compliance_data.py`

[code]

[2016-05-16 21:08] macieksmuga commented on #1185
That's a fine solution @david4096 - Is it captured in server setup documentation already? If not, let's do so and close this out.

[2016-05-16 21:11] kozbo commented on #1205
can be closed based on PR #1218

[2016-05-16 21:12] macieksmuga commented on #1206
Also, a sketch of a document for putting up a dockerized instance of the GA4GH server:

https://github.com/BD2KGenomics/ga4gh-integration/wiki/Setting-up-data-for-a-docker-instance

[2016-05-17 01:24] david4096 commented on #1206
This work in progress can be seen here. Given the UI for ontologies is changing I've left that as a TODO. https://github.com/BD2KGenomics/ga4gh-integration/wiki/Server-Repo-Admin-Tutorial

[2016-05-17 07:59] jeromekelleher commented on #1162
I don't think we have that option now, do we? There is no indexFile option to ``add-referenceset``. We do need to do some work on input validation to see if indexes exist and if the input is bgzipped and so on, but this all gets a bit tricky with htslibs eagerness to 'fix' problems rather than throw errors back to the user.

[2016-05-17 08:12] jeromekelleher commented on #1185
This is a tricky one, as we don't add the references directly as @david4096 pointed out. However, setting sourceAccessions and other metadata for reference objects is something we need to enable, and asking the admin to use the internal Python API isn't very user friendly. We will need to have an 'update' interface at some point, which allows the admin edit the attributes of objects in place withi

[2016-05-17 13:20] jeromekelleher commented on #1205
I don't think so --- we still need a rewrite to make this actually usable. I'll make a start on it and make a PR later.

[2016-05-17 13:24] jeromekelleher commented on #1206
This is great @david4096, exactly what we want.

[2016-05-17 13:26] jeromekelleher commented on #1220
Can we close this issue @david4096?

[2016-05-17 13:27] jeromekelleher commented on #1217
Closing this; 'registry DB' or 'registry' it is.

[2016-05-17 13:27] #1217 closed

[2016-05-17 16:46] kozbo commented on #1147
@jeromekelleher should we postpone merging this until after we create the official sql pypi build? Will these changes require regression testing the Sequence Annotations?

[2016-05-17 16:51] jeromekelleher commented on #1147
The proposed changes are in #1147 @kozbo, we can see what's involved there. The code we currently have is very brittle around ontologies, I would rather not release it.

[2016-05-17 18:30] #1220 closed

[2016-05-17 21:01] david4096 commented on #1210
It appears AWS reads support is acceptable. Remote VCF and FASTA still have a few problems. I would like to close this issue and continued detailed discussion of the VCF issues [here](https://github.com/ga4gh/server/issues/1210) and FASTA [here](https://github.com/ga4gh/server/issues/1162). Objections?

[2016-05-17 22:47] david4096 commented on #653
The current state of work is reflected [here](https://github.com/david4096/ga4gh-swagger-ui). I propose future discussion about API descriptions happen there, or in the schemas. @bwalsh @jeromekelleher , OK to close?

[2016-05-17 23:15] kozbo commented on #1185
I am going to remove this issue from the SQL milestone as it is not blocking the release.

I am worried that the idea of adding an "update" interface is going to add a lot of complexity to the code. I would like to just use the pattern of "remove and re-add" for the files that need to be updated, and use that procedure for as long as we can.

[2016-05-18 00:03] david4096 opened #1229 "Documentation does not tell how to install from source"
Where should we document how to install from source? installation.rst is already a bit confusing, but it is a common use case to build from source during development `python setup.py install`. Perhaps in `development.rst`?

[2016-05-18 00:36] kozbo opened #1230 "Create python client library that is independent from the reference server codebase"
A python client library for the GA4GH APIs would be usable for accessing any GA4GH compliant servers.  It could also be used for quickly prototyping python applications that sit on top of the API. Many people will be interested in this. Our current library comes with the reference server but there is no reason to link the two. This library should be a separate deliverable in the PyPi build. This i

[2016-05-18 00:39] kozbo commented on #1230
Note that this issue came from a request from David Glazer in our scientific advisory board meeting.

[2016-05-18 00:42] kozbo commented on #1147
@jeromekelleher ok, I am convinced by both you and the two guys that sit next to me :-) @macieksmuga is doing a review

[2016-05-18 00:45] kozbo commented on #1011
@bioinformed Any progress on this?

[2016-05-18 01:10] kozbo commented on #1216
Do we want to deal with the larger problem of upgrading as part of this issue? To quote @diekhans, we don't have to worry about upgrade/backwards compatibility until we get out of Alpha. That said, I think we need a thought-out plan for how we will handle it once we do get to beta.

[2016-05-18 01:24] kozbo commented on #1161
Also, in a related note, we found that the Sequence Annotations files needed to have www-data ownership when running under apache
"""
datasets/1kgenomes/sequenceAnnotations:
-rwxrwxr-x 1 www-data    www-data         32768 May 17 17:35 gencode_v24lift37.db-shm
-rwxrwxr-x 1 www-data    www-data             0 Apr 20 13:58 gencode_v24lift37.db-wal
"""

[2016-05-18 01:28] kozbo commented on #1134
All times are in ms.  I think that the failures are due to http requests munging due to overload, though I will let @david4096 postulate on that.  We are currently working on a more complete performance test suite. A more extensive load test will follow once we have that framework in place.

[2016-05-18 07:04] jeromekelleher commented on #1210
I think this comment was intended for another thread @david4096 --- the link above is looping back to this issue.

[2016-05-18 07:08] jeromekelleher commented on #653
I'm happy to close this as we've moved on a long way from this point now.

I notice the link above points to one of your repos @david4096 --- is there an official GA4GH repo for this? We should have one, it's a great documentation/developer tool that anyone should be able to deploy against any GA4GH server.

[2016-05-18 07:10] jeromekelleher commented on #1185
I agree @kozbo, we should stick with remove-and-readd for now. It's only a matter of time before users will complain though, as removing and readding 10K readgroupsets just so you can change the name or ncbiTaxonId of a reference set is pretty user-unfriendly.

[2016-05-18 07:13] jeromekelleher commented on #1229
I think ``development.rst`` is the place for this all right. We should try to keep the installation docs as simple as we can, and it's already pretty confusing (as you say).

[2016-05-18 07:19] jeromekelleher commented on #1230
OK, but this is not a trivial change and it will take time and disrupt development. I really don't see what we gain from this disruption: right now, the client can be used by anyone:

[code]

Splitting up our packages will result in _exactly_ the same user experience. The only difference is that they'll pull in a few more dependencies at the moment. So, why do we want to make this a priority? I'm

[2016-05-18 08:09] jeromekelleher commented on #1230
See #355 and #785 for previous discussion on this topic.

[2016-05-18 08:11] jeromekelleher commented on #1216
No, I don't think we need to worry about upgrading in any formal sense, just keep this issue in the back of our minds as we're releasing.

[2016-05-18 08:17] jeromekelleher commented on #1134
Thanks @kozbo, that sounds good. We should try to build in some more reporting about the nature of these errors. I think we need more information on what's happening here.

[2016-05-18 18:07] kozbo commented on #1230
Agreed that this issue has been discussed in detail in other issues, especially #785 but this one splits out the client library request from the more general request to rename the pypi package. The arguments made for the stand-alone client library are still valid.

I wrote this issue because I see this is a key deliverable for the project, though it is not high priority at this point. I would like

[2016-05-18 18:14] david4096 commented on #653
@jeromekelleher Not yet, and I agree! I expect that after we migrate to protocol buffers we will automate some part of generating API descriptions.

[2016-05-18 18:31] david4096 commented on #335
It appears AWS reads support is acceptable. Remote VCF and FASTA still have a few problems. I would like to close this issue and continued detailed discussion of the VCF issues [here](https://github.com/ga4gh/server/issues/1210) and FASTA [here](https://github.com/ga4gh/server/issues/1162). Objections?

[2016-05-18 18:32] david4096 commented on #1210
Thanks @jeromekelleher linked properly now!

[2016-05-18 18:38] saupchurch opened #1232 "enhance ENCODE RNA downloader"
1) improve compatibility with sql repo manager
2) parse and process more of the metadata available from ENCODE DCC

[2016-05-18 19:49] jeromekelleher commented on #653
OK, I'm going to close this issue then as we're decoupling this from the ref server.

[2016-05-18 19:50] jeromekelleher commented on #335
Yes, good call @david4096; closing.

[2016-05-18 19:50] #335 closed

[2016-05-18 22:39] david4096 commented on #1205
Can we close via https://github.com/ga4gh/server/pull/1228?

[2016-05-18 23:02] david4096 commented on #1105
I believe this specific error logging case is covered by:
https://github.com/ga4gh/server/pull/1154

[2016-05-19 00:37] david4096 commented on #1216
Given the additions to the administration documentation and ontologies PR awaiting merge, is there anything else blocking a release?

[2016-05-19 07:47] jeromekelleher commented on #1216
No, I don't think so. Lets try and get them in and push the button!

[2016-05-19 08:00] jeromekelleher commented on #1205
I think so. There's still work to be done, but #1228 should bring us a long way towards useful documentation.

[2016-05-19 16:31] #1206 closed

[2016-05-19 16:50] #1205 closed

[2016-05-20 08:03] #1192 closed

[2016-05-20 10:57] jeromekelleher commented on #1223
Fixed in #1225.

[2016-05-20 10:57] #1223 closed

[2016-05-20 14:10] jeromekelleher commented on #1147
Closed by  #1225.

[2016-05-20 14:10] #1147 closed

[2016-05-20 14:16] jeromekelleher commented on #1216
OK, I think we're ready to tag 0.3.0 once #1236 has been merged. Over to you @kozbo, @david4096!

[2016-05-20 14:49] jeromekelleher commented on #1216
Ugh, just realised we need release notes... Can't tag quite yet.

[2016-05-20 15:44] kozbo commented on #1216
@jeromekelleher Would you like me to draft up some release notes for 0.3.0?

[2016-05-20 16:00] jeromekelleher commented on #1216
Yes please @kozbo! We need a PR on ``docs/status.rst`` with the notes before we can tag.

[2016-05-23 23:54] david4096 opened #1241 "Variant annotation search by reference ID"
Variant annotation supports searching by referenceName and referenceId. Currently, only search by referenceName is supported.

[2016-05-24 00:11] david4096 commented on #1216
Here is a documentation only PR that you may want to include as well: https://github.com/ga4gh/server/pull/1239.

[2016-05-24 00:56] hershman commented on #83
At first glance [pysam seems to support writing vcfs](http://pysam.readthedocs.io/en/latest/usage.html#working-with-vcf-bcf-formatted-files).  What capabilities are blocking this issue?

[2016-05-24 01:05] haussler commented on #83
So wonderful you are doing VCF roundtrip testing!!

On Mon, May 23, 2016 at 5:56 PM, Steve Hershman <notifications@github.com>
wrote:

[2016-05-24 08:00] jeromekelleher commented on #83
I don't think there's anything much blocking progress here @hershman, it's just slipped down our priority list. Is this something you're keen on using? I'm happy to provide some pointers if you feel like doing a little coding!

[2016-05-24 08:13] jeromekelleher commented on #1241
I didn't realise this was in the schemas... Not sure I agree with having two options for specifying references. I guess it's fine if they are clearly documented as mutually exclusive. In any case, we should definitely implement this, since it is in the schemas.

Is this included in the compliance tests?

[2016-05-24 08:32] jeromekelleher commented on #1216
Version 0.3.0 released and pushed to pypi.

[2016-05-24 08:32] #1216 closed

[2016-05-24 15:08] kozbo commented on #1216
Awesome @jeromekelleher

[2016-05-25 14:37] jeromekelleher commented on #1210
OK, after some discussion on https://github.com/samtools/htslib/issues/380, it looks like the best thing to do is temporarily disable support for remote VCFs in the repo manager. This can be done by just checking to see if the file is remote, and throwing an error.

[2016-05-26 01:16] diekhans commented on #1230
this is also a request from members of our SAB...

Kevin Osborn <notifications@github.com> writes:

[2016-05-26 02:00] hershman commented on #83
Yes @jeromekelleher I would like to use a ga2vcf tool and am keen to code (including roundtrip testing)!

[2016-05-26 07:39] jeromekelleher commented on #83
That's great news @hershman! You should be able to get up and running quickly by looking at the ``VcfConverter`` class in ``ga4gh/converters.py``. To run this in development use ``python ga2vcf_dev.py``. Ping me here or via email if you hit any issues.

[2016-05-27 16:57] andrewjesaitis commented on #851
This is done. @jeromekelleher, you can close.

[2016-05-27 16:57] andrewjesaitis commented on #704
Since this was merged, it can be closed as well.

[2016-05-27 16:58] #851 closed

[2016-05-27 16:58] #704 closed

[2016-05-27 18:19] kozbo commented on #26
This effort is being tracked over [here](https://github.com/BD2KGenomics/ga4gh-integration/issues/17) I did not create a Beacon endpoint in the client lib, but rather created a stand alone service that would work as an add-on to any GA4GH server. I will post code soon, just working out consistency with the current beacon structures spec.

[2016-05-27 18:57] kozbo opened #1247 "Link to bioapi examples in the documentation"
We are starting to collect a number of different sets of sample code. We have a number of iPython notebooks and we have at least one visualization (planning to have more). We should have a page that gives a TOC of our example code with a brief explanation of each example to facilitate other programmers.

Should this be in our [Development](https://github.com/ga4gh/server/blob/master/docs/developme

[2016-05-31 08:15] jeromekelleher commented on #1247
Code samples are a great idea @kozbo. I don't think they should be in the Development section of our docs though, as these are intended for developers of the reference implementation, not client side developers using the API.

I guess the simplest thing to do for now is put these together in their own page? Wiki is good too, whatever works out the easiest.

[2016-05-31 20:54] kozbo commented on #26
@jeromekelleher shall we close this issue and track progress in the issue in BD2KGenomics/ga4gh-integration?

[2016-06-01 07:58] jeromekelleher commented on #26
Good idea @kozbo, closing.

[2016-06-01 07:58] #26 closed

[2016-06-02 15:46] jeromekelleher opened #1252 "Client API docs broken by protobuf"
Currently, we have nice documentation for the client API derived directly from the Avro docs:

http://ga4gh-reference-implementation.readthedocs.io/en/stable/api.html#types

This works by taking the documentation comments from Avro, assigning them the docstrings for each type, and using Sphinx to automatically generate the documentation. It's not perfect, but it's a lot better than maintaining a s

[2016-06-02 16:10] diekhans commented on #1252
Extraction of documentation from protobuf is going to be done before
the project is completely.

If you have special needs, let l-shift know.

Jerome Kelleher <notifications@github.com> writes:

[2016-06-02 16:37] #711 closed

[2016-06-02 16:55] jeromekelleher opened #1253 "Add support for codecov"
Codecov is excellent, we should use it:  https://codecov.io/

Adding support should be a minor tweak to .travis.yml.

[2016-06-02 17:17] kozbo commented on #1102
What do we need to do to move this design forward? I see this as being key to wider adoption of the ref server. I think there will be some users of the server who will want higher speed access to indexed data than we can provide with our current file-backed approach. There will also be those who do not want to do an ETL on their data (due to space limitations) and are fine with the current perform

[2016-06-02 17:22] jeromekelleher commented on #1102
This is part of the ongoing SQL usage refactor @kozbo, I'm working on it...

[2016-06-02 17:22] diekhans commented on #1102
Step #1: documented goals, requirements, and use cases.

Kevin Osborn <notifications@github.com> writes:

[2016-06-02 17:26] jeromekelleher commented on #1102
To clarify, I'm working on the 'plugability' part of this, not the actual implementations. A key goal of the refactor is to enable simple polymorphism among data sources like VariantSet, so that we can have different types of VariantSet coexisting within the same repository.

[2016-06-02 22:31] kozbo commented on #1102
Thanks for the clarification @jeromekelleher and sorry that I missed the connection with the sql refactor.

Per @diekhans I have started a design document for this effort [here](https://docs.google.com/document/d/134IkqA964_Sob356rn5CEuBuK8667ILCE6QJ_T53f0s/edit?usp=sharing)

[2016-06-03 01:15] #1204 closed

[2016-06-06 11:58] jeromekelleher opened #1256 "assemblyId argument to ``referencesets-search`` CLI ignored"
When we pass the ``--assemblyId`` argument to the  ``referencesets-search``  command it is not passed on to the server.

[2016-06-06 17:50] saupchurch commented on #1227
fixed in #1231

[2016-06-06 22:24] rudyzhou2 opened #1257 "Current status of OIDC support for ga4gh_server and ga4gh_client"
Hi ga4gh devs,

I am currently trying to implement ga4gh server and want to run the server with some degree of security, so I was wondering whats the current status of the OIDC implementation for both ga4gh server and ga4gh client since the documentation is very brief?

Thank you!

Rudy

[2016-06-08 12:39] jeromekelleher commented on #1257
The status of OIDC is that it is fully implemented, but hasn't been tried out in a deployment situation yet. The development work was done professionally, and it's well tested, so we're fairly confident it's correct. There may well be some rough edges that occur though, as we haven't had any feedback from a deployment situation.

The documentation should cover how to set up the server using Goole

[2016-06-08 14:24] jeromekelleher opened #1260 "snake_case the client API"
The client API is currently an inconsistent mixture of snake_case and camelCase. This should be fixed.

[2016-06-08 16:53] rudyzhou2 commented on #1257
Hi Jerome,

We are looking to deploy ga4gh and currently I have setup an internal demo which works great (except no security).

Unfortunately, our research center do not allow use of external authentication services such as Google, and we dont currently have an OIDC compatible Identity Provider yet... so I was looking to see whether you guys had any deployment experience using OIDC services other

[2016-06-08 20:49] andrewjesaitis commented on #1145
This was merged in PR #1246  and can be closed.

[2016-06-08 23:14] andrewjesaitis commented on #1176
I'm working on this. Pretty much have it finished (9f3df32c5e04b9b47fbbe21bd54fd373bbced3fe), just need to test it a bit more.

[2016-06-09 07:51] jeromekelleher commented on #1176
Great, thanks @andrewjesaitis.

[2016-06-09 07:52] #1145 closed

[2016-06-09 07:57] jeromekelleher opened #1261 "OIDC documentation insufficient"
The documentation for setting up OIDC authentication is fragmentary and insufficient. We should have a top-level page dedicated to authentication, where we clearly explain how it all works, as well as taking the user through server configuration and client-side usage.

See #1257 for discussion.

[2016-06-09 08:04] jeromekelleher commented on #1257
That sounds like a great plan @rudyzhou2, please let us know how you get on. Apologies for the lack of documentation --- up to now, we've had no real demand from users for this feature, and so it has fallen off our radar a bit. Unfortunately, we're all tied up working on other parts of the code right now, so I can't see the docs being updated in the short term. However, I've opened an issue on the

[2016-06-09 08:08] #715 closed

[2016-06-09 16:44] david4096 commented on #1261
Related #992

[2016-06-09 22:53] rudyzhou2 commented on #1257
Great! Thanks for the update jerome! I will report on the ticket regarding my findings!

[2016-06-14 14:45] jeromekelleher opened #1264 "VariantFormatterMixin broken by protobuf"
The VariantFormatterMixin in the CLI client no longer prints one record per line, as protobuf ListValues print over multiple lines. Fix the output so that we can see info records in the output and each variant returned corresponds to one line.

[2016-06-15 12:50] jeromekelleher opened #1265 "prevProgramId broken in readGroup.program"
The output for the prevProgramId field is not working as intended. Right now we get
[code]
from our example BAMs.

It seems like the CL field is not being parsed properly and PP is being missed.  This is probably either a malformed BAM or a issue with pysam/htslib.

[2016-06-16 22:09] david4096 opened #1268 "Process schemas assumes directory structure"
When running in various environments we should not assume the relative directory of schemas versus the server. As suggested by Gabriel, we should just accept an explicit path to the schemas as this is more clear and reliable.

`scripts/process_schemas.py`

        script_path = os.path.dirname(os.path.realpath(__file__))
        server = os.path.realpath(os.path.join(script_path, ".."))
        sc

[2016-06-16 22:18] diekhans commented on #1268
A relative path is a reasonable default, as this is common
practice.  However it should be easily overridden with an
explicit check and clear error message on how to specific it if
if it's not there.

David Steinberg <notifications@github.com> writes:

[2016-06-17 07:52] jeromekelleher commented on #1268
I agree we should take the schema path as a mandatory positional argument to the script and be done with it. We shouldn't need any path expansion if we do this.

[2016-06-19 16:06] #1176 closed

[2016-06-21 02:26] dfornika opened #1270 "ga4gh-example-data-v4.3 not available"
Latest docs suggest downloading v4.3 of the example data, but it doesn't seem to be available.

http://ga4gh-reference-implementation.readthedocs.io/en/latest/demo.html

[code]

[2016-06-21 08:48] jeromekelleher commented on #1270
Thanks for this @dfornika, the file has been uploaded and should be available now.

However, unless you're working from the current version in git master, you should probably be working from the stable docs branch:

http://ga4gh-reference-implementation.readthedocs.io/en/stable/

Hopefully our on disk data structures will be stabilising soon, and we won't need to update the example data so often.

[2016-06-21 15:38] dfornika commented on #1270
Thanks.

[2016-06-21 15:38] #1270 closed

[2016-06-21 17:32] kozbo opened #1271 "Add release notes for the protocol buffer support release"
@jeromekelleher shall we make this 0.3.1?

[2016-06-22 08:43] jeromekelleher commented on #1271
Yeah, 0.3.1 seems like the right version. From an outside perspective, the changes are fairly minor so it doesn't warrant a new major version.

[2016-06-23 16:27] kozbo commented on #1271
closed by #1272. Any reason to postpone the release @jeromekelleher?

[2016-06-23 16:27] #1271 closed

[2016-06-23 19:34] jeromekelleher commented on #1271
No, I'll crank out the release tomorrow @kozbo.

[2016-06-27 18:04] alexanderDoria opened #1274 "error 500 when accessing features/search"
`{"featureSetId":"WyIxa2dlbm9tZXMiLCJnZW5jb2RlX3YyNGxpZnQzNyJd",
"start":3864,
"end":11592,
"pageSize":1,
"parentId":"",
"featureTypes":[
   "gene"
],
"referenceName":"chr1"}`

[2016-06-27 19:30] cmdcolin commented on #1274
I'm was seeing 404 on api requests (/variants/search) to http://1kgenomes.ga4gh.org/

[2016-06-27 20:25] kozbo commented on #1274
@cmdcolin We just upgraded the 1kgenomes server to the protobuf version [here](https://github.com/ga4gh/server/releases/tag/0.3.1) As part of that effort we had to re-import all of the data. This changed all the hash ids so you may be running into a problem with trying to access a stale id. That is just a guess. If that is not your problem then please post the exact query you are making and we wil

[2016-06-27 20:26] Arc39 opened #1275 "Broken Links to schemas on the Docs>API Overview"
https://ga4gh-schemas.readthedocs.io/en/latest/api/index.html
All links to schemas through here are broken.

[2016-06-27 20:43] cmdcolin commented on #1274
@kozbo gotcha. I had some inkling that it might be related to this 500 error, but i'll recheck hash ids. thanks!

[2016-06-27 20:45] kozbo commented on #1274
We had a permissions issue on one of the directories holding the data. Added 777 permissions to the directory holding the gencode annotations file. Original error should be fixed. @cmdcolin Please open a new ticket if you are still getting a 404 error.

[2016-06-27 20:45] #1274 closed

[2016-06-28 00:59] david4096 commented on #1275
Thanks @Arc39 moving this over to schemas! https://github.com/ga4gh/schemas/issues/643

[2016-06-28 01:08] #1275 closed

[2016-06-30 04:50] alexanderDoria opened #1276 "snake case required on featureSetId"
when searching for features, featureSetId is unavailable due to incorrect casing ([line 362](https://github.com/alexanderDoria/server/blob/master/ga4gh/client.py))

[2016-06-30 16:01] kozbo commented on #1276
@alexanderDoria - can you add a little more contextual information to this report? A link to the file and/or a code fragment will save time. In general, more information is better.

[2016-06-30 21:38] alexanderDoria commented on #1276
I'm working on it right now

[2016-07-07 14:20] jeromekelleher opened #1281 "Malformed docs for getBioSample and getBioSample in client library."
See http://ga4gh-reference-implementation.readthedocs.io/en/latest/api.html#client-api

[2016-07-07 19:43] david4096 commented on #1276
Closed with #1278

[2016-07-07 19:43] #1276 closed

[2016-07-07 20:07] #1281 closed

[2016-07-08 13:46] dcolligan opened #1284 "tests/data/repo.db not tracked"
Trying to get the tests up and running; got an error like this on a lot of the tests because `tests/data/repo.db` is not a tracked file and therefore not present on a new install:

[code]

[2016-07-08 13:52] jeromekelleher commented on #1284
You need to run ``scripts/build_test_data.py`` --- we got rid of the checked in DB as it was causing problems. It's up to devs to keep their test DB up to date.

Welcome back!

[2016-07-08 13:58] dcolligan commented on #1284
Thanks!

I guess we can close this then.

[2016-07-08 13:58] #1284 closed

[2016-07-08 14:41] dcolligan commented on #1257
Seems like this ticket was opened to ask a question that has been answered... objections to closing?  If there are problems that come up additional, more specific issues can be opened.

[2016-07-08 15:27] jeromekelleher commented on #1257
No objections from me; what do you think @rudyzhou2?

[2016-07-08 15:34] rudyzhou2 commented on #1257
No problems! I am happy to report that I almost got the full setup going with LDAP connecting to OIDC and authenticating against ga4gh in a docker setup, just trying to figure out which proper callback URL to use since the documentation one does not work...

[2016-07-08 16:34] dcolligan commented on #1257
Cool.  Closing...

[2016-07-08 16:34] #1257 closed

[2016-07-08 18:29] david4096 commented on #1119
@jeromekelleher have you addressed this elsewhere, can we close?

[2016-07-08 18:30] #1090 closed

[2016-07-08 18:31] david4096 commented on #1090
Closed with https://github.com/ga4gh/server/pull/1279

[2016-07-08 18:35] david4096 commented on #996
Closed with https://github.com/ga4gh/server/pull/1267

[2016-07-08 18:35] #996 closed

[2016-07-08 18:35] david4096 commented on #985
Closed with https://github.com/ga4gh/server/pull/1267

[2016-07-08 18:35] #985 closed

[2016-07-08 19:07] david4096 commented on #1265
This is a bug when converting from SAM to BAM using pysam, which is done in `prepare_compliance_data`.

[code]

As you can see the PP tag has been shuffled into the CL field.

[2016-07-08 19:16] david4096 commented on #785
+1 on making the namespace easier to use for others

[2016-07-08 19:19] david4096 opened #1286 "Deprecate CLI client"
The CLI client doesn't offer much functionality other than, it works! I would argue for deprecating the CLI client to improve long term maintenance, since it doesn't offer any functionality to the rest of the server it could be moved to a separate module. If it is identified as a priority by the user base to provide a CLI client we can respond by adding methods there, but they should not be blocki

[2016-07-08 22:00] diekhans commented on #1286
Conceptually, yes, separate git modules makes sense.  However,
it's low-priority, as there are no other implementations to work
against.

If it's useful, it can stay where it is until the need is
demonstrated to split it out. It will still have to be
maintained no matter where it is in git.  If it's not useful, it
should just be deleted and forgotten, not moved to another
repository.

David Steinb

[2016-07-08 23:28] david4096 commented on #833
@sarahhunt To generate the test data would you run SIFT over the variants in a VCF and then introduce those values under a new key in the `info` for the variant in the VCF? Thanks for your help!

[2016-07-09 16:11] jeromekelleher commented on #1286
I disagree with this. The CLI client is a very useful development utility, and is the only simple way of running client commands against a server.  It is a central part of my development methodology, and I see no good reason to remove it.

I'm going to close this issue to avoid having it hanging around. Please reopen it if you think there is more to discuss @david4096.

[2016-07-09 16:11] #1286 closed

[2016-07-12 10:45] jeromekelleher commented on #1119
Yes, let's close this, thanks.

[2016-07-12 10:45] #1119 closed

[2016-07-12 10:47] jeromekelleher commented on #1265
This happens more widely that just converting from SAM I think. I'm guessing that the original header in the 1000 Genomes file isn't correctly tab delimited, and there's not much we can do about it.

[2016-07-12 14:03] sarahhunt commented on #833
@david4096 - sure I can have a look at this, but it will be in a couple of weeks.

[2016-07-12 19:00] rudyzhou2 opened #1287 "OIDC Error message: "Not authenticated. Use the key on the server index page."}"
Hi there,

Ive been trying to deploy ga4gh with oidc auth enabled through our own OIDC provider. However, I am encountering the following error after linking ga4gh server with our OIDC auth service

ga4gh server message upon successful oidc auth
[code]

OIDC discovery document
[code]

OIDC debug log
[code]

The callback url used this this case is: http://172.17.0.52/ga4gh/oauth2callback. I have te

[2016-07-12 19:01] rudyzhou2 commented on #1287
ga4gh access log
[code]
ga4gh error log
[code]

[2016-07-13 08:06] jeromekelleher commented on #1287
Thanks for the bug report @rudyzhou2. Is there a particular reason for not using https for the callback URL? I would have thought that using https from end-to-end would be a wise security precaution for any deployment using authentication. Otherwise, isn't it possible for an attacker to steal credentials?

[2016-07-13 09:55] dcolligan commented on #1179
Fixed in #1221

[2016-07-13 09:55] #1179 closed

[2016-07-13 10:10] dcolligan opened #1288 "Feature logic generates nextPageToken at wrong layer"
The features iterator in sequenceAnnotations.py:Gff3DbFeatureSet.getFeatures returns a (feature, nextPageToken) tuple ... it has the nextPageToken logic at the wrong layer of abstraction

Revise the tests in tests/unit/test_data_interface.py appropriately

Discovered in #1219

[2016-07-13 10:15] dcolligan commented on #1213
Fixed in #1219

[2016-07-13 10:15] #1213 closed

[2016-07-13 10:28] jeromekelleher commented on #1288
I wouldn't worry too much about fixing the layering --- the paging logic is being shoved down the stack in the SQL Alchemy refactor. If you see access patterns that are different to the rest of the API please flag them with comments and we'll hopefully make everything more uniform once the refactor has been completed.

[2016-07-13 10:33] dcolligan commented on #1102
Being worked on in #1259

[2016-07-13 10:36] dcolligan commented on #887
Looks like this is not an issue anymore

[2016-07-13 10:36] #887 closed

[2016-07-13 10:38] dcolligan commented on #785
related to #1230

[2016-07-13 10:43] dcolligan commented on #784
@jeromekelleher can you provide an update on the to-dos wrt protobuf or close this issue?

[2016-07-13 10:44] dcolligan commented on #771
This is accomplished.  Closing.

[2016-07-13 10:44] #771 closed

[2016-07-13 10:45] jeromekelleher commented on #784
Closing --- protobuf is done. The only remaining issue is the snake_case and camelCase mess, but this is something we'll just have to work at to fix over time.

[2016-07-13 10:45] #784 closed

[2016-07-13 10:47] dcolligan commented on #769
@david4096 Please close this if #1279 solved this

[2016-07-13 10:56] dcolligan commented on #322
Duplicate of #596

[2016-07-13 10:56] #322 closed

[2016-07-13 11:09] dcolligan commented on #1164
@jeromekelleher can we close this now?

[2016-07-13 16:39] rudyzhou2 commented on #1287
Hi Jerome,

Oauth2 only requires https on the authentication server end, which I have enabled. I could use https for the callback url but Id have to make some changes as to how the containers are exposed to each other and have to setup apache redirect, this is in my plans once I can get basic authentication working.

Upon examining the frontend code, it seems like I am getting issues at oidcCallba

[2016-07-13 16:39] #769 closed

[2016-07-13 16:39] david4096 commented on #769
Thanks @dcolligan

[2016-07-13 16:40] david4096 commented on #1288
@jeromekelleher You should consider using SQL alchemy for the sequence annotations backing, if you are not. I don't believe there's anything that wouldn't be done better that way, instead of our own sqlite backing.

[2016-07-13 16:43] david4096 commented on #1164
Yep, thanks!
[code]

[2016-07-13 16:43] #1164 closed

[2016-07-13 17:03] #1268 closed

[2016-07-13 17:13] jeromekelleher commented on #1288
Yeah, I agree @david4096. I think we should do this once we've changed over the main registry code to the SQL alchemy stuff in master. We can also think about storing other stuff (like variants) in a SQL DB.

[2016-07-13 17:15] jeromekelleher commented on #1287
This sounds good, but I'm curious: why not have it HTTPS only the whole way through? This would seem like the simpler (and safer) option.

[2016-07-13 17:52] rudyzhou2 commented on #1287
Hi Jerome,

Mainly because for dev purposes, I just wanted it to work without worrying about tls and certificates yet. Would be great if you can point me to some documentation on how to add tls to ga4gh server, is it a simple apache redirect from 443 to 80?

Cheers,

Rudy

[2016-07-13 18:52] jeromekelleher commented on #1287
I think it'll be easier to tackle the https now rather than later. First you need to set up Apache to support https. I think I followed [this guide](https://www.digitalocean.com/community/tutorials/how-to-create-a-ssl-certificate-on-apache-for-ubuntu-14-04) to use a self-signed cert. This is a terrible idea for production use, but it's enough to get started with. You might want to look into [let's

[2016-07-14 02:20] rudyzhou2 commented on #1287
o i see, sounds like a great idea! I will implement https and see if resolves the issue.

Upon more debug, it seems like the issue originates  from flask session state != state generated by OIDC provider, raising the not authenticated exception... Unfortunately I have no idea as to why the 2 states different though I could see the first login request from flask generates a random 24 character code

[2016-07-14 12:52] dcolligan opened #1290 "Feature(Sets) tests missing"
There should be tests for feature(sets) where there are not in:

[code]

(see TODOs added in #1289)

[2016-07-14 13:03] dcolligan opened #1291 "scripts/update_data.py data needs to be updated"
The example data that `scripts/update_data.py` pulls does not contain a `repo.db` file.  We should either delete (if this script has been superseded by a better method of creating example data) or update the script.

[2016-07-14 13:19] dcolligan commented on #1291
(it's nice to have an alternative to `scripts/download_data.py` when the NIH, etc. servers are down or slow)

[2016-07-14 16:16] david4096 commented on #1290
+1

[2016-07-18 13:03] dcolligan opened #1293 "Fix features client formatting bug"
Mentioned as a bug here: #1292

[2016-07-18 13:04] dcolligan commented on #1264
Fixed in #1292

[2016-07-18 13:04] #1264 closed

[2016-07-18 17:58] dcolligan commented on #1260
Fixed in #1289

[2016-07-18 17:58] #1260 closed

[2016-07-18 21:03] david4096 opened #1294 "Search Variant annotations bug"
Thanks @Kusdhill!

<a href="https://gist.github.com/Kusdhill/770c2754687a29a199e4e4f44d8691d0" target="_blank">This code</a> gives the following output of ID's:

**cc90d63e3a5b7e14bc2954414b0cf649**
2824090d5107a819c2e29bbc823c09e5
d7179d31c57b5bcc59d34997447ab1b2
c8222b12ee2dafeeaaba593cc44cb3c6
**cc90d63e3a5b7e14bc2954414b0cf649**

As you can see in the output, the second and last ID are the sam

[2016-07-19 17:24] Kusdhill commented on #1294
Here is my proposed fix:

`ann.transcript_effects.append(list(set(newTxE)-set(ann.transcript_effects)))`

I am open to cleaner solutions!

[2016-07-19 19:33] rudyzhou2 commented on #1287
Hi Jerome,

So applying HTTPS did not fix the issue; but I finally ended up finding out the issue after digging through the code and the OIDC providers I have used...

It seems that when everyone says that they are implementing OpenID connect compatible workflows, there is always things that is "non-standard" and causes incompatbility...

I tried 2 OIDC providers so far, Dex from CoreOS (Access to

[2016-07-20 11:02] dcolligan opened #1295 "Installation instructions for OSX don't include build_test_data.py"
The installation instructions for OSX don't include the `build_test_data.py` step, so the tests fail when run.  This can be remedied in one of two ways:

1. Edit the installation instructions to include this step
2. Modify `run_tests.py` such that it checks for a `repo.db` before a test run, creating it if it does not exist

I prefer 2.

[2016-07-20 12:01] diekhans commented on #1295
The short the instructions, the better.

Danny Colligan <notifications@github.com> writes:

[2016-07-20 20:04] diekhans commented on #187
How much work is involved in updating the CLI?  We really need to be able to rev the server
quickly with API changes as we work through use cases.

[2016-07-20 20:08] dcolligan commented on #1295
Fixed in #1296

[2016-07-20 20:08] #1295 closed

[2016-07-20 20:19] dcolligan commented on #644
Fixed in #1297

[2016-07-20 20:19] #644 closed

[2016-07-20 20:44] david4096 commented on #1265
This has been pushed up to pysam and they say they are working on a fix.

[2016-07-20 20:59] david4096 opened #1300 "Add info field to dataset"
The schemas now support adding an `info` field to dataset. https://github.com/ga4gh/schemas/pull/653

[2016-07-20 22:20] kozbo commented on #187
The theory is that we should be able to generate a client directly from the schemas, and that creating a CLI from that should be very easy. I am sure there are some nice python CLI utility packages out there too (like [this](https://pythonhosted.org/pyCLI/)).  So, all is doable given enough time.

[2016-07-21 09:35] jeromekelleher commented on #1287
Thanks for the update @rudyzhou2. This is all a bit disappointing I have to say... do you think we would need to have to explicitly support different OIDC providers and have different code paths for each? Thanks very much for looking in to this and telling us about it!

[2016-07-21 09:36] jeromekelleher commented on #187
I think this would be a lot more work that just updating the CLI by hand. It really is pretty straightforward.

[2016-07-21 09:38] jeromekelleher commented on #1265
Thanks for following this up @david4096, looks like there will be a fix on the next version of pysam.

[2016-07-21 17:20] rudyzhou2 commented on #1287
Hi Jerome,

The current authentication workflow in ga4gh is via OpenID connect, which is giving us issues. Pyoidc seems to support Oauth2 as well so Im probably gonna see if I can rewrite the OIDC ga4gh authentication workflow to use Oauth2 standard instead of OpenID Connect.

The end result should be the same since a random session token generated by ga4gh server will be associated with an access

[2016-07-21 18:37] kozbo opened #1301 "Add release notes for the 0.3.2 alpha release"
This release includes changes for metadata api support and searching features by name and gene_symbol

[2016-07-22 15:41] dcolligan commented on #1256
Fixed in #1298

[2016-07-22 15:41] #1256 closed

[2016-07-22 23:37] rudyzhou2 commented on #1287
Hi Jerome,

I am very happy to report that I finally made some significant progress with regards to ga4gh authentication.

I ended up implementing OAuth2 instead of OpenID Connect workflow with rauth, and it seems to be working on my test flask server, the next task for me is probably to just rewrite the entire ga4gh authentication code to use rauth instead of pyoidc/oic.oauth2. Since the authenti

[2016-07-25 16:26] jeromekelleher commented on #1287
Great, thanks @rudyzhou2! Do you think it would be possible to structure what you're doing as working in parallel with OpenID Connect support rather than replacing it? For example, by having a different callback URL for OAuth2? It would be great if we could merge your work back in so that we can support OAuth2 properly, given that OIDC is such a pain to get working with providers other than Google

[2016-07-25 16:45] rudyzhou2 commented on #1287
Hi Jerome,

This is a great idea! Will make my work modifying the flow significantly easier as well! Will report back once I have a working prototype!

Cheers,

Rudy

[2016-07-25 19:04] #1301 closed

[2016-07-26 01:31] david4096 opened #1304 "Read group getStats checks unset values"
I'm having some trouble loading stats for an `HtslibReadGroupSet` using the `datarepo` because of errors like these.

[code]

It seems like the stats are at both the readgroupset and readgroup level but the `getStats` function expects values to be set on readgroupsets. I added these lines to the instantiation of `AbstractReadGroupSet`:

[code]

[2016-07-26 17:19] #1294 closed

[2016-07-26 20:03] dcolligan commented on #1071
This doesn't seem like an outstanding issue... closing...

[2016-07-26 20:03] #1071 closed

[2016-07-27 21:05] dcolligan opened #1314 "RNA: implement search over all rnaQuantificationSets"
The `/rnaquantifications/search` endpoint, according to the schemas, is supposed to return all `RnaQuantification` objects in all `RnaQuantificationSet`s if the `SearchRnaQuantificationsRequest. rna_quantification_set_id` is empty.  Right now the server returns nothing in this case (see the `TODO` in `rnaQuantificationsGenerator` in `backend.py`).

We haven't implemented this pattern of iterating

[2016-07-27 21:11] saupchurch commented on #1314
If the pattern hasn't been implemented in this way anywhere else then perhaps we should go with consistency in the API.  Since `/variants/search` and `reads/search` require their respective "container" ids to be specified, then `rnaquantifications/search` should do likewise.  I say go with option (2)

[2016-07-28 08:00] jeromekelleher commented on #1314
I definitely prefer option (2).

[2016-07-28 21:57] david4096 opened #1316 "Current read group set generator slow"
Listing read group sets in the 1kgenomes server becomes intractably slow. A more intelligent readgroupset generator function is needed.

[2016-08-01 20:49] david4096 commented on #1288
I think this might need to be fixed sooner as I'm getting a 500 trying to page through results on 1kgenomes now.

[code]

[2016-08-02 14:12] dcolligan commented on #1314
Fixed in #1315

[2016-08-02 14:12] #1314 closed

[2016-08-02 14:12] dcolligan commented on #1314
And #676

[2016-08-02 17:52] dcolligan opened #1319 "Update prepare_compliance_data to use repo manager cli"
`scripts/prepare_compliance_data.py` should just call the repo manager's cli to operate directly on the data files in compliance's `test_dir` instead of duplicating repository code

[2016-08-03 17:15] david4096 opened #1320 "Feature ID array in RNA SearchExpressionLevelsRequest"
When feature groups were removed we added in the ability to search expression levels using a list of feature IDs ([schema](https://github.com/ga4gh/schemas/blob/rna/src/main/proto/ga4gh/rna_quantification_service.proto#L136)). This feature would allow expression levels that match any of the requested feature_ids to be returned. @saupchurch @dcolligan

[2016-08-04 21:07] saupchurch commented on #1320
resoled in #1321

[2016-08-04 21:07] #1320 closed

[2016-08-04 21:12] saupchurch commented on #1122
this is done

[2016-08-04 21:12] #1122 closed

[2016-08-05 15:57] dcolligan opened #1328 "Server tests have gotten a lot slower"
Not sure why, but currently the server tests are taking ~300s for 800 tests to run whereas a couple months ago the tests were taking ~100s for 600 tests to run.

now: https://travis-ci.org/ga4gh/server/builds/150061648
then: https://travis-ci.org/ga4gh/server/builds/120724174

We should investigate what is taking so long and look to optimize.

[2016-08-05 17:21] dcolligan commented on #1328
This run on my local machine was unexpectedly fast (usually it takes ~200s), but here's all the tests, sorted by running time:

After `pip install nose-timer`:

[code]

[2016-08-05 18:22] dcolligan opened #1329 "Development docs out of date regarding protocol buffers"
The development documentation is out of date about using `process_schemas.py`, etc. with regard to protocol buffers.

[2016-08-05 19:48] dcolligan opened #1330 "Expression Level paging does not work"
When searching expression levels, the `next_page_token` of the response is not set correctly.  Indeed, it always is set to empty, regardless of the query.  Therefore, the maximum number of pages returned is always 1.

The reason is `expressionLevelsGenerator` uses `_objectListGenerator` to iterate through the results it returns via `rnaQuantification.getExpressionLevels`.  Unfortunately, `rnaQuant

[2016-08-05 20:39] kozbo opened #1331 "Add https support to the reference server"
request from user:
Hi there

I was wondering if it is possible to add https for http://1kgenomes.ga4gh.org/

The APIs will receive mixed-content errors if requested from an https site over javascript
 -Colin Diesh

[2016-08-05 21:14] dcolligan commented on #1328
Strangely, I find that the tests run about twice as fast if run via `nosetests` directly rather than `run_tests.py` ...

[2016-08-08 08:06] jeromekelleher commented on #1331
This is very easy, once the Apache SSL configuration is done. Just use the same WSGI config options on  the HTTPS instance.

[2016-08-08 22:42] david4096 opened #1333 "Add dataset info field"
To align with schemas: https://github.com/ga4gh/schemas/pull/653

[2016-08-08 22:43] david4096 opened #1334 "Add info to transcript effect record"
To go with https://github.com/ga4gh/schemas/pull/648

[2016-08-09 17:06] dcolligan commented on #1330
Fixed in #1332

There will likely be similar problems with other db-backed data types, so a refactor would probably be a good idea the next time this comes up.

[2016-08-09 17:06] #1330 closed

[2016-08-09 17:23] #1333 closed

[2016-08-09 17:23] david4096 commented on #1333
Duplicate https://github.com/ga4gh/server/issues/1300

[2016-08-09 17:24] #1304 closed

[2016-08-09 17:30] dcolligan opened #1335 "RNA simulator / tests can be improved"
Right now, the RNA simulator methods in `ga4gh/datamodel/rna_quantification.py` are pretty primitive and don't really provide much coverage of scenarios/data that would be interesting to test.

[2016-08-09 17:57] dcolligan opened #1336 "Silence spam output from test_converters"
The only test that spews spam output right now is `tests.unit.test_converters`.  This should be suppressed with `tests.utils.suppressOutput` (now in `rna` branch).

[code]

[2016-08-10 22:53] dcolligan opened #1339 "Add G2P client"
Add client methods for G2P endpoints and also write the associated tests.

[2016-08-11 13:08] dcolligan commented on #1329
Also the protobuf lib should be added to the dev install instructions

[2016-08-12 13:57] dcolligan commented on #1226
Fixed in #1342

[2016-08-12 13:57] #1226 closed

[2016-08-12 14:07] dcolligan commented on #1336
Fixed in #1341

[2016-08-12 14:07] #1336 closed

[2016-08-12 15:22] dcolligan commented on #1339
Fixed in #1344

[2016-08-12 15:22] #1339 closed

[2016-08-12 16:26] dcolligan commented on #937
This has been addressed.  Closing...

[2016-08-12 16:26] #937 closed

[2016-08-12 16:27] dcolligan commented on #939
Fixed in #1344

[2016-08-12 16:27] #939 closed

[2016-08-12 16:32] dcolligan opened #1346 "G2P tests for repo manager"
G2P needs tests for its repo manager methods in `tests/end_to_end/test_repo_manager.py`

[2016-08-15 20:03] dcolligan commented on #1346
Fixed in #1347

[2016-08-15 20:03] #1346 closed

[2016-08-15 21:03] bwalsh commented on #940
@dcolligan I think these comments have been largely resolved #1345

[2016-08-15 21:05] bwalsh commented on #938
@dcolligan I believe this was resolved back in April #1061

[2016-08-15 21:19] bwalsh commented on #941
@dcolligan I believe this has been addressed with #953 and subsequent commits

[2016-08-16 12:04] dcolligan commented on #940
Er, maybe @jeromekelleher was talking about `tests/end_to_end/test_g2p.py` ?

[2016-08-16 12:05] #938 closed

[2016-08-16 12:06] dcolligan commented on #941
I'll defer to @jeromekelleher here.  If it's refactored to his satisfaction we can close this.

[2016-08-17 16:58] kozbo opened #1351 "Add RNA API support to the server"
Implemented by #1258
POST /rnaquantificationsets/search
GET /rnaquantificationsets/{id}
POST /rnaquantifications/search
GET /rnaquantifications/{id}
POST /expressionlevels/search
GET /expressionlevels/{id}

[2016-08-17 17:28] david4096 opened #1352 "Document rnaseq2ga script"
When generating rna quantifications a registry needs to be passed to the script. This process is a bit fragile and should be documented in detail if it is to be used this way. @kozbo

[2016-08-17 18:09] #1351 closed

[2016-08-17 18:10] kozbo opened #1353 "Create RNA release"
Create a tagged release 0.3.3

[2016-08-18 15:53] jeromekelleher commented on #940
Yes, sorry @dcolligan that was a typo. I was talking about ``tests/end_to_end/test_g2p.py``.

[2016-08-18 18:53] david4096 commented on #1241
@dcolligan This is one of the VA features I mentioned in our previous meeting.

[2016-08-18 18:55] david4096 commented on #990
@dcolligan This is one of the VA features I mentioned in our previous meeting.

Variant annotations need to have feature IDs that resolve to an actual feature in the server, and then be filtered by these feature IDs. This requires either changing the way data are loaded into the server, or associating VA sets with feature sets and generating the feature IDs from ensembl identifiers at query time.

[2016-08-22 18:08] kozbo commented on #941
@jeromekelleher bump

[2016-08-22 23:50] dcolligan commented on #940
@jeromekelleher has this been resolved to your satisfaction?

[2016-08-22 23:52] dcolligan commented on #936
There is a basic simulator in the G2P branch now, so this issue can be reconsidered as "G2P needs a better simulator that tests more than main code paths"

[2016-08-23 08:01] jeromekelleher commented on #941
Yes, it's much better now. Closing.

[2016-08-23 08:01] #941 closed

[2016-08-25 22:46] david4096 opened #1359 "Bug In Get RNA Quantification"
When the ID is not present in the map an unhandled exception is thrown.

[code]

[2016-08-26 03:46] Philip-Wu opened #1360 "IndexError: No item with that key"
Hi there

I'm trying to set up my own instance of the ga4gh reference server following the instructions here:

http://ga4gh-reference-implementation.readthedocs.io/en/latest/demo.html

I tried to start up the server using the following command:

`(ga4gh-env) $ ga4gh_server`

But then i got the following errors:

`(ga4gh-env) [root@localhost philip]# ga4gh_server
Traceback (most recent call last):

[2016-08-26 19:34] david4096 opened #1362 "Client sends 0 page size"
When attempting to use the client against another GA4GH server it was found that it defaults to send a pageSize of 0. `{u'pageToken': u'', u'pageSize': 0}` are sent with the first request. This bug caused the client to continually request empty pages.

[2016-08-26 22:21] hurchu commented on #1360
I just had the same error. Any idea?

[2016-08-26 22:30] kozbo commented on #1360
@Philip-Wu @hurchu Which version of the code are you using?

[2016-08-26 22:47] hurchu commented on #1360
Hi Kevin,

I followed the doc step by step from here:
http://ga4gh-reference-implementation.readthedocs.io/en/latest/demo.html

I used the example data from the demo.

Thanks,

[2016-08-26 22:48] kozbo commented on #1360
Yes, I just reproduced the problem. It seems that our repo.db that is packaged with the demo code is out of step. Let me see if I can fix that.

[2016-08-26 22:49] hurchu commented on #1360
Thanks!

[2016-08-27 00:20] kozbo commented on #1360
OK, I created a new tar file for you [here](https://github.com/ga4gh/server/releases/download/data/ga4gh-example-data-v4.4-alpha.tar) This should get you working again. I am afraid I didn't get all the set names to be the same as before so some of the documentation will be a little different, but the test commands should work just fine. Mostly I wanted to get you something to keep you operational.

[2016-08-28 22:27] Philip-Wu commented on #1360
Thanks for making the new data file, but i'm getting a different error. It appears that a directory path has been hardedcoded to **/Users/kosborn/Documents/dev/ga4gh-example-data/so-ex.obo**

The full stacktrace is below:

`(ga4gh-env) [philip@localhost ~]$ ga4gh_server
Traceback (most recent call last):
  File "/home/philip/ga4gh-env/bin/ga4gh_server", line 11, in <module>
    sys.exit(server_mai

[2016-08-28 22:36] Philip-Wu commented on #1360
I copied the directory for ga4gh-example-data to the hardcoded directory /Users/kosborn/Documents/dev and reran the script and now I've finally got the server running.  However, you'll probably want to use a data file that isn't harded to kosborn's user directory when releasing the final version

Cheers

Phil

[2016-08-29 08:53] jeromekelleher commented on #1362
Surely this is a bug in the other GA4GH server? Sending a page size of 0 allows the server to decide what the size of the returned page is, making process slightly less inefficient.

[2016-08-29 17:52] kozbo commented on #940
@jeromekelleher bump

[2016-08-29 20:58] kozbo commented on #1360
Thanks @Philip-Wu yep, that is what I get for trying to rush something out on Friday evening :-) Nice work around. I will take another crack at creating the repo using relative paths, and with names consistent with the demo documentation. Thanks again for your help!

[2016-08-29 23:03] kozbo commented on #1360
OK, I think I have a clean set of demo files now. look [here](https://github.com/ga4gh/server/releases/tag/data) for the file ga4gh-example-data_4.4.tar

Test here looked good, let me know if they work for you as well @Philip-Wu and @hurchu

[2016-08-30 01:17] Philip-Wu commented on #1360
Thanks @kozbo

The new data files did the trick! I can confirm that they're working

Cheers

[2016-08-30 07:55] jeromekelleher commented on #940
Thanks yes, looks good.

[2016-08-30 07:55] #940 closed

[2016-08-30 15:50] kozbo commented on #1360
Great, thanks for testing!

[2016-08-30 15:50] #1360 closed

[2016-08-30 16:32] kozbo commented on #1360
Note for future: used the following to create the new tar ball:
ga4gh_repo init ga4gh-example-data/repo.db
ga4gh_repo add-dataset ga4gh-example-data/repo.db 1kg-p3-subset
ga4gh_repo add-referenceset ga4gh-example-data/repo.db -r ga4gh-example-data/GRCh37-subset.fa.gz --name GRCh37
ga4gh_repo add-ontology ga4gh-example-data/repo.db ga4gh-example-data/so-xp.obo -r -n so-xp
ga4gh_repo add-variantset

[2016-08-30 17:44] kozbo commented on #1359
Fixed by #1364, closing

[2016-08-30 17:44] #1359 closed

[2016-08-30 17:56] kozbo commented on #1232
@saupchurch would you mind elaborating on each of these?
1. Is this referring to the effort to remove the ETL script? Please add some specific goals so that we4 know when we are done :-)
2. Which metadata fields would you like to include?

[2016-08-30 20:55] #1352 closed

[2016-08-31 00:45] kozbo commented on #1353
Release created

[2016-08-31 00:45] #1353 closed

[2016-09-05 04:47] Philip-Wu opened #1365 "ImportError: No module named flask"
Hi,
This is most likely a configuration error on my part, but I'm not sure how to get around it.

I'm following the production installation setup guide found here:

http://ga4gh-reference-implementation.readthedocs.io/en/latest/installation.html#deployment-on-apache

I can get my apache instance running but when I go to visit the page

http://localhost/ga4gh

I get see the following error in my /v

[2016-09-05 05:15] Philip-Wu commented on #1365
I managed to resolve the error by running these commands:

`yum install python-flask
source ga4gh-server-env/bin/activate
pip install flask
pip install flask-cors
pip install humanize
pip install oic
pip install google.protobuf.json_format
pip install protobuf
pip install pysam
`

[2016-09-05 05:15] #1365 closed

[2016-09-06 17:20] kozbo commented on #1365
@Philip-Wu It is possible that Apache is not using your virtualenv when running the ga4gh server, and thus it cannot find the packages that got installed as part of your pip install ga4gh operation. Installing the missing packages into the base environment is one way to work around this problem.

To configure Apache to point to your virtualenv add the following to the WSGIDaemonProcess command:
'p

[2016-09-12 12:41] #1300 closed

[2016-09-12 12:41] dcolligan commented on #1300
Fixed in #1356

[2016-09-13 11:53] dcolligan commented on #1290
Fixed in #1369

[2016-09-13 11:53] #1290 closed

[2016-09-13 13:55] dcolligan commented on #1362
Yeah, this sounds like a non-bug to me... we have `self._defaultPageSize = 100` in `backend.py` which the page size is set to if the client sends a page size of 0.

Closing...

[2016-09-13 13:57] dcolligan opened #1371 "Unify RNA and Feature paging logic"
Right now, the same code is used in the RNA and Feature code in `backend.py` to do paging with a SQL backing store.  Unify these into some class hierarchy.

[2016-09-13 18:26] jpdna opened #1372 "Error when running demo"
I tried following instructions at:
http://ga4gh-reference-implementation.readthedocs.io/en/latest/demo.html
and am getting
[code]

Did I do something wrong?
Thanks!

[2016-09-13 18:29] kozbo commented on #1372
There was a problem with the demo data tar file. It should be fixed, see #1360

[2016-09-13 18:43] jpdna commented on #1372
after removing `ga4gh-example-data` and then extracting `ga4gh-example-data_4.4.tar`
I  get this error
[code]
also didn't work for me with:
ga4gh-example-data-v4.4-alpha.tar

Could you send me the md5 of the tar file that works for you so I can double check that I am using the right one?  Thanks for your help.

[2016-09-13 20:07] kozbo commented on #1372
Clearly I am not a good QA engineer, sigh. I just reproduced your problem. I will get it fixed soon!

[2016-09-13 22:14] kozbo commented on #1372
I have uploaded a new tar file that works on my system. @jpdna Would you mind giving it a try?
https://github.com/ga4gh/server/releases/download/data/ga4gh-example-data_4.5.tar
I will leave this issue open as I still need to update the documentation.

[2016-09-14 11:42] dcolligan commented on #1288
Fixed in #1370

[2016-09-14 11:42] #1288 closed

[2016-09-14 11:45] dcolligan opened #1375 "Fix testSearchFeatures in test_client_json.py"
In #1370 I harmonized the pagination logic of features with the rest of the code base.  This fixed `testSearchFeatures` in `tests/end_to_end/test_client_json.py`.  However, rebasing it on top of the G2P changes re-broke the test.  @bwalsh , could you figure out why the test is failing (it is currently skipped now, of course)?

[2016-09-14 13:19] jpdna commented on #1372
This works - thanks for the quick response @kozbo

[2016-09-14 15:32] reece commented on #635
I noticed that this issue was still assigned to me and open. My reading of the history is that this issue (#635) begat PR #754, which was rejected but spawned issue #768, which was resolved with PR #772.

So, I think this issue is stale. Closing.

[2016-09-14 15:32] #635 closed

[2016-09-14 23:11] bwalsh commented on #1375
@dcolligan  this should fix it.

[2016-09-15 10:17] dcolligan commented on #1375
The test fix part looks good (I suspected it was something to do with ordering).  Someone else will have to comment on the version bump.  Usually it's good to make a PR for each logically distinct issue.

[2016-09-15 17:09] david4096 opened #1379 "G2P Features search bug"
When I post a request to features/search with `name: "*"` using the compliance dataset I get an Internal Server Error.

[code]

[2016-09-16 16:19] #1372 closed

[2016-09-16 16:19] dcolligan commented on #1372
Fixed in #1374

[2016-09-16 17:25] dcolligan commented on #1371
Fixed in #1377

[2016-09-16 17:25] #1371 closed

[2016-09-19 00:45] dcolligan commented on #1375
Fixed in #1376

[2016-09-19 00:45] #1375 closed

[2016-09-19 14:16] dcolligan commented on #1135
@david4096 can I close this?  this is pre-pb and pre-features cleanup

[2016-09-19 15:20] dcolligan commented on #1328
It looks like the coverage is a lot of the slowness... on my machine, nosetests runs 5m46s with flags, 3m18s without them.  Not a lot we can do about that on travis... closing...

[2016-09-19 16:24] david4096 commented on #1135
@dcolligan I don't think we can close based on Jerome's issue, searchFeaturesInDb doesn't throw that exception. The changes you've made may guard against the issue I posted.

[2016-09-19 20:34] david4096 opened #1383 "Add documentation for managing FeaturePhenotypeAssociation Sets"
The configuration needs to be updated for g2p. @bwalsh

https://github.com/ga4gh/server/blob/master/docs/configuration.rst

[2016-09-20 14:07] dcolligan commented on #877
Fixed in #1382

[2016-09-20 14:07] #877 closed

[2016-09-21 01:28] bwalsh commented on #1379
@david4096  just saw this now...

[2016-09-21 01:44] bwalsh commented on #1379
Thanks for raising this.

[2016-09-21 16:41] kozbo commented on #1334
@david4096  #648 is merged. closing

[2016-09-22 20:43] kozbo opened #1387 "incorrect path for the demo tgz file in the documentation"
demo.rst has a typo

[2016-09-26 16:58] Welliton309 opened #1389 "GET /variants/<id> not working with custom data"
I am testing GA4GH API with custom VCF data. The `GET /variants/<id>` method is not workig with this data. I think the problem is my data have many variants with no coverage. I am using the latest development version of this repository. The error code:

[code]

Here a sample of VCF file that I am using:

[code]

_I have truncated the data due to sensible information._

[2016-09-26 18:01] kozbo commented on #1383
Fixed by #1385

[2016-09-26 18:01] #1383 closed

[2016-09-26 18:03] kozbo commented on #1387
PR #1388

[2016-09-26 20:07] kozbo commented on #1389
Hi @Welliton309, I have been looking at this stack trace. It is iterating through the calls for the Variant specified and it has come across an empty element. I am wondering if you get the same error when you use the searchVariants entry point? Note that this function call can be made such that any one (or all) of the calls can be returned. Perhaps we can use this as a way of tracking down the fie

[2016-09-26 20:50] kozbo commented on #1232
Now covered by #1386 (formerly #1368)

[2016-09-26 20:52] kozbo opened #1390 "Repo manager list function does not list RNA information"
The `ga4gh_repo list` command doesn't list out any information for the RNA data that has been added to the repository.

[2016-09-26 23:08] kozbo opened #1392 "Create release for G2P, v0.3.4"
create release notes for the server

[2016-09-26 23:35] Welliton309 commented on #1389
Hi @kozbo, thank you for answering. I did some tests with the custom VCF file. First I tested searchVariants as you suggested.

[code]

The command above works fine and returns 5 variants with no information about any callset (as expected, I guess).

[code]

With the information of one callset, the command works fine too and returns the same 5 variants with information of the calls for the request

[2016-09-27 00:35] kozbo commented on #1389
Thanks @Welliton309, that looks to be some very useful testing. We will see if we can reproduce the problem here. Our software is guilty until proven innocent!

[2016-09-27 17:26] dcolligan commented on #1390
Fixed in #1391

[2016-09-27 17:26] #1390 closed

[2016-09-27 18:34] dcolligan opened #1393 "Suppress RDFLib version output"
RDFLib is printing this message a lot (I'm seeing it now in the repo manager tests):
[code]
Find the source of this output and silence it.

[2016-09-27 19:51] dcolligan commented on #1393
Looks like it comes just from importing rdflib
[code]

[2016-09-27 20:57] kozbo opened #1394 "Rename BioSample to Biosample"
This is to go with schema change https://github.com/ga4gh/schemas/pull/697

[2016-09-29 12:32] dcolligan opened #1400 "Update docs with new data storage scheme"
To go along with #1399, the docs (especially configuration) need to be updated to reflect the repo manager is operating on a directory (the data repository) rather than a file (the registry).

[2016-09-30 01:01] david4096 commented on #1379
Thanks for looking into it @bwalsh! Considering this fact, we might reconsider the notion that regular expressions can be implemented neutrally.

That being said, what is the expected behavior? Should we guard for it and move on?

[2016-09-30 01:18] #1387 closed

[2016-09-30 01:27] david4096 commented on #1334
Let's keep this open unless the feature is implemented in the server 👍

[2016-10-03 11:32] dcolligan commented on #1400
We decided not to merge this for now... we can reopen this issue when it becomes relevant again

[2016-10-03 11:32] #1400 closed

[2016-10-03 11:35] dcolligan commented on #1393
Comes from this line: https://github.com/RDFLib/rdflib/blob/master/rdflib/__init__.py#L88

[2016-10-03 12:20] dcolligan commented on #847
Fixed in #1381

[2016-10-03 12:20] #847 closed

[2016-10-04 15:35] bwalsh opened #1407 "G2P: client <--> frontend path mismatches"
When using the client, there are mismatches between the client and front end

ga4gh.client:404 {"errorCode": 523835337, "message": "The request path was not found"}

[2016-10-04 23:11] kozbo opened #1410 "Update development doc to clear a TODO"
replace the todo with a pointer to where one can find instructions for installing on Mac OS X

[2016-10-05 12:24] #1407 closed

[2016-10-05 12:24] dcolligan commented on #1407
Fixed in #1408

[2016-10-05 17:16] bwalsh opened #1413 "G2P: feature_ids in FeaturePhenotypeAssociation not obfuscated"

[2016-10-05 20:55] Welliton309 commented on #1389
I am wondering if this error might be related to the data type determined for the `genotype` attribute of the `Call` class, which is `int32` ([reference](https://github.com/ga4gh/schemas/blob/master/src/main/proto/ga4gh/variants.proto#L121)). In the case of my custom VCF data, the genotype information are represented as `./.` when there is no coverage to call the variant.

[2016-10-07 18:56] david4096 opened #1417 "Replace process schemas"
Process schemas wraps the `protoc` call that generates the python bindings from schemas. The recent additions of API annotations caused this process to break. I suggest we remove process schemas and publish the compiled protoc classes as part of ga4gh schemas with all of the proto in it's own module that can be imported. In the meantime it should be possible to manually import the generated proto.

[2016-10-07 21:43] dcolligan commented on #1417
Yes, I suggest we make packaging the schemas a priority.

These branches may be of use in the interim:
https://github.com/dcolligan/schemas/tree/elgoog
https://github.com/dcolligan/schemas/tree/elgoog_ga4gh_client

[2016-10-10 23:15] dcolligan commented on #1389
pysam's `VariantRecordSample.allele_indices` [doc](https://github.com/pysam-developers/pysam/blob/68e966a158e3c9ee1bacb3460b71e820a97324e5/pysam/cbcf.pyx#L2921) says: "allele indices for called genotype, if present.  Otherwise None"

So it looks like what is happening is that pysam is returning (at least) one `None` value from the `allele_indices` invocation.  protobuf can't handle the None value,

[2016-10-11 05:05] kozbo opened #1419 "Add documentation on how to install and use the ga4gh_client"
Add a section in the Demo documentation on how to install and use the ga4gh_client

[2016-10-11 19:18] dcolligan commented on #1419
Fixed in #1420

[2016-10-11 19:18] #1419 closed

[2016-10-11 19:31] dcolligan commented on #1293
Fixed in #1403

[2016-10-11 19:31] #1293 closed

[2016-10-11 20:48] #1329 closed

[2016-10-11 23:14] #1413 closed

[2016-10-12 18:15] david4096 opened #1422 "Import client as module"
To satisfy this issue, the shared code between the server and client should be removed. This may require changing how the server is namespaced.

[2016-10-12 18:42] #1410 closed

[2016-10-12 18:49] kozbo opened #1423 "remove-rnaquantificationset does not work"
ga4gh-admin@ga4gh-demo:/srv/ga4gh0_6_0a8pre$ python repo_dev.py remove-rnaquantificationset repo.db 1kgenomes 1kg-rna
Are you sure you want to delete the RnaQuantificationSet '1kg-rna'? [y|N] y
repo_dev.py: error:

An internal error has occurred.  Please file a bug report at
https://github.com/ga4gh/server/issues
with all the relevant details, and the following stack trace.

Traceback (most recent

[2016-10-14 17:24] dcolligan commented on #1423
Fixed in #1426

[2016-10-14 17:24] #1423 closed

[2016-10-19 20:15] bwalsh opened #1427 "G2P: PhenotypeInstance.qualifier not populated"
phenotypeInstance.qualifier is not populated

https://github.com/ga4gh/schemas/blob/master/src/main/proto/ga4gh/genotype_phenotype.proto#L90

[2016-10-21 22:06] kozbo opened #1428 "Remove old docker image paths from installation.rst"
There are multiple places int he installation.rst doc that refer to the old afirth/ga4gh-server:latest docker instance. This needs to be updated to use4 ga4gh/ga4gh-server:latest like in the notes [here](https://github.com/BD2KGenomics/ga4gh-integration/wiki/Setting-up-data-for-a-docker-instance)

[2016-10-22 00:26] kozbo opened #1430 "second call to add-rnaquantification fails with db access error"
A script such as this will fail on the second call:
[code]

[2016-10-22 16:33] mwvaughn opened #1431 "1kg genomes example could be enhanced to replicate 1kgenomes.ga4gh.org"
For people who are just getting started with this platform, it would be great to have the dots connected a bit more on how to load in the rest of the data sets that are active at http://1kgenomes.ga4gh.org/. For instance, the `functional-annotation` and `cgd` and `1kg-rna` data sets are present in the demo but not documented. I think I know what to do, but it's not that clear.

[2016-10-22 16:37] mwvaughn opened #1432 "Data set metadata could be more discoverable via the web app"
Related to the issue I filed about the docs for building one's own 1kg server, has the project considered making the metadata about data sets available via hyperlinked views or other means? Since only the machine-readable keys describing the data sets show up in the demo server, it's not apparent what they are.

[2016-10-22 16:42] mwvaughn opened #1433 "Proposal: Make Uptime and Configuration hideable via config variable"
The Uptime and Configuration fields aren't informative to people who are just kicking the tires with consuming the API. I propose making them hideable via `DISPLAY_UPTIME` and `DISPLAY_CONFIG` variables (or equivalent). I'm willing to do the work if this is acceptable.

[2016-10-22 21:55] kozbo commented on #1433
Sure @mwvaughn, give us a PR to review :-)

[2016-10-24 19:01] saupchurch commented on #1430
running a similar script locally completes with no access issues - exploring the options did uncover a problem with default naming causing all the quantifications to have the same name as thus fail on the uniqueness check

[2016-10-25 00:22] david4096 commented on #1431
Thanks @mwvaughn  https://github.com/ga4gh/server/blob/3af343b5321238e1a7a0c6aee9178270ba996b2b/docs/demo.rst#host-the-1000-genomes-vcf needs to be updated to reflect adding the `cgd.ttl`, variant annotations, and RNA.

[2016-10-25 00:25] david4096 opened #1436 "Skip featureId lookup optionally"
When adding an RNA quantification to an RNA quantification set, the ReadGroupSet and FeatureSet arguments should be optional via a flag.

[2016-10-25 00:33] david4096 commented on #1433
@mwvaughn We are currently abusing the landing page feature on `1kgenomes.ga4gh.org`, and having display options would be great! There is an [effort](https://github.com/david4096/ga4gh-catalog) that provides an React based interface into the data served, which is perhaps a better place to start when thinking about presenting your data to the world.

[2016-10-25 03:03] david4096 commented on #1432
Hi @mwvaughn! There is active work on a catalog for the contents of a GA4GH server, which helps to make the data more tangible. Currently, the data model for datasets allows one to exchange arbitrary information in the `info` field, however, this is intended as a placeholder as a standard metadata model for datasets grows.

For example, for the sequence annotations data model, GA4GH provides a `so

[2016-10-25 03:11] david4096 commented on #1379
Hey @bwalsh let me know if you think you'll have time to write a guard for this.

[2016-10-25 03:14] david4096 commented on #1436
@saupchurch Can you take one more quick pass and add this in the RNA input process before we release?

[2016-10-25 03:44] david4096 commented on #1393
We'll see what they say https://github.com/RDFLib/rdflib/pull/662

[2016-10-25 03:58] david4096 commented on #1316
This is problematic enough that normal queries timeout on 1kgenomes.ga4gh.org.

[2016-10-25 10:30] thomasd-gen opened #1438 "Documentation gives URL for old example data package"
We've been trying to work through the installation instructions [here](http://ga4gh-reference-implementation.readthedocs.io/en/stable/installation.html) and run into a problem with the repo.db database in version 4.3 of the data package.  It seems that this has been seen before (e.g. #1372) and can be fixed by using version 4.5 of the data package -- would it be possible to update the documentatio

[2016-10-25 15:04] Welliton309 commented on #1389
Thank you for the explanation @dcolligan, it was very helpful. I did some tests and found a solution for the problem of variant calls with no coverage.

First, I replaced all `./.` to `0/0` in my custom VCF file. I did this to sure that there is no other problem with my data. It worked fine however this approach is not good enough because of the meaning of dots and zeroes are very different.

In t

[2016-10-25 15:16] dcolligan commented on #1389
Cool.  I recommend you file a issue referencing this thread in the schemas repository tracker, since it looks like the schema could use some modification to handle this case.

[2016-10-25 15:57] saupchurch commented on #1436
@david4096 could you please clarify this? Those already appear to be optional (see `repomanager.py` lines 962-965)

[2016-10-25 19:13] david4096 commented on #1436
@saupchurch Thanks you're right! The problem I'm facing now is making the looking up of `featureIds` optional. If no `featureSetName` is specified can we skip that code path?

[2016-10-25 20:24] bwalsh commented on #1379
I should be able to get to this by Mon 10/31

[2016-10-25 20:24] saupchurch commented on #1436
yes, if no `featureSetName` are specified then there is no lookup.

[2016-10-25 20:34] david4096 commented on #1436
`python repo_dev.py add-rnaquantification ga4gh-example-data/rnaseq.db ../compliance/test-data/rna_brca1.tsv rsem ga4gh-example-data/registry.db brca1 -n stuff` without a feature set name still seems to populate the feature IDs since it only checks whether a dataset is presence during loading.

[code]

The feature IDs are all set for me. The problem is that for loading multiple files, this process

[2016-10-25 20:46] saupchurch commented on #1436
right you are - digging deeper shows that writing the expression itself goes directly to the `dataset`.  This is very wrong as it should respect the `featureSetName`s passed in.  I'll fix this.  Also, some of the slowdown is coming from a very small `batchSize`

[2016-10-25 22:23] david4096 opened #1442 "Don't package example data"
Instead of packaging example data for download, the data can be prepared and loaded using the provided mechanisms by running `scripts/download_example_data ga4gh-example-data`. How about removing the released data from the documentation and favoring generating using the script?

[2016-10-25 23:09] david4096 commented on #1442
Related: https://github.com/ga4gh/server/issues/1055
https://github.com/ga4gh/server/issues/1073

@bwalsh It wouldn't hurt to get a `cgd.ttl` in there too! We can host it on github.

[2016-10-25 23:12] david4096 commented on #1438
Yes, thanks for pointing this out!

[2016-10-26 16:48] david4096 commented on #1393
There you go @dcolligan! Now we just have to wait on the release mechanics :)

https://github.com/RDFLib/rdflib/pull/662#event-836564585

[2016-10-26 18:10] dcolligan commented on #1393
Great, thanks for taking care of this

[2016-10-26 21:33] bwalsh opened #1445 "FYI: How to Add G2P data to a (1KGenomes) server"
Create appropriate directory

[code]

Download CGD reference data
[code]

Navigate to server directory

[code]

Then restart server

[code]

[2016-10-26 22:19] david4096 commented on #1445
https://github.com/ga4gh/server/issues/1431

[2016-10-27 00:03] #1428 closed

[2016-10-27 00:03] #1438 closed

[2016-10-27 00:30] #1436 closed

[2016-10-27 20:36] #1392 closed

[2016-10-27 20:51] david4096 commented on #1230
:100: https://github.com/ga4gh/ga4gh-client

[2016-10-27 20:51] #1230 closed

[2016-10-27 20:57] david4096 commented on #291
Closed with https://github.com/ga4gh/server/commit/d9117b8bc0a80f6f3fbca49f73d8141ba12a7feb

[2016-10-27 20:57] #291 closed

[2016-10-27 21:00] #187 closed

[2016-10-27 21:02] david4096 commented on #187
Closing due to lack of activity. If you have an idea @dcolligan that reduces our LOC and automatically generates some stuff from the schemas, I'm all ears!

[2016-10-27 21:03] david4096 commented on #396
Closed with https://github.com/ga4gh/server/pull/407

[2016-10-27 21:03] #396 closed

[2016-10-27 21:27] shajoezhu commented on #291
:+1:

[2016-10-27 21:53] david4096 commented on #785
https://github.com/BD2KGenomics/ga4gh-integration/issues/38

[2016-10-27 21:55] #805 closed

[2016-10-27 21:56] david4096 commented on #805
I think you were able to get past this @gabrielsaldana, please feel free to reopen otherwise.

[2016-10-27 22:02] #718 closed

[2016-10-27 22:02] #680 closed

[2016-10-27 22:06] david4096 commented on #758
We are now able to better represent [other types](https://github.com/ga4gh/schemas/blob/master/src/main/proto/ga4gh/reads.proto#L75) in our info fields but the server still coerces them to strings [here](https://github.com/ga4gh/server/blob/master/ga4gh/datamodel/reads.py#L170). To satisfy this, some introspection on the type of the tag will have to be done before adding to the info field.

[2016-10-27 22:07] david4096 commented on #1011
Haven't seen an issue with this in any recent versions.

[2016-10-27 22:07] #1011 closed

[2016-10-27 22:42] david4096 commented on #698
@ekg I'm interested in trying this out. Have some suggestions on where to start?

[2016-10-27 22:44] david4096 commented on #667
https://github.com/ga4gh/server/pull/1409 helps

[2016-10-27 23:05] david4096 commented on #1252
I think the docs look alright, it could be improved by adding the type being iterated over.

[2016-10-27 23:05] #1252 closed

[2016-10-27 23:19] david4096 commented on #1389
Upstream schema change [here](https://github.com/ga4gh/schemas/pull/735). @Welliton309 can you share the server changes you made?

[2016-10-27 23:24] david4096 commented on #1319
The main blocker here is being able to set the metadata on sub-objects, like CallSets, which are automatically added as part of a variantset. This would require being able to somehow modify those subobjects with a prepared mapping. `prepare_compliance_data` is a script for modifying containers that have extra metadata the CLI doesn't support.

[2016-10-27 23:25] #1331 closed

[2016-10-27 23:33] david4096 commented on #1062
Fixing this will also close https://github.com/ga4gh/server/issues/1062 .

[2016-10-27 23:36] david4096 commented on #878
Closed with https://github.com/ga4gh/server/pull/1244

[2016-10-27 23:36] #878 closed

[2016-10-27 23:37] david4096 commented on #950
Closed with #1191

[2016-10-27 23:37] #950 closed

[2016-10-27 23:38] david4096 commented on #879
This works and is used throughout in the `info` field. https://github.com/ga4gh/server/blob/master/ga4gh/datamodel/bio_metadata.py#L49

[2016-10-27 23:38] #879 closed

[2016-10-27 23:53] david4096 commented on #526
The schemas now include a version number in the paths, however, the content-type negotiation hasn't been specified.   https://github.com/ga4gh/schemas/blob/master/src/main/proto/ga4gh/bio_metadata_service.proto#L17 .

[2016-10-27 23:55] david4096 commented on #876
Currently implemented [as suggested](https://github.com/ga4gh/server/tree/master/ga4gh), so can close. Stands to change with https://github.com/ga4gh/server/pull/1446 .

[2016-10-27 23:55] #876 closed

[2016-10-28 00:29] david4096 commented on #687
https://github.com/ga4gh/server/blob/master/tests/unit/test_reads.py

[2016-10-28 00:29] #687 closed

[2016-10-28 00:31] david4096 commented on #684
Related https://github.com/ga4gh/server/issues/287

[2016-10-28 00:32] #683 closed

[2016-10-28 00:33] david4096 commented on #675
I think we will solve with by adding the catalog https://github.com/ga4gh/server/issues/1432

[2016-10-28 00:45] david4096 commented on #663
@bwalsh what do you think? Can we close this one? This is related to ongoing efforts to associate evidence claims with associations perhaps.

[2016-10-28 00:50] david4096 commented on #694
https://github.com/ga4gh/server/blob/1b1df9809ebe9a9bc6281a00de6ded9f90d43268/ga4gh/frontend.py#L829

[2016-10-28 00:52] david4096 commented on #628
Closed with https://github.com/ga4gh/server/commit/00d6b7962019a86d77e549f4be6d49436e602446

[2016-10-28 00:52] #628 closed

[2016-10-28 00:57] david4096 commented on #667
Specifying a configuration file when starting a server doesn't seem like too onerous a task. Perhaps instead of having *Configuration classes in the code base we could convert these to example configuration files that would set the environment variables and be loaded by tests? What do you think @dcolligan ?

[2016-10-28 01:22] david4096 commented on #521
Verified by turning back on the test. `htslib` @jmarshall crashed with:

The VCF in question:  https://github.com/ga4gh/server/tree/master/tests/faultydata/variants/duplicated_sampleid

[code]

[2016-10-28 01:25] david4096 commented on #41
A GA4GH client can be used to respond to beacon requests from any GA4GH resource. Work in this direction has been started here https://github.com/kozbo/Beacon-on-GA4GH-API/blob/master/beacon.py

[2016-10-28 10:20] jmarshall commented on #521
Yes, that's because it considers this malformed `#CHROM` header line terrifying enough that it prints the error message and aborts.  Did you ever file an htslib issue about this?  Then we wouldn't forget about it and would probably calm `bcf_hdr_add_sample()` down.

[2016-10-28 12:09] Welliton309 commented on #1389
I did:

[code]

Where

- `/home/welliton/GA4GH/schemas/` is the schemas repository;
- `datamodel/` directory for protoc output;
- `server/ga4gh/` it the server directory.

I used protoc version 3.1.0.

The `variants_pb2.py` was the only file I changed.

[2016-10-28 14:06] dcolligan commented on #187
In principle I think it should be possible to have a metadata-driven code generation framework that generates most of our endpoint (and their tests) boilerplate.  But it was just an idea.  I'm fine with closing it.

[2016-10-28 14:13] dcolligan commented on #1253
Fixed in #1447

[2016-10-28 14:19] dcolligan commented on #667
I don't really see the (dis)advantage of a config file vs `serverconfig.py` -- seems like about the same thing to me.  I think we want to avoid environment variables wherever possible.

[2016-10-28 16:16] andrewjesaitis commented on #1442
+1

[2016-10-28 16:23] saupchurch commented on #1232
this is really more of an extended example of importing RNA data and probably isn't really part of the core of the reference server.  Thoughts on moving this to the API Examples repository under BD2KGenomics?

[2016-10-28 16:56] david4096 commented on #1232
+1 perfect

[2016-10-28 17:25] dcolligan commented on #1417
Fixed: https://github.com/dcolligan/ga4gh-schemas/blob/master/scripts/process_schemas.py

[2016-10-28 17:25] #1417 closed

[2016-10-28 18:34] #1232 closed

[2016-10-28 18:37] david4096 commented on #667
But we don't need both, eh? Like we could remove `serverconfig.py` and just use config files?

[2016-10-28 18:38] david4096 commented on #1389
Awful kind of you, thanks @Welliton309 !

[2016-10-28 20:53] saupchurch commented on #1430
fixed in #1435

[2016-10-28 20:53] #1430 closed

[2016-10-31 14:53] dcolligan opened #1449 "Reinstate test_client_json.py"
I removed `test_client_json.py` in #1440 since it relied on a circular dependency between client and server.  Find a way to put this test back into the server test suite (will require modifying the client too).

[2016-11-01 15:47] david4096 opened #1451 "Related software"
Add links in documentation to other `ga4gh` related packages and how they can be used in relation to this software.

[2016-11-01 17:16] Welliton309 opened #1452 "Authenticated API access through key"
I would like to know if I can configure GA4GH server to accept only authenticated requests through one or more keys. I tested the [OpenID Connect Providers tutorial](http://ga4gh-reference-implementation.readthedocs.io/en/latest/configuration.html#openid-connect-providers) but it is not exactly what I want because I understood that anyone who have a Google account will be able to access the API. I

[2016-11-01 18:35] david4096 commented on #1452
@Welliton309 thanks we are slated to simplify the authentication process and I have demonstrated using auth0 for generating API keys [here](https://github.com/david4096/server-1/tree/auth0).

[2016-11-01 21:59] david4096 commented on #1422
Closed with https://github.com/ga4gh/server/pull/1440

[2016-11-01 21:59] #1422 closed

[2016-11-01 22:43] david4096 opened #1453 "Delete unused scripts"
https://github.com/ga4gh/server/blob/master/scripts/generate_fasta.py

Generates random FASTA files

https://github.com/ga4gh/server/blob/master/scripts/split_fasta.py

Was added as part of our ETL process on FASTA before better pysam support.

Remove `update_data.py` will close https://github.com/ga4gh/server/issues/1291

[2016-11-02 17:32] dcolligan opened #1455 "Clarify STYLE.md style in wake of hierarchical namespace changes"
The file could probably use some sprucing up to clarify how we want to order imports, etc.

[2016-11-02 17:40] dcolligan commented on #1453
+1

[2016-11-03 04:04] david4096 commented on #324
moved

[2016-11-03 04:04] #324 closed

[2016-11-03 04:05] david4096 commented on #712
Moved https://github.com/ga4gh/ga4gh-client/issues/25

[2016-11-03 04:05] #712 closed

[2016-11-03 04:07] david4096 commented on #293
Moved https://github.com/ga4gh/ga4gh-client/issues/26

[2016-11-03 04:07] #293 closed

[2016-11-03 04:07] david4096 commented on #875
Moved https://github.com/ga4gh/ga4gh-client/issues/27

[2016-11-03 04:07] #875 closed

[2016-11-03 04:10] david4096 commented on #601
Moved https://github.com/ga4gh/ga4gh-client/issues/29

[2016-11-03 04:10] #601 closed

[2016-11-03 04:12] david4096 commented on #429
@dcolligan based on the existing test infrastructure, I believe this can be closed?

[2016-11-03 11:46] #429 closed

[2016-11-03 15:19] #1291 closed

[2016-11-03 15:19] #1453 closed

[2016-11-03 16:49] david4096 opened #1457 "Deprecate converters, move to own repo"
@dcolligan I believe these should be in the client. Opinions?

https://github.com/ga4gh/server/blob/master/ga4gh/cli/ga2sam.py
https://github.com/ga4gh/server/blob/master/ga4gh/cli/ga2vcf.py
https://github.com/ga4gh/server/blob/master/ga2vcf_dev.py
https://github.com/ga4gh/server/blob/master/ga2sam_dev.py
https://github.com/ga4gh/server/blob/db3f7bd35944b7d0f510c62760eaa071bf53d7d8/tests/unit/test

[2016-11-03 18:08] Welliton309 commented on #1452
Thank you @david4096. Can you point which document that explains the authentication using Auth0? I didn't find this demonstration in your repository.

[2016-11-03 18:33] dcolligan commented on #1457
I was thinking about this, too... I could see an argument either way.  I say we hold off on it for the moment.  We can't do it without at least some refactoring, since `converters.py` imports some things from `datamodel`.  Also the tests use some server code as well.  Let's wait until after #1449 is fixed, at least.

[2016-11-03 18:53] david4096 commented on #1457
No argument here! It looks to me like the parts of the datamodel it uses are just bytemaps for all the SAM flags. Those seem like they could be moved to common easily.

[2016-11-03 18:59] david4096 commented on #1452
@Welliton309 the link I provided above is to a tree where it had been partially implemented. I have not documented this effort. I've definitely struggled with the auth offering currently in the server. I believe in the short-term we'll provide the current OIDC method alongside Auth0. I'll close this issue once I'm confident we have an easy to use auth workflow.

[2016-11-03 20:39] david4096 commented on #997
Moved https://github.com/ga4gh/ga4gh-client/issues/30

[2016-11-03 20:39] #997 closed

[2016-11-03 20:41] david4096 commented on #1442
After talking this over with @dcolligan, we would like this script to work against amazon, since the EBI ftp can be a bit flaky. The example data script will probably be simplified and it is intended to include annotation data as well.

[2016-11-03 20:43] david4096 commented on #1161
I think as long as we're using SQLite the best practice is to run the repo as the same user as the server.

[2016-11-08 23:15] achave11 opened #1463 "Replace call to `run_tests` in documentation"
In `http://ga4gh-reference-implementation.readthedocs.io/en/latest/installation.html#installing-the-development-version-on-mac-os-x`
Under `Test and run` when I ran the script for testing it wouldn't ran, and complained `IOError: [Errno 2] No such file or directory: u'.travis.yml'`

[2016-11-09 18:15] david4096 commented on #785
@dcolligan it's this one, closes this https://github.com/ga4gh/server/pull/1454

[2016-11-09 18:15] #785 closed

[2016-11-09 19:23] achave11 opened #1464 "Comment/Question Obtaining Demo Dependencies"
In [http://ga4gh-reference-implementation.readthedocs.io/en/latest/demo.html#demo](url) is it assumed that the user already has `wget` installed in order to run `(ga4gh-env) $ wget https://github.com/ga4gh/server/releases/download/data/ga4gh-example-data_4.5.tar` ??

[2016-11-09 21:57] achave11 commented on #1464
For set up, also and if installing `wget` ensure latest version of X-code is running for MAC users. There is some incompatibility issues with OS-El Capitan and latter.

[2016-11-15 20:05] dcolligan commented on #1449
Fixed in #1465

[2016-11-15 20:05] #1449 closed

[2016-11-16 00:15] david4096 opened #1466 "Broken build"
Due to flake error. Travis' flake version has changed probably.

https://travis-ci.org/ga4gh/server/builds/176138191

[2016-11-16 00:37] david4096 commented on #653
Although the UI isn't maintained with this code, we should provide a way to easily serve static API documentation.

[2016-11-16 02:11] achave11 opened #1468 "Importing errors"
'prepare_compliance_data.py' under scripts file not working properly do to `ga4gh.server` not existing yet !

[2016-11-16 02:30] david4096 opened #1469 "Update package name to ga4gh-server"
When installing via pip we can use `ga4gh-server` to make the separation of concerns more clear.

[2016-11-16 14:47] dcolligan commented on #1469
We would probably need to deprecate / remove the `ga4gh` pypi package to do this.  Are we ok with doing that?

[2016-11-16 14:49] ljdursi commented on #1451
Intel Health & Life Sciences has a something for GA4GH api layer atop their GenomicsDB:

https://github.com/Intel-HLS/GenomicsSampleAPIs

[2016-11-17 18:47] #1466 closed

[2016-11-17 19:51] david4096 commented on #1464
I don't think we need to use wget here, curl will be on both linux and mac systems and should work for this. We can replace with `curl -O`.

[2016-11-18 00:33] david4096 opened #1471 "Move to protobuf 3.1"
Protobuf 3 has left beta as 3.1 which moves some private functions we use. We should move to this stable release and update requirements as needed.

[2016-11-21 21:51] kozbo opened #1472 "repomanager: List out of range error on readGroupIds when using "list" command"
run this on the 1kgenomes server:
[code]
and see the following error
[code]
Note that the list program displays all data until it gets to printing out the quantifications in the first quantification set, and then it fails.

There are no readgroupIDs set because we don't have the RNA reads for this RNA data.

[2016-11-22 12:40] Welliton309 commented on #1451
I would like use this opportunity to share the recently developed GA4GHclient R package publicly available at [GitHub](https://github.com/labbcb/GA4GHclient). This package simplifies accessing GA4GH API based data servers using R.  It also has a web interface for interacting with genomic data (see picture below). We intended to submit our package to [Bioconductor](http://bioconductor.org/) project

[2016-11-22 18:57] kozbo commented on #1451
Here is another R [library](https://cran.r-project.org/web/packages/Rga4gh/index.html) developed by [Aridhia](http://www.aridhia.com/blog/ga4gh-federated-analysis-proof-of-concept/):

[2016-11-22 19:34] david4096 commented on #1451
@Welliton309 Wow!

[2016-11-23 20:53] david4096 commented on #667
Ran into this error trying to use pydev with a class based config:

https://gist.github.com/david4096/2e138db96cf103b8650bbe380255d254

[2016-11-23 20:54] david4096 opened #1473 "Move repository documentation to its own file"
Configuration and repo commands are in a single file. Splitting them into two files would make it more clear - configuration vs. administration.

[2016-11-28 21:37] ljdursi opened #1475 "Documentation: `ga4gh.server.frontend` -> `ga4gh.frontend` in installation WSGI application file?"
I think this:
[code]
should now be:
[code]

[2016-11-28 21:44] david4096 commented on #1475
@ljdursi Did you run into a problem using the application.wsgi provided? Could you provide any errors you're seeing?

You can see the import we are currently using to get at the frontend module [here](https://github.com/ga4gh/server/blob/master/ga4gh/server/cli/server.py#L11). If you're seeing an issue, this may have to do with having multiple `ga4gh` packages in your current environment. Thanks f

[2016-11-28 22:20] ljdursi commented on #1475
Yup, the error was
[code]

Making the switch as above fixed it.

`pip install ga4gh` in a new VM shows the same sort of behaviour from the REPL:

[code]

[2016-11-28 22:33] david4096 commented on #1475
Thanks @ljdursi ! I think the problem might be that you're working with a released version when the documentation is in regards to the version awaiting release. If you take a look at the `stable` docs [here](http://ga4gh-reference-implementation.readthedocs.io/en/stable/installation.html) the old syntax should be there. We could do a better job of pointing to which version of the documentation you

[2016-11-28 22:36] ljdursi commented on #1475
Shoot, sorry.  Thanks.

[2016-11-28 22:36] #1475 closed

[2016-11-29 11:26] skeenan commented on #1451
@Welliton309 and @ljdursi  these are both awesome. So cool. We need to highlight these on http://ga4gh.org or on the landing page of http://1kgenomes.ga4gh.org/   (or both!)

[2016-11-30 08:24] jordeu opened #1477 "Running the demo: "ga4gh-example-data/registry.db' does not exist""
Following the demo instructions [here](http://ga4gh-reference-implementation.readthedocs.io/en/latest/demo.html) I get this error:

    ga4gh.exceptions.RepoNotFoundException: Database file 'ga4gh-example-data/registry.db'
    does not exist.  Either change the configuration to point to a valid file or create one
    using the repo manager.`

I've checked and the "registry.db" is missing in the ta

[2016-11-30 17:58] david4096 commented on #1477
Thanks! We haven't yet updated the example data for the development branch!

You can generate the example data the same way we do using `python scripts/download_example_data.py ga4gh-example-data`.

I'll close this once the example data is updated!

[2016-11-30 19:15] Welliton309 opened #1478 "API server returns string type to all attributes"
I am testing GA4GH API server and I observed that the server returns `string` type (quoted values) for all attributes, even for attributes that the schemas documentation says other type. For example the attributes `start` and `end` should be `long` ([reference](https://ga4gh-schemas.readthedocs.io/en/latest/schemas/variants.proto.html#protobuf.Variant)) but in the JSON these values are represented

[2016-11-30 19:48] david4096 commented on #1478
JavaScript [Number](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number) (2^53-1) is unreliable for large integers, so the protobuf serialization to JSON encodes them as strings. That is why the start and end have been encoded that way. You can read more discussion [here](https://github.com/ga4gh/schemas/pull/547).

On the info items, I believe the reference ser

[2016-11-30 20:03] david4096 opened #1479 "Document gff3 parsing into FeatureSet"
The process for generating feature sets needs to be better documented and included with the `demo.rst`.

[2016-11-30 20:11] david4096 opened #1480 "Document name generation rules for datarepo"
- [ ] Add an Architecture diagram showing the registry DB, the server, the data container objects (like HtslibVariantSet, etc), etc, to the documentation for the data repository.

- [ ] Explain how the datamodel is structured and how names are used as local identifiers.

- [ ] Link to name and identifier section from datarepo/add-variantset

[2016-11-30 23:39] david4096 opened #1482 "Test multiprocess environment"
There are failure modes our tests don't cover because they assume a single process, which isn't the case when running under Apache or in a webserver. We have discovered because of how we use `pysam` when multiple threads try to access the same file when [running under apache](https://github.com/ga4gh/server/blame/master/docs/installation.rst#L95). This was solved through documentation.

A similar

[2016-12-01 01:52] david4096 opened #1484 "Update github workflow documentation"
Now that github squashes commits from the user interface, we can remove some of the details from our git workflow documentation.

[2016-12-01 01:55] david4096 commented on #1463
That should probably just say `python -m nose tests` to run tests instead. That script isn't in the source tree, is it?

[2016-12-01 02:55] david4096 commented on #473
A simple authorization model is presented in https://github.com/ga4gh/server/pull/1470

[2016-12-03 16:50] dcolligan commented on #1463
The `ga4gh_common` package should install a executable called `ga4gh_run_tests` which replaces the `scripts/run_tests.py` scripts

[2016-12-05 23:41] ejacox commented on #1379
I cannot reproduce this error. I don't get any results though. I would expect the full set of results. If I don't include name, then I get the list of everything.
`http post localhost:8000/features/search featureSetId=WyJicmNhMSIsImdlbmNvZGV2MTkiXQ `

[2016-12-06 00:06] david4096 commented on #1379
Here is the whole trace of the error:

[code]

[2016-12-06 00:11] david4096 commented on #1379
Any invalid regex will throw a 500, this probably affects description fields in g2p as well:

[code]