[2015-09-17 00:38] macieksmuga commented on #635
@jeromekelleher could you expand on this issue description?

Specifically, what are you using this ENA (I'm assuming European Nucleotide Archive) API for? Is it only for downloading test data, or is it used anywhere in the code?

If the latter, this may be a problem, as most clinical variant data (including the data I'm including in the compliance suite) is still on GRCh37.

[2015-09-17 01:35] diekhans commented on #635
is this a one-time download, or do you want to be able to programatically get subsequences?

ftp maybe the solution if its one time.

[2015-09-17 09:54] jeromekelleher commented on #635
In the ``download_data.py`` script we download the specific pieces of the reference which we need to cover the subset of variants we want. Currently, this is the first 1000 variants on a handful of chromosomes. We then download the reference sequences from the [ENA REST APIs]( http://www.ebi.ac.uk/ena/browse/data-retrieval-rest). However, it turns out that ENA only has GRCh38 and we need GRCh37 fo

[2015-09-17 11:03] jmarshall commented on #635
I see asking for e.g. [CM000670.**1**](http://www.ebi.ac.uk/ena/data/view/CM000670.1%26display=fasta&range=500000-501000) gives you a sequence entitled

[code]
which seems a bit surprising — in fact [the documentation](http://www.ebi.ac.uk/ena/browse/data-retrieval-rest#sequence_version) suggests this is a bug.  Have you asked them about this?

Otherwise Ensembl has a REST API at http://grch37.res

[2015-09-17 16:09] jeromekelleher commented on #635
Thanks @jmarshall, I'll contact the ENA people and see what they say. They should really be returning an error if the version isn't present. I've taken a look through the Ensembl APIs, and it's not immediately obvious how to find what I'm looking for. Perhaps I need to dig a bit deeper.

[2015-09-21 11:24] jeromekelleher commented on #637
Fixed in #638.

[2015-09-21 11:24] #637 closed

[2015-09-21 11:24] jeromekelleher commented on #636
Fixed in #639.

[2015-09-21 11:24] #636 closed

[2015-09-21 11:28] jeromekelleher opened #642 "Metadata not set for ReferenceSets"
Metadata such as NCBITaxonId and SourceAccessions are now supported for ``References`` but are not supported for ``ReferenceSets``. We should fix this by following the same pattern:

1. Add corresponding .json file next to the directory containing the ReferenceSet, which holds this metadata.
2. Update the ``download_data.py`` script to write this information for our example data.

[2015-09-22 12:49] ekalosak commented on #610
https://gist.github.com/ekalosak/b22399153a2dd0b019d7

[2015-09-22 12:57] jeromekelleher commented on #610
Try running ``python scripts/download_data.py`` @ekalosak --- these scripts are intended to be run from the project root.

[2015-09-22 12:58] dcolligan opened #644 "Have download_data check for required libraries before running"
Right now `download_data.py` can run and then choke in the middle of processing with an unintuitive error message if a user does not have the required programs on the path.  Change this so that if a user lacks the requirements a helpful error message is printed right at the beginning informing them of this.  Here is an example of what happens currently: https://gist.github.com/ekalosak/b22399153a2

[2015-09-22 13:01] dcolligan commented on #610
I'm walking him through it... he just doesn't have the right libraries installed.  See the issue I just created.

[2015-09-22 14:05] jeromekelleher commented on #644
Good idea.

[2015-09-22 14:09] dcolligan commented on #644
We can generalize this to other scripts and refactor with a method in `utils`, but that can be the follow up issue

[2015-09-22 16:05] dcolligan opened #645 "Fix build"
The references change broke a test.  Argh github merge model.

https://travis-ci.org/ga4gh/server/builds/81605175

[2015-09-22 16:24] dcolligan commented on #645
Fixed in #646

[2015-09-22 16:24] #645 closed

[2015-09-23 11:37] jeromekelleher opened #647 "Searching by non-existent name should not 404"
Currently when we run a search with a name specified which does not exist, the server returns a NOT FOUND error. For example,

[code]

This should return an empty set of results. I think ``readGroupSetGenerator`` and ``callSetGenerator`` are affected by this in ``backend.py``.

@hjellinek, what do the compliance tests expect here?

[2015-09-23 12:49] dcolligan commented on #647
That's not the error I get for that command on develop:
[code]
Isn't our usual MO to return a 404 if any part of the query doesn't exist?  Why would we do things differently here?

[2015-09-23 12:51] dcolligan commented on #642
The title of this issue says ReadGroupSets but the description says ReferenceSets... which one is it?

[2015-09-23 13:00] jeromekelleher commented on #642
Oops, my bad; title edited.

[2015-09-23 13:06] jeromekelleher commented on #647
Sorry, that command was run against #643 --- I'm really sick of copying and pasting all these IDs so I used that.

For your question, there is a subtle distinction here. If ``datasetId`` is set to something that doesn't exist, we should 404, because this is an explicit reference to something that isn't there. For ``name`` though, were saying something slightly different: this is a *filter* on the

[2015-09-23 13:11] jeromekelleher opened #648 "Dataset and VariantSet name not set."
The Dataset name is not set. Running
[code]
gives
[code]
The expected output is
[code]

Similarly for VariantSets --- the name should be the directory name.

[2015-09-23 13:14] jeromekelleher commented on #509
The example data has been updated, and a docs update is in progress. This is the default output of the ``scripts/download_data.py`` script.

Try out:
[code]

[2015-09-23 13:16] jeromekelleher commented on #648
Again, this example is using the updated client tools in #643.

[2015-09-24 04:57] bwalsh opened #653 "Document API using Swagger (or equivalent) (hackathon idea)"
It would be useful to have the api documented using a modern interactive approach.
This might be a topic for the hackathon in NYC?
see http://swagger.io/
https://github.com/gangverk/flask-swagger

[2015-09-24 05:51] diekhans commented on #653
We probably have to switch the reference server away from Flask,
single it doesn't support chucked HTTP that will be required for
streaming.

bwalsh <notifications@github.com> writes:

[2015-09-24 08:38] jeromekelleher commented on #653
This is pretty cool @bwalsh, it would be a really neat feature. I have two slight concerns:

1. As @diekhans, we might have to move away from Flask when we start making a streaming protocol as WSGI doesn't support HTTP chunked encoding (which is ridiculous, but what can you do).
2. Our API isn't particularly clean REST, and might not fit into what's expected from a REST documentation generator.

N

[2015-09-28 12:46] dcolligan commented on #648
Fixed in #651

[2015-09-28 12:46] #648 closed

[2015-09-28 14:24] jeromekelleher opened #659 "Remove subprocess call in end-to-end client tester"
Currently, end-to-end tests work by forking a subprocess for each client call (i.e. python client_dev.py [ARGS]). This is bad for a few reasons:

1. We lose the test coverage information we would get on the client side; we are actually testing stuff that's not being counted;
2. It's slow, as process forking is expensive.
3. It's inflexible, as it makes it difficult to attach arbitrary client Pytho

[2015-09-28 17:58] hjellinek commented on #647
Sorry, I just noticed your question for me here.
The test `ReadGroupSetsGetByNameIT.testSearchForBogusNameReturnsEmptyList` actually does what its name implies": the `SearchReadGroupSetsResponse` for a nonexistent name is expected to contain an empty `readGroupSets` list.

[2015-09-28 17:59] macieksmuga commented on #647
Thanks @hjellinek!
+1 from me, then.

[2015-09-29 16:40] macieksmuga opened #660 "Pick schemas up directly from repo"
Related to compliance issue https://github.com/ga4gh/compliance/issues/101, the schemas should be picked up directly from their repo on every build. This will assist with automating continuous integration between all three GA4GH repos (Schemas/Server/Compliance)

[2015-09-29 23:28] bwalsh opened #661 "Import data from Harvard Personal Genome Project (hackathon idea)"
218 public whole genomes

For overview see: https://docs.google.com/presentation/d/10wcdBZMn2d66OBJY1cy3PMWeETJrhSXN5DguKkdxMe0/edit

For data download:

https://my.pgp-hms.org/public_genetic_data?utf8=%E2%9C%93&data_type=Complete+Genomics&commit=Search

[2015-09-30 08:49] jeromekelleher commented on #661
Great idea @bwalsh, we should definitely look at this.

[2015-09-30 12:16] dcolligan commented on #660
-1

We don't want a screwup (or, even an expected but incompatible change) in the schemas to fail our build.  We pin the versions of all the external libraries we are using for the same reason.

[2015-09-30 12:21] dcolligan commented on #647
Fixed in #658 and #650

[2015-09-30 12:21] #647 closed

[2015-09-30 12:21] dcolligan commented on #642
Fixed in #657

[2015-09-30 12:21] #642 closed

[2015-09-30 13:33] dcolligan commented on #659
The tricky part about this is getting all the output redirection correct.  I think we'll need to revisit our logging setup (in ga4gh.client particularly) to fix this.

[2015-09-30 14:49] jeromekelleher commented on #660
-1 also. This would be difficult to do in practise, and would make workflows very brittle and slow. At least while we have Avro, I don't think this is practical or desirable. It would also lead to chicken and egg situations --- our build is failing because we can't get the schemas into master, but our schemas can't get into master until we have something working in the reference server.

[2015-09-30 14:49] #660 closed

[2015-09-30 14:52] jeromekelleher commented on #659
OK, that's something that needs doing in any case. I'm currently changing it a bit to make the client interface simpler and more documentable, but we should definitely examine this afterwards.

I'm not overly concerned with capturing logs though, as the tests involved aren't particularly strong. What we really want is to look at stdout and make sure that we're getting the output we expect. This wi

[2015-09-30 16:37] hjellinek commented on #660
-1 for the reasons you cite.  I commented on the Compliance counterpart of this issue [here](https://github.com/ga4gh/compliance/issues/101) - I'd be interested in your take on that.

[2015-09-30 18:32] nouyang-curoverse commented on #661
Happy to answer any questions about PGP data, and will be at the hackathon.

Also, direct link to the interactive phenotype explorer mentioned in the google presentation:
http://curoverse.link/22d61dd43786c65cd175b04ad6954af0+3119/html/index.html

& a cheat sheet about the PGP data:
https://github.com/PGPHarvard/data-summary

Thanks for bringing this up @bwalsh!

[2015-10-01 00:02] bwalsh opened #662 "Create an client implementation for IPython Notebook (hackathon idea)"
"As a researcher, in order to incorporate GA4GH endpoints into my workflow, it would be a productivity boost to have the server client integrated into a notebook"

[2015-10-01 00:22] bwalsh opened #663 "API extension - Elastic Net Coefficients predicting Drug Response (hackathon idea)"
While the bulk of recent work has focused on schema implementation.  It would be useful to have an end-to-end workflow to illustrate net new activities.  This example would show:
- requirements
- schema creation
- reference implementation
- unit tests
- compliance tests.

One idea that should be small enough to implement, yet useful in its own right is to create an endpoint to capture the results

[2015-10-01 00:39] bwalsh opened #664 "Implement Literome datasource for g2p search (hackathon idea)"
"As a G2P engineer, in order to create a Literome implementation , it would be useful to have a mapping defined between the request and response payloads of the '/genotypephenotype/search' and [MS literome gwas](http://literome.azurewebsites.net/WebService) endpoint"

The g2p reference implementation PR is still in progress.   As a next phase, we propose an alternative implementation, the same end

[2015-10-01 01:18] diekhans commented on #662
I suspect an R interface would be very popular

bwalsh <notifications@github.com> writes:

[2015-10-01 16:47] bwalsh commented on #653
See http://rest.ensembl.org/documentation/info/gacallSet for another example

[2015-10-01 16:51] nouyang-curoverse commented on #661
Additionally, if we wish to select for genomes linked to individuals with cancer, here are the participants who have responded with "yes" to having cancer at some point and have whole genomes
https://docs.google.com/spreadsheets/d/1a5SwxjKS0krR0zopW5runpNdRMwbLFA19HnBK_1Qc0g/edit#gid=1782566022

hu43860C	https://my.pgp-hms.org/profile_public?hex=hu43860C	Squamous Cell Carcinoma
hu04FD18	https://my

[2015-10-01 17:02] AAMargolin commented on #662
+1 -- I think client implementations (R, Python) in general for GA4GH APIs would be a very appropriate and useful hackathon topic.

[2015-10-01 17:50] jeromekelleher opened #665 "Next version number"
Get out the bike shed paint pallete!

We need to tag a release soon (next week really), so we need to decide what number it should be. The simplest choice for us would be '0.2.0a1', since we've been on the 0.1 series so far, and we've broken compatibility with it pretty heavily. I think it's important we go through a few alphas too, as this way we won't be the default install on pypi and won't upg

[2015-10-01 19:19] jhl667 opened #666 "Implement Oncotator access layer (hackathon idea)"
Data sources crucial to clinicians in characterizing and prioritizing variants can be found via Oncotator.  It would be immensely valuable to pull from this wealth of knowledge in a compliant manner.

[2015-10-01 20:22] dcolligan commented on #665
0.2.0a1 sounds good.

[2015-10-01 22:20] skeenan commented on #665
I like the idea of the tracking schema version somehow.  I see your point about getting stuck with a schema version prefix. So how about suffixing the schema version to the server version. The composite would be `server version_schemaversion` e.g. `v0a1_0.6.0`

[2015-10-02 10:19] jmarshall commented on #635
Any news from ENA?

For Ensembl, either [sequence/id](http://grch37.rest.ensembl.org/documentation/info/sequence_id) with a range request (if it listens to that header) or [sequence/region](http://grch37.rest.ensembl.org/documentation/info/sequence_region) should do the trick I think.

[2015-10-02 15:15] jeromekelleher commented on #635
No, had sort of phased out on this one. I'll get some definitive answers next week; thanks for the extra information @jmarshall.

[2015-10-02 15:48] jeromekelleher opened #667 "Flask config is awful"
Configuring the server is a massive pain at the moment. We used the Flask configuration mechanisms originally because it seemed sensible to reuse as much as possible. Our configuration mechanism right now is very complicated, allowing for variables to be set via class configurations, files and even environment variables. It has almost no test coverage, and it's hard to see how this could be improv

[2015-10-02 17:05] jeromekelleher opened #668 "Add tests for unsupported HTTP methods"
In ga4gh/frontend.py we have no test coverage on the MethodNotAllowedException branch of the handleFlaskGetRequest, handleFlaskListRequest and handleFlaskPostRequest functions. This module handles all the HTTP transactions.

We need to add test cases to cover the cases when the server gets a POST request (for example) to a URL that expects only GET.

Add a new test method at the bottom of tests/un

[2015-10-02 17:13] jeromekelleher opened #669 "Hackathon labels explained"
I've created two labels for the NYGC Hackathon. One is the "NYGC Hackathon" and is for everything that we're potentially interested in at the hackathon.

The other is "Hackathon assignment" which is for issues that are going to be assigned to people so they can get started on coding with the reference server. They will be assigned on the day, and hopefully we'll be able to get PRs merged for most

[2015-10-05 11:00] jeromekelleher commented on #665
It's a nice idea @skeenan, but it would break compatibility with [pep 440](https://www.python.org/dev/peps/pep-0440/). We need to have version numbers that make sense for us a piece of software first, and the benefits of including the schema version number in there are out weighed by the advantages of being compatible with PyPI.

0.2.0a1 it is unless we hear otherwise I think.

[2015-10-06 15:10] jeromekelleher opened #674 "Fix missing parameter in client API docs"
The Python client API is a simple interface to the GA4GH server. The API is documented [here](http://ga4gh-reference-implementation.readthedocs.org/en/develop/api.html), and this documentation is largely derived from the comments in the Avro source.

Copying the comments for the parameter definitions automatically was not possible, and so there are a number of gaps that need to be filled. Using th

[2015-10-06 15:26] jeromekelleher opened #675 "Show data summary on landing page using a tree"
The server currently has a handy summary of the data held on the server shown in HTML. This is accessed by pointing a web browser at the root URL of your server (http://localhost:8000 if you are running a server on your local machine using the default setup).

This is very useful, but the format is currently a little counter-intuitive. One possibility to allow easier visualisation of the data is t

[2015-10-06 15:54] jeromekelleher opened #676 "ReferenceSet name not set"
If we run
[code]
This output shows the ID and name of an object. We expect the name of a reference set to be non-null, so this is a bug.

Edit ga4gh/datamodel/references.py. Find the AbstractReferenceSet.toProtocolElement method and insert the line
[code]
After saving the file and reloading the server, we should now see

[code]

Bug fixed!

To make sure the bug stays fixed, we must add some test c

[2015-10-06 16:15] jeromekelleher opened #677 "VariantSet metadata not correctly filled in"
If you run
[code]
you can see a bunch of VariantSetMetadata (see [variants.avdl](https://github.com/ga4gh/schemas/blob/master/src/main/resources/avro/variants.avdl) for details) fields that look like this
[code]
The ID field here should be a combination of the variantset ID and the key, and use the usual obfuscation patterns. Object IDs in the server spell out the object hierarchy above a give obj

[2015-10-07 15:05] jeromekelleher opened #678 "Warning: Data input format changed!"
The data input format has changed again (hopefully for the last time for a while), as decribed in #637.

Either rerun the download_data.py script, or get a new version from http://www.well.ox.ac.uk/~jk/ga4gh-example-data-v3.0.tar

[2015-10-07 15:48] jeromekelleher opened #679 "Dataset.description not filled in"
Running
[code]
currently gives
[code]
The description field on Dataset is currently not filled in as there is no way to provide it. This should be provided by an optional json file that lives next to the dataSet directory, following the way this is done for ReferenceSet. We also need to add a description for the SimulatedDataSet.

- Open ga4gh/datamodel/datasets.py and add a new instance variable

[2015-10-07 18:01] adamnovak opened #680 "Cherry-pick commits from develop branch onto graph branch"
The [graph branch](https://github.com/ga4gh/server/tree/graph) is currently 227 commits behind the develop branch. Rebasing or merging the whole thing is too big of a project for the hackathon, but there are some new commits on the develop branch that would be useful to have cherry-picked over to the graph branch. Moreover, solving conflicts now can make the amount of work needed to merge the grap

[2015-10-07 19:22] jeromekelleher opened #682 "Improve test for backend string parsing functions."
In ga4gh/backend.py, the ``_parseIntegerArgument`` function is responsible for parsing integer values passed as arguments in GET requests.

Add some tests for this in ``tests/unit/test_backends.py``. Add a  test method to the TestPrivateBackendMethods class to test positive results (i.e., do we correctly return the right value?) and another to test negative results (i.e., do we correctly raise a B

[2015-10-07 20:08] jeromekelleher opened #683 "Add tests for backend methods, refactor and update docs"
The documentation and class names for the ``tests/unit/test_backends.py`` module are a little out of date and need spring cleaning. The tests cases are also somewhat out of date, and need to be refocused on the local behaviour of the backend classes (code in ``ga4gh/backend.py``).

- To run the tests, run ``nosetests -vs tests/unit/test_backends.py``

- Remove the unused BackendForTesting class.

[2015-10-08 10:15] jeromekelleher opened #684 "Add tests for unmapped reads failure"
We currently do not support returning unmapped reads, as this is hard to do with pysam. However, there is no test coverage to ensure that we are reporting this correctly. See the (schemas)[https://github.com/ga4gh/schemas/blob/master/src/main/resources/avro/readmethods.avdl] for a description of the required behaviour.

- Open ``tests/unit/test_views.py`` and add a method ``testSearchUnmappedReads

[2015-10-08 10:40] jeromekelleher opened #685 "Refactor server_main and add tests"
The ga4gh/cli.py module contains all the code for running command line interfaces. This allows us to keep the interfaces consistent by sharing as much code as possible. This code went through a partial refactor a few weeks ago, where the majority of the code was converted to a form that made it easier to test. The ``server_main`` function was skipped.

- Open ``ga4gh/cli.py``, and find server_main

[2015-10-08 11:36] jeromekelleher opened #686 "Test getCachedFiles (and possibly refactor test)"
The file handle cache in ``ga4gh/datamodel/__init__.py`` provides a way for us to keep a cache of most recently used files, and opens new files on demand. This allows us to scale to large numbers of files in the data model without running into issues of file descriptor exhaustion.

Add a test for the ``getCachedFiles()`` function in the ``tests/unit/test_file_handle_cache.py``.  This should be equ

[2015-10-08 12:02] jeromekelleher opened #687 "Unit tests for reads"
We need some standalone unit tests for the ``ga4gh/datamodel/reads.py`` module. Create a new test module called ``tests/unit/test_reads.py`` modelled after ``tests/unit/test_variants.py``. Add some unit tests in here:

1. Create unit tests for ``parseMalformedBamHeader``. We want to have some input strings (basically BAM header values you might see from ``samtools view -H tests/data/datasets/datas

[2015-10-08 12:50] jeromekelleher opened #688 "Unit tests for references"
We need unit tests for references, where we test the basic properties of objects defined in ``ga4gh/datamodel/references.py`` outside of the context of input data. The tests created here should be similar to the new tests outlined in #683.

- Create a new file ``tests/unit/test_references.py`` modeled after ``tests/unit/test_variants.py``, making sure to update the comments appropriately.

- Start

[2015-10-08 13:07] jeromekelleher opened #689 "ReferenceID not set in VariantSet"
Currently we have no way of associating a given referenceSet with a VariantSet. Ideally this should be derived from the ``reference`` and ``contig`` tags in the VCF header.

[2015-10-08 13:19] jeromekelleher opened #690 "Unit tests for Variants"
We need unit tests for variants, where we test the basic properties of objects defined in ga4gh/datamodel/variants.py outside of the context of input data. The tests created here should be similar to the new tests outlined in #683, #688, #687.

Open ``tests/unit/test_variants.py``, and add the following class:

[code]

Run the tests by running ``nosetests -vs tests/unit/test_variants.py:TestAbstra

[2015-10-08 14:37] jeromekelleher opened #692 "Add unit test for __str__ function in exceptions.BaseServerException"
The ``__str__`` method in the BaseServerException class in ``ga4gh/exceptions.py`` is called when we convert an exception instance to string using ``str()``.  Add a check to the testInstantation method in ``tests/unit/test_exceptions.py`` to verify this. For every instance e, str(e) should equal e.getMessage().

[2015-10-08 15:23] jeromekelleher opened #694 "Update protocol errors tests."
Update `tests/unit/test_protocol_errors.py`` to test all search endpoints. Run the tests using ``nosetests -vs tests/unit/test_protocol_errors.py``.

- Remove the TODO comment, and the check requestClass being in the set of supported methods. (Ignore comment about turning protocol.postMethods into a function).

- Add a new test to check each search endpoint for InvalidJson. Sending malformed JSON

[2015-10-08 15:41] jeromekelleher opened #695 "Add faulty data tests for read data"
The ``tests/unit/test_faulty_data.py`` module is used to test what happens when we provide bad input data to the server. The bad input data is stored in ``tests/faultydata``.

Add some malformed BAMS (say, for example, having no header, or missing some vital information) to the tests/faultydata/reads directory, and write some tests to check that creating a HtslibReadGroupSet object using these fil

[2015-10-08 23:36] adamnovak opened #697 "Graph Reads API Prototype"
Right now the graph branch of the server doesn't implement the reads API. A prototype implementation of the reads API on the graph branch might be a good hackathon project.

Unfortunately, not knowing all that much about the server internals, I don't really know where one might start.

[2015-10-08 23:39] adamnovak opened #698 "XG Graph Backend"
@ekg has written [xg](https://github.com/ekg/xg), which implements succinct storage of bidirected sequence graphs. It would be nice to be able to serve out an xg-format reference graph from the graph branch server.

[2015-10-09 07:19] jeromekelleher commented on #697
I think the best approach would probably be to try and rebase the graph branch and bring it up to date. This would require a parallel rebase of the schemas I think, but shouldn't be too hard once changes have been reasonably localised.

[2015-10-09 11:57] jeromekelleher opened #700 "Update coverage checks to include branch misses"
We use the [coverage](https://coverage.readthedocs.org/en/latest/index.html) module as integrated with [nosetests](https://nose.readthedocs.org/en/latest/) to measure the test code coverage.

Update the configuration in .travis.yml to include [branch coverage](https://coverage.readthedocs.org/en/latest/branch.html), and adjust the required threshold downwards to account for our lower coverage unde

[2015-10-09 12:10] jeromekelleher opened #701 "Find unused exception classes and remove"
The ga4gh/exceptions.py module is the central repository for exceptions, which makes importing them and keeping track of the inheritance hierarchy easy. However, it can be hard to keep track of which ones are being used.

Find the exceptions which are currently not being used in the code base and delete them.
For example,

[code]

Since the only match we have is the exceptions.py file, this except

[2015-10-09 13:04] jeromekelleher opened #702 "Better default behaviour for CLI reads-search command"
The client command line interface provides an easy to use interface to the server functions. For example, we can use
[code]
to run the datasets/search command. To make this as user-friendly as possible we try to do the obvious thing when arguments are not provided. For example, when we run the variants-search without arguments like
[code]
we find all ``VariantSets`` on the server, and run the vari

[2015-10-09 15:08] jeromekelleher opened #704 "Add more tests to test_client_json test."
The command line interface client tool provides an easy way to get the JSON for objects in the server. For example, we can run
[code]
to get
[code]
(We use jq here to pretty-print the JSON output for convenience).

The ``tests/end_to_end/test_client_json.py`` tests the command line interface to ensure that the JSON output is exactly what we expect. However, only a couple of the endpoints have been

[2015-10-09 15:16] jeromekelleher opened #705 "Fix strand bug in ga2sam"
(This issue is part of a trio of closely related issues #705, #706 and #707 that would be well suited to a group of people working together on.)

Running
[code]
with a server running on the ga4gh-example-data results in an error.

Fix this issue. The code for this is in ``ga4gh/converters.py`` in the ``SamConverter`` class.

[2015-10-09 15:33] jeromekelleher opened #706 "Add header information to ga2sam"
(This issue is part of a trio of closely related issues #705, #706 and #707 that would be well suited to a group of people working together on.)

The `ga2sam` utility converts the results of a `reads/search` request to the server into SAM/BAM format using pysam. This utility is roughtly functional, but needs some work to fill out the rough corners. One area that hasn't been worked on is writing an

[2015-10-09 15:44] jeromekelleher opened #707 "Update ga2sam tests to check all fields"
(This issue is part of a trio of closely related issues #705, #706 and #707 that would be well suited to a group of people working together on.)

The ga2sam utility is tested by converting a specific readGroupSet to SAM format and comparing with the original BAM file. This is done in `tests/unit/test_converters.py`. Run the tests by running `nosetests -vs tests/unit/test_converters.py`.

Update th

[2015-10-11 19:29] jeromekelleher opened #711 "Update server_benchmark.py"
The ``server_benchmark.py`` script is used to benchmark the server backend without the complications of HTTP overheads. It runs some queries, and uses guppy to profile where the time was spend in generating the responses.

This script has fallen out of date and does not work with the current  server.

- Change the UI so that the mandatory positional argument is dataDir.   Remove the callSetIds and

[2015-10-11 19:40] jeromekelleher opened #712 "Add FASTA output option for client list-reference-bases command"
The server supports the list-reference-bases command to provide
an easy way to get reference sequence over a given interval. This
is implemented in the references-list-bases command in the command
line client. For example, we can run

[code]

which prints out the sequences to stdout. We want to add the option
to print the sequences to stdout in FASTA format. Open `ga4gh/cli.py`
and find ListRefere

[2015-10-11 19:51] jeromekelleher opened #713 "Add datadriven tests for nextMatePosition."
Data driven tests allow us to run a set of tests against a range of input files. This is very useful for ...quirky... bioinformatics file formats, so we can verify that we behave correctly under a variety of circumstances.

Data driven tests are defined in ``tests/datadriven`` and we can run them using, .e.g ``nosetests -vs tests/datadriven/test_reads.py``.

- Edit ``tests/datadriven/test_reads.py

[2015-10-11 19:59] jeromekelleher opened #714 "Investigate alternative library for FASTA reading for datadriven tests."
Data driven tests allow us to test our translation code in the face of input data (see #713 for a description).

We currently use pysam in our production code and in our datadriven test code. See if we can use some other FASTA library instead in ``tests/datadriven/test_references.py``. Ideally we want a small,
self-contained pure Python library that doesn't pull in a lot of  requirements. Performa

[2015-10-11 20:17] jeromekelleher opened #715 "Add simulated VariantSetMetadata and tests"
The ga4gh.backend.SimulatedBackend class is very useful as it allows us to run a server without any data. We can simulate arbitrarily large data sets which is essential for testing. The SimulatedBackend is used extensively for testing, and allows us to test corners of the API which might be difficult to exercise using file based data.

The simulators are currently quite limited, however, Here, we

[2015-10-11 20:32] jeromekelleher opened #716 "Add CORS and HTTP status code test for ListReferenceBases"
[CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing) support is required for servers to support JavaScript clients. Tests verifying the server's CORS support are in ``tests/unit/test_views.py``, which tests other high-level HTTP related things (this test module is now poorly named, and should really be ``test_http.py`` or something; the hackathon isn't the time for this sort of refa

[2015-10-11 20:51] jeromekelleher opened #717 "Improve Simulated reads."
Simulated data is very important for testing, as discussed in #715. The simulator for reads is currently very crude. Some improvements we can make

- Add some simulated programs. See the [schemas](https://github.com/ga4gh/schemas/blob/master/src/main/resources/avro/reads.avdl) for definitions of what they are. These don't need to be particularly realistic, we just want something to put in there to

[2015-10-11 20:59] jeromekelleher opened #718 "Create interesting client API example touching all parts of the API"
We need an example of the API working across all parts of the data. We need to show how we can link up variants, references and reads with simple Python code.

The API docs are [here](http://ga4gh-reference-implementation.readthedocs.org/en/develop/api.html).

The existing demo for using the [variants API](http://ga4gh-reference-implementation.readthedocs.org/en/develop/demo.html) is a good place

[2015-10-11 21:04] #489 closed

[2015-10-11 21:04] #509 closed

[2015-10-11 21:04] #595 closed

[2015-10-11 21:05] jeromekelleher commented on #628
Has this been clarified in the latest docs @macieksmuga?

[2015-10-11 21:08] jeromekelleher opened #719 "Update the download_data.py to download correct reference"
The ``scripts/download_data.py`` is used to create the ga4gh-example-data file. Reads and variant data are download from 1000 genomes, and works by pulling down a small number of variants, and the subset of reads and the reference sequence covering those variants.

Getting access to the correct reference data has proved to be tricky though. See issue #635 for a discussion of the basic issue. Basic

[2015-10-11 21:09] jeromekelleher commented on #635
This is now essentially the same issue as 719. Both can be closed if the issue is resolved.

[2015-10-12 00:52] jeromekelleher opened #720 "Generalise the captureOutput function"
Generalise the captureOutput function in ``tests/end_to_end/test_client_json.py`` to also capture stderr, and take arbitrary functions as arguments.

- Create a new function ``utils.captureOutput`` function, and refactor ``test_client_json.py`` to use this.

- Add some test cases for this function to ensure it's working correctly.

[2015-10-12 11:40] bwalsh commented on #666
A generalized MAF->GA4GH would be a useful start.
https://www.broadinstitute.org/oncotator/help/

[2015-10-12 12:58] dcolligan commented on #665
So we've decided on 0.2.0a1, and we aren't going to make a release imminently... can we close this?

[2015-10-12 13:45] dcolligan opened #721 "Checkpoints for download data script"
It would be nice if the `download_data.py` script picked up where it left off from the second time it was run after a crash.  Crashes happen often because we are using htslib to do remote fetches from (perhaps) overloaded servers.

One implementation option is to just create / delete checkpoint file(s) that record what state the script got to before it crashed.

[2015-10-12 14:28] diekhans commented on #720
Instead of formatting command as strinsg and then parsing back into a vector of arguments, how about just constructing it as a vector?

- Hand constructing shell-compatible quoted strings is fragile and hard to get right in corner cases
- commands as lists are easier to incremental build

[2015-10-12 14:34] jsh2134 commented on #635
The SolveBio API currently supports pulling this data free (albeit with different parameters)

I'm one of the SolveBio devs (here at g4ahack) and would be happy to help incorporate it for #719. The sequence currently requires an API_KEY but we are planning on making it fully public

`$ curl -XGET "https://$SOLVEBIO_API_KEY@api.solvebio.com/v1/gws/sequence?genome_build=GRCh37&start=100000000&chromo

[2015-10-12 14:41] dcolligan opened #723 "Add nose cover plugin to requirements.txt"
Jerome was really sad when his demo didn't work.  Let's ensure this tragedy never happens again.

`nosetests` was reporting that there was no such flag as `cover-min-percentage`

I believe this is the required plugin: http://nose.readthedocs.org/en/latest/plugins/cover.html

[2015-10-12 14:42] delagoya commented on #720
+1

[2015-10-12 14:50] jeromekelleher opened #724 "Add gitter support for hackathon"

[2015-10-12 14:51] denis-yuen commented on #701
python neophyte here, will take a look at this

[2015-10-12 14:52] marghoob commented on #717
I am interested in this one.

[2015-10-12 14:53] dcolligan commented on #724
The link is here https://gitter.im/ga4gh

Can other people join?

[2015-10-12 14:57] adamnovak commented on #724
I can, but I'm in the organization. The question is can people outside join.

[2015-10-12 15:10] jsh2134 commented on #690
Working on this!

[2015-10-12 15:11] pcingola commented on #677
Working on this.

[2015-10-12 15:13] dcolligan commented on #724
Ok, never mind... the new room is here: https://gitter.im/ga4gh/server

[2015-10-12 15:17] Tixii commented on #689
Im working on this

[2015-10-12 15:18] #724 closed

[2015-10-12 15:21] sguthrie commented on #674
Working on this!

[2015-10-12 15:22] jercoh commented on #688
Working on this one

[2015-10-12 15:24] reece commented on #635
I'm interested in this issue and #719.

I propose to use NCBI's eutils, which supports accession-based lookup and sequence slicing, and it's quick.

[code]

[2015-10-12 15:24] marghoob commented on #712
Working on this one.

[2015-10-12 15:29] #720 closed

[2015-10-12 15:31] #665 closed

[2015-10-12 15:35] Tixii opened #726 "Lack of tea available"
There are multiple non-coffee drinkers in desperate need of caffeine !

[2015-10-12 15:37] andrewyatz commented on #679
I'll take a look at this

[2015-10-12 15:37] dcolligan opened #727 "Bug for some in test_converters.py"
[code]

[2015-10-12 15:41] jsh2134 commented on #635
Yes! We will def remove registration and make the API spec public (although not for the purposes of this hackathon) - Def use NCBI if you're working on it today and once we make it easier on our end, we'll submit a PR.

Also we (SolveBio) are sitting by the Starbucks coffee if you wanna chat IRL

[2015-10-12 15:41] dcolligan commented on #727
read `dataset1:chr17.1-250:fish:x3` has a null `nextMatePosition`, which is allowed by the schema

[2015-10-12 15:45] reece commented on #635
Okay. I'm working on this one.

[2015-10-12 15:48] jeromekelleher commented on #662
This should use the client api: http://ga4gh-reference-implementation.readthedocs.org/en/develop/api.html#client-api

[2015-10-12 15:49] hershman commented on #662
I'll dig into this

[2015-10-12 15:55] sguthrie commented on #674
@jeromekelleher, would you prefer a direct copy-paste between the schemas documentation or would you like some edits to make the new documentation fit stylistically?

[2015-10-12 15:58] dcolligan commented on #727
Fixed in #728

[2015-10-12 15:58] #727 closed

[2015-10-12 16:26] jeromekelleher commented on #726
How water on the way!

[2015-10-12 16:30] sguthrie commented on #683
Working on this!

[2015-10-12 16:31] skeenan commented on #726
resolved

[2015-10-12 16:31] #726 closed

[2015-10-12 17:09] marghoob commented on #712
@jeromekelleher, need more clarification on the last bullet.

[2015-10-12 17:10] pkrusche commented on #702
For the last part, the ReadGroup objects only seem to have a referenceSetId, what we'd need is a referenceId. I am guessing this referenceId will come from each read, so this would need to be done in the backend?

[2015-10-12 17:13] dcolligan commented on #701
Fixed in #729

[2015-10-12 17:13] #701 closed

[2015-10-12 17:22] dcolligan commented on #716
Looks like the list reference bases endpoint is already tested (`self.sendReferenceBasesList`) but these four endpoints are not:

1) reference sets search 2) read group sets search 3) call sets search 4) call sets get

[2015-10-12 17:24] sguthrie commented on #683
@jeromekelleher, what is the expected behavior for backend.getDatasets(), backend.getDatasetByIndex, backend.getDatasetByName (and the corresponding reference set functions) when no datasets are loaded? Should an empty response be given or an error thrown?

[2015-10-12 18:16] dcolligan opened #734 "process_schemas.py should fail more obviously when pointed to the wrong directory"
Running `process_schemas.py` pointing to the wrong directory e.g.
[code]
produces a `_protocol_definitions.py` that is unusable, but should probably throw an error.

[2015-10-12 18:24] adamnovak opened #737 "Kill ReadGroupSets"
A ReadGroupSet is a very vague object with not really any particular associated semantics. We should replace it everywhere it is referenced with just the set of particular ReadGroup IDs being referred to.

[2015-10-12 18:30] dcolligan commented on #737
-1

A read group set = a BAM file

In any event, that's defined by the schema, so if this decision is made, it should be made there.

[2015-10-12 18:37] jeromekelleher commented on #737
Agree with @dcolligan --- this is a schema issue, so closing here.

[2015-10-12 18:37] #737 closed

[2015-10-12 18:48] dcolligan commented on #734
Fixed in #736

[2015-10-12 18:48] #734 closed

[2015-10-12 18:51] #679 closed

[2015-10-12 18:52] dcolligan commented on #679
Fixed in #735

[2015-10-12 18:59] dcolligan commented on #674
Fixed in #730

[2015-10-12 18:59] #674 closed

[2015-10-12 19:29] jercoh commented on #688
Not finished yet

[2015-10-12 19:52] adamnovak commented on #717
I am sort of working on this.

[2015-10-12 20:03] marghoob opened #742 "Add test for FASTA output from reference-list-bases"
The tests should make sure the FASTA output is as expected. Tests the feature added in #732 pull request (issue #712).

[2015-10-12 20:04] dcolligan commented on #702
Fixed in #738

[2015-10-12 20:04] #702 closed

[2015-10-12 20:07] jeromekelleher commented on #677
Fixed by #733.

[2015-10-12 20:07] #677 closed

[2015-10-12 20:11] dcolligan opened #743 "Add section to docs about avoiding git pull"
Many people (including multiple ones at the hackathon) have been tripped up by using `git pull` and (usually) later trying to squash commits, which creates extraneous merge conflicts.  Add something to the github workflow section of the docs explaining why `git pull` should be avoided.

[2015-10-12 20:21] andrewyatz commented on #676
PR incoming

[2015-10-12 20:28] diekhans commented on #737
ReadGroupSet is the equivalent of most BAM files.  That is, a
set of read groups for a given sample library.  This is rather
important, as it is the unit that is normally analyzed.

I would suggest that the problem is not with ReadGroupSet
object, but how poorly specified it is.  It is marked for
improved specification in the documentation branch.

Just need someone who defined the object to step

[2015-10-12 20:40] #676 closed

[2015-10-12 20:43] mp15 opened #748 "Conversion to SAM produces flags that are all 0"
Conversion to SAM produces flags that are all 0, this is manifestly incorrect.

[code]

[2015-10-12 20:48] andrewyatz commented on #682
PR incoming

[2015-10-12 20:50] bartgrantham opened #751 "Return reference in searchVariantSets"
Working on a beacon implementation that leverages the reference implementation and the Beacon v0.2 schema includes a field for the reference and id of a dataset: BeaconInformationResource.datasets.reference/id

It'd be nice of this was included in the results of the searchVariantSets call so that I could just pass this through to the user.

[2015-10-12 21:18] mp15 commented on #705
Does #728 fix this?

[2015-10-12 21:21] jeromekelleher commented on #705
I think this was solved earlier today to fix CI issues. I've just verified it's fixed. Closing.

[2015-10-12 21:21] #705 closed

[2015-10-13 02:28] adamnovak commented on #737
We probably should move the discussion over to a schemas issue, but I
figure I should explain in more than two words why I don't like
ReadGroupSets.

Basically, a ReadGroupSet *is* a BAM file, but the fact that two read
groups were in the same BAM file in and of itself doesn't really *mean*
anything, semantically. I can glom together any arbitrary combination of
ReadGroups from different samples,

[2015-10-13 19:54] mp15 commented on #748
Resolved

[2015-10-13 19:54] #748 closed

[2015-10-13 19:58] mp15 opened #758 "Info tag mushes up arrays and ints into strings so can't roundtrip SAM"
Whilst attempting to write a test for SAM roundtrip I found the following:

[code]

The line responsible is:
https://github.com/ga4gh/server/blob/a9a7c57e538298a2fbc38fe7fabf9522abd1870e/ga4gh/datamodel/reads.py#L594

[2015-10-13 20:54] jeromekelleher commented on #758
Isn't this what's required by the schema though?

https://github.com/ga4gh/schemas/blob/master/src/main/resources/avro/reads.avdl#L280

Awesome that you're looking at this @mp15!

[2015-10-13 21:30] mp15 commented on #758
Yes the schema is rather silly in that respect, I suspect it might have been a placeholder. Unless anyone can think of a good reason why we love casting to string I'll put in a pull request to schema and see what folk say.

[2015-10-14 12:18] jeromekelleher commented on #758
Sounds good to me @mp15, let's see what folks think on the schema side.

[2015-10-14 13:54] ekg commented on #698
Or to base the server on it...

The 1000G+h37 reference graph requires <10G of RAM for a queryable succinct
representation in xg. This could really help scaling out the server.

Things could be improved further with a dynamic succinct version. Right now
constructing an xg is memory intensive.
On Oct 8, 2015 7:39 PM, "adamnovak" <notifications@github.com> wrote:

[2015-10-15 14:27] #682 closed

[2015-10-15 17:16] reece opened #759 "use accessions rather than chromosome names for reference sequences"
Using chromosome names as labels for reference sequences is likely to lead to insidious bugs and user errors. It would be much better to use identifiers that map to immutable sequences (e.g., a sequence hash or accession), then map these to human aliases. In addition to decreasing the likelihood of bugs, this approach makes it much easier to handle patch regions and alternate assemblies.

[2015-10-15 17:17] reece commented on #759
@dcolligan: created issue as you requested at the hackathon.

[2015-10-15 17:28] jeromekelleher commented on #759
I completely agree @reece, using labels like `chr1` in code is a terrible idea. However, this is a schemas issue --- we can only implement what's defined there. I think your perspective would be very valuable in the great ID/name/label etc debate. See https://github.com/ga4gh/schemas/issues/418

My take is that _all_ API linkage points between objects should be via server IDs, without exception.

[2015-10-15 17:49] reece commented on #759
I thought it should be schemas too, but Danny asked for it here. I was unaware of ga4gh/schemas#418 and agree that it should be there.

I'm going to close this issue since it's neither a bug nor an immediately actionable task.

[2015-10-15 17:49] #759 closed

[2015-10-15 18:01] dcolligan commented on #690
Fixed in #739

[2015-10-15 18:01] #690 closed

[2015-10-15 18:06] dcolligan commented on #759
@reece sorry to lead you astray here!

[2015-10-15 18:14] reece commented on #759
No prob! And I didn't mean for that to read as blame!
I was just telling someone that I'm looking forward to the next hackathon!

[2015-10-16 01:17] pcingola opened #761 "Process schemas scripts crashes...."
Process schemas scripts crashes when:
  i) Schema entry has no comments (documentation) lines
  ii) Union has null in different order than expected (e.g. union<null, string> as opposed to union<string, null>)

[2015-10-20 12:03] #688 closed

[2015-10-20 16:21] dcolligan opened #764 "Add docs about broken github CI/merge model"
It is possible to have a PR pass CI but then have the mainline branch fail CI after the PR is merged.  Add something to the docs about why this happens, what we do to fix it, how to avoid it, etc.

[2015-10-20 16:29] dcolligan opened #765 "Add link to git book in docs"
https://git-scm.com/book/en/v2

[2015-10-21 19:04] jeromekelleher commented on #765
fixed in #766.

[2015-10-21 19:04] #765 closed

[2015-10-21 19:58] jeromekelleher opened #768 "Simplify seqfetcher code for specific needs in download_data.py"
This is a follow on from PR #754, which is in turn adressing #635 and #719. Closing this issue should resolve both of these issues too.

The code in #754 is very powerful, but is really a lot more than we need. All we want is a simple method to download GRCh37 sequences, and no more. Therefore, adapt the code in #754 as follows:

1) Copy the function fetch_seq_ncbi to ``scripts/download_data.py``,

[2015-10-22 10:06] dcolligan commented on #761
Fixed in #762

[2015-10-22 10:06] #761 closed

[2015-10-22 12:20] jeromekelleher opened #769 "Step-by-step installation instructions needed for OSX"
Lots of people struggled to get the server working on OSX during the hackathon. We need clear instructions to install the prerequisites using (e.g.) homebrew. The crypto requirements are particularly problematic, so we need to improve this.

[2015-10-22 15:05] mbaudis commented on #769
+1 on this!

[2015-10-23 16:34] macieksmuga opened #771 "Move git branching model to master/topic/release"
Move the git branching model of this repo to match the branching models of the other ga4gh repos:
Master branch has the latest development checkins that pass CI, topic branches for active development of features and release branches for release maintenance.

[2015-10-23 16:35] reece commented on #768
Okay, seqfetcher code incorporated.

I did 1, 2, 4 as described.

I did not add the --test option (3, above) because I would like to encourage that we add more conventional doctests support separately. (If this were part of the main server code, I would consider testing essential, but that's not the case here.)

I also verified that the previous GRCh38 reference excerpts matched those now download

[2015-10-23 18:39] dcolligan commented on #771
Was there ever a whiteboard session at the conference about releases?

[2015-10-23 18:49] diekhans commented on #771
just a brief presentation by Benedict.

Danny Colligan <notifications@github.com> writes:

[2015-10-26 12:37] dcolligan commented on #743
Fixed in #767

[2015-10-26 12:37] #743 closed

[2015-10-26 12:38] dcolligan commented on #764
Fixed in #767

[2015-10-26 12:38] #764 closed

[2015-10-26 12:38] dcolligan commented on #743
Fixed in #767

[2015-10-26 19:09] jeromekelleher commented on #771
What do we need to do to make this happen?

1. Clear out any remaining PRs against develop;
1. Update developer docs to s/develop/master/g
1. mv develop master, and update GitHub's default branch.

Anything else?

[2015-10-26 19:10] danvk commented on #509
Hi @jeromekelleher, just wanted to ask about the status of the docs update you mentioned.

[2015-10-26 19:26] jeromekelleher commented on #509
The docs should be updated on

http://ga4gh-reference-implementation.readthedocs.org/en/develop/configuration.html

now @danvk. Just make sure that you're following the docs for the ``develop`` branch, as the ``stable`` docs are very old now. If you see anything that could be clearer please open an issue here!

[2015-10-26 19:28] jeromekelleher commented on #768
Looks great, thanks @reece. Re doctests, what sort of thing would you like to see done for this? I've never really used doctests, so any input you'd have here would be very valuable.

[2015-10-26 19:38] danvk commented on #509
Thanks for the pointer. The `README.md` file on the `develop` branch links to the `stable` docs. If those are out of date and don't reflect the state of `develop`, then the links should be changed.

[2015-10-26 19:49] jeromekelleher commented on #509
Thanks @danvk --- PR #774 should fix it.

[2015-10-26 23:14] reece commented on #768
Follow up to comment re: GRCh37 and 38 sequence equivalence: The sequences are not equivalent, but tests still pass.

[2015-10-26 23:21] reece commented on #768
@jeromekelleher I recommend adding doctests for commonly used public functions that don't involve extensive computation. This should probably be part of the documentation project.

Then, one can test them by adding something like the following to setup.cfg (adjacent to setup.py):

[code]

(For an example, see https://bitbucket.org/biocommons/hgvs/. All the documentation, including the README.rst i

[2015-10-27 11:57] dcolligan commented on #771
4. signal to everyone somehow (probably creating an issue) that they should now make pulls against master

I think that covers it.

[2015-10-28 12:09] dcolligan commented on #723
I just built the server and ran the tests from scratch and didn't encounter any problems... it seems weird that we would encounter problems since that coverage plugin seems to come with nose by default... @jeromekelleher can you reproduce this?

[2015-10-28 19:02] jeromekelleher commented on #723
Thanks for looking at this @dcolligan; it was a quirk of my setup. Turns out I had Debian Wheezy's version of nose installed which was on my path before the local version, and this was getting run instead.

[2015-10-28 19:02] #723 closed

[2015-10-28 19:22] jeromekelleher opened #775 "Add doctests"
Copying the @reece's text from #768 here:

I recommend adding doctests for commonly used public functions that don't involve extensive computation. This should probably be part of the documentation project.

Then, one can test them by adding something like the following to setup.cfg (adjacent to setup.py):

[nosetests]
doctest-extension=rst
doctest-options=+ELLIPSIS,+NORMALIZE_WHITESPACE
with-doct

[2015-10-28 19:23] jeromekelleher commented on #768
Sounds good to me @reece --- I've opened a new issue on it #775.

[2015-10-30 11:22] dcolligan opened #777 "Make mainline branches protected branches"
Github just (finally) rolled out a feature that prevents force pushes to certain branches

https://help.github.com/articles/about-protected-branches/

https://github.com/blog/2051-protected-branches-and-required-status-checks

We should enable this on all the mainline branches.  Not just in server but across GA4GH.

[2015-11-02 13:11] dcolligan commented on #775
Where do we have "commonly used public functions that don't involve extensive computation" that aren't or wouldn't be covered by unit tests?  Is this only about the scripts directory?

[2015-11-02 13:11] dcolligan commented on #758
Can we close this since this is a schema issue?

[2015-11-02 13:17] dcolligan commented on #751
Returning additional information like that seems incongruous with the design of the stack.  What do you think, @jeromekelleher ?

[2015-11-02 13:26] mp15 commented on #758
Not really unless we want to drop support for ga2sam_dev.py and info fields in general. The server may be compliant but that means nothing if it doesn't work for the common use case and it's still going to require code changes to fix. If I can't get the schema change approved we may have to make a list of well known tags and their types and use that to recover type instead.

Incidentally for refer

[2015-11-02 14:54] diekhans commented on #758
See https://github.com/ga4gh/schemas/issues/445 for discussion on richer and common representations of attributes.

[2015-11-02 20:04] jeromekelleher commented on #775
Well, they don't have to be not-covered by unit tests; doctests would be an additional layer of testing, not a replacement for unit tests. I'm having trouble thinking of anything on the server side that would be suitable, though, since we're not really presenting a Python API to the user there. However, we might be able to do something on the client side?

[2015-11-02 20:08] reece commented on #775
On Mon, Nov 2, 2015 at 5:11 AM, Danny Colligan <notifications@github.com>
wrote:

That was just general advice.

I like to use doctests in at least two cases. The first is where the code
is so trivial that it doesn't justify a unit test. Think something like a
camelCase-to-snake_case converter. The more important use is to give
readers a reliable example that explains how to use the code. Because

[2015-11-02 20:26] jeromekelleher commented on #751
In the schema there is a field ``VariantSet.referenceSetId`` that we're not setting at the moment @dcolligan, which is a bug on our side. We need to figure out a way to tie VCF's and referenceSets together. Technically we could do this using some values in the header of the VCF, but I don't know how well standardised they are (not very, I suspect). Basically, we need to decide whether we come up w

[2015-11-05 16:51] dcolligan commented on #742
Fixed in #773

[2015-11-05 16:51] #742 closed

[2015-11-05 19:50] dcolligan commented on #669
Closing this

[2015-11-05 19:50] #669 closed

[2015-11-05 19:51] dcolligan commented on #678
Can probably close this now

[2015-11-05 19:51] #678 closed

[2015-11-06 08:24] #719 closed

[2015-11-06 08:24] #768 closed

[2015-11-09 13:12] dcolligan commented on #700
Fixed in #779

[2015-11-09 13:12] #700 closed

[2015-11-10 14:18] dcolligan commented on #721
Fixed in #778

[2015-11-10 14:18] #721 closed

[2015-11-10 14:22] dcolligan commented on #426
Sean's making progress on this

[2015-11-10 14:22] #426 closed

[2015-11-12 19:34] hjellinek opened #781 "/references/search ignores (bogus) accession parameter?"
I'm running the compliance test `ReferencesSearchIT.checkSearchingReferencesWithInvalidAccessionReturnsEmpty` against the compliance data from the master branch of ga4gh/compliance loaded into the latest ga4gh/server.

The test creates a `SearchReferencesRequest` that contains the ID of reference set `hg37` (`"aGczNw=="`) and a randomly-generated accession ID (`"14e6b2b6-b1b8-440b-b599-6e58b4a70ed

[2015-11-12 19:58] IanRogers-LShift commented on #526
The python implementation of semantic versioning could be useful here https://pypi.python.org/pypi/semantic_version

It seems sensible to encode at most the first two parts of the server version in the url. Perhaps also add a /supports url (or some such, with no version number) which a client can interrogate to discover a common version.

[2015-11-12 20:01] jeromekelleher commented on #781
Thanks @hjellinek , good spot.

[2015-11-13 14:39] IanRogers-LShift opened #783 "testSamConversion fails on ubuntu 14.04 and ubuntu 15.05"
Running nosetests on latest server develop branch (commit  58b228bd8de761d110de897e50e36447553ba748) on ubuntu 14.04 fails with this error:

FAIL: testSamConversion (tests.unit.test_converters.TestSamConverter)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/ian/workspace/ga4gh/ga4gh/server/tests/unit/test_converters.py", line

[2015-11-13 14:41] jeromekelleher commented on #783
Thanks @IanRogers-LShift --- also confirmed on a fresh Ubuntu 15.10 installation.

[2015-11-13 15:25] IanRogers-LShift commented on #207
This is superceded by https://github.com/ga4gh/schemas/pull/485 I guess (convert server to use Protocol Buffers)?

PB can also generate a binary format. We need to agree the http accepts mime types to trigger the negotiation though. See http://stackoverflow.com/questions/30505408/what-is-the-correct-protobuf-content-type

I'd suggest:
- "application/json" forces json
- "application/octet-stream" o

[2015-11-13 15:55] jeromekelleher commented on #207
Yes, I think we can close this issue for clarity.

ps. See https://github.com/ga4gh/schemas/pull/431  for previous discussion on the mimetype.

[2015-11-13 15:55] #207 closed

[2015-11-13 17:00] jeromekelleher opened #784 "Protobuf transition overview"
This issue is to collect discussion about the transition to protobuf, and to provide a high-level overview of the planned transition.

1. On the protobuf branch, we make the minimal possible changes to the current server in order to replace Avro. This will happen through a series of PRs. The first PR will probably be the initial chanegover for the main server code, with any problematic tests disab

[2015-11-13 19:23] diekhans opened #785 "change pypi package name to allow for other GA4GH packages"
We are going to want to have a python client library in the near future,  and hopeful more python software

[2015-11-16 10:32] jeromekelleher commented on #785
Why do we want to do this? It'll be a lot of work pulling apart the client and the server, and I don't think we'd gain much from it. For example, we need pysam for both, and this is by far the biggest dependency. I think we should worry about this at a later date when it becomes a problem.

[2015-11-16 12:59] dcolligan commented on #781
Can't reproduce ... what version of the code are you using?  The `SearchReferencesRequest` object has an `accession` scalar, not an `accessions` array.  The `accession` parameter is not ignored in `backend.py`.
[code]

[2015-11-16 13:58] dcolligan commented on #783
Could not reproduce on Ubuntu 15.4:
[code]

[2015-11-16 14:12] diekhans commented on #785
This PR is only to setup pypi to allow for multiple GA4GH
packages with clear names.  The longer we go with package ga4gh
being the ga4gh reference server, the hard it will be to change.

I agree it is not currently a priority to separate out the
python client library.  However, if we are successful, we will
want at least one python client library.  It might not even be
the one with the server.  H

[2015-11-16 14:35] dcolligan commented on #783
Could not reproduce on Ubuntu 15.10:
[code]
The only difference I am using from the install instructions is installing `libssl-dev` as well as using a virtualenv instead of the `--user` flag.

@jeromekelleher do you see any differences from your installation where you could reproduce the issue?

[2015-11-16 15:09] jeromekelleher commented on #783
This is weird... Looks like an identical Ubuntu vm. What happens when you install as --user?

[2015-11-16 17:56] jeromekelleher commented on #785
OK, I agree with you in principle. Are there any ideas on the mechanics of this though? We have a ``ga4gh`` package, which currently maps to the name of the pypi package. This is very much the recommended way to do things. Unless we go for a wholesale reorganisation of the code, I think any renaming is going to make things worse.

[2015-11-16 18:00] jeromekelleher commented on #781
I think I see what's happened here --- we've turned off input validation so that the bad JSON provided wasn't flagged. Ignoring the  provided ``accessions`` value is the correct behaviour. Closing; thanks for following up @dcolligan.

[2015-11-16 18:00] #781 closed

[2015-11-16 18:36] diekhans commented on #785
The issues is really is what do we want the python name space to
look like going forward.  While the ref server is the only
significant piece of software, ga4gh is a lot bigger then the
server.

While having ga4gh.refserver ga4gh.clientlib, etc would be ideal,
I don't know how well this works in practice.  I know if you
have two ga4gh on PYTHONPATH, it doesn't work.  However, with
virtualenv, it d

[2015-11-17 09:37] jeromekelleher commented on #785
@dcolligan, any thoughts here?

[2015-11-17 14:05] dcolligan commented on #785
I'm +0 on this right now.  We know we're going to have to split the code up at some point, but that's a lot of work, and there doesn't seem to be a compelling reason to do it right now.  The server package is going to have to depend on the client package (for running a lot of the tests) so we should have the infrastructure in place to sync these repositories and a plan for how that is done before

[2015-11-17 14:53] dcolligan commented on #783
Installed as user, no problems with that test.  However, another test did fail:
[code]
This was fixed after an install of the ubuntu package `virtualenv` ... see #788

[2015-11-17 14:56] jeromekelleher commented on #783
This is bizarre... are you using a fresh VM? Could you be using an older compiled version of pysam or something, whereas we've made new ones (grasping at straws)?

[2015-11-17 14:57] dcolligan commented on #783
No, I created a brand spanking new VM and followed the instructions on our development doc page to install.

[2015-11-17 14:58] diekhans commented on #785
This is *not* a suggestion to split the code at this time. Only
to change the package naming in pypi so that it is easy to split
in the future.

Danny Colligan <notifications@github.com> writes:

[2015-11-17 15:14] jeromekelleher commented on #785
There's no easy way to do this @diekhans; if we change the name of the package, we have to change the code. All of the code. And all the docs. Given that we're supposed to be releasing in a matter of days, and we have a major technology transition going on concurrently, I have no appetite for anything that makes life any more difficult. We have lots of work to lose, and absolutely nothing to gain

[2015-11-17 15:16] jeromekelleher commented on #783
OK, maybe its a stochastic effect? How about if you run this test in a bash loop for a while?

[2015-11-17 15:28] dcolligan commented on #783
Tried that... no dice.  How about you take this one since I can't reproduce?

[2015-11-17 16:20] jeromekelleher commented on #783
Crud. OK, assigning this to me.

[2015-11-17 19:47] jeromekelleher commented on #783
OK, I can see why this isn't happening sometimes. We're only choosing one readgroup and the order these occur in is file system dependent. If we change to this code in testSamConversion the bug happens reliably. Looks like it is some problem with the flags conversion.

[code]

Over to you @dcolligan!

[2015-11-18 20:35] jeromekelleher opened #790 "Use setuptools_scm to set version numbers"
The pypa now recommend using [setuptools_scm](https://pypi.python.org/pypi/setuptools_scm/) to set version numbers from git tags. This looks very useful indeed --- we should use it unless some gotchas happen along the way.

Hat tip to @reece!

[2015-11-20 00:50] bwalsh opened #791 "A setup function was called after the first request was handled."
All:

Quick question,  I'm attempting to run full unit test suite and started to run into the following.
I've made no changes to test setup or front end...   does this look familiar to anyone?

Thanks,

-b

[2015-11-20 08:02] jeromekelleher commented on #791
It's not ringing any bells with me. Which tests are causing this? It would help to see the output verbatim without the markup --- can you put in some ``` around the quote please?

[2015-11-20 15:16] bwalsh commented on #791
Markup free out below

[code]

Also, the tests work fine when run individually

[code]

[2015-11-20 17:28] dcolligan commented on #791
Haven't seen that one before...

[2015-11-20 22:47] bwalsh commented on #791
Found it.

In ga4gh/serverconfig.py
[code]

[2015-11-21 20:24] reece commented on #790
On Wed, Nov 18, 2015 at 12:35 PM, Jerome Kelleher <notifications@github.com>
wrote:

I'm happy to implement this. The benefit is that the repo becomes the sole
authoritative source for versioning in code, docs, and packaging. My
release process is essentially 'hg tag 1.2.3 && hg push && python setup.py
sdist bdist_egg bdist_wheel upload'. (setuptools_scm works with hg and git)

Unknowns: 1) What's

[2015-11-23 21:02] jeromekelleher commented on #790
Go for it!

1) Do we need to integrate this into CI flow?
2) I'm not sure what Java packaging has to do with this; this is just for the server, right?

[2015-11-23 21:13] jeromekelleher commented on #791
Eesh. Good ole Flask, eh?

If this has been resolved, can we close the issue @bwalsh?

[2015-11-23 21:15] bwalsh commented on #791
Sure, go ahead and close. thanks

-Brian Walsh

On Mon, Nov 23, 2015 at 1:13 PM, Jerome Kelleher <notifications@github.com>
wrote:

[2015-11-23 21:19] #791 closed

[2015-11-25 19:58] reece commented on #790
On Mon, Nov 23, 2015 at 1:02 PM, Jerome Kelleher <notifications@github.com>
wrote:

I was thinking schemas too, but they're definitely distinct issues.

-Reece

[2015-12-01 11:52] jeromekelleher opened #792 "CI builds failing due to OIC error"
Investigating..

[2015-12-02 23:44] macieksmuga opened #794 "netLoc property in object obtained from urlparse."
I'm getting an error on attempting to run the develop branch of the server:
[code]
I see that there's a `netloc` property on `urlparse.ParseResult` objects, but none capitalized as `netLoc`.

[2015-12-03 08:56] jeromekelleher commented on #794
Thanks @macieksmuga, exactly right. Clearly our test coverage on the configure function is pretty shaky...

[2015-12-03 11:35] #794 closed

[2015-12-03 11:40] jeromekelleher commented on #792
fixed in #793.

[2015-12-03 11:40] #792 closed

[2015-12-04 21:40] mkzia opened #797 "GA4GH server 0.1.2 broken"
It seems that the update has broken the server or the documentation have not been updated. I am very sure that couple of weeks ago when I followed the API demo documentation things were working.
There seems to be two problems.

First, the server now requires the following directories that are not part of the example data set
[code]
Second, executing
[code]
gives the following error message
[code]

[2015-12-07 12:07] jeromekelleher commented on #797
Thanks for the bug report @mkzia. A few more details would be useful: are you using the version of the server from pypi or from github?

I agree the situation with the released version and the version in github being quite different is very unfortunate and confusing. We hope to  rectify this soon with an updated release, and we can then update all of the documentation as well.

[2015-12-07 13:46] mkzia commented on #797
I downloaded it using pip, which shows that the version is ga4gh==0.1.2.

[2015-12-07 14:10] jeromekelleher commented on #797
The correct documentation should then be

http://ga4gh-reference-implementation.readthedocs.org/en/stable/index.html

Does this clear things up?

Unfortunately it's not at all clear that this is the case, and I apologise for the confusion. The main problem is that the development version has diverged quite a lot from the released version. Hopefully we'll be able to release an update soon.

[2015-12-08 15:09] dcolligan commented on #783
Fixed in #789

[2015-12-08 15:09] #783 closed

[2015-12-09 14:08] jeromekelleher opened #800 "Update schemas to latest version"
There has been a few commits on the schemas since we last synced. We should update our copy of the schemas.

[2015-12-09 15:12] mkzia commented on #797
Yes. I was following the wrong documentation. Thanks!

[2015-12-09 15:28] jeromekelleher commented on #797
OK, thanks @mkzia. Closing this issue.

[2015-12-09 15:28] #797 closed

[2015-12-09 19:21] david4096 opened #801 "Multiple Read Group Requests fail test"
<img width="917" alt="screen shot 2015-12-09 at 11 19 48 am" src="https://cloud.githubusercontent.com/assets/3795586/11695953/da886884-9e66-11e5-8c61-c7e2d2f55052.png">

Line 495 in backend.py tests for the number of readGroupIds explicitly

            if len(request.readGroupIds) != 1:
            raise exceptions.NotImplementedException(
                "Exactly one read group id must be specif

[2015-12-09 19:51] david4096 opened #802 "Double brackets on reference source accession field"
It appears that an extra array bracket is being returned by the server for the source accessions field.

<img width="921" alt="screen shot 2015-12-09 at 11 50 57 am" src="https://cloud.githubusercontent.com/assets/3795586/11696827/2720e186-9e6b-11e5-9b1d-7ca38c0122b4.png">

[2015-12-09 20:00] david4096 commented on #802
Was a problem with how the compliance suite was testing against server.

[2015-12-09 20:00] #802 closed

[2015-12-10 10:39] jeromekelleher commented on #801
This is a known limitation in the server --- basically, this is too hard to do in our stateless design under the current paging requirements.

[2015-12-10 10:40] #801 closed

[2015-12-23 20:34] david4096 opened #804 "Validation error response"
When receiving a `400 Bad Request` it would be helpful if the fields in the request that didn't pass validation were in the message. For example, if a string is sent in place of an integer.

[2015-12-23 21:06] diekhans commented on #804
How the protocol buffers parser behaves will be a factor in what
error information can be returned.  Work on this issue should
be delayed until after the conversion.

David Steinberg <notifications@github.com> writes:

[2015-12-29 16:26] gabrielsaldana opened #805 "Problem setting up project"
I'm trying to set up a development environment with Docker following the current documentation at http://ga4gh-reference-implementation.readthedocs.org/en/latest/installation.html#deployment-on-docker but ran into some issues:

After docker image build, running: docker run myimage Outputs an error: OSError: [Errno 2] No such file or directory: '/ga4gh-example-data/referenceSets'

The link for the

[2016-01-04 09:58] jeromekelleher commented on #805
Thanks for the bug report @gabrielsaldana. The problem here is that our released version of the server is now very different to the development version of the server, and the documentation is now very confusing in terms of which version it refers to. Also, the docker setup isn't being maintained as well as it might be as we don't have any continuous integration testing for it currently.

For your

[2016-01-04 10:12] jeromekelleher commented on #804
Agreed with @diekhans --- we won't know quite how to do this until we've finished the protobuf conversion.

[2016-01-04 11:58] jeromekelleher commented on #800
Fixed in #803.

[2016-01-04 11:58] #800 closed

[2016-01-04 12:53] jeromekelleher opened #807 "Update to pysam version 0.8.4"
Our version of pysam has been pinned at 0.8.3 for a while now, and using 0.8.4 causes problems. We should update to 0.8.4.

[2016-01-04 13:51] jeromekelleher opened #810 "Document release process"
Once #790 has been resolved, document the process for creating a release.

[2016-01-04 15:47] jeromekelleher opened #813 "Change ``ga4gh_`` prefix to ``ga``?"
Currently, we have two first class command line interface programs: ``ga4gh_server`` and ``ga4gh_client``. These are somewhat verbose and clumsy. I propose that we replace these with ``gaserver`` and ``gaclient`` respectively. These are shorter and more POSIX-y. They do not clash with any program names in the Ubuntu repositories. There is a package on PyPI called ``gaclient`` but I don't think the

[2016-01-04 15:59] dcolligan commented on #813
I like the clarity of the current names

[2016-01-04 16:24] diekhans commented on #813
I would agree with Danny that a simple `gaclient' isn't very
clear.

How about just `ga4gh' for the client, and leave the server
ga4gh_server.  Very few unix client programs name themselves
*client.  It's ftp and ftpd, not ftpclient.

Danny Colligan <notifications@github.com> writes:

[2016-01-04 16:35] jeromekelleher opened #814 "Data repository management tool required"
The current server works well for the example dataset, but this is of limited use beyond development. We need to be able to easily serve arbitrary data from the server. Currently, we require the user to have a clear understanding of how the data repository is organised, and also to create JSON files of a specific format containing MD5 sums and other miscellaneous stuff. This is clearly not accepta

[2016-01-04 17:01] diekhans commented on #814
merge with https://github.com/ga4gh/server/issues/573

[2016-01-04 17:09] jeromekelleher opened #815 "Documentation pointed by the pypi page is currently incorrect"
The pypi page points to http://ga4gh-reference-implementation.readthedocs.org/en/stable/ for documentation. This is the stable docs, which corresponds to the last-tagged version, which is what we'll usually want. However, RTD only considers something as stable if it is not an alpha (even if it is tagged) and so we are currently pointing at the (very) old docs.

There isn't really anything we can d

[2016-01-04 17:20] jeromekelleher opened #816 "0.2.x series release plans"
This issue is intended to provide a forum to discuss the status of the server and plans for the 0.2.x series.

## Current Status

Version 0.2.0a1 has just been released, and will be followed by more alphas if any bugs show up. If not, we'll release version 0.2.0 within a few days. This version is a major update from the 0.1.x series, and is backward incompatible both in terms of the schema version

[2016-01-05 09:43] jeromekelleher opened #817 "Release tarball contains tests and test data"
The release tarball currently contains all of our test cases and test data. This seems like a bad thing, since in the nominal case of a ``pip install`` these will not be used for anything and are just wasted bandwidth.

It's not entirely straightforward to fix this. The problem seems to be with setuptools, which by default includes all files that are under version control in the distribution tarba

[2016-01-06 16:24] jeromekelleher opened #818 "Add links to schema docs in client API"
The [client API docs](http://ga4gh-reference-implementation.readthedocs.org/en/develop/api.html) should contain prominent links to the [GA4GH schema documentation](https://ga4gh-schemas.readthedocs.org/en/latest/).

[2016-01-06 20:02] dcolligan commented on #790
I'm -0 on integrating this into the CI flow, but the steps should be documented in the release process (see #810).

If we did integrate this into CI, we could just simulate a release with a dummy version number at the end of CI.

[2016-01-07 06:17] macieksmuga commented on #814
The ability to create a reference set based on a single FASTA file would definitely be nice. I got skewered on the weird requirement that each reference FASTA file contain a single reference contig:
[code]
Which strikes me as strange, since the single-FASTA distribution of GRCh38 sure is a nice convenient way to portably move around that reference set...

[2016-01-07 07:58] diekhans commented on #814
@macieksmuga please create a separate ticket for this enhancement.

This restriction is understandable, as NCBI distributes
the main human genome with one chromosome per fasta:

  ftp://ftp.ncbi.nlm.nih.gov/genomes/Homo_sapiens/CHR_01/

however, when you start throwing in unplaced regions and
altloci, this doesn't really work any more.

samtools provides fasta indexing.  Hopeful part of pysam.

Ma

[2016-01-07 11:42] jeromekelleher opened #821 "Update Apache installation documentation"
Update installation docs for Apache to reflect @macieksmuga's recent experience on an instance running Ubuntu 14.04:

Following the instructions as written in the installation documentation at
http://ga4gh-reference-implementation.readthedocs.org/en/develop/installation.html

A couple of changes needed:

—pre tag didn’t work on pip install ga4gh. I performed the pip install without that tag, and i

[2016-01-07 12:26] jeromekelleher commented on #807
Fixed in #809.

[2016-01-07 12:26] #807 closed

[2016-01-07 12:41] jeromekelleher opened #823 "Binary wheels for pypi are out of date"
Builds are taking a long time.

[2016-01-07 14:49] jeromekelleher opened #824 "Version 0.2.0 released!"
Version 0.2.0 has been pushed to pypi and the documentation on readthedocs updated.

Next stop, version 0.2.1!

[2016-01-07 15:53] sarahhunt opened #827 "Variant Annotation - GET VariantAnnotationSet"
GET /variantannotationsets/{id} endpoint needed

[2016-01-07 16:22] jeromekelleher commented on #827
I've added the label "Variant Annotation" for issues referring to the variation_annotation branch.

[2016-01-07 16:53] macieksmuga opened #829 "Modify requirement of one reference contig per FASTA file"
Per discussion in #814, @diekhans noted that some more complicated references (alt loci and the like) may contain multiple contigs per FASTA file. Also, I believe the entire GRCh38 reference is optionally packaged in a single FASTA:
[code]
which would make installing it trivially easy on a reference server instance.

Note that each reference contig within the file exists as a separate FASTA record

[2016-01-07 16:54] macieksmuga commented on #814
Thanks, Mark, I suspected that this restriction may break for more complicated reference structures (it sure does in the graph case). See issue #829

[2016-01-07 22:33] dcolligan commented on #824
(clap, clap clap)

Is creating issues like this necessary?  People subscribed to the repo already get a notification when a GitHub release is created (I think?).

[2016-01-07 22:34] dcolligan commented on #818
Fixed in #819

[2016-01-07 22:34] #818 closed

[2016-01-07 23:23] dcolligan commented on #823
Fixed in #828

[2016-01-07 23:23] #823 closed

[2016-01-08 09:48] jeromekelleher commented on #824
We should figure out a way to announce stuff properly. Should we set up a mailing list for server users? Or just spam the DWG lists?

[2016-01-08 10:21] skeenan commented on #824
@dcolligan not sure I saw any automated notification of a release in addition to this message. @jeromekelleher I could create a ga4gh-dwg-announce mailing list. How does that sound?

[2016-01-08 10:42] jeromekelleher commented on #824
@skeenan I like the sound of the ga4gh-dwg-announce --- this would be a good place to make these announcements.

[2016-01-08 11:26] #824 closed

[2016-01-08 11:28] jeromekelleher commented on #815
This has been fixed by tagging 0.2.0, and removing the 'stable' branch from the server repo which was confusing readthedocs.

[2016-01-08 11:28] #815 closed

[2016-01-08 11:38] dcolligan commented on #790
Fixed in #822

[2016-01-08 11:38] #790 closed

[2016-01-08 12:27] jeromekelleher commented on #813
The idea with the `ga` prefix is to be consistent across all of our CLIs. Right now, we have
[code]
We'll also soon have ``ga4gh_repo`` or something similar. I agree ``gaclient`` is less obvious than ``ga4gh_client``, but it is easier to type, and CLI users are used to remembering these sort of obscure things. If I know at all GA4GH programs start with ``ga``, I can type ``ga``, tab complete and g

[2016-01-08 14:44] jeromekelleher commented on #817
After much struggling and hacking on the setuptools and setuptools_scm code I've given up on this. I've created an issue for this with the PyPA: https://github.com/pypa/packaging-problems/issues/82

[2016-01-08 15:43] sarahhunt opened #831 "Variant Annotation - shrink/ standardise keys"
Four attribute names have been modified to match previous standards so need updating in the server. https://github.com/ga4gh/schemas/pull/522/files

[2016-01-08 15:46] sarahhunt opened #832 "Variant Annotation - Add VariantAnnotationSet name"
An optional VariantAnnotationSet name is now supported in the schema to match other records:
https://github.com/ga4gh/schemas/pull/524/files

[2016-01-08 16:11] diekhans commented on #813
`ga' doesn't seem very obvious to me.

All except for ga4gh_client are infrequently used.

I would suggest following the unix conventions and calling
rename `ga4gh_client' to simple `ga4gh', akin to `ftp'
instead of `ftp_client'.

Jerome Kelleher <notifications@github.com> writes:

[2016-01-08 16:13] diekhans commented on #824
Spam DWG list.  We need to get the word out widely.

Jerome Kelleher <notifications@github.com> writes:

[2016-01-08 16:26] jeromekelleher commented on #813
OK, what do you suggest so @diekhans:
[code]
and what do we call the repo manager? ga4ghrepomanager?

[2016-01-08 16:37] sarahhunt opened #833 "Variant annotation - update AnalysisResult"
AnalysisResult now holds the  analysisId rather than the full Analysis record.

https://github.com/ga4gh/schemas/pull/525/files

[2016-01-08 16:56] diekhans commented on #813
Suggest :
        ga4gh_client -> ga4gh

everything else ga4gh_*

although I do like the ring of ga4ghd ;-)

Jerome Kelleher <notifications@github.com> writes:

[2016-01-08 17:21] sarahhunt opened #835 "Variant Annotation - remove coLocatedVariants"
The option to return coLocatedVariants has been removed until a later schema version.

https://github.com/ga4gh/schemas/pull/529/files

[2016-01-08 18:09] dcolligan commented on #814
Considerations mentioned in Friday's call:
- allow an option to specify md5 checksums
- investigate indexing fastas instead of breaking them up
- pull BAMs out of S3 buckets
- option for symlinks
- (server) support for CRAM

[2016-01-11 14:06] sarahhunt opened #837 "Variant Annotation - remove feature search until features available"
Feature search removed from schemas and compliance suite until the sequence annotation models are merged.

https://github.com/ga4gh/schemas/pull/532/files

[2016-01-11 14:08] sarahhunt opened #838 "Variant Annotation - reformat HGVS"
HGVS descriptions moved to nested sub-record:

https://github.com/ga4gh/schemas/pull/531/files

[2016-01-11 21:30] reece commented on #813
On Mon, Jan 4, 2016 at 7:59 AM, Danny Colligan <notifications@github.com>
wrote:

I like the ga4gh prefix over ga.
I like parallelism and patterns.
I would reserve naked ga4gh for future use, such as a subcommand-style
interface (a la git).
Ergo, I'd do nothing to rename them.

[2016-01-12 09:36] jeromekelleher commented on #813
OK, it seems like there isn't enough enthusiasm for name changes right now, and no consensus on what we should rename to. Closing the issue.

[2016-01-12 09:36] #813 closed

[2016-01-12 10:25] jeromekelleher opened #841 "Use hgvs library for HGVS operations?"
In methods such as `convertLocationHgvsP` in ga4gh.datamodel.variants we seem to be doing some regex parsing. Is this implementing HGVS? If so, can we use the [hgvs](https://pypi.python.org/pypi/hgvs/0.4.4) module to do this? Otherwise, we'll need to write some test cases for this functionality.

[2016-01-12 10:30] jeromekelleher opened #842 "Simulator required for variant annotations"
There is currently no test coverage for the majority of the variant annotation code, and so it is very difficult to judge whether it works correctly or not. The best way to get test coverage is to implement a simulator, following the example of all the other data model objects.

The simulator does not have to be particularly realistic, it just has to be able to generate some data randomly so we ca

[2016-01-12 10:32] jeromekelleher opened #843 "Full test suite in test_simulated_stack required"
The variation annotations code needs tests for all API endpoints in the test_simulated_stack test module. This should exercise all API functionality, and ensure that the correct behaviour is observed based on simulated data.

Depends on #842.

[2016-01-12 10:35] jeromekelleher opened #844 "Data driven tests for variant annotations required"
There are no data driven tests for variant annotations to check that input data of various forms is handled correctly. Test data should be added to the test suite in the appropriate place, and data driven tests added.

[2016-01-13 10:23] jeromekelleher commented on #506
This has been resolved.

[2016-01-13 10:23] #506 closed

[2016-01-13 16:20] dcolligan commented on #487
We've released a new version; closing...

[2016-01-13 16:20] #487 closed

[2016-01-13 16:39] dcolligan opened #847 "Break cli.py into separate modules"
`cli.py` is getting pretty huge, there are several distinct sections marked off by huge comments delineating them, and there is no (or not much?) shared functionality between the sections -- this is usually a good clue that we should break each section into its own module.

[2016-01-13 16:46] jeromekelleher commented on #847
Sure --- make a cli package with submodules and keep shared code in the ``__init__.py``? Perhaps it would be good to do this after the initial version of the repo management tool, so we get a better idea of what should go where?

[2016-01-13 17:07] dcolligan opened #848 "Refactor cli.py to use addSubparser method"
Use a method like this:
[code]
in `cli.py` to avoid redundantly declaring an identical help and description string

[2016-01-13 17:11] dcolligan opened #849 "Document better workflow for working off topic branches"
e.g. long running topic branches like `rna`

[2016-01-13 17:45] jeromekelleher commented on #849
Yes please! We are going to have a bunch of these running in parallel for the next few months, so it would be great to have a proper system for keeping them up to date
.

[2016-01-14 15:53] jeromekelleher opened #851 "Updates needed for iPython notebook"
Issue #662 and PR #746 give an iPython script to demonstrate the API. Some comments in this PR thread were not resolved, however.

[2016-01-14 15:54] jeromekelleher commented on #662
Close this issue with PR #746; but see #851.

[2016-01-14 15:54] #662 closed

[2016-01-14 16:27] jeromekelleher opened #852 "New development branch is master!"
The new main development branch is now ``master``, and the develop branch has been deleted.

Until we release 0.1.1, the [stable docs](http://ga4gh-reference-implementation.readthedocs.org/en/stable/development.html) will be inaccurate.

In addition, this branch is now [protected](https://github.com/blog/2051-protected-branches-and-required-status-checks) and requires CI checks to pass before code

[2016-01-14 16:38] jeromekelleher commented on #849
@dcolligan --- would it be possible to make the main topic branches like variation_annotation, rna, etc, protected by GitHub? Is force-pushing necessary in a strategy for keeping the branches up-to-date with master?

[2016-01-14 18:52] macieksmuga commented on #849
Here's my proposed writeup, based on @saupchurch and my experiences with the RNA topic branch.
Terminology wise, there will be three classes of branches:

* the TRUNK (which we now call develop, but is usually called master),
* one or more TOPIC BRANCH(es) which is, for all intents and purposes, the trunk for the topic team, and
* FEATURE BRANCHES on which all new feature development occurs.

The

[2016-01-14 18:57] macieksmuga commented on #849
@jeromekelleher force pushing shouldn't be necessary. Keeping topic branches up to date with master should involve no more than a simple fast-forward merge on the branch maintainer's side, followed by a regular push upstream:
[code]

[2016-01-14 21:17] david4096 commented on #838
Resolved in https://github.com/ga4gh/server/pull/845
https://github.com/david4096/server-1/commit/93ede8a8a0934f76a6cac9e0f7193dc3932fe0a8#diff-f9ce58fdc26b5bb89ea0a4aa47a608faR661

[2016-01-14 21:43] dcolligan commented on #849
@jeromekelleher that's almost the same question as asking "are we going to be rebasing (to use @macieksmuga 's terminology) topic branches on top of trunk?"  If yes, we can't protect them, since rebasing rewrites history in the branch and thus must use force pushing to update the branch.  If no, we have the option of protecting them.

@macieksmuga 's writeup seems fine as far as it goes, but it do

[2016-01-14 22:24] macieksmuga commented on #849
Good questions, @dcolligan, here are my answers to them:

1) to be decided per-branch. For the time being, I'm on point for RNA/sequence annotations and David Steinberg is handing Variation annotation.

2) The steps for a branch maintainer to keep topic branch current with trunk are as follows:

* on latest local copy of topic branch, merge in latest version of master (`git pull upstream master` u

[2016-01-14 22:28] macieksmuga commented on #849
Also note that in the scheme I proposed, I'd stay away from rebasing except in the one case specified above - ie. in developers' individual feature branches. Topic branches would be kept in sync with master through merging only.

[2016-01-14 22:29] dcolligan commented on #849
So here are my thoughts on question (2):

There are three possible git workflows that I can conceive of for scenarios in which (like ours) there is a multilevel hierarchy of branches in which downstream branches submit changes to upstream branches, and in which downstream branches need to continuously incorporate updates from upstream branches.

Workflow A: "Pure rebase": every downstream branch s

[2016-01-14 23:37] macieksmuga commented on #849
I'm strongly advocating for C. A very good discussion on this issue can be found here:
https://www.atlassian.com/git/articles/git-team-workflows-merge-or-rebase/
which incidentally omits B as an option, since rebasing for local cleanup is a desirable and acceptable thing, no matter whether the shared team policy is rebase or merge).

A major reason I'm against A is that it doesn't play nicely with

[2016-01-14 23:52] diekhans commented on #849
I guess I really don't care so much about code history so much as what gets us working code in the easiest and safest manner.   It the revision history is a bit of a mess, is that an important thing to spend time on avoiding?

[2016-01-15 00:10] david4096 commented on #838
I reformatted the responses to follow this spec and will be reflected in #845. @sarahhunt could you give us some idea of what you expect for HGVS genomic coordinates? Is this read directly from the line of the VCF file or does it need to be computed somehow?

[2016-01-15 00:18] diekhans commented on #849
@dcolligan you are our git guru. Ignoring previous directions, what do you recommend?  It does seem like C is the best trade-off, but then again, I am a gitiot

[2016-01-15 00:20] dcolligan commented on #849
@macieksmuga that's a good article, but doesn't address the multilevel issue.  Granted, it could be argued that mutilevel strategies are just logical extensions of 2-level strategies.

The author argues that the big pro of merge-based strategy is traceability of branches.  I've never understood why some think it's important to know that e.g. a feature was developed in branch `awesome-feature-1234`

[2016-01-15 00:35] dcolligan commented on #849
@diekhans Our decision has to be driven by the following considerations:

1) Who is going to be managing the topic branches?  How comfortable with git are they?
2) Do we want to enforce a workflow for topic branches, or let topic branch managers decide how they want to manage their topic branch and contributions to it from downstream?

If we have people who feel comfortable with git and rebasing,

[2016-01-15 01:21] diekhans commented on #849
thanks for your wisdom @dcolligan.   If you get beyond the basics, git is really steep learning curve.  We don't necessarily have the expertise in the task teams.   I also don't see the importance of global workflow across the topic branches.  We more need to do this in a a way that works best for the people doing the work.  Git pain has wasted a lot of time in a couple of instances.

We just need

[2016-01-15 16:06] sarahhunt commented on #838
@david4096  - I would expect it to be read from the file. I didn't notice where the ref server annotation VCF was, but I see HGVSg descriptions aren't in the compliance test data , so I have added them in  https://github.com/ga4gh/compliance/pull/162. I can add them to the server VCF if you point me to it.

[2016-01-15 17:14] jeromekelleher commented on #849
This is difficult. Thanks @dcolligan and @macieksmuga for laying out the alternatives clearly. Here are my thoughts.

1. I like the current rebase-for-PRs to master approach. It make the history nice and easy to follow, and this is important.
2. I don't think we need a fully linear commit history when the topic branch is ultimately merged into master. Since we are doing things in parallel, it seem

[2016-01-15 17:20] diekhans commented on #849
I would much rather have merges being done directly based on
judgment of difficult and priority.  Weekly is far to infrequent
for simple merges and one might have to clear a few hours for a
complex one.

Jerome Kelleher <notifications@github.com> writes:

[2016-01-15 17:32] jeromekelleher commented on #849
Weekly doesn't seem that long --- we'd hope that the topic branches and the updates to master are happening on different parts of the codebase, and don't collide. I think we'd be asking a lot of the topic branch maintainer if they have to pull in every single commit that happens on master into the topic branch as it happens.

[2016-01-15 17:44] diekhans commented on #849
Oh, I wasn't implying that things happen immediately either.  It
happens as needed.  If a feature fork needs something ASAP from
master and we are requiring them to go via the topic branch to
get it, we probably want to rebase ASAP.

Weekly could be a fine guideline, just not a hard and fast
requirement.

Jerome Kelleher <notifications@github.com> writes:

[2016-01-16 00:31] macieksmuga commented on #852
Many thanks, @jeromekelleher!

[2016-01-16 00:33] macieksmuga commented on #843
Quick procedural question: Does this issue (and other topic branch-specific ones like it) get resolved once the solution code is accepted via PR into the topic branch, or when it gets into master?

[2016-01-18 10:04] jeromekelleher commented on #843
Topic branch. Anything labelled with "Variant Annotation" refers to the topic branch.

[2016-01-19 20:31] david4096 opened #860 "Padding in identifiers"
There are equals signs (`=`) for padding base64 encoded identifiers that are leaked to returned identifiers. Normal practice is for `=` to encode key-value pairs in a query string. `=` is a reserved character for URL strings so our GET by ID requests look odd.

     http get localhost:8000/referencesets/aGczNw%3D%3D (is the same as)
     http get localhost:8000/referencesets/aGczNw==

Perhaps the

[2016-01-19 21:48] dcolligan commented on #860
Manipulating opaque identifiers is probably a bad idea (our ID scheme will perhaps change in the future).  Also, we can't just strip off the equals since that causes the decode to fail because of incorrect padding:
[code]
If we're not url encoding our GET arguments, we should be.

True that there's no ceiling on the ID length, but at present I don't think that's going to be a problem in practice.

[2016-01-20 11:56] jeromekelleher commented on #860
Excellent point @david4096, well spotted. @dcolligan is right though, we can't just strip off the trailing '=' characters. Options:

1. Require IDs specified in GET URLs be url-encoded, but leave our IDs in their current form;
2. URL encode all our IDs at source.

I don't have a strong opinion here; what do we think?

[2016-01-20 12:22] jeromekelleher commented on #685
Fixed in #858.

[2016-01-20 12:22] #685 closed

[2016-01-20 14:43] dcolligan commented on #860
I vote for 1

[2016-01-20 19:42] david4096 commented on #860
Perhaps we can avoid leaking the `=` to the user by adding padding ourselves?

        import base64
        def safe_b64_decoder(data):
          missing_padding = (4 - len(data) % 4) %4
          if missing_padding == 3:
          	data += b'A=='
          elif missing_padding == 1 or missing_padding == 2:
          	data += b'=' * missing_padding
          return base64.b64decode(data)

http://

[2016-01-20 19:51] david4096 commented on #841
I took a look at the HGVS module and it seems like it's not what we're looking for right now. It brings in a lot of dependencies and doesn't offer the functionality we need without costly lookups.

This was brought up because we didn't have HGVS formatted genomic coordinates in annotated VCFs. Generating those coordinates requires mapping to a genome, so for now the VCFs will include the HGVS valu

[2016-01-21 09:29] jeromekelleher commented on #841
OK, thanks for looking into it @david4096.

[2016-01-21 09:29] #841 closed

[2016-01-21 09:33] jeromekelleher commented on #860
Can you elaborate on this a bit @david4096?

[2016-01-21 18:27] david4096 commented on #860
Since one can programmatically add or remove padding I can conceive of a mechanism that hides the padding from returned identifiers. One might remove the `=` before returning an ID to the user and adding them again when a request is received.

[2016-01-21 23:19] david4096 commented on #837
Fixed as part of #845

[2016-01-21 23:19] #837 closed

[2016-01-21 23:22] david4096 commented on #835
Fixed as part of #845

[2016-01-21 23:22] #835 closed

[2016-01-22 10:27] jeromekelleher commented on #860
OK, I guess this is an option, and possibly the least unpleasant one. Requiring clients to URL encode the IDs seems like a hard requirement. It seems like the schema should require that all IDs are URL safe, since we are going to be constructing these GET URLs.

Can you follow up on this with a PR please @david4096,  so we can see how it looks? The changes required should be fairly small. If it lo

[2016-01-22 11:56] dcolligan commented on #814
Github erroneously closed this

[2016-01-22 17:17] dcolligan opened #870 "Create wiki page documenting branch managers, active long-running branches"

[2016-01-22 17:18] dcolligan commented on #870
Notes from call:
g2p - brian
variant_annotations - david
protobuf - jerome
rna - sean

[2016-01-22 17:39] diekhans commented on #860
Sigh, while conceptually I believe that one should always URL
encode when generating a URL, in practice, most of us don't.
Especially since the command line tools don't do it for you.

Making ids safe is probably a good idea.  @david4096, can you do
pull request against the overview documentation to define it?

Jerome Kelleher <notifications@github.com> writes:

[2016-01-22 23:20] david4096 commented on #860
#872 treats this on the server side and it seems to pass all the nosetests.

[2016-01-23 00:10] david4096 commented on #838
Fixed with #868

[2016-01-23 00:10] #838 closed

[2016-01-23 16:54] diekhans commented on #860
definition of id is in doc/source/api/apidesign_intro.rst
please update this if require id to be unique

[2016-01-23 22:38] diekhans commented on #860
please note python function base64.urlsafe_b64encode

[2016-01-24 23:19] diekhans commented on #335
Andreas has support for  htslib 1.3 in pysam and would like feedback before releasing.
Danny or Maciek, can you verify this???

https://github.com/pysam-developers/pysam/issues/195#issuecomment-174350988

[2016-01-25 18:39] dcolligan commented on #870
Page is here: https://github.com/ga4gh/server/wiki/Long-running-topic-branches-and-branch-managers

[2016-01-25 18:39] #870 closed

[2016-01-25 18:49] dcolligan commented on #860
The `urlsafe_*` functions do this (from the docs): `The alphabet uses '-' instead of '+' and '_' instead of '/'.`  The padding character is the same.

[2016-01-25 18:51] dcolligan commented on #335
Looks like @jeromekelleher is on it.

[2016-01-25 19:17] diekhans commented on #860
What ever encoding is used, it must be idempotent for URL encoding.

What about removing the padding after urlsafe_b64encode and
adding it back in before decoding?

[2016-01-25 19:34] diekhans commented on #860
discussion as to why urlsafe_b64encode is the way it is!

https://bugs.python.org/issue1661108

[2016-01-26 10:26] jeromekelleher commented on #860
@diekhans --- interesting! I think we're still safer stripping the '=' character from the IDs though.

Also, #872 is addressing this directly --- let's move discussion over there.

[2016-01-26 10:27] jeromekelleher commented on #870
Thanks @dcolligan.

[2016-01-26 12:00] jeromekelleher opened #875 "Client callsets text output garbled"
In the protobuf implementation, the output of calls is garbled in the client. Run

[code]

The output is no longer on a single line.

[2016-01-26 13:07] jeromekelleher opened #876 "Proto definitions not within ga4gh package"
Currently, the protobuf schema definitions live in the ``proto`` directory. While this works well for development, there are potential issues with packaging. For example, when we create a distribution package, we will need to install two Python package ``ga4gh`` and ``proto``. This will create potential conflicts with existing packages. In any case, keeping source code required for the ga4gh packa

[2016-01-26 13:08] jeromekelleher commented on #852
Everyone should have taken this on board by now. Closing.

[2016-01-26 13:08] #852 closed

[2016-01-26 13:19] jeromekelleher opened #877 "Remove RESPONSE_VALIDATION from protobuf definitions"
The RESPONSE_VALIDATION config key is no longer valid, as proto automatically validates the responses. This should be removed.

[2016-01-26 13:23] jeromekelleher commented on #875
Also garbled without callsets argument.

[2016-01-26 13:30] jeromekelleher opened #878 "Performance issues with protobuf implementation"
The current protobuf implementation has some performance regressions over the Avro implementation. Much of this is caused by the current approach of building responses which serialises the full container each time an object is added. An alternative approach should be found.

Also, interactivity is very poor when a page_size is not provided.

[2016-01-26 13:43] jeromekelleher opened #879 "JSON for info fields incompatible"
Info fields such as found in variants and reads currently looks like
[code]
Under the current protobuf implementation they look like
[code]
These are clearly incompatible. Is this an intentional schema difference, or part of our implementation?

[2016-01-26 13:44] jeromekelleher commented on #879
@palfrey, can you comment on this please? This seems like an important issue.

[2016-01-26 14:56] palfrey commented on #879
This is a schema issue really, as the JSON output is an accurate depiction of what the Protobuf schema says. Part of that could be solved by making the maps string -> "list of string" rather than the more precise typing of the Value type, but the best we could do is then

[code]

because we'd need to do

[code]

as sadly
[code]
isn't a valid Protocol buffer message, but that's what the Avro defini

[2016-01-26 15:31] jeromekelleher commented on #879
OK, thanks @palfrey. One to add to the incompatibility list.

[2016-01-26 16:03] diekhans commented on #860
yes, urlsafe_b64encode isn't enough because it oddly leaves in the `='

[2016-01-26 21:51] david4096 opened #883 "404 status code returned incorrectly"
When using search endpoints a `404` status code is returned if the datasetId is not present. This breaks common conventions, `404` is meant when a resource does not exist. Common search idioms return empty lists when the search terms are not matched on.

[2016-01-27 00:24] diekhans commented on #883
@david4096 this should be a ticket in schemas, as they need to define
exactly what the expected behavior is.

David Steinberg <notifications@github.com> writes:

[2016-01-27 09:47] jeromekelleher commented on #883
This is the documented behavior @david4096, and has been discussed a few times. This is a good example: https://github.com/ga4gh/schemas/issues/382

I think Mark's SQL analogy is a good one.

Closing this issue as it is the documented behavior.

[2016-01-27 10:44] jeromekelleher opened #885 "Null values set in metadata JSON for data downloader"
In the data downloader script, some fields are set to null which is incompatible with protobuf.

[2016-01-27 16:12] dcolligan commented on #849
Fixed in #862

[2016-01-27 16:12] #849 closed

[2016-01-27 17:30] calbach commented on #879
@palfrey to double check, the original JSON in this issue was produced via a `map<string, google.protobuf.ListValue>`. If so, this is not working to [spec](https://developers.google.com/protocol-buffers/docs/proto3?hl=en#json) (see ListValue); I will reach out to the developer immediately.

[2016-01-27 17:43] palfrey commented on #879
@calbach Confirmed. I thought for a bit it might be because the schemas repo had a copy of src/main/resources/proto/google/protobuf/struct.proto rather than using the upstream one, but I've just tried with that and still seems to get the same result...

[2016-01-27 18:43] calbach commented on #879
OK, reached out to the author and confirmed that Python Proto<->JSON support for `ListValue` has not yet been released; however it is in progress. Will provide an ETA as soon as I have one.

[2016-01-27 19:04] macieksmuga opened #887 "Dependency test issue within test_imports.py"
When implementing sequence annotations, we created `ga4gh/gff3.h` as a parsing library for the gff3 file format. It is being used within the codebase for `ga4gh/datamodel/sequenceAnnotations.py` - but as such, it fails the dependency checks in `tests/unit/test_imports.py`:
[code]
Now, as far as I understand it, a library contains code that is used in higher application layers, so I thought this wa

[2016-01-27 20:04] AndreasHeger commented on #335
Thanks all. About libcurl, I have taken it out of the htslib that comes with pysam. I was worried that it would cause widespread compilation issues. For example, on our redhat system, libcurl was present but too old. To use libcurl, please make sure you link pysam against an external htslib with libcurl support.

To do this, please set the HTSLIB_LIBRARY_DIR and HTSLIB_INCLUDE_DIR environment vari

[2016-01-28 00:21] diekhans commented on #887
@macieksmuga please comment this out until @dcolligan can resolve this.

[2016-01-28 09:07] jeromekelleher commented on #335
Thanks for clarifying this @AndreasHeger. When you say libcurl is taken out, does that mean we fall back on the old networking code, or is there no support for remote files? Does the bdist_wheel that you built for pysam 0.8.5 use libcurl?

[2016-01-28 09:14] AndreasHegerGenomics commented on #335
Hi @jeromekelleher, there is support for remote files, but without libcurl. The htslib coming with pysam is compiled without running configure and thus defaults to "conservative setttings" according to the docs. I think that the pysam-0.8.5 wheel also does not include libcurl. I can create a wheel that will use a system-installed htslib and upload it this evening.

[2016-01-28 09:26] jeromekelleher commented on #335
Ah OK, thanks. Would it be possible to put a function in pysam to report on whether libcurl is in use or not? This would make it easier to test whether our compilation has succeeded.

[2016-01-28 09:31] jeromekelleher commented on #887
I agree with @diekhans.

[2016-01-28 11:25] AndreasHegerGenomics commented on #335
certainly, will think of something.

[2016-01-28 15:26] jeromekelleher opened #890 "Metadata input from repo is not type checked."
Metadata input from the data repository is not type checked, which can lead to mysterious server failures at run time (this happens when we run the proto based server against the current ga4gh-example-data). #889 fixes this temporarily, but we should improve data checking when we ingest the data.

[2016-01-28 17:42] jeromekelleher commented on #335
Great, thanks @AndreasHegerGenomics.

[2016-01-28 19:15] macieksmuga commented on #887
@saupchurch proposed a simple workaround for now, placing the `gff3` parser in the `datamodel` module group until the underlying issue is resolved.

[2016-01-28 23:07] AndreasHeger commented on #335
@jeromekelleher, I have looked into this, but I am not sure on how to get functionality of an external htslib at runtime. I can return the configuration of included htslib at compiletime, but that will probably be of limited help. I am still following this up, though.

Anyways, I have updated the wheel to link against an external htslib.

[2016-01-29 00:42] dcolligan commented on #887
@macieksmuga can you point me to a branch where you see this error so I can reproduce it?

The moduleGroup name `libraries` is just a name... we can rename it to whatever we want.  The first error seems to be a correct operation of `test_imports`.  The second error you listed seems incorrect: `converters.py` should be able to call into `reads.py` since `libraries` is in a layer above `datamodel`.

[2016-01-29 01:47] pgrosu commented on #335
Hi Andreas,

Do you mean something like dynamic importing of modules, such as something like this:

1) If I have a file called `external_function.py` with the following contents:

[code]
2) And in my main file that I run - which I call `my_external_test.py` - I have the following:

[code]

So the results of what I run would be the following:

[code]

Let me know if this is what you were looking fo

[2016-01-29 09:11] jeromekelleher commented on #335
Compile-time configuration would still be a big help @AndreasHegerGenomics, as we would very much prefer to install entirely from pip rather than link against an external htslib. Would it be possible to make compiling htslib with libcurl support an option? I'm happy to do some work on this if it would help.

[2016-01-29 10:27] jmarshall commented on #335
You can tell whether an underlying htslib is using libcurl or the old _knetfile.c_ code by trying to open an `https://…` or `HTTP://…` URL.  Only libcurl can do `https`, and only libcurl understands uppercase URL schemes.

@AndreasHeger: What version of Red Hat are you on, and what version of libcurl does it come with?  (And have you considered upgrading to something less prehistoric? :smile:)

[2016-01-29 11:30] pgrosu commented on #335
Hi John/Andreas,

Would it not it just be easier to perform that via `objdump` by going into the `pysam` python package install directory, and performing the following:

[code]

Paul

[2016-01-29 12:15] jmarshall commented on #335
@pgrosu That won't work if htslib has been configured with the libcurl backend as a separate plugin (not that that will happen as long as pysam isn't running htslib's configure).  Whether it sees and uses a libcurl plugin is a runtime decision, so best to do some kind of runtime test.  Ideally htslib would have some way of enumerating plugins and/or URL schemes understood, which is samtools/samtoo

[2016-01-29 12:57] jeromekelleher commented on #335
What would be the steps we need to take the enable the libcurl plugin without running ``./configure --enable-libcurl`` @jmarshal? It would be a _lot_ easier for our users if we can install pysam directly with pip rather than requiring them to compile and install htslib, install it into a non-standard location, manage LD_LIBRARY_PATH and all that messiness.

Ideally, we would like to set an environ

[2016-01-29 19:41] AndreasHeger commented on #335
Thanks, that is all very helpful. I propose to do the following:

1. run configure with increasingly conservative settings. configure is quite fast, so should not be too much of an issue, looking for an env variables as well, such as HTSLIB_CONFIGURE_OTPTIONS
2. If configure fails, revert to the default, conservative config.h
3. create a version.py from a template that echo's the htslib mode (exte

[2016-01-29 23:26] pgrosu commented on #335
Many thanks Andreas helping us out.  Your instructions are very simple and straightforward.

Hi Jerome, et al.,

I did something similar based on some of the recommendations by Andreas and the group, and I just tested the following process, which worked like a charm - *notice the `libcurl` at the end*:

[code]

You can put it all in script if you want, and it will work like magic :smile:

Have a g

[2016-01-30 23:57] AndreasHeger commented on #335
Thanks for testing. I have put a new version of the tar-ball that will run configure here:

https://www.cgat.org/downloads/public/pysam/sdist/psyam-0.8.5.tar.gz

To pass options to the configure script, set HTSLIB_COMPILE_OPTIONS

Best wishes,
Andreas

[2016-01-31 22:31] pgrosu commented on #335
Hi Andreas,

Thank you for providing the updated version.  Here are a few things:

1) The `psyam-0.8.5.tar.gz` probably should be renamed as `pysam-0.8.5.tar.gz` :)

2) Regarding defining `PLUGINPATH` for `htslib`, would that also be defined through `HTSLIB_COMPILE_OPTIONS` or somewhere else?  I tried the following and it didn't work:

[code]

When the `make` is performed, one still sees something

[2016-02-01 01:55] andrewjesaitis opened #893 "Implement internal api for getCallset and searchCallset on LocalClient"
Currently there is a cli endpoint for get and search callset, but no internal api on the local backend. At the very least this prohibits writing integration tests as discussed in PR #888, but would additionally make the internal api more consistent.

[2016-02-01 01:55] andrewjesaitis commented on #893
I'll pick this up

[2016-02-01 01:59] andrewjesaitis opened #894 "Implement cli endpoint for variantsets-get"
Currently there isn't a way to get a single variatset from the command line as discussed in PR #888. Following the model of the other cli getters, this will take a `variantSetId` as a required argument.

[2016-02-01 01:59] andrewjesaitis commented on #894
I'll pick this up

[2016-02-01 15:45] jeromekelleher commented on #335
Thanks for this @AndreasHeger, this sounds like a great approach. I've tried it out, but I think the configure script isn't being included in the tarball. Should it be added to MANIFEST.in?

[2016-02-01 16:13] dcolligan commented on #814
Github erroneously closed this, again

[2016-02-01 17:18] AndreasHeger commented on #335
Thanks all.

@jeromekelleher,  updated and (briefly) tested.

@pgrosu,
Re 1: Saturday night I was staring at it for minutes and did not see the psyam/pysam diffference. Thanks!

Re 2: The following should work:
[code]
but not tested.

Re 3: To link against an external htslib, no editing/changing of the htslib dir should be needed:
[code]

This will ignore the htslib code that comes within the pysa

[2016-02-01 18:41] saupchurch opened #895 "clean up rna topic branches"
per PR #836
1) create new protected topic branch for rna api development off master
2) remove existing rna branches

[2016-02-01 18:43] calbach commented on #879
OK, I've cherry-picked the necessary functionality into protobuf master: https://github.com/google/protobuf/pull/1195. Perhaps you can integrate this locally at least to validate your approach.

I've been told there will be a tagged release this month. That's the best ETA I have at the moment unfortunately.

[2016-02-02 10:22] jeromekelleher commented on #895
Sounds good @saupchurch --- do you have permissions to do this, or do you need me or @dcolligan to create the branches? Ping one of us here or offline if you need anything.

[2016-02-02 15:05] jmarshall commented on #335
Thanks, fixed in samtools/htslib@2805ae8041f2d49b889d0b4f54c53070e4791dbb.  It would be appreciated if you would [report these problems upstream](https://github.com/samtools/htslib), as then there is an opportunity to get them fixed!

Miscellaneous comments:

* Please make that environment variable `HTSLIB_CONFIGURE_OPTIONS` as you originally proposed: these are configure options, not compile opti

[2016-02-02 21:53] david4096 commented on #842
Closed with #884

[2016-02-02 21:53] #842 closed

[2016-02-02 21:55] david4096 commented on #827
Closed with #846

[2016-02-02 21:55] #827 closed

[2016-02-02 22:28] david4096 opened #896 "Update data prep script for annotations"
The script for munging the compliance test data needs to be updated to support the variant annotation test data.

[2016-02-02 23:12] david4096 commented on #860
Discussion in schemas

https://github.com/ga4gh/schemas/pull/542

[2016-02-03 14:00] dcolligan opened #898 "Add test that starts server with file system backing"
We recently had a bug that prevented the server from starting: #897

Let's add a test to start the server up and shut it down with a file system backing to prevent these errors in the future.

[2016-02-03 15:25] jeromekelleher commented on #843
Your call @david4096; it looks good to me, but I don't have time to really get into the guts of it.

[2016-02-03 15:30] jeromekelleher opened #899 "Update documentation to use new repo management tool"
We need to update the docs to help people use the new repo management tool. This should mainly entail deleting the current Configuration/Data Hierharchy section and replacing it with an explanation of what a data repository is, and how we should use the repo manager tool.

[2016-02-03 16:02] jeromekelleher commented on #335
I've just got around to trying this out @AndreasHeger (sorry for the delay), and I'm hitting an obscure run-time error:
[code]
I just ran pip install <tarball>, and didn't set any env variables.

[2016-02-03 16:04] dcolligan commented on #814
Fixed in #856

[2016-02-03 16:04] #814 closed

[2016-02-03 16:07] dcolligan opened #901 "Speed up tests/end_to_end/test_repo_manager.py"
Right now it uses the subprocess module; go a level lower to speed things up

[2016-02-03 16:08] jmarshall commented on #335
@jeromekelleher Seems like you're in need of some `make clean` or equivalent: `reset_getopt` disappeared at the weekend in pysam-developers/pysam@7954ff1a6df7a4a7e088e7b17bfd4e9868bb94dc.

[2016-02-03 16:16] dcolligan opened #902 "Create test module with hardcoded file paths, etc."
I've gotten into the bad habit of hardcoding file paths, file names, etc. in tests/data into various tests.  We should consolidate all these into a single test module.

[2016-02-03 16:25] pgrosu commented on #335
@AndreasHeger, @jmarshall, @jeromekelleher - We might be close, but I had to go through many failures of errors over the weekend until I came up with the procedures I put above.  Ideally what I would like to see is a similar step-by-step that will always work without any issues, which is what I did before posting the procedures.  Hopefully all edge-cases will be tackled, and this way users would n

[2016-02-03 16:32] jeromekelleher commented on #335
Thanks for the pointers @jmarshall --- I'm building directly from the pysam repo now, and it's working well. I'm still not able to open https URLS, but I'm sure it's getting close. Just so I understand what's going on here, there _must_ be a separate .so file (or whatever) in some directory for the libcurl plugin, which htslib searches at run time? I.e., there's no option to compile in libcurl dir

[2016-02-03 16:40] AndreasHeger commented on #335
@jeromekelleher , quick thought, will check later tonight. It might be that for builtin htslib I will need to add libcurl as a link dependency. The current setup might compile in libcurl ability, but then the library is not pulled in at runtime. Do you have a https:// BAM that I could use for testing?

[2016-02-03 16:46] pgrosu commented on #335
@jeromekelleher In the `setup.py` file you will see the following:

[code]

The following two links will help with what is happening:

https://docs.python.org/2/extending/building.html

https://docs.python.org/3/extending/building.html

On my system, after the above build I see the expected following files:

[code]

Looking at the `setup.py` file might help clarify why some things are happening.

[2016-02-03 16:46] jeromekelleher commented on #335
Thanks for looking into it @AndreasHeger.

Unfortunately not, the server I'm using is behind the firewall...

[2016-02-03 16:49] jeromekelleher commented on #335
Hmmm, reading the configure help we have

    Use plugins to implement exotic file access protocols and other
    specialised facilities.  This enables such facilities to be developed
    and packaged outwith HTSlib, and somewhat isolates HTSlib-using programs
    from their library dependencies.  By default, any enabled pluggable
    facilities (such as iRODS and libcurl file access) are built di

[2016-02-03 16:50] jmarshall commented on #335
If you configure with `--enable-libcurl` but without `--enable-plugins` then the `libhts.{a,so}` produced will have libcurl capabilities burnt into it and will not search for hfile plugins at runtime.  If pysam links against `libhts.so.1` all will be well (but that _libhts.so.1_ will also need to be available when you run pysam-using code).  OTOH if pysam links against `libhts.a` it will have to t

[2016-02-03 17:00] jeromekelleher commented on #335
Great, thanks @jmarshall; I'm poking through it now, think I see the problem...

[2016-02-03 17:10] pgrosu commented on #335
@jeromekelleher That is always the fail-safe way :smile:

[2016-02-03 18:12] jeromekelleher commented on #335
Some progress made in https://github.com/pysam-developers/pysam/pull/217, but not quite there yet.

[2016-02-03 20:30] AndreasHeger commented on #335
@jmarshall , thanks I will report more. I did agree that it was an issue of an old, unsupported system.

DONE

    The plugin path configure options are described in htslib/INSTALL. HTSlib considers all the files that match certain patterns in these directories, so it's recommended to make them a bespoke subdirectory. So --with-plugin-path=/usr/local/libexec/htslib, which is in fact the default.

[2016-02-03 23:22] AndreasHeger commented on #335
@pgrosu and @jeromekelleher  I have added installation instructions here:

http://pysam.readthedocs.org/en/latest/installation.html

Admittedly, they might describe an ideal state not yet achieved.

[2016-02-04 18:13] jeromekelleher commented on #335
I've been digging through this a bit more @AndreasHeger, and it looks like libcurl is being used for HTTP transactions, but HTTPS opens are failing sometime before ``hFILE.hopen``:
[code]
I bunged some printfs into hfile.c to see what was going on with the handlers. I think we're quite close to sorting this out now.

[2016-02-04 18:49] david4096 commented on #833
@sarahhunt Can you point me to expected values based on the test data? Is the `analysisId` in `AnalysisResult` the same as the `analysisId` given to the `Analysis` field of a `VariantAnnotationSet`? Thanks!

[2016-02-04 19:58] AndreasHeger commented on #335
Thanks, @jeromekelleher and many thanks for perservering. I currently don't have a way to test this, otherwise I would help. On MondayI will talk to our sysadmin if there is a server I can use to test.

Will command-line samtools connect to the file without problems?

[2016-02-04 20:33] #832 closed

[2016-02-04 21:41] delagoya commented on #335
I can volunteer AWS resources for this effort. Please email me directly at angel at amazon com

[2016-02-04 23:59] pgrosu commented on #335
Thanks Angel (@delagoya) for helping us out with resources - it is very appreciated!

@AndreasHeger, I looked at the installation instructions and they looks very nice - and understandably is an ideal state to achieve, which I also strive for.  Just a couple of things:

When it says:

I feel that the program should automatically try to get the required dependencies off the web, adapt itself to the

[2016-02-05 02:03] david4096 commented on #844
The python `vcf` module is used for the data driven variant sets, but it gives different results from `pysam` for VCFs that have a split info field. This causes annotated VCFs to fail a data driven test.

https://gist.github.com/david4096/925f6ebad62fa0bec0e6

[2016-02-05 03:07] diekhans commented on #844
@dcolligan can you help with this?

David Steinberg <notifications@github.com> writes:

[2016-02-05 09:21] jeromekelleher commented on #335
After playing with a bit more, I realise that I wasn't actually compiling the Cython code, and so the update to get 'https' recognised as a remote URL wasn't working. After fixing this, we now pass the URL down to htslib and the libcurl handler is invoked correctly. However, we're still not successfully opening the https URLs:
[code]
Apache doesn't report any attempts at reading the file in its lo

[2016-02-05 10:59] jmarshall commented on #335
Set `hts_verbose` to 8 or more, and libcurl will give you lots of information about what went wrong between these two lines.  (I can't remember whether pysam acquired a function for setting `hts_verbose` or not…)

[2016-02-05 12:02] sarahhunt commented on #833
@david4096 -  no the VariantAnnotationSet and AnalysisResult use different Analysis records.

At VariantAnnotationSet level, this is an annotation package like SnpEff or VEP. This Analysis information is essential - the compliance test checkVariantAnnotationAnalysis checks for this and the test data is in the file header.

The AnalysisResults in TranscriptEffect are the results of potentially mult

[2016-02-05 12:12] jeromekelleher commented on #335
Aha, good call, thanks @jmarshall
[code]
Obviously we don't want to accept self-signed certs by default, but this should be configurable (curl for example is happy to read from the server, but wget refuses). What's the recommended approach for interacting with libcurl here?

On a side note, It doesn't look like ``pysam.set_verbosity()`` works when building pysam in 'separate' mode (I updated the C

[2016-02-05 12:45] jeromekelleher commented on #833
@sarahhunt, we fill out the info fields with the corresponding information from the VCF. I think we should probably leave this field empty for now if there isn't a standard way of encoding the information in VCF.

[2016-02-05 13:12] sarahhunt commented on #833
Thanks @jeromekelleher - that makes sense.

[2016-02-05 16:30] dcolligan commented on #901
Fixed in #905

[2016-02-05 16:30] #901 closed

[2016-02-05 16:35] dcolligan commented on #898
Fixed in #900

[2016-02-05 16:35] #898 closed

[2016-02-05 17:05] dcolligan commented on #902
Fixed in #904

[2016-02-05 17:05] #902 closed

[2016-02-05 17:15] dcolligan commented on #777
@jeromekelleher can we close this?

[2016-02-05 17:17] dcolligan opened #910 "Update docs to indicate protected branches solve merging problems"
Protected branches fix "github's broken merge model" because they force branches to be merged on top of each other.

[2016-02-05 17:27] #777 closed

[2016-02-05 18:24] jeromekelleher opened #911 "g2p branch needs updating"
The g2p branch should be updated by merging from master before the initial code drop. See #882 for example.

[2016-02-05 21:37] david4096 commented on #896
@dcolligan would you mind taking a look to see if this has been made obsolete by the repo manager?

[2016-02-05 21:39] andrewjesaitis commented on #851
I'll take a look at doing these updates.

[2016-02-05 21:47] david4096 opened #913 "Data driven tests pick up hidden files"
When running test_variants I ran into an issue where it was trying to load some `.DS_Store` files.

To replicate:

    touch tests/data/datasets/dataset1/variants/.DS_Store
    nosetests --nocapture tests.datadriven.test_variants

I found this handy: `find . -name \*.DS_Store -delete`

[2016-02-05 23:30] #843 closed

[2016-02-05 23:31] david4096 commented on #833
I'll table #906 until we arrive at a way to get these data in.

[2016-02-08 11:45] jeromekelleher commented on #913
Well spotted @david4096, I'm looking forward to the fix PR!

[2016-02-08 15:22] AndreasHeger commented on #335
@pgrosu , many thanks for your comments. I agree that installation should be as painless as possible.

With respect to the pysam code base, however, I think the best place to solve installation issues is on a level above pysam, whether it is through a wrapper script (as you suggested), rpm dependencies, conda, docker, etc.

I am worried that if pysam tries to be too ambitious, i.e., trying to down

[2016-02-08 15:26] AndreasHeger commented on #335
https://github.com/pysam-developers/pysam/issues/223@jeromekelleher, thanks interesting. I have opened an issue on pysam, see

[2016-02-09 13:44] dcolligan commented on #910
Fixed in #916

[2016-02-09 13:44] #910 closed

[2016-02-09 13:45] jeromekelleher opened #918 "Fix circular deps check in protobuf"
see #891 for context

[2016-02-10 09:11] jeromekelleher opened #921 "Add confirm step for datarepo commands that destroy data"
A potentially useful addition to the semantics of the data repo manager would be to provide a confirmation dialogue when running commands that destroy data. E.g.
[code]

This will stop people from potentially shooting themselves in the foot quite badly (there could be terabytes of data held in the repo directory). For users who know what they are doing, we provide a --force -f option to override i

[2016-02-10 15:16] bwalsh commented on #911
updated from master

[2016-02-10 17:03] jeromekelleher commented on #911
Can you make a PR with this update please @bwalsh? We need to have the g2p feature branch in this repo level with master. See #882 for an example of how this works.

[2016-02-11 14:55] dcolligan commented on #896
This is `scripts/prepare_compliance_data.py`, right?

As of right now, that script seems to do several things that the repo manager does not do.  The repo manager does not modify any bioinformatics files, it just copies them around.  But the script seems to compress files, write headers, index files, etc.

Perhaps we will add these features to the repo manager in the future, but at the moment we c

[2016-02-11 14:56] dcolligan commented on #896
In any event the repo manager will not make this script 'obsolete' ... the script (at some point) will need to import the repo manager library and use its methods to move data from the test-data directory to another directory.

[2016-02-12 02:06] andrewjesaitis commented on #687
PR #922 is for this issue

[2016-02-12 11:22] jeromekelleher commented on #911
Done in #927

[2016-02-12 11:22] #911 closed

[2016-02-12 12:11] jeromekelleher opened #928 "CRAM support feasibility"
An initial quick hack seems to imply that CRAM support might be quite easy to add. The only difficult bit is probably ensuring that the required references are present, and telling htslib where to find them. We will need to support CRAM at some point, so it would be good to do a quick feasibility analysis to see what we would need to do.

@andrewjesaitis or @dcolligan, would either of you like to

[2016-02-12 15:35] dcolligan commented on #918
Fixed in #924

[2016-02-12 15:35] #918 closed

[2016-02-12 15:35] dcolligan commented on #921
Fixed in #923

[2016-02-12 15:35] #921 closed

[2016-02-12 15:42] dcolligan commented on #899
Fixed in #919

[2016-02-12 15:42] #899 closed

[2016-02-12 17:05] andrewjesaitis commented on #928
Sure. I can take a look at supporting CRAM. I imagine it will be pretty similar to BAM files, just reading via htslib?

[2016-02-12 18:05] bioinformed commented on #928
If you run into any trouble supporting CRAM using pysam, please reach out
to Andreas and me.  We're happy to rapidly address any problems that you
may find.

On Fri, Feb 12, 2016 at 10:05 AM, Andrew Jesaitis <notifications@github.com>
wrote:

[2016-02-12 19:21] david4096 commented on #896
Closed by removing the need for JSON sidecar of Variant Annotation sets in server and changing naming structure and adding sequence ontology text to compliance test-data.

https://github.com/david4096/compliance/commit/9cfaffd31e5dffc1de4a5932ed50dfa8c4cdb319

[2016-02-12 19:21] #896 closed

[2016-02-12 23:41] david4096 commented on #887
I think this got "fixed" here:

https://github.com/ga4gh/server/pull/924

@dcolligan @macieksmuga ?

[2016-02-12 23:46] david4096 commented on #831
Closed with #917

[2016-02-12 23:46] #831 closed

[2016-02-12 23:46] david4096 commented on #844
Closed with #917

[2016-02-12 23:46] #844 closed

[2016-02-12 23:54] dcolligan commented on #887
I just re-enabled the test in that PR.  If the test is actually failing elsewhere, they're two different issues.  If one can point me to a branch where it is failing (if one exists), I can attempt a fix.

[2016-02-13 20:44] pgrosu commented on #335
Hi Andreas (@AndreasHeger),

So almost anything is possible, and sorry to reply so late as I got swamped with other things these week.  I was able to perform some updates to `setup.py`, which will allow for the `htslib` library to be built-in - something I think that Jerome (@jeromekelleher) might also enjoy :)   So the updates to `setup.py` perform the following tasks:

* Downloads `htslib-1.3.ta

[2016-02-15 09:59] jeromekelleher commented on #928
Thanks @andrewjesaitis, that would be great. My initial playing with it suggests that nearly everything should 'just-work' by adding '*.cram' to the file lists when creating a HtslibReadGroupSet, but there were a few quirks.

Thanks @bioinformed, we'll keep you posted if we hit any issues.

[2016-02-15 12:07] jmarshall commented on #335
Pysam already bundles a copy of the HTSlib source code.  What's the benefit in downloading another copy?

Yes, one of these days I mean to add a _libhts_pic.a_ target to HTSlib for the benefit of the Bio::DB::Sam Perl wrapper and similar...

[2016-02-15 15:31] pgrosu commented on #335
@jmarshall All roads lead to Rome, and may I assume the second provides a provisional reason for the first :)

[2016-02-16 18:08] #913 closed

[2016-02-17 02:02] chaosagent commented on #791
I just ran into this problem a few minutes ago too. Does anyone have any guesses as to what the cause of this problem is?
I have two tests. If I comment out the setup to the test that fails, all tests pass, despite not having the router set up. Both tests are for very simple @blueprint('/') def thing: return 'hi' like methods.

[2016-02-17 16:37] jeromekelleher commented on #791
Is there any chance that there are some old servers running? Sometimes this mucks things up.  Try
[code]
If you see some old server-like processes running try killing them. Otherwise, can you give us a bit more detail (i.e., some backtraces)?

[2016-02-17 16:53] bwalsh commented on #791
The only time I've seen this is because of `DEBUG = True` in the setup (see above).
I just verified that that behavior still exists. Now why exactly it exists, or other triggers for the behavior, I'm not sure.

[2016-02-22 15:47] dcolligan commented on #848
Fixed in #926

[2016-02-22 15:47] #848 closed

[2016-02-23 16:52] jeromekelleher opened #936 "G2P needs a simulator"
We need some simple way of simulating G2P data so that we can include tests for it in the standard layout.

This should include the standard tests in ``tests/test_simulated_stack.py``.

[2016-02-23 17:01] jeromekelleher opened #937 "G2P needs repo manager interface"
There is currently no way to add G2P data to the server using the repo manager CLI. This should be fixed.

Issues:

1. Currently there is one server-wide G2PDataset, which conflicts with the design of the rest of the API and server. Hopefully this will be resolved in the schemas soon. (See https://github.com/ga4gh/schemas/pull/560 and  https://github.com/ga4gh/schemas/pull/432 for discussion on th

[2016-02-23 17:03] jeromekelleher opened #938 "G2P needs data driven tests"
We need to add some data driven tests to ensure that we are correctly translating G2P input data into GA4GH objects.

[2016-02-23 17:05] jeromekelleher opened #939 "G2P needs client JSON tests"
Add some tests for g2p endpoints in ``tests/end_to_end/test_client_json.py``. This depends on having a simulator in #936.

[2016-02-23 17:14] jeromekelleher opened #940 "Refactor tests/unit/test_g2p.py"
Currently, the tests in  tests/unit/test_g2p.py are a mix of data driven and frontend HTTP tests. These tests should be split out into the data driven tests (which can explicitly depend on the known data) and frontend HTTP tests (which should be put into tests/test_views.py, and follow the patterns in there).

Paging tests should be done in test_simulated_stack.py, following the approach used for

[2016-02-23 17:19] jeromekelleher opened #941 "Refactor ga4gh/datamodel/genotype_phenotype.py required"
We need to refactor ga4gh/datamodel/genotype_phenotype.py to

1) Follow the conventions used elsewhere in the code more closely;
2) Break the code up into testable chunks; and
3) Make unit tests to test those chunks.

This issue is necessarily a bit vague, but we can discuss the details in the thread if/when particular issues pop up.

[2016-02-23 21:13] david4096 opened #942 "variants Sending in malformed reference name causes 500"
If I send in a number as opposed to string to `variants/search` for the reference name I get a 500.

[code]

[2016-02-23 22:38] david4096 commented on #940
This is at least partially fulfilled by the last PR:
Unit tests are [here](https://github.com/ga4gh/server/blob/g2p/tests/unit/test_genotype_phenotype.py) and those tests were moved to [test_views](https://github.com/ga4gh/server/blob/g2p/tests/unit/test_views.py#L121). To really call this done I think there is at least one other unit test to write and the paging tests moved to test_simulated_stac

[2016-02-24 00:10] david4096 commented on #785
I made a branch of the server that removes unnecessary dependencies when just wanting to run the client. I'm working on demonstration usage of a GA4GH compliant server and I believe there's good cause to have the client available as a standalone package.

https://github.com/david4096/server-1/tree/client

[2016-02-24 09:00] jeromekelleher commented on #942
Nice catch. Can you have a look at this please @dcolligan?

[2016-02-24 09:08] jeromekelleher commented on #785
I agree it is useful to have a standalone client, but it does imply some maintenance overhead. Do we maintain these packages separately, or do we keep the master copy in the server repo and copy across the code each time we want to make a release of the client?

More fundamentally, _why_ are we doing this? If it's just to make installation easier and to avoid compiling pysam (which is a drag) then

[2016-02-24 15:03] dcolligan commented on #942
I get a 200 with an empty response.  If the referenceName does not exist, it fails the `referenceName in self._chromFileMap` test in `getVariants` and falls through to the end of the method.

What should be the behavior here?  Should we throw an error if the referenceName is not found in the variantSet?  Should we attempt to convert to a string if we receive an integer referenceName argument?  Sho

[2016-02-24 15:09] jeromekelleher commented on #942
Is server input validation turned on here? Typing should be completely unambiguous; if the input JSON isn't the right type, we return an error, simple as. We should turn it on if it's still disabled by default, as the only reason it was turned off was because the old compliance tests sent malformed JSON (sigh).

It's not clear what the correct semantics for failing a 'name' search should be. I don

[2016-02-24 15:14] dcolligan commented on #942
Yes, validation is turned off for development by default.  I'll change that in the PR.

[2016-02-24 15:50] dcolligan commented on #942
Fixed in #943

[2016-02-24 15:54] jeromekelleher commented on #942
Out of curiosity, what is the HTTP error that is sent back now?

[2016-02-24 15:58] diekhans commented on #942
We want the behavior to be exactly what is documented in the
schema ;-)

The check would be for the referenceName being in the
referenceSet.  Unclear if we actually want to do this.  It's
legitimate for a variantset to have no data on a reference.

The problem is that referenceName should be an string, not and
integer.  It's "1", 1 is violation of the schema.

The decoding of json is going to comp

[2016-02-24 16:08] dcolligan commented on #937
We need a well-specified data model before we can provide a repo manager interface to it.  I'll start getting my hands dirty with the g2p branch in a bit...

[2016-02-24 16:10] diekhans commented on #785
The main reason for splitting of the client libraries isn't
bytes consumed, it's neurons consumes understanding it.

The client and server are suppose to be independent components
bound together only by the API.  Having the client library
buried in the server means having the documentation buried in
the server.  We would like to have client libraries developed
for multiple languages, and having si

[2016-02-24 16:10] diekhans commented on #942
500

Jerome Kelleher <notifications@github.com> writes:

[2016-02-24 16:20] jeromekelleher commented on #942
OK, 500 is wrong, it should be 400 (BAD_REQUEST).

[2016-02-24 16:38] jeromekelleher commented on #785
Here are the docs: http://ga4gh-reference-implementation.readthedocs.org/en/stable/api.html

Other than the side bar at the side of the screen, there is no indication _at all_ that the code is bound up with the server. I agree that in the fullness of time it will be good to separate out the client and server code, but for now:

1. Realistically, any user of our client library _must_ use our server

[2016-02-24 16:57] jeromekelleher commented on #937
Great news, thanks @dcolligan!

[2016-02-24 22:19] bwalsh commented on #937
@dcolligan  thanks very much.  Let me know what help you need:   `well-specified data model`

[2016-02-24 22:43] david4096 commented on #937
This should help, then the server conventions for adding FPA sets can be done: https://github.com/ga4gh/schemas/pull/563

[2016-02-24 23:10] david4096 commented on #942
This is the error with validation turned on

[code]

[2016-02-25 08:32] jeromekelleher commented on #942
Thanks @david4096; over to you @dcolligan!

[2016-02-25 19:05] david4096 opened #945 "Repo manager picks up hidden files"
Should it fail if there are hidden files in the directories? How pristine do they need to be?

[code]

[2016-02-25 19:12] david4096 opened #946 "Error adding 1000 genomes variant set"
I used the repo manager to add 1000 genomes VCF to a dataset: `python repo_dev.py add-variantset ga4gh-example-data brca1 ../1000genomes/vcf --moveMode link`.

After rebooting the server I got this error:

[code]

[2016-02-25 19:28] david4096 commented on #946
Which also causes list to fail making it necessary to remove it by hand:

[code]

[2016-02-25 19:30] david4096 commented on #942
It looks like turning on validation is causing 500s for other queries as well.

If I don't specify a variant set ID I get this:

[code]

[2016-02-26 10:23] jeromekelleher commented on #945
This is probably a bug all right, since this '.DS_Store' thing seems to be something that macs like doing, and people seem to like using macs for some reason.

@dcolligan, thoughts?

[2016-02-26 10:24] jeromekelleher commented on #946
Good catch, thanks @david4096.

[2016-02-26 10:39] jmarshall commented on #945
IMHO it should just be checking that the directories it needs are there (as it does just after that check).

If it also does this check that there is nothing additional there that this version of the server doesn't know about… this makes it harder to exercise multiple versions of the server against the same data repo tree or to run additional specialised things.

In the given example, having a `g2

[2016-02-26 11:23] jeromekelleher commented on #945
All sounds sensible to me @jmarshall. We could always include a 'strict' option which insists on only these exact directories existing, or a (default) more relaxed mode which just checks if the directories that it expects exists and it ignores anything else.

[2016-02-26 17:16] dcolligan commented on #945
Yeah, I'll rewrite the code to just ensure that the things it needs are there.  Perhaps we can add a 'strict mode' later.

[2016-02-26 17:38] david4096 commented on #945
Have we documented that the server needs to be bounced when adding data? Not seeing it

[2016-02-26 17:48] david4096 commented on #718
Some WIP towards fulfilling this, examples with the variant API.

https://github.com/david4096/bioapi-examples

[2016-02-26 17:48] #860 closed

[2016-02-26 18:17] dcolligan commented on #942
RequestValidationFailureException is currently set to return a 400.  What looks like it's happening in these stacktraces is that in the process of trying to send back an intelligent error, avrotools chokes and the error becomes a 500.

[2016-02-26 18:46] david4096 commented on #942
So is the bug that request validation is not correct? It's a spurious error for me because I can send in requests with strange keys:

For example, not the `awesome`:

    {u'start': 41196312, u'variantSetId': u'YnJjYTE6YnJjYTE', u'end': 41198948, u'awesome': u'cows', u'referenceName': u'17'}

This request is handled without any complaint.

Then here is a a malformed request where the user accident

[2016-02-26 18:49] dcolligan commented on #942
If validation fails, avrotools is called to provide a more useful error (see `exceptions.py`).  Avrotools is choking, and producing the 500.

The reason for not getting an error when adding extra fields to the json dict is (as I just found out) avro's `validate` method does not care about extra fields being present in a record.  Which... seems wrong.

[2016-02-26 19:05] david4096 opened #950 "Returning calls in 1000 genomes is slow"
When there is a VCF with many callsets in it, responses can become slow.

[2016-02-26 19:46] dcolligan opened #951 "avro.io.validate doesn't check for extra fields"
From discussion in https://github.com/ga4gh/server/issues/942

Avro's validate method does not care about extra fields in the record, it just ignores them:

[code]

Therefore any request that is sent into the server with extra fields will continue as if the request is valid.  Questions:

1) Is this the desired behavior?  (My view: probably not)

2) If not, how do we want to fix this? (One possibil

[2016-02-26 19:47] dcolligan commented on #942
With regards to extra fields, see #951

[2016-02-26 19:57] dcolligan commented on #945
I don't believe so.  Feel free to submit a PR if you think the docs need that.

[2016-02-26 21:28] diekhans commented on #951
Just wait for protocol buffers.

Python avro validation also doesn't agree with java avro
validation.  Python will accept things that are not valid
in java avro.  Java Avro imposes constraints that are not
considered valid in JSON.

Danny Colligan <notifications@github.com> writes:

[2016-02-26 22:59] jacmarjorie commented on #784
Question - perhaps I am missing something, but it looks like responses are being returned as JSON, at least currently. Are there plans to support receiving protobuf messages as requests and/or sending protobuf messages as the response, I'm assuming in addition to JSON?

[2016-02-27 22:37] andrewjesaitis commented on #928
So I got this hacked in this morning. Turned out to be really simple, just had to make the server look for the cram files and make sure that pysam opens them with the `c` flag.

I do get an AssertionError from the pagination code, that I think has to do with unmapped read handling. This occurred when I started querying over explicit genomic ranges.

By far the biggest difficulty was getting the da

[2016-02-29 09:28] jeromekelleher commented on #950
Need some more details here @david4096... what's your pagesize in particular? Are you sure it's not the client side JSON decoding that's the bottleneck? We have some perf benchmarks for this sort of thing in ``server_benchmark.py`` if you want to have a look. They might need to be updated a bit though; see #711.

[2016-02-29 09:34] jeromekelleher commented on #942
#952 is merged; can you check if this fixes this specific bug @david4096, and close if so? We don't want to get too tied up on putting more band-aids over Avro's gaping flaws...

[2016-02-29 09:42] jeromekelleher commented on #951
Very much in agreement with @diekhans. A quote from Douglas Adams comes to mind for some reason:

[2016-02-29 09:47] jeromekelleher commented on #784
The initial plan is to keep  JSON on-the-wire, and to move to protobuf as the Interface Definition Language. There will be a few minor incompatibilities between the different versions of the protocol (i.e. the one defined in Avro and the one defined in Protobuf), but no more that we would see between two minor versions of the protocol in any case.

Once the dust has settled, I think that there is

[2016-02-29 10:25] jeromekelleher opened #955 "Support single FASTA ReferenceSets"
We need to support ReferenceSets based on a single FASTA file for CRAM support (see #928). Splitting the references by chromosome seems artificial, and will be messy if there are large numbers of contigs in an alignment (perfectly possible in non-model organisms that don't have a good reference).

This may introduce a backward incompatibility with the data repo format currently supported, so we sh

[2016-02-29 10:31] jeromekelleher commented on #928
Excellent, thanks @andrewjesaitis. OK, so I think a pre-requisite for CRAM support will be allowing references be stored in single FASTA files.  I've opened issue #955 for this.

It would be good to know why the above CRAMs were unreadable in pysam. Would you mind digging into this a little bit more, and maybe opening an issue upstream if the problem persists? Converting to BAM and back won't real

[2016-02-29 11:19] jmarshall commented on #928
When opening for reading with plain `"r"`, the underlying HTSlib auto-detects SAM/BAM/CRAM,¹ so you shouldn't have needed to do this part.  IMHO this is a pysam bug: its [read mode auto-detection](https://github.com/pysam-developers/pysam/blob/master/pysam/calignmentfile.pyx#L399-L415) has not been updated for HTSlib auto-detection, and to my mind it doesn't need the highlighted lines.

Or with th

[2016-02-29 14:59] bioinformed commented on #928
I agree it would be nice to know a bit more about why CRAM support was failing in conditions other than having to provide an alternative reference file.  @AndreasHeger is preparing the next pysam release, so any details would be very timely.

[2016-02-29 16:09] dcolligan commented on #942
Fixed in #952

[2016-02-29 16:17] dcolligan commented on #945
Fixed in #948

[2016-02-29 16:17] #945 closed

[2016-02-29 16:26] dcolligan commented on #955
Hm, do we have any idea of which use case is more common?  Or what the preference of the users might be?

[2016-02-29 17:01] AndreasHeger commented on #928
The lines that @jmarshall identified can definitely go, they were used to auto-detect SAM or BAM in early versions of samtools. Will do this before the - very imminent - release.

[2016-02-29 17:27] diekhans commented on #955
A single fasta is most like the more common approach and it's
easy to create a single fasta from multiple fastas.

For less finished assembles, there can be tens of thousands of
scaffolds, so contig per fasta would be a big problem.

Danny Colligan <notifications@github.com> writes:

[2016-02-29 17:52] andrewjesaitis commented on #928
Just tried reading a cram with various flags using pysam 0.8.4. Seemed that only 'rc' worked. With no flag, 'r', and 'rb' I get a `ValueError: fetch called on bamfile without index`.

Currently are opening bam files right now without passing a flag, but if it auto-detected using just a 'r' flag that would be sufficient. I don't see a case were we are writing back to the bam file, is that right @je

[2016-02-29 18:00] david4096 commented on #942
Now my request 400s instead of 500s, but it shouldn't.

[2016-02-29 18:06] jeromekelleher commented on #942
Isn't 400 the correct response? Client sends garbage, we say 'no thanks'?

[2016-02-29 18:07] david4096 commented on #942
It doesn't respect optional fields I think.
[code]

[2016-02-29 18:21] jeromekelleher commented on #942
OK, can we fix this up please @dcolligan? Let's just go back to ignoring stuff we don't recognise and correctly accepting unset optional fields. We don't want to get bogged down on this, it's really not that important what we do in these error cases, as all of this will be dumped pretty soon.

[2016-02-29 18:25] jeromekelleher commented on #928
Yep, we have no intention of writing to the BAM/CRAM files ever as far as I can tell.

[2016-02-29 20:50] jeromekelleher commented on #718
Looks good @david4096!

[2016-03-01 14:50] dcolligan commented on #942
Works for me:
[code]

[2016-03-01 14:55] dcolligan commented on #942
Er, I see.  You're saying when it fails for reason X additionally it reports optional fields.  If the request succeeds otherwise (no optional fields specified), things work just fine.

[2016-03-01 15:15] jeromekelleher commented on #942
OK, now I'm confused... If this works correctly when we have correct input (including cases when optional fields are not provided), and sort-of works when we have bad input, I think we should move on.

[2016-03-01 15:37] jeromekelleher commented on #951
Closing this as a WONTFIX.

[2016-03-01 15:37] #951 closed

[2016-03-01 16:21] dcolligan opened #957 "Add hooks into repo manager into variation_annotation branch"

[2016-03-02 15:59] dcolligan commented on #942
Fixed in #956

[2016-03-02 15:59] #942 closed

[2016-03-03 23:29] david4096 opened #964 "Search by name always returns a single result"
Here is the bit of code that handles readgroupset searching.

[code]

It appears that search by name will always only return a single result. This doesn't seem like intended behavior in the schemas. `Only return read group sets with this name (case-sensitive, exact match).`

Perhaps we can ignore this issue if we consider that we enforce names to be unique because "names" in this case map directly

[2016-03-03 23:29] david4096 opened #965 "Document data repo/server usage"
I can't seem to find anywhere where it says I have to bump the server after working with the repo manager.

[2016-03-03 23:36] david4096 opened #966 "Call sets always have a single variantSetId"
From schemas:
[code]

In `variants.py`:
[code]

The schema seems to suggest that given some callset I can find other variant sets that it is a part of, but our implementation always returns a single variant set.

[2016-03-05 00:21] macieksmuga commented on #955
#829

[2016-03-08 14:15] dcolligan commented on #957
@david4096 I know we talked about this a bit on the call, but could you specify if there is any functionality you want here, if any?

[2016-03-08 20:20] calbach commented on #879
The functionality should now be available by upgrading to 3.0.0b2.post2. https://pypi.python.org/pypi?:action=display&name=protobuf&version=3.0.0b2.post2

I pulled this in locally and verified that it produces JSON as expected for the `ListValue` case.

[2016-03-08 23:01] david4096 opened #970 "Remote files in repo manager"
I was under the impression that we are able to support remote files. An example of this using the repo manager is needed.

[2016-03-09 00:54] david4096 commented on #596
We've just proposed a change to the schemas that would make this feature "implementable". @diekhans

https://github.com/ga4gh/schemas/pull/570

[2016-03-09 01:24] david4096 commented on #970
Testing support on AWS #335

[2016-03-09 16:32] dcolligan commented on #970
We had remote file support in for a while, but then took it out since we determined that the underlying htslib code was too unreliable (it was routinely dumping core on us).  This is in the process of getting resolved, as the thread you linked indicates -- Jerome is heading up that effort.

[2016-03-09 19:47] david4096 commented on #970
We're going to need this feature even though we're still testing this feature. I'm going to leave it open.

[2016-03-09 20:59] dcolligan commented on #970
Ok, I took out the remote capabilities here: 17ba04600f048d897a33492c4f651f52b4e2dead

[2016-03-09 21:27] diekhans commented on #970
Do we have a htslib ticket URL for the remote access problems?

Danny Colligan <notifications@github.com> writes:

[2016-03-09 21:56] dcolligan commented on #970
They've resolved the issue in the latest branch; Jerome is working it out in the linked AWS ticket

[2016-03-09 22:42] dcolligan commented on #946
@david4096 where is the data you are using, just so I can reproduce?

[2016-03-09 23:13] diekhans commented on #596
There was strong objection to removing the cross-BAM merge-sort of reads from the GA4GH API.  There are very good use cases for this in multi-sample variant calling and it is supported by htslib.

There should be no requirement to scale beyond small number of BAMs for the reference server.

It's very important the primary single BAM be supported very soon.  This is obtaining all readgroups
within

[2016-03-09 23:27] david4096 commented on #946
ftp://ftp.1000genomes.ebi.ac.uk/vol1/ftp/release/20130502/

[2016-03-10 00:45] diekhans opened #972 "implement RefSeq gene annotations import"
An import program for RefSeq GFF3 gene annotations will be an important use cases for sequence annotations.  This will add the requirement to map chromosomes accessions to reference ids and also filtering, as not all rows would be imported.

ftp://ftp.ncbi.nlm.nih.gov/genomes/refseq/vertebrate_mammalian/Homo_sapiens/latest_assembly_versions/GCF_000001405.32_GRCh38.p6/GCF_000001405.32_GRCh38.p6_gen

[2016-03-10 17:40] david4096 opened #973 "Add BED format support"
BED files are the other major source of sequence annotations that we'd like to support.

[2016-03-10 17:45] david4096 opened #974 "Update Azure instance with latest master"
Our example instance is running an old version. Update to latest master.

[2016-03-10 19:35] macieksmuga opened #975 "VariationAnnotationSetSearch client code produces error without variantSetId"
when issuing a call as follows:
[code]
The response is a server stack trace. (It needs `variantSetId` supplied to work, but doesn't check explicitly for that parameter).

[2016-03-10 19:36] macieksmuga commented on #972
What are the filtering criteria for accepting/rejecting rows in this dataset?

[2016-03-10 21:24] diekhans commented on #972
you do not want to include the type in ("match, "cDNA_match") records

Maciek Smuga-Otto <notifications@github.com> writes:

[2016-03-10 22:48] dcolligan commented on #975
For the request above, the client payload is:
[code]

The server stacktrace is:
[code]

`variantSetId` is a required (i.e. required to be non-null) field, according to the protocol.  Specifying it as none, as done here, will get it rejected at the validation layer.  Assuming the protocol is correct, we should modify the client to make `variantSetId` a required argument instead of an optional one.

[2016-03-11 01:35] david4096 opened #978 "Replace prepare_compliance_data with repo manager"
The functionality of the prepare compliance data script is more or less covered by the repo manager. We could do away with that script, or at least simplify it to be a series of calls to the repo manager. It could then be a bash script.

[2016-03-11 01:41] #965 closed

[2016-03-11 03:23] diekhans commented on #978
Good idea; although please leave it as a python program, as I
don't think we have any bash.  Writing bash is easy, writing
robust bash isn't a common skill.

David Steinberg <notifications@github.com> writes:

[2016-03-11 19:02] kozbo opened #979 "provide for basic logging of gets and puts made against the reference server"
Once the server is deployed we will want to know the history of access on the server:
1. Will be very helpful for understanding the context of any problems that come up
2. Will be nice to build some metrics for how much the server is being used

Format of message should include at least the following:
- time and date stamp
- client information (IP? what else do we know here?)
- get or put message

[2016-03-12 19:02] reece opened #981 "reversing filter order changes number of results from searchVariantAnnnotations"
The behavior of [searchVariantAnnotations](https://ga4gh-schemas.readthedocs.org/en/latest/schemas/alleleAnnotationmethods.html#searchVariantAnnotations) is unclear to me, especially when multiple effect filters are described.

While investigating this question, I noticed that the number of results returned changed depending on the filter order.

The two obvious behavior options with multiple effe

[2016-03-12 21:36] diekhans commented on #979
Apache already has the ability to log request URLs.   You need to use mod_dumpio to log post date.  The logging is highly configurable and lots of tools to parse the files.

If it proves desirable to implement logging withing the server, it should have the option to log to syslog.
This is supported by the python logger.  I have code I could donate to handling configuration from the command line.

[2016-03-14 15:52] kozbo commented on #291
Was there a new release of pysam? Did it provide a way for us to remove the hack? If so then we should remove the blocked label.

[2016-03-14 15:59] david4096 commented on #981
Thanks Reece, looking into it!

[2016-03-14 16:26] david4096 opened #982 "Sending in malformed page token causes 500"
I was testing out the pageToken interface and found that I could reliably cause the server to 500 by sending in pagetokens like; `1:1`.

[code]

[2016-03-14 16:58] dcolligan commented on #982
@david4096 good catch.  Fixed in the linked PR

[2016-03-14 19:51] bioinformed commented on #291
Yes, there was a pysam release and the hack should no longer be necessary.
Please let me know if you have any problems.

On Mon, Mar 14, 2016 at 9:52 AM, Kevin Osborn <notifications@github.com>
wrote:

[2016-03-14 20:56] david4096 commented on #946
If we're checking for the presence of a reference for read groups, shouldn't we do the same for variants?

[2016-03-14 21:08] diekhans commented on #946
@david4096 good point.  While technical the API should be able to server up both reads and variants without the underlying references, the behavior is left unspecified.  However, it's silly not to have the reference sequences and it's a reasonable restriction for the reference server to place on the data it hosts. It reduces data load errors.  If so, it should be done consistently for reads, varia

[2016-03-14 21:23] saupchurch commented on #895
@david4096 has taken care of this and we have a clean rna topic branch now

[2016-03-14 21:23] #895 closed

[2016-03-14 21:29] david4096 opened #985 "BioSample"
This issue is for discussion around the functionality described in the biosample branch of schemas and this PR.

The BioSample endpoint allows us to have extra metadata about specific samples from the Reads or Callsets API.

https://github.com/ga4gh/schemas/pull/559

[2016-03-15 13:13] dcolligan commented on #982
Fixed in #983

[2016-03-15 13:13] #982 closed

[2016-03-15 13:20] dcolligan commented on #975
Fixed in #976

[2016-03-15 13:20] #975 closed

[2016-03-15 13:30] dcolligan commented on #946
Fixed in #949

[2016-03-15 13:30] #946 closed

[2016-03-15 13:40] dcolligan commented on #596
@jeromekelleher can you elaborate on why the limitation was put in place and what the roadmap to remove it would look like?

[2016-03-15 18:15] david4096 opened #987 "Packaged data"
We currently provide example data and a reference to ease startup. With the addition of sequence annotations API these are some proposed data that the server could ship with. These are public datasets that may require munging to be served by a GA4GH reference server.

Reference assemblies
- [GRCh37](http://grch37.ensembl.org/index.html)
- [GRCh38](http://genome.ucsc.edu/cgi-bin/hgGateway?db=hg38)

[2016-03-15 22:32] david4096 commented on #987
https://github.com/ga4gh/server/issues/972

[2016-03-15 22:34] david4096 opened #988 "gff3 parser improvements"
The GFF3 parser maxes out my system's memory pretty quickly. It should be possible to simplify the parser to match the shape of our database without reading it entirely into memory.

[2016-03-15 23:26] diekhans commented on #988
There is no requirement for order on GFF3 rows, however for many GFF3, such as GENCODE, they are
grouped by gene (top level).  While we still have to support the read the whole thing into memory, however we can add an option to do this.

@diekhans contributed the GFF3 parser and will provide this option.

[2016-03-15 23:48] kozbo commented on #810
#790 has been closed

[2016-03-16 01:23] kozbo commented on #573
Looks like a duplicate of #814. @dcolligan should we close this too?

[2016-03-16 14:46] dcolligan commented on #573
Yeah, this is the repo manager

[2016-03-16 14:46] #573 closed

[2016-03-16 15:05] dcolligan commented on #596
From a @diekhans email:

Right now, we don't support the single most important use cases,
which is read all the readgroups in a single BAM.  The reference
server can make the requirement that BAMs are sorted by location
across all readgroups; this is almost always the case.  It needs
to implement the full API, even if this requires excluding some
data.

[We need to] implement multiple readgroups w

[2016-03-16 21:23] dcolligan opened #989 "Rearrange client cli init so methods appear in alphabetical order in help"
Appears like this right now:
[code]

[2016-03-16 21:50] dcolligan commented on #596
It seems like the searchReads endpoint is poorly suited to handle the "give me all reads in a BAM" functionality since it takes a readGroupId (or hopefully, in the future, an array of readGroupIds) argument.  Since a ReadGroupSet maps to a BAM, wouldn't an endpoint that took a readGroupSetId be more appropriate?  (And as a comment asks in the schema PR, what is a null readGroupSetId array supposed

[2016-03-16 22:01] david4096 opened #990 "Feature ID filtering for variant annotation"
Once sequence annotations is implemented, a search by feature ID for variant annotations should be added back in.

https://github.com/ga4gh/schemas/issues/577

[2016-03-16 22:22] macieksmuga commented on #989
Can you wait with this until I add sequence annotations back in (coming very soon)? I had to add quite a bit of code to `cli.py` and `client.py` for it, and don't want an overly-messy merge, as may happen if significant parts of those files are rearranged.

[2016-03-16 22:27] dcolligan commented on #989
It should be an easy merge; the changes are mostly line additions in the common section: #991

[2016-03-16 22:55] david4096 opened #992 "Documentation for OpenID needs updating"
After running this line: `python server_dev.py -c LocalOidConfig`

[code]

My DNS name doesn't match the hardcoded localhost.

[2016-03-16 23:56] david4096 commented on #596
The schema change I proposed above is similar to what you are suggesting @dcolligan, but it was a feature roll-back that wasn't going to be accepted.

Currently the endpoint takes an array of readgroupIds, it's just that the server currently under-implements what is in the schema.
https://github.com/ga4gh/server/blob/31c41f4ea7b072dba43be79cd4db6111f41eb131/ga4gh/backend.py#L532

The `ReadsInterva

[2016-03-17 13:41] dcolligan commented on #596
I agree that the searchReads endpoint, implemented correctly to take N readGroupIds, could implement the "give me all reads in a BAM" functionality.  However, that would require the client to know all of the readGroupIds contained in the BAM.  That seems like an inconvenient way to address a BAM, which should ideally be done via a readGroupSetId.  It also mandates an extra step for a client: getti

[2016-03-17 14:03] diekhans commented on #596
Yes, it's inconvenient for the clients.  However, lets revisit
it independent.  We need to move the server forwards.

Danny Colligan <notifications@github.com> writes:

[2016-03-17 14:59] dcolligan opened #993 "Extra spaces in _protocol_definitions.py docstrings"
E.g. for the `Call` doc:

In `alleleAnnotations.avdl`:
[code]

Turns into:
[code]
Somewhere `process_schemas.py` is inserting extra spaces.

Low priority.

[2016-03-17 19:53] #981 closed

[2016-03-17 20:34] david4096 opened #994 "Private data and base64 IDs"
Given we are not using randomly generated identifiers we need to take care not to leak private data. For example, a read group might be named by a patient name. Even if a client were to only store IDs, they may unintentionally be hosting private health data. When discussing the count everything grant this occurred to me since a common method of performing a count is measuring the number of unique

[2016-03-17 20:45] david4096 opened #996 "Biodata endpoints"
Issue to track the biodata additions, biosample and individual.

Update PR https://github.com/ga4gh/server/pull/995
Feature PR https://github.com/ga4gh/server/pull/967
Merge PR https://github.com/ga4gh/server/pull/1028

[2016-03-17 20:49] diekhans commented on #994
This is valid point.  Despite appearing to `only' encode a file name, there are all kind of unintended ways
data can leak.   With dbGap protected data, where much of the metadata is public, the file names, which are created by the data submitter, are considered protected, as they have had cases where someone put protected data in the file name.

[2016-03-18 13:13] dcolligan commented on #596
If we allow imposition of additional burdens on the client to solve this issue, our client already does "solve" the problem by making a request to searchReads one readGroupId at a time.

[2016-03-18 14:28] diekhans commented on #596
We are not allowed to pass this off to client.  That is very inefficient.  These choices were made for very good reasons.  Those reasons are not documented.  BAMs are sorted by readgroupset, not readgroup.

[2016-03-18 14:40] dcolligan commented on #596
Question: if `len(readGroupIds) > 1`, in what order should the reads be returned?  Should they be returned sorted by coordinate, or by readGroupId (and then by coordinate within readGroupId)?  The schema doesn't specify this.

[2016-03-18 14:41] dcolligan commented on #596
And if the later, do we need to return the readGroupId reads in the order in which they were specified in the readGroupIds array, or can we do it in any order?

[2016-03-18 16:49] macieksmuga commented on #993
The records and their documentation are over-indented in the affected schema files, causing spurious spaces to appear in automatic documentation. We could re-indent the affected files (in the schema repo) or just fix the `process_schemas.py` script in the reference server  to remove these spurious spaces while parsing the docs.

[2016-03-18 16:58] diekhans commented on #993
or ignore the problem until we get the protocol buffer framework
and see if the problem still exists.

Maciek Smuga-Otto <notifications@github.com> writes:

[2016-03-18 20:00] david4096 opened #997 "Add overview documentation for the client API."
This TODO is in https://github.com/ga4gh/server/blob/master/docs/api.rst

[2016-03-18 20:02] david4096 commented on #596
I think you want to sort by position.
[code]
https://github.com/ga4gh/schemas/blob/master/src/main/resources/avro/readmethods.avdl#L61

[2016-03-18 20:37] diekhans commented on #596
They should be returned sorted by coordinates across all read
group. the schema should specify this; I think it's there, but
obscure.

However, the server should *not* sort it.  The reference server
requirement for serving a BAM can be that all readgroups in a
readgroupset are are sorted in a single BAM in sorted order.

This will almost always be the case. it becomes the data
providers problem to

[2016-03-18 21:09] gabrielsaldana opened #998 "Example data is out of date"
The example-data.tar file in the documentation at http://www.well.ox.ac.uk/~jk/ga4gh-example-data-v3.0.tar is out of date. It is missing the ontologies folder. Also the datasets/brca1/phenotypes folder.

[2016-03-18 21:27] david4096 commented on #998
The phenotypes folder will need to be folded in with G2P so shouldn't be part of example data, yet. Ontologies, however, does need to be present since it's used by variant annotation.

[2016-03-21 10:06] jeromekelleher opened #1003 "New version of pyjwkest breaks demo"
The pyjwkest package has been updated, and has broken the oic version we currently depend on. This breaks our installation:
[code]

We need to fix this ASAP, as our current version on pypi does not install. I suggest we pin to version
pyjwkest==1.0.1 as this is the currently known working version, and release an updated server.

We should investigate either pinning pyjwkest==1.0.1 or updating oic

[2016-03-21 15:23] jeromekelleher commented on #966
This is a limitation we inherit from VCF files. Closing this issue until we have a reason to support multiple variant sets for a call set.

[2016-03-21 15:23] #966 closed

[2016-03-21 15:25] dcolligan opened #1006 "Pin exact versions of all libraries in setup.py"
See https://github.com/ga4gh/server/issues/1003 and https://github.com/ga4gh/server/pull/1004

[2016-03-21 16:07] dcolligan opened #1008 "Invoke installed ga4gh_* packages as part of CI"
@jeromekelleher discovered (https://github.com/ga4gh/server/issues/1003) that it is possible for our CI to pass and the `ga4gh_server` utility to fail to start.  We should have a step at the end of our CI that tests that we can start and invoke the ga4gh_* utilities without any issue.

[2016-03-21 16:10] dcolligan commented on #1008
(although I am a bit surprised that `tests/end_to_end/test_server_start.py` did not catch that issue... will investigate)

[2016-03-21 16:31] jeromekelleher commented on #964
This is a property of our implementation where a name is a 'local ID' within a particular set. In my opinion the language in the schemas is poor, but there have been many discussion about what names and IDs mean. I think the situation at the moment is that implementations are free to do what they want, so our implementation is correct and I'm going to close this issue.

[2016-03-21 16:31] #964 closed

[2016-03-21 16:35] jeromekelleher commented on #879
Thanks @calbach, I'll test this out over the next couple of days. Apologies for the slow response.

[2016-03-21 16:50] jeromekelleher commented on #979
Agreed with @diekhans --- the recommended deployment option is through Apache. We should either verify that Apache supplies the required information (which I think by default it probably provides most stuff we'd want) and close this issue or update with more specific requirements so we can update.

[2016-03-21 16:52] david4096 commented on #966
Does this mean the schemas don't make sense around this? Is it possible to have a call set in multiple variant sets outside the scope of the reference server? @diekhans

https://github.com/ga4gh/schemas/issues/583

[2016-03-21 16:53] jeromekelleher commented on #994
Good point. We should definitely bear this in mind.

[2016-03-21 16:55] jeromekelleher commented on #992
Is this documentation or problem or a bug in the code?

[2016-03-21 16:56] jeromekelleher commented on #993
Yeah, let's shelve this one. This will be completely new code when we use protobuf.

[2016-03-21 16:56] #993 closed

[2016-03-21 16:59] jeromekelleher commented on #596
I think this is going to be harder than you think @diekhans, but I'll look into it and give an analysis over the next day.

[2016-03-21 17:01] jeromekelleher commented on #998
Do we have some example data to ship for VA @david4096? We should integrate this into the download_data script so it's easy to generate the example data.

[2016-03-21 17:03] jeromekelleher commented on #966
This is the subject of long argument @david4096; people feel that it's important that the schema be flexible enough to support this. However, it's not something we support in the reference implementation currently, given our dependence on VCF metadata.

[2016-03-21 17:03] david4096 commented on #596
Yeah there are two annotated VCFs in the compliance test data: https://github.com/ga4gh/compliance/tree/master/test-data

[2016-03-21 17:04] david4096 commented on #998
Yeah there are two annotated VCFs in the compliance test data: https://github.com/ga4gh/compliance/tree/master/test-data

[2016-03-21 17:27] jeromekelleher commented on #998
OK, so what we need to do is update download_data script to pull these from some public location, and create the correct directory hierarchy. Any one like to do this?

[2016-03-21 17:51] diekhans commented on #596
@jeromekelleher  It's always harder than I think and easier than you think!
Either way, I owe you a beer.

@dcolligan is also looking at it.

Jerome Kelleher <notifications@github.com> writes:

[2016-03-21 17:55] diekhans commented on #966
The was the subject of a three month, circular discussion in
github last summer that was never resolved.  Our conclusion was
someone who had deep understanding of the way variant analysis
is done needs review and document the design.  We have not
found anyone to do this.

In the mean time, the schema stands, however the reference
server is allowed to put restrictions on the data it servers
and onl

[2016-03-22 14:48] dcolligan commented on #989
Fixed in #991

[2016-03-22 14:48] #989 closed

[2016-03-22 15:15] dcolligan commented on #596
@jeromekelleher  and I have been talking about this, but here are some of the things that have come up (I, of course, still want to hear his opinion in this thread).

Firstly, no other API endpoint we have has an array of ids as a mandatory argument (we have some that have arrays as optional arguments).  This introduces some problems, mostly of specification.  For instance: what happens if some of

[2016-03-22 15:17] diekhans commented on #596
pysam shows the code to implement this is:
`iter = samfile.fetch("seq1", 10, 20)
for x in iter:
    print (str(x))
`
once one figures out if the list of readgroups are all the groups in the readgroupset, where do the problems lie?

[2016-03-22 15:19] dcolligan commented on #596
That only searches one BAM, not N BAMs.  That would be similar to the code that we would have in a readGroupSetSearch endpoint.

[2016-03-22 15:54] jeromekelleher commented on #596
Well, it looks like nobody actually implements multiple BAMs (Google don't apparently) so we may as well follow the crowd here. As an initial pass, how about we implement this as if it was passed a single ReadGroupSetId. That is, there are two legal inputs for the readGroupIds in the searchReads endpoint:

1. Exactly one readGroupId, which we have implemented now; or
2. k readgroup ids which corre

[2016-03-22 15:56] diekhans commented on #596
- Agreed that changing the API would make it easier to use.
  However I would rather code around it for now than wait on a
  multi-month discussion.

- While not explicitly stated in any documentation, the server
  should be allowed to set limits on what it does.  Implementing
  the API is different than scaling the API beyond the limits
  of the environment in which it is running.

- The intended

[2016-03-22 16:14] diekhans commented on #596
Yes.  that is the first and most important use case.

More complex case is doing the merge.  Although it's claimed
that htslib support this, so it could be showing this through
pysam.

Danny Colligan <notifications@github.com> writes:

[2016-03-22 16:15] diekhans commented on #596
CH says google does implement it; but we can do this in in phases.
Personally, I would wait till streaming for multi-bam.

Jerome Kelleher <notifications@github.com> writes:

[2016-03-22 16:45] dcolligan commented on #596
Ok, it looks like we can compromise on @jeromekelleher 's plan

[2016-03-22 16:57] jeromekelleher commented on #596
Not according to @calbach @diekhans:

https://github.com/ga4gh/schemas/pull/570#issuecomment-194481531

So, Google allows search on a subset of the ReadGroups from a ReadGroupSet but does _not_ support merge across ReadGroupSets.

I remain entirely unconvinced that merging across ReadGroups can't be don't more effectively and simply on the client side --- users will have to anyway if they want dat

[2016-03-22 17:39] calbach commented on #596
Sorry if my reply was misleading. We absolutely support merge across multiple `ReadGroupSet`s, when specified in the `readGroupSetIds` field (which is not part of the GA4GH spec).

[2016-03-22 18:13] jeromekelleher opened #1011 "Document dependencies on libcurl"
Once #880 is merged, we should have access to htslib's new libcurl based network access code. However, this is only enabled if a libcurl  and crypto installation is found on the target system when pysam is built. We need to figure out exactly what these requirements are on (at least) Ubuntu and document them.

We should also make sure these packages are installed during CI so we're invoking the re

[2016-03-22 18:14] jeromekelleher commented on #596
Interesting... can you supply a link to the docs for this endpoint please @calbach? Thanks for the clarification!

[2016-03-22 18:23] david4096 opened #1012 "ID scheme allows non-unique IDs"
Identifiers are required to be unique, but naming two files the same will cause them to have the same ID.

[code]

Perhaps we could add a character per type to the compound ID?

[2016-03-22 18:28] macieksmuga commented on #596
My understanding from the GA4GH DWG call was that, as Mark says, merging results (sorted by position) across multiple readGroups is absolutely an important requirement. There was genuine push-back during that call on any attempt to adjust the API in the direction discussed above, so I don't think that's a real possibility going forward.

Which leaves us with ensuring the reference server does its

[2016-03-22 21:36] calbach commented on #596
@jeromekelleher sure: https://cloud.google.com/genomics/reference/rest/v1/reads/search

[2016-03-22 23:15] david4096 commented on #992
I'm not sure since I haven't seen it work properly. The documentation wasn't enough to get it started at the very least so I assumed there was some other configuration setting I had missed.

[2016-03-22 23:19] david4096 commented on #996
Individuals into biosample PR https://github.com/ga4gh/server/pull/1002

[2016-03-23 00:26] david4096 opened #1015 "Add JSON/CLI comparison tests for variant annotation"
There should be some tests that take the VA protocol through its paces in `tests/unit/test_client_json.py`.

[2016-03-23 10:07] jeromekelleher commented on #1012
Hah, well spotted @david4096! Yes, adding a char for each type is a good solution I think.

[2016-03-23 12:37] skeenan commented on #992
@bartgrantham  created a beacon server, using the refserver and openID [docs](https://github.com/Genecloud/simplebeacon). Might be of some use in helping debug...

[2016-03-23 13:13] dcolligan commented on #1012
It is a bit ugly that 2 different objects of different type can share the same id, but is it really a problem, strictly speaking?  We don't have any getObjectById function (or something similar) which searches the global id space.  We only have type-specific id spaces, I think.

[2016-03-23 13:20] dcolligan commented on #1011
"The only way I've found is to open a remote BAM and look at the user agent string on the server logs..."

Ugh.  There's got to be a better way.  (And if there's not, we should ask htslib/pysam to put one in!)

[2016-03-23 13:59] jeromekelleher commented on #1011
Agreed!

[2016-03-23 14:01] jeromekelleher commented on #1012
Hmm, this is true @dcolligan, we can always identify the correct object by the context. Does the spec have anything to say about this?

[2016-03-23 14:05] jmarshall commented on #1011
I suggest rereading [#335 comments](https://github.com/ga4gh/server/issues/335#issuecomment-176683477): that one, and the second half of [[on enumerating]](https://github.com/ga4gh/server/issues/335#issuecomment-176725710).

[2016-03-23 14:13] jeromekelleher commented on #1011
It's tricky @jmarshall --- setting ``hts_verbose`` doesn't work because there are multiple different versions of htslib compiled in to each module within pysam, and we're not touching the correct instance of ``hts_verbose``.  Trying to access a https URL doesn't work either because libcurl won't accept self-signed certificates (I think), and we don't have access to the internals. Anyway, this isn'

[2016-03-23 15:53] bioinformed commented on #1011
The multiple versions of htslib problem within pysam should be resolved
when Andreas changed the default build mode to "shared".  I'll look into
adding a more obvious way to determine which networking code is available
at runtime.  Apologies for not thinking of this wrinkle in advance.

On Wed, Mar 23, 2016 at 8:13 AM, Jerome Kelleher <notifications@github.com>
wrote:

[2016-03-23 16:03] david4096 commented on #1012
Although I agree that we can function with degenerate IDs it is out of scope of the schemas.
[code]
https://raw.githubusercontent.com/ga4gh/schemas/master/doc/source/api/apidesign_intro.rst

[2016-03-23 16:44] jeromekelleher commented on #1011
Thank @bioinformed, that would be great!

[2016-03-23 16:45] jeromekelleher commented on #1012
OK, that sounds conclusive. I think we should just use @david4096's idea and shove in a single char to make the IDs unique so we're following the letter of the spec.

[2016-03-23 16:53] dcolligan commented on #1012
+1

[2016-03-23 18:16] reece commented on #1006
Have you considered a requirements file instead?

To the extent that there's a convention, setup.py (install_requires) is best used to define the minimal package dependencies, typically unversioned. It is these dependencies that one would get with `python setup.py develop`, for example. In rare cases, you might pin as >1.2.3 if you know that there's a bug fixed in a particular version. For hgvs, I

[2016-03-23 18:27] diekhans commented on #1012
From a user perspective, it's very confusing to not have ids
globally unique.  For debugging and if one does anything like a
cache.

Please figure out a short-term fix.  Once we get protocol
buffers integrated, it would be good to revisit the id scheme.

Danny Colligan <notifications@github.com> writes:

[2016-03-23 22:26] kozbo commented on #998
Assigning to Gabriel as this is right on his path anyway

[2016-03-24 10:14] jeromekelleher commented on #998
@kozbo I've invited @gabrielsaldana to join the Global Alliance github group, and added him to the "Global Alliance Contributors" team. He should be on the list of potential assignees once he accepts the invitation.

[2016-03-24 13:56] jeromekelleher opened #1018 "Using ':' as a separator in CompoundIds is problematic. Replace."
See discussion at https://github.com/ga4gh/server/pull/999#discussion_r57175788

It should be possible to replace easily enough. Suggestions?

[2016-03-24 14:39] jeromekelleher opened #1019 "Provide support and documentation for 1000 genomes references"
To support serving the 1000 genomes references we will need to make it possible/easy to import the references used by the 1000 genomes BAMs and VCFs. This should be as easy as
[code]

Here is an one 1000 genomes reference:

ftp://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/GRCh38_reference_genome/GRCh38_full_analysis_set_plus_decoy_hla.fa

See also the README in this directory.

Because

[2016-03-24 15:58] diekhans commented on #1018
Don't try to choose a safe delimter, insead encode each
component so that the chosen delimiter can't collide: For
instance:

   `:' -> `\:'
   `\\' -> `\'

since it's all done in one place, this should be transparent.

Jerome Kelleher <notifications@github.com> writes:

[2016-03-24 16:10] dcolligan commented on #1008
Fixed in #1010

[2016-03-24 16:10] #1008 closed

[2016-03-24 16:10] dcolligan commented on #1006
Fixed in #1010

[2016-03-24 16:10] #1006 closed

[2016-03-24 16:27] david4096 commented on #1019
Remote files in repo manager https://github.com/ga4gh/server/issues/970

[2016-03-24 16:30] jeromekelleher commented on #1019
Thanks @david4096! Let's make #955 the first step in this process.

[2016-03-24 16:31] macieksmuga commented on #1018
I agree with Mark, there is no safe delimiter - I'd much rather use a uniform, generic mechanism (bundled with the Compound ID object) for escaping the delimiter.

[2016-03-24 16:32] jeromekelleher commented on #829
Closing this as a duplicate of #955.

[2016-03-24 16:32] #829 closed

[2016-03-24 17:59] macieksmuga commented on #998
The example data for sequence annotations can already found in the `tests/data/datasets/dataset1/sequenceAnnotations` corner of the server repo, so please queue that for chucking in to the example data package once sequence annotations code is accepted.

[2016-03-24 21:26] david4096 commented on #998
How about adding the test data to a release @jeromekelleher ? (thanks @diekhans)

https://help.github.com/articles/creating-releases/

[2016-03-24 23:54] kozbo commented on #979
I have done some testing with the default logging levels specified in the ga4gh installation instructions and found that the /var/log/appache2/access.log file has an adequate amount of logging.  After running the demo.py program I got the following output in the log
<
128.114.59.148 - - [24/Mar/2016:23:48:39 +0000] "POST /ga4gh/datasets/search HTTP/1.1" 200 310 "-" "python-requests/2.7.0 CPython/2

[2016-03-24 23:55] #979 closed

[2016-03-25 03:56] diekhans commented on #955
what is the ETA on finishing this?

[2016-03-25 19:53] david4096 commented on #957
Sorry for not getting back to you sooner on this! I believe the adding of [ontology maps](https://github.com/ga4gh/server/pull/980) and some documentation were what was needed. Variant annotation sets are added by the add-variantset interface since they add both an annotation set and a variant set.

[2016-03-25 21:43] macieksmuga commented on #1012
The following is a sketch of a solution architecture that I'd like to implement at some point in the future, not a reflection on the code that's generating these IDs now.

Ideally, the ID conundrum would be solved by every class for an ID-backed entity having two required methods, the implementation of which would presumably call on some standard obfuscation utility:

[code]

The issue with this s

[2016-03-26 00:02] macieksmuga commented on #955
I'm putting it on my next week (March 28) sprint schedule

[2016-03-26 00:19] david4096 commented on #689
bump, this renders the variants interface problematic. There is no way to tell which `referenceName` to send in a `searchVariants` request without knowing ahead of time what is in the VCF.

[2016-03-26 05:07] reece opened #1024 "variantannotations/search fails when searching by term"
[code]

And on the server:

[code]

Searching with a filter like [{"id": "SO:12345"}] works fine.

[2016-03-26 15:09] diekhans commented on #689
VariantSet has referenceSetId, this is used to obtain the list
of references that could be in a variant set.

David Steinberg <notifications@github.com> writes:

[2016-03-28 13:36] dcolligan commented on #1024
Yeah that's what this part of the error message means: `{u'id': u'MISSING_VALUE'}` ... according to the schema there should be an id for the effect (as well as a non-null `start` and `end` for the request, apparently).

[2016-03-28 13:39] dcolligan opened #1025 "variantannotations-search cli crashes with no arguments"
This should be fixed and tested.

[code]

[2016-03-28 21:34] david4096 commented on #689
@diekhans As far as I can tell `referenceSetId` is pinned to a blank string here:

https://github.com/ga4gh/server/blob/master/ga4gh/datamodel/variants.py#L95

When trying to create a simple script for listing the variants for a variant set I found that one would have to brute force the `referenceName` field of a `SearchVariantsRequest` to find which contigs a variant set refers to.

[2016-03-29 14:10] jeromekelleher commented on #998
What have you in mind @david4096? I don't think we should distribute example data with the pypi package.

[2016-03-29 14:32] jeromekelleher commented on #689
There is no standard header for defining what reference a VCF uses. I think the only feasible solution here is to require the repository administrator to tell us what it is via the repo manager tool. Ideally, at import time we have an option saying "associate this variant set with this reference set".

[2016-03-29 16:23] macieksmuga opened #1030 "No easy way to associate a ReferenceSet to a FeatureSet or other container entities"
Since there is no required standard way to specify a definitive reference set in GFF3 or VCF files, this becomes an exercise for the server maintainer at the time that datasets are ingested.

Related to #689

[2016-03-29 18:55] gabrielsaldana commented on #998
I'm guessing @david4096 is referring to generating downloadable zip files of "releases" from an example-data repository @jeromekelleher instead of the current fixed location mentioned at the top of this thread.

[2016-03-29 19:07] david4096 commented on #998
You can include large files in a release. You would tag a data release, or make a data branch https://help.github.com/articles/distributing-large-binaries/

[2016-03-29 20:55] diekhans commented on #689
ouch.  references set name should be specified when the variant set is added
to by the repo manager.  Given that reference genomes are ubiquitous, I don't
see a reason for it to be optional.

David Steinberg <notifications@github.com> writes:

[2016-03-29 22:45] #1024 closed

[2016-03-29 22:45] #1025 closed

[2016-03-29 22:45] #1015 closed

[2016-03-29 23:43] david4096 opened #1032 "Trailing slash on repo manager"
When adding a variant set I got odd behavior if I left the trailing slash.

[code]

[2016-03-30 12:14] dcolligan commented on #1032
Good catch.  This has to do with lame basename functionality:
[code]

[2016-03-30 15:24] jeromekelleher commented on #998
I'm perfectly happy with making the data  available somewhere other than the current server. I'm not in favour of rolling the example data in with the distribution tarball on pypi (which is not the same thing as the release tarball created on github). Entirely open to ideas otherwise though.

[2016-03-30 15:32] macieksmuga commented on #1018
FYI, since the latest refactor of the Sequence Annotation PR #999 - I no longer have a problem with special characters in IDs (as all internal IDs for features have now been replaced with unique long integers). So while I still agree with Mark's general suggestion, this issue is no longer a blocker on any of my current code.

[2016-03-30 16:20] david4096 opened #1035 "Thousand genomes variant annotations special case"
The split ANN field has become more or less a standard for representing annotated variants in VCF, however, the Thousand Genomes annotated variant sets have a `CSQ` field that is arranged differently. If we would like to host the thousand genomes annotated variants we either have to detect this case or munge them into the expected form.

From ALL.chr1.phase3_shapeit2_mvncall_integrated_v5.20130502

[2016-03-30 18:43] jeromekelleher commented on #1035
I would vote for  the format. Munging 1KG data is not something to be taken lightly, and probably other people have adopted the convention anyway.

[2016-03-30 19:09] david4096 commented on #957
https://github.com/ga4gh/server/pull/980

[2016-03-30 19:47] macieksmuga opened #1038 "Reorganize server data directory hierarchy for sequence annotations"
The current folder hierarchy is
`datasets/<dataset>/sequenceAnnotations/<feature_files...>`
I'd like to change this to:
`datasets/<dataset>/sequenceAnnotations/features/<feature_files...>`
so as to accommodate a future:
`datasets/<dataset>/sequenceAnnotations/continuous/<wiggle_files...>`

[2016-03-30 19:59] diekhans commented on #1038
+1 for this, since wiggle will be an important data type.

Maciek Smuga-Otto <notifications@github.com> writes:

[2016-03-31 00:27] david4096 commented on #998
What do you think about tagging a data release on this repo @jeromekelleher ?

[2016-03-31 10:09] jeromekelleher commented on #998
This will make this repo start inflating pretty quickly though, won't it? If we store the tarball within the repo then we're going to add > 1M to the size of the repo each time we update it. I think this would start adding up pretty quickly, and clones would become slow (this would be bad for CI checks as well as being annoying for devs and for GitHub).

We could try using github pages or somethin

[2016-03-31 10:15] jeromekelleher commented on #1038
No objections.

[2016-03-31 14:43] dcolligan commented on #1038
sounds good

[2016-03-31 15:16] dcolligan commented on #1032
Fixed in #1033

[2016-03-31 15:16] #1032 closed

[2016-03-31 16:14] macieksmuga opened #1040 "NCBI Taxon Id 9606 (Homo Sapiens) is hard-coded into the repo manager"
Make this a default, but allow the user to provide a different value.

[2016-03-31 17:02] david4096 commented on #998
Sorry if I wasn't being clear, you can add data to a release that isn't a part of your repo.

For example: https://github.com/david4096/server-1/releases/tag/data

[2016-03-31 23:40] david4096 opened #1044 "Multiple Contig VCF"
Can we support VCFs with multiple contigs in them?

- [ ] Find a VCF with multiple contigs
- [ ] Add to tests/data/variants and run nosetests
- [ ] Add to repository and start reference server