[2014-08-27 13:53] jeromekelleher opened #3 "Server should use WSGI framework"
The server currently has a rather dumb HTTP server based on Python's [http.server.HTTPServer](https://docs.python.org/3/library/http.server.html#module-http.server). This is not a good idea for many reasons. A better approach would be to use the [WSGI standard](http://legacy.python.org/dev/peps/pep-3333/) so that the server can be deployed at scale using any WSGI conforming web server. See http://

[2014-08-27 21:01] dasmoth opened #4 "Support CORS"
Development of Javascript clients would be greatly eased by supporting [Cross-Origin Resource Sharing](http://enable-cors.org/).

For the current prototype server.py, adding to do_POST:

[code]

should do the trick for now.

[2014-08-28 15:52] jeromekelleher opened #5 "Protocol definitions are incomplete"
Only a handful of the GA4GH [API classes](http://ga4gh.org/documentation/api/v0.5/ga4gh_api.html#/) have been implemented in protocol.py. The full protocol must be defined here. There are a number of options:
1. Continue the current pattern, and hand code the Python class equivalents;
2. Somehow generate valid Python code from the Avro definitions, and check this code into git each time there is a

[2014-08-28 16:06] jeromekelleher opened #6 "Error handling is required"
Currently, any exceptions that occur are not dealt with. At a minimum, we need to catch these exceptions and send back a GAException object to the client. See the TODO section of the README for further discussion of this.

[2014-08-28 16:15] jeromekelleher opened #7 "A test suite is required"
We need a comprehensive test suite to ensure that our reference implementation is indeed correct. I suggest we keep tests in a separate directory called 'tests' and use [nose](https://nose.readthedocs.org/en/latest/) for test discovery and running. This also integrates well with [setuptools](https://pythonhosted.org/setuptools/) and has many [plugins](https://nose.readthedocs.org/en/latest/plugins

[2014-08-28 16:18] jeromekelleher opened #8 "Travis CI integration"
Once #7 has been resolved, it would be good to implement [Travis CI](http://docs.travis-ci.com/user/getting-started/) continuous integration testing.

[2014-09-03 13:37] jeromekelleher opened #10 "Response generation model is poor"
The current model for generating responses in the server is to construct a complete `GASearchVariantsResponse` object and to then convert this to a JSON string. This is a poor model because it entails creating lots of intermediate objects and lists of `GAVariants` and `GACalls`. This can consume large amounts of memory on the server and is a factor in the current poor performance when returning la

[2014-09-03 13:41] jeromekelleher opened #11 "Support searching over multiple variant sets"
The server currently supports searching for variants over a single variant set. The protocol requires searching over a list of variant sets. This requires a rearrangement of the code and also means that we need to include more information in the nextPageToken so we can cleanly page over multiple variant sets.

[2014-09-03 13:48] jeromekelleher opened #12 "Need to implement variantsets/search method"
We need to implement the  `variantsets/search` method described in ga4gh/schemas#134.  The variantSetIds are stored in the `self._variantSets` dictionary, so this should be simple to implement.

[2014-09-03 13:58] jeromekelleher opened #13 "Need to implement callsets/search method"
We need to implement the `callsets/search` method. Currently, the concept of a `CallSet` does not exist; we just generate `Calls` and map  the  `callSetId` and `callSetName` (do we _really_ need both of these?) to the sample name in VCF.  Can we simply map `CallSet.id`, `CallSet.name` and `CallSet.sampleName` to the VCF sample name?

[2014-09-03 14:08] jeromekelleher opened #14 "What is the correct mapping VCF GT values to `Call` objects?"
The mapping VCF genotype values to GA4GH `Call` objects  is currently incomplete/incorrect. Questions:

1. If the delimiter is `|` then the genotype is phased. What should the value of the `phaseset` field be? If the delimiter is `/` then I assume phaseset should be null.
2. What does ./. indicate in terms of `Call` objects? No call exists an so we do not return a `Call` for the current `CallSet`?

[2014-09-03 14:46] jeromekelleher opened #15 "Multiple variantNames not handled correctly"
The VCF `ID` field has been mapped directly to the `Variant.names` field. This is also used in the `SearchVariantsRequest` object, where we only return variants that have `variantName` within the interval defined by `start` and `end`. This is supported by building a wormtable index over the `CHROM` and `ID` columns, which lets us seek to the first record in which the `ID` value is >= to the query

[2014-09-11 12:15] #3 closed, assigned to nobody

[2014-09-12 08:08] jeromekelleher opened #18 "Need to be precise about what Python versions are supported"
The setup scripts currently do not check what Python version is being used, which leads to cryptic failures on older Python versions. This should be fixed, and the exact versions tested using Travis.

[2014-09-12 14:35] #12 closed, assigned to nobody

[2014-10-06 15:56] #4 closed, assigned to nobody

[2014-10-20 17:16] jeromekelleher opened #22 "A compliance tester would be useful"
The compliance test suite (https://github.com/ga4gh/compliance) is extremely useful, but does not allow for easily automating the process of API compliance testing. Checking for API compliance is a minimal requirement of our test suite, so we will need to do these checks in any case. Since having a command line application to test an arbitrary API endpoint is a useful additional tool to have, we m

[2014-10-20 17:23] jeromekelleher opened #23 "Simple WSGI deployment"
Deploying the server on WSGI compliant HTTP servers is currently not straightforward. We need simple, well-documented recipies for deploying on common platforms such as Apache and Nginx. We may need to add some helper functions into `ga4gh.server` to make this as easy as possible.

[2014-10-20 17:39] jeromekelleher opened #24 "Improve CLI code layout"
Currently, the command line programs are defined in the `ga4gh.scripts` package, with a module for the server and client applications. This is a poor layout, and the `scripts` name is quite confusing. Another disadvantage of this approach is that when we want to develop with the `server.py` and `client.py`  programs, we need to either hard link or copy the files into the root of the package hierar

[2014-10-20 17:48] jeromekelleher opened #25 "Client CLI needs to support arbitary URL endpoints"
The client program currently only supports connecting to GA4GH servers in which there are no URL prefixes (i.e., we assume that we only connect to http://server:port/API_CALLS). However, the majority of endpoints are not of this form and contain a URL prefix (e.g. http://server:port/some/arbitrary/prefix/API_CALLS). The client program (and libraries) should support this pattern.

Ideally, this wou

[2014-10-20 18:15] jeromekelleher opened #26 "A beacon client would be useful"
Adding scriptable support for the beacon API would be very useful. It would be good to have a `beacon` function in the `ga4gh.client.HTTPClient` class, following the existing pattern. It would then be simple to add a CLI (either as part of the existing client application or as its own standalone program, if it was sufficiently useful) using this method. This would also require #25 to be solved, as

[2014-10-20 18:28] jeromekelleher opened #27 "Variant simulator backend should be removed and README updated"
The simulator backend should be removed, and the README documentation updated to reflect the more recent developments. The simulator isn't very useful currently, and would take quite a lot of work to do properly. Therefore, I think it should be removed.

Any objections?

[2014-10-30 13:37] jeromekelleher opened #31 "OAuth support required"
The reference implementation needs support for [OAuth](http://oauth.net/) to allow us to perform authentication. There are many problems to be resolved in this, and this issue should provide a central location for the discussion around this topic.

Some questions:

1. What library should we use?
2. Do we use OAuth 1.0 or 2.0?
3. Lots of other questions I would ask if I knew more about OAuth.

Hope

[2014-10-30 14:25] jeromekelleher opened #32 "Fix GASearchVariantsRequest semantics."
The semantics of the  `GASearchVariantsRequest` needs to be updated to follow the update in ga4gh/schemas#166

[2014-11-07 13:30] #7 closed, assigned to jeromekelleher

[2014-11-16 16:34] jeromekelleher opened #36 "PyPI package required"
The standard approach for distributing Python software is to use the [Python Package Index](https://pypi.python.org/pypi). This would allow users to install the client and server tools simply by running `pip install ga4gh`.

Ultimately we want to have a pip installable package so that the server can be deployed as simply as possible. There are a few issues that should be resolved first, and this i

[2014-11-16 17:43] jeromekelleher opened #38 "Change from Werkzeug to Flask?"
Supporting OAuth2 and authentication would be considerably simpler if we used Flask instead of Werkzeug, and it would probably make working with the server a lot easier from a web development perspective also. This is probably a formality since I was the only one really in favour of Werkzeug, but are there any objections to changing over to Flask?

For previous discussions see #3 and #31.

[2014-11-21 10:23] #25 closed, assigned to nobody

[2014-11-21 10:24] #27 closed, assigned to jeromekelleher

[2014-11-21 10:24] #24 closed, assigned to nobody

[2014-11-24 20:41] hershman opened #41 "Add Beacon Server API support"
With the change over to Flask (see issue #38 and PR #40 for discussion and progress) and our support for plain VCF files using the `TabixBackend` we have the infrastructure to very easily make a Beacon  server. This could be trivial to deploy using the PyPI package (see issue #36) and would require only a path to a directory of VCF files to configure.

[2014-11-25 09:32] #11 closed

[2014-11-25 09:32] #32 closed

[2014-12-09 20:15] jeromekelleher opened #44 "Proposed data directory layout"
Currently, we only support variant data derived from VCF, in either vcf.gz or wormtable format. We need to support other types of data as we move to support the full API. I suggest we use a designated file system layout for the data directory to discover the files and their relationships. An initial pass at this might be
[code]
That is, within the data directory, each directory `d` corresponds to

[2014-12-15 11:48] jeromekelleher opened #46 "Server performance benchmarking needed"
As the reference server evolves, we need to have a mechanism to keep track of how the server's performance changes as we add new features. There is currently a crude performance benchmark built into the client program, but this is not satisfactory as it includes network latency and client side JSON parsing in its timings.

One way that we might get a better handle on query performance is to build

[2014-12-18 09:41] #38 closed, assigned to nobody

[2014-12-19 11:11] #5 closed, assigned to nobody

[2014-12-19 11:11] #8 closed, assigned to jeromekelleher

[2014-12-19 14:55] kerrydc opened #47 "Optionally read from encrypted data files"
Allow users to specify a key and possibly encryption scheme along with data files. We should accept the key, and decrypt data before processing.
The security doc (http://genomicsandhealth.org/security-infrastructure-read-online#AccessControl) says in 4.6:
"Each stakeholder that stores genomic or clinical data will use strong encryption to encrypt the data for storage."
We should therefore cut over

[2014-12-19 16:33] kerrydc opened #48 "Write audit logs for all requests and responses"
Access to data should be logged. Flask provides a logging framework, so that may be a good start. Once we have authentication we should log user IDs along with actions.

[2014-12-19 19:31] Naburimannu opened #50 "dist appears to be broken"
After flaskification and subsequent PRs, dist (from "python setup.py sdist") doesn't include server, and following the README instructions no longer gives us a running server.

[2014-12-22 14:57] kerrydc opened #54 "Fix Travis security issue"
We get this warning from Travis builds:
"/home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/pkg_resources.py:1045: UserWarning: /home/travis/.python-eggs is writable by group/others and vulnerable to attack when used with get_resource_filename. Consider a more secure location (set with .set_extraction_path or the PYTHON_EGG_CACHE environment variable)."
We should fix this.

[2014-12-29 19:05] kerrydc opened #55 "Clean up code to improve readability"
Rewriting some of the bigger classes to make variable names more readable and improve commenting would make understanding the code and contributing to the project easier.

[2014-12-29 19:08] kerrydc opened #56 "Handle native filetypes gracefully, without conversion"
We should support .vcf, .bcf, .bam, and .sam files as input. Conversion to internal formats and choice of backend should happen on our end, with backend choice determined by performance benchmarking.

[2015-01-02 14:15] jeromekelleher commented on #55
Agreed - see the comments on PR #57 for my take. Should we try to make the style that we are looking for more explicit? I.e., is there a document somewhere that we could refer to, in terms of choosing class names, variable names, etc?

[2015-01-02 14:16] #50 closed

[2015-01-02 14:18] jeromekelleher commented on #54
Agreed; this makes life awkward when trying to deploy using WSGI also, so it would be good to get to the bottom of it.

[2015-01-02 14:28] jeromekelleher commented on #56
This is definitely the goal we should aim at I think. Removing the dependency on wormtable and the need for pre-conversion of the data would greatly improve usability. For now, however, there are some pretty severe performance penalties associated with accessing VCF directly---we go from serving thousands of variants per second down to something like ten variants per second. This is too slow to be

[2015-01-02 16:20] bioinformed commented on #56
On Fri, Jan 2, 2015 at 9:28 AM, Jerome Kelleher <notifications@github.com>
wrote:

I'm working on adding support for the htslib VCF/BCF API to pysam right
now.  I hope to have a fully featured alpha version ready on Monday and
would value feedback on the API mapping.  When ready, serving indexed BCF
and VCF files should be quite zippy.

-Kevin

[2015-01-02 16:48] hershman commented on #56
To take advantage of the full BCF API will we need to do anything beyond appending a <code>parser=pysam.asVCF()</code> the <code>TabixFile.fetch()</code> call in ga4gh/backends.py:339-340 and then and then using the right [asVCF fields](http://pysam.readthedocs.org/en/latest/api.html?highlight=asvcf#pysam.asVCF) in the convertVariant function?

[2015-01-02 17:07] jeromekelleher commented on #56
This is great new @bioinformed! This would be massively useful for us. Let us know if there's anything we can do to help...

[2015-01-02 17:25] bioinformed commented on #56
My htslib wrapper is not based at all on the existing pysam VCF API. Rather, it is a full extrapolation of the htslib API where VCF and BCF processing is unified using a compact BCF-like in memory representation, all values are properly typed according to the metadata, access to headers/formats/filters/info/sample information is available via light weight mapping objects, tabix/csi/bcf indexing is

[2015-01-02 18:08] jeromekelleher commented on #56
This sounds perfect to me @bioinformed --- an outline ga4gh backend implementation based on this would be a huge step in the right direction.

[2015-01-05 09:20] jeromekelleher commented on #10
I'm a big fan of generators @bartgrantham, and I definitely would like to see them used here. As I outlined above, I think a function `getVariants(request)` which is a generator over all the variants in a request (for example) would simplify things a lot. However, I worry about having generators all the way down, as I don't know how we would handle errors in this case. Suppose an error occured whi

[2015-01-05 17:14] pgrosu commented on #10
The HTTP streaming discussion seems to skip my memory.  Could you point me to it so I refresh my mind? :)

Thanks,
~p

[2015-01-05 19:16] bioinformed commented on #56
Quick update: My pre-alpha pysam branch with the new htslib VCF/BCF API is
available here:

https://github.com/bioinformed/pysam/tree/bcf

This code is incomplete and preliminary.  It does offer a nearly complete
immutable Pythonic interface to VCF/BCF metadata and data with reading and
writing capability, but has no capability (yet) to mutate the resulting
data (beyond dropping all samples).  Doc

[2015-01-05 19:37] lh3 commented on #56
Would be good to support extracting a subset of samples. Useful functionality and should be easy with htslib. Also, is random access supported yet?

[2015-01-06 08:59] jeromekelleher commented on #10
Discussion happened offline @pgrosu --- it'll become a PR on the schemas repo at some point.

[2015-01-06 16:40] kerrydc opened #58 "Fix our build so that we pass compliance tests with both tabix and wormtable backends"
We should also update our readme with instructions on how to run both backends against the compliance suite, and the expected results with the current build.

[2015-01-06 17:43] pgrosu commented on #10
Ah!  Sounds good, I was just wondering if it had anything to do with something along these lines:

http://flask.pocoo.org/docs/0.10/patterns/streaming/

https://docs.python.org/3/library/asyncio-stream.html#tcp-echo-client-using-streams

Thanks,
~p

[2015-01-06 19:27] bartgrantham commented on #10
@pgrosu, the first link is what I had in mind.  I've found that using generators this way makes for surprisingly concise and simple code, but you have to commit to the concept.  @jeromekelleher makes an excellent point, though: in order to provide an error properly (ie. in the HTTP header), you need to basically run the entire computation.  I suppose that an abuse of something like "206 Partial Co

[2015-01-06 21:20] pgrosu commented on #10
@bartgrantham, I agree, but are we not also going to be implementing GUCD (digests) as well, based on this post:

https://github.com/ga4gh/schemas/issues/167

Then we can request a checksum to also be performed, in order to compare against the digests which were pre-calculated.  Below is a link regarding requesting a checksum on stream:

http://flask.pocoo.org/docs/0.10/patterns/requestchecksum/

[2015-01-06 21:39] bartgrantham commented on #10
@pgrosu, I'm not sure I follow.  GUCD should be useful for the usual content addressable storage reasons, but in the case of the server aborting the middle of a response I'm not sure how it could help.

Either the client already has the digest and the server recognizes it, in which case the server (or more likely it's caching proxy) will shortcircuit the computation and send back a 304.  Or the cl

[2015-01-07 09:38] pgrosu commented on #10
Hi Bart,

So Google published a nice paper about a year ago called *MillWheel: Fault-Tolerant Stream Processing at Internet Scale*, which you can get here:

http://research.google.com/pubs/archive/41378.pdf

Simplifying a few concepts from that paper, I wrote a small *streamed client* and *server* Python program that I provided the code for at the end of this post.

Now let me give a little overvi

[2015-01-07 17:26] jeromekelleher commented on #58
+1.

[2015-01-07 17:28] bioinformed commented on #58
Knowing how to running the compliance suite would help me a lot, since I'm
coming into the codebase cold and am hoping to add a new backend.

On Tue, Jan 6, 2015 at 8:40 AM, Kerry Donny-Clark <notifications@github.com>
wrote:

[2015-01-07 19:52] mbaudrey commented on #14
I'm working on this issue and I'm a bit unclear on some of the specifications.

1. For genotypes containing periods, are only `.` and `.\.` valid inputs? It seems to me that we should also allow genotypes that contain both integers and periods, such as `1/.` or `.|0`, for flexibility. But perhaps it isn't possible for a call to be made on one allele and not the other?

If this format of genotype s

[2015-01-07 21:01] richarddurbin commented on #14
For VCF and the current Variant model I think we can safely rule out mixed integer and . genotypes.  Normally the total sum count is known/implicit, e.g. when diploid 1|. must be 1|1 because the allele counts must sum to 2.
So Cassie's rules that if there is any dot then call the genotype as missing seem OK to me.  We can add a note to this effect.

Richard

On 7 Jan 2015, at 19:52, mbaudrey <noti

[2015-01-07 22:40] bioinformed commented on #14
I won't advocate for any specific solution.  However I will point out that
nothing in the VCF spec precludes partially missing genotypes
(syntactically or semantically) and there are many VCF files in the wild
with partial calls (mostly from CGI data which include "half calls").

-Kevin

On Wed, Jan 7, 2015 at 1:01 PM, Richard Durbin <notifications@github.com>
wrote:

[2015-01-08 10:22] richarddurbin commented on #14
That is interesting.  I wander what they do intend to mean by a half call.  Can you send some examples?
I guess they could be using ".|1" to indicate at least one alternative allele, i.e. "1|1 or 0|2", but I am not
sure that we should support that semantics indicated that way.  Perhaps once we have examples we could
ask CG what they mean.

Richard

On 7 Jan 2015, at 22:40, Kevin Jacobs <notificati

[2015-01-08 16:49] jeromekelleher commented on #14
It sounds like we can probably follow Cassies approach above for question (1) safely enough for now, and put in some comments noting the issues that @bioinformed  brought up above. I'm afraid I can't shed any light on question (2) though; would someone else like to weigh in here?

[2015-01-08 17:36] bioinformed commented on #14
My understanding is that a half-call in a diploid region is made when:

   1. there is no evidence of a large deletion or duplication that would
   alter the effective ploidy of the region,
   2. one allele (ref or alt) can be called with sufficiently high
   confidence to report as a hard-call, and
   3. no single diploid hypothesis is sufficient to generate a hard-call
   for the second allele.

[2015-01-08 18:07] lh3 commented on #14
I have only seen half calls from CG data, not elsewhere. I guess this has something to do with their assembly-based calling. Half calls are a bit unfortunate in data processing because many tools don't handle them well. It also adds more scenarios to consider. The benchmark team was considering complex comparisons involving half calls.

I think the right way is to arbitrarily call out two alleles,

[2015-01-09 14:54] Naburimannu commented on #46
Some naive numbers using timer.clock() on my workstation, working one level higher than @jeromekelleher suggested by logging in server/views.py:handleHTTPPost()

ga4gh_client variants-search http://localhost:8000 1000g_2013 -r1 -e 60000 -c HG03279 | wc
 * trivial sample query from the documentation, produces 3 pages of output
 * 0.005 - 0.01 seconds per page (somewhat higher the first time the ser

[2015-01-09 17:01] Naburimannu opened #61 "Support configuration"
In order to support [performance benchmarking] (https://github.com/ga4gh/server/issues/46) we should be able control whether or not the server is logging performance statistics, particularly those that are expensive - memory use or detailed profile data. This is a good impetus to start using [Flask configurations] (http://flask.pocoo.org/docs/0.10/config/).

This can be some combination of command

[2015-01-09 20:36] Naburimannu commented on #46
https://github.com/Naburimannu/server/commit/a464e257fdb5e7359ae5993db1ce903996759cfd is a sample naive implementation. It suggests that in the stress test query, we're typically spending 3.5 seconds in the endpoint and 1 second on serialization.

[2015-01-12 08:32] jeromekelleher commented on #46
These are interesting numbers, and I think having the facility will to track these will certainly be useful. I'd be in favour of including something like this, as it also gives us a good benchmark for comparing the different VariantSet implementations.

[2015-01-12 23:20] mbaudrey commented on #14
So it seems to me that there is some ambiguity as to whether we should expect half-calls or not. It seems to me that for flexibility the solution I suggested above (`./.` represented as `[-1,-1]`, etc.) should work fine and is still consistent with the API. Are there any reasons that it would cause problems?

Also - @richarddurbin why must the numbers sum to 2? They are just a number representing

[2015-01-13 02:40] haussler commented on #14
good suggestion Heng

On Thu, Jan 8, 2015 at 10:07 AM, Heng Li <notifications@github.com> wrote:

[2015-01-13 13:53] jeromekelleher opened #67 "Generate URL endpoints from schema definitions"
It would be very useful to have a list of valid URL endpoints and the types of their arguments and return values for testing purposes. This information should be derivable from the Avro schemas and could be added to the auto generated file `_protocoldefinitions.py`.

The general pattern is Search[Class]Request maps to the URL /[class]/search which takes a Search[Class]Request and returns a Search[

[2015-01-13 13:57] jeromekelleher commented on #44
We need to push ahead with the reads and references API, so I think we should use this approach for the moment unless someone has a better idea. We can always move over to something better later if it turns out to be a bad idea. Are there any objections?

[2015-01-13 14:12] jeromekelleher commented on #6
We are now in a position to start dealing with errors properly, so it would be good to discuss the basic approaches we might take. One method would be to define a new module `ga4gh.exceptions` that contains all the exceptions that can occur. For example, we might have a hierarchy like
[code]
These exceptions then have an error message and errorCode associated with them, which are used to generate

[2015-01-13 15:34] Naburimannu opened #69 "Select among configuration subclasses from the command line"
After #61 is addressed, http://flask.pocoo.org/docs/0.10/config/#development-production suggests subclassing ga4gh.server.config:DefaultConfig for test, development, production, or other use cases. Once we have a use for them, we should support a command-line argument ("--config=..."?) to select among them.

[2015-01-13 15:36] Naburimannu opened #70 "Specify configuration override file from the command line"
Once #61 is addressed, we would like to be able to specify a configuration override file from the command line ("--config_file=..."?) in the same way we can with the GA4GH_CONFIGURATION environment variable.

[2015-01-13 15:46] jeromekelleher opened #71 "Improve installation time/travis build time"
Installation of the `ga4gh` package in a virtualenv is very slow because we must compile [pysam](https://github.com/pysam-developers/pysam) each time. This also happens for our TravisCI builds, which is bad for both us and TravisCI.

Can we speed this up in any way?  Would a [binary wheel](http://lucumr.pocoo.org/2014/1/27/python-on-wheels/)  for pysam on Travis's infrastructure be feasible/desira

[2015-01-13 16:08] bioinformed commented on #71
+1 feasible (I use pysam wheels all the time)

Sent from my tiny remote device.

[2015-01-13 17:39] hershman commented on #44
+1 This looks immensely workable.

On Tue Jan 13 2015 at 8:57:47 AM Jerome Kelleher <notifications@github.com>
wrote:

[2015-01-14 03:22] kerrydc commented on #44
Proposed better idea: @Naburimannu is implementing configuration with defaults. Let's set some default directories in our default config and allow users to override via a config file. Longer term we will need to set many options (ACLs, size limits, logging retention, etc), and should consider an interactive setup script.

[2015-01-14 09:16] jeromekelleher commented on #44
Would you mind fleshing out your idea with an example of what the config file would look like @kerrydc? I'm struggling to imagine how this approach would scale to hundreds of files (which we definitely need to support to be useful), so it would be good to talk through a concrete example here.

[2015-01-14 12:59] jeromekelleher commented on #71
Excellent! Any quick pointers on how to go about this?

[2015-01-14 14:22] bioinformed commented on #71
The best solution is for Andreas and I to upload wheels to PyPI.  I'll ask
him if this is something he is willing to do.

Alternatively (and in the mean time), it isn't hard to set up a local wheel
cache to avoid rebuilding packages.  There are many sources of online
guides to setting up a local "wheelhouse", including
http://vincent.is/using-the-wheel/

On Wed, Jan 14, 2015 at 4:59 AM, Jerome Kel

[2015-01-14 15:19] hershman commented on #41
I am working on PR for Beacon Spec (0.2)[https://docs.google.com/document/d/154GBOixuZxpoPykGKcPOyrYUcgEXVe2NvKx61P4Ybn4/edit#heading=h.234otr74rjti].

[2015-01-14 15:42] kerrydc commented on #41
Isn't this a bit premature? I mean, a Beacon is something that we don't
need until we have a real, deployable app. Outstanding API methods,
benchmarking, testing, security, logging, and so on are all higher
priority. It is likely the Beacon spec will continue to evolve while we
finish up implementing this basic functionality, rendering prior work
obsolete.
Kerry

On Wed, Jan 14, 2015 at 10:19 AM,

[2015-01-14 16:23] jeromekelleher commented on #41
Not sure I agree @kerrydc - a Beacon could be something that we can turn into a real deployable app much more quickly than the full API. The sooner we ship working code, the better, and I think a lot of people would be interested in a simply deployable beacon. Some of us could concentrate on testing, logging etc for this simpler instance while the development for the larger API is also going on by

[2015-01-14 16:46] bioinformed commented on #71
Here is a StackOverflow answer that gives a very detailed recipe for
TravisCI:
http://stackoverflow.com/questions/18067073/speedup-virtualenv-creation-with-numpy-and-pandas

On Wed, Jan 14, 2015 at 6:22 AM, Kevin Jacobs <jacobs@bioinformed.com>
wrote:

[2015-01-14 16:50] jeromekelleher commented on #56
@bioinformed has made a htslib backed VariantSet implementation available at https://github.com/bioinformed/server/tree/paging-cleanup, using a not-yet-released version of pysam. See https://github.com/jeromekelleher/server/pull/1 for discussion.

[2015-01-14 16:56] lh3 commented on #56
Look good! Thanks.

[2015-01-14 17:18] maximilianh commented on #41
I think Beacons should not depend on any of the other GA4GHs API. Beacons
might often run on the external public legacy webserver, not necessarily on
an internal cloud. Getting security approval is easier with a simple
one-file webservice than a host of libraries, tools and dependencies.

[2015-01-14 17:26] hershman commented on #41
Hi @maximilianh, Thanks for joining the discussion. Your easily deployable beacon at https://github.com/maximilianh/ucscBeacon is really awesome!

I don't it would silly for the reference server to not also be able to host a beacon in addition.  I have an implementation that will not be hard to clean up and catch up to the current Master branch and Beacon spec https://github.com/hershman/server/tr

[2015-01-14 17:45] bartgrantham commented on #41
@maximilianh, I think most would agree that Beacons shouldn't _require_ the use of the variants API.  But the variants API reference server does a lot of the dirtywork of wrapping file formats and making them queryable.  A basic Beacon server is a small layer on top of this hard work, and it's a great out-of-the-box example of what someone can do with the variants API server.

Also, some of the 0.

[2015-01-14 20:56] maximilianh commented on #41
Oh sure, if it is optional, then this is of course fine. I was mostly
thinking of new users at first, those that are not using a full variants
API stack yet and just want to share their allele data in some way.

[2015-01-14 21:19] haussler commented on #41
+1

On Wed, Jan 14, 2015 at 12:57 PM, Maximilian Haeussler <
notifications@github.com> wrote:

[2015-01-15 16:56] dcolligan commented on #67
Starting work on this issue

[2015-01-15 22:49] dcolligan commented on #69
Starting work on this issue

[2015-01-15 23:09] dcolligan commented on #61
Can this be closed?  Seems like bb79afd80d48df9d3fb8827ffd8c7f532c62620a addressed it.

[2015-01-15 23:13] Naburimannu commented on #61
Yep, planned followup is captured in #69 and #70.

[2015-01-15 23:13] #61 closed

[2015-01-15 23:14] Naburimannu commented on #69
Do we have any example of actually needing it yet?
We only landed #61 because I originally thought I'd want it for performance testing; I wasn't going to add any more complexity until we knew it'd be useful.

[2015-01-15 23:23] dcolligan commented on #69
@jeromekelleher might have an opinion; he identified it as an issue that I could work on

[2015-01-16 00:32] dcolligan commented on #22
@diekhans was wondering if we're still attached to doing these in javascript (or node.js?) or if we want to create python scripts for them... thoughts?

[2015-01-16 00:37] diekhans commented on #22
Does anyone know why JS was chosen to develop the compliance suite?   Having the suite run in a web browser seems to be an unimportant goal.

[2015-01-16 11:03] sarahhunt commented on #22
I think the original idea was to be able to show how compliant the available implementations were during the initial stages of the project. Cassie had the test suite running from her github repository (http://cassiedoll.github.io/compliance-staging.html). Automated tests and a different way to list available servers make sense going forward.

[2015-01-16 12:05] jeromekelleher opened #76 "Extend client library to include full protocol"
The client library needs to support the full GA4GH protocol. We should develop and test this against existing implementations.

[2015-01-16 12:16] diekhans commented on #22
Hi Sarah,

Does it make sense to continue to develop the compliance tests
in javascript?  We would need to make it run under node.js and
I don't know how easy this is to integrate into continuous integration
system.

Running in a web browser seems like a very unimportant compared
to having a the right environment.

Mark

Sarah Hunt <notifications@github.com> writes:

[2015-01-16 12:18] jeromekelleher commented on #69
I'm not sure it's that urgent, but I thought it would be a good place for @dcolligan to start with on our Flask setup. We do need to figure out how to do our testing config properly soon, so it's probably no harm in tackling this now.

[2015-01-16 12:27] jeromekelleher commented on #22
I think it's probably a good thing to have independent compliance testing systems. There is definitely a role for the web-based tester that @cassiedoll has developed. I don't think it's a huge amount of work to develop a compliance tester here. We have all of the end points, the types and default values from the Avro definitions. We can use our built in Avro validation to check the returned object

[2015-01-16 16:31] Naburimannu commented on #46
For reference, there's already a ga4gh_client benchmark command, although that doesn't seem to do any repetition and has possible network overhead

[2015-01-16 16:31] jeromekelleher commented on #54
Fixed in #75

[2015-01-16 16:31] #54 closed

[2015-01-16 16:33] jeromekelleher commented on #46
The `benchmark` client command is very crude and of limited use. Feel free to remove it if you think it's a distraction.

[2015-01-16 16:59] diekhans commented on #22
+100 to developing separate compliance tests as a part of the
server.

A serious compliance tests need to go hand in hand with the
reference implementation.  They are vital for the evolution
of the API.  Really, every PR should include changes to the
complacence tests.

Jerome Kelleher <notifications@github.com> writes:

[2015-01-16 19:24] diekhans opened #81 "generalize python code generation from schema"
Python support for AVRO is not very advance.  The class generate in  generate_schemas.py is an excellent step it the right direction.

I would like to split out the code generation from the schema fetching and create a first class Unix-style command line program (not a `script') that takes a schema and generates classes.

[2015-01-16 19:25] kerrydc opened #82 "Refactor backends classes for dependency injection"
Our backends package now is difficult to test, due to the dependency the VariantSet classes have on the filesystem. We should change the VariantSets to take objects in their constructors instead of file paths, and create these objects using a factory.

[2015-01-16 19:26] dcolligan commented on #70
What format should this config file be in?  What data should we be expecting to be in the file?

[2015-01-16 19:34] dcolligan commented on #6
NB: there is not TODO section of the README anymore

Assuming these are all errors that would be returned to the client, each should also have a corresponding HTTP code.

Also, if we're worried about i18n, we should externalize the messages (not sure if this is a concern).

[2015-01-16 19:37] diekhans commented on #6
Given that this is a reference server, we should not implement
i18n.  It's important to avoid the complexities of a production
server so that it can fulfill it's primary mission well.

Mark

Danny Colligan <notifications@github.com> writes:

[2015-01-16 19:47] Naburimannu commented on #70
@dcolligan: Although I haven't read the Flask source to be sure, the usual convention (http://flask.pocoo.org/docs/0.10/config/) and our assumption when we merged https://github.com/ga4gh/server/pull/62 is that the file is a sequence of
    KEY = Value
where keys are all-caps underscore-separated identifier, and values are python expressions. The only key which is defined so far is MAX_CONTENT_LEN

[2015-01-16 20:11] Naburimannu commented on #10
Since 72cf1569c4fcdf1133d865f73df601212c708e82 landed, memory bloat is still a problem.
In handleHTTPPost() heapy only sees 32MB of string, but inside Backend:runSearchRequest() the heap dump looks like:

Partition of a set of 1254079 objects. Total size = 403036376 bytes.
 Index  Count   %     Size   % Cumulative  % Kind (class / dict of class)
     0 250400  20 262419200  65 262419200  65 dict o

[2015-01-16 20:37] dcolligan commented on #70
So, we're going to have three ways of specifying configuration variables:

1) environment variable
2) configuration file
3) cmd line switch to pick from pre-defined configurations

Are all of these necessary?  Specifically, does 1 make sense anymore?

And, in any event, if some of these conflict with each other what should be the resolution steps?

[2015-01-16 21:42] Naburimannu commented on #70
We implemented (1) and (2) because it was what Flask seemed to support. I think @jeromekelleher and I would both *think* (1) is unnecessary given (2) and (3), but I'd want to talk to people with actual deployment experience - @pashields, do have any sense of how much people use environment variables in production? Or have an idea who'd be good to ask?

The examples in the Flask doc lead me to expe

[2015-01-18 19:14] jeromekelleher commented on #10
Good - I get very suspicious when problems seem to just go away! I think  converting each element of the list to JSON as we go would certainly be an improvement, and we can try something more sophisticated later if it's not enough. Shall we try this out once you've landed your memory profiling and benchmarking patches?

[2015-01-18 19:53] jeromekelleher commented on #6
I agree with @diekhans here - i18n isn't a priority. I'm not sure what the correct approach regarding HTTP codes is: presumably, we set a generic HTTP error code saying something nasty happened, and also return the JSON `GAException` object which gives the details?

[2015-01-18 19:56] jeromekelleher commented on #82
Sounds good @kerrydc.

[2015-01-18 19:57] jeromekelleher commented on #81
Great! I'm looking forward to seeing the results - feel free to open an early PR if you'd like some feedback at any stage.

[2015-01-18 20:31] jeromekelleher opened #83 "Client side conversion tools required"
The reference server currently converts VCF data into GA4GH variant objects. It would also be useful to convert in the other direction for many purposes (for example, providing a stream to programs that do not   support GA4GH input). A useful task for the reference implementation might be to provide programs to convert GA4GH data from a given server URL and `dataSetId` to their VCF and SAM equival

[2015-01-19 00:36] lh3 commented on #83
I think API-to-VCF is extremely important especially at the early stage of ga4gh, as this would allow endusers to apply existing tools to ga4gh data. It should be part of the reference implementation.

BTW, the name of this repo is "server", but the README says "this is a prototype for the GA4GH reference ***client*** and server applications". If this repo is for both servers and clients, should w

[2015-01-19 00:50] diekhans commented on #6
I think:
  - invalid input: 400 "Bad Request"
  - search not found:  404 "Not Found"
  - general error: 500 "Internal Server Error"

all with more GAException in body, I think.. (but I haven't looked at
how the search requests protocols are specified).

Jerome Kelleher <notifications@github.com> writes:

[2015-01-19 09:30] jeromekelleher commented on #83
It's a good question @lh3. To me, it makes sense to keep both the client and server side tools in the same repo, since a substantial chunk of the work in both of them is the protocol management code. We've got good code now to automatically process the Avro schemas, which will be very valuable as the protocol continues to evolve. I'm not overly concerned about the repo name though: perhaps `refere

[2015-01-19 14:52] lh3 commented on #83
I was just confused a little when I saw you were proposing a client-side application in a repo named "server". This is a minor issue, I agree.

[2015-01-20 04:48] bioinformed commented on #14
Kevin,

Sorry to take so long to get back to you, have been on vacation.

Your points 2 and 3, concerning why we make half calls, are correct.

For point 1, it would only be true for deletions up to ~100bp.
These are the deletions that are called as part of the small variant
calling pipeline.
And in those cases the ploidy is explicitly reported.
Any larger deletion called from our CNV or SV pipeli

[2015-01-20 13:17] dcolligan commented on #55
IMHO this issue is too general to keep open.  Code style could always be improved, but that in and of itself doesn't need an issue.

Alternatively, we should come up with a list of specific changes we want to complete before this issue gets closed.

[2015-01-20 13:43] dcolligan commented on #48
Any preference of where we should put the log file?  It should probably be a command line option, but what should the default be?

[2015-01-20 15:22] jeromekelleher commented on #48
There's a question here for deployment also - do we log to the HTTP server logs, or do we make our own separate log? What's the common practice for this sort of thing in Flask?

[2015-01-20 15:29] jeromekelleher commented on #55
I guess we should finish cleaning up all of the existing code in terms of the single letter variable names before closing this. A quick look suggests that the following files need to be cleaned up:

- ga4gh/cli.py
- ga4gh/client.py
- tests/test_schemas.py

I would suggest closing this issue once this is done. Thanks for keeping track of this @dcolligan, we should use issues more systematically!

[2015-01-20 16:10] dcolligan commented on #48
Flask looks like it provides a thin wrapper to python's standard logging package: http://flask.pocoo.org/docs/0.10/quickstart/#logging

The Flask docs page for apache config doesn't say anything about logs: http://flask.pocoo.org/docs/0.10/deploying/mod_wsgi/

Here's a Flask docs page on using some of the logging.handlers handlers: http://flask.pocoo.org/docs/0.10/errorhandling/#logging-to-a-file

[2015-01-20 22:49] dcolligan commented on #6
We'll need to iterate on these a bit (especially because the schema is not finalized), but I think this general approach to the hierarchy would be good:
[code]

I don't think we need to bother with success error codes other than 200, at least not until clients can create/modify/delete objects on the server.  In that case, maybe we want to still go with 200 for all successful requests or perhaps so

[2015-01-21 00:51] dcolligan commented on #82
Working on this

[2015-01-21 13:12] jeromekelleher commented on #6
This looks great @dcolligan, thanks for fleshing it out. Two comments:

1. After looking at the Python exception hierarchy (https://docs.python.org/3/library/exceptions.html#exception-hierarchy)  again, I wonder if we should use the `Error` suffix for consistency. The distinction here is that Exceptions are used for more than just error handling. So, we'd have `RequestError`, `PageSizeError`, `Pag

[2015-01-21 19:18] dcolligan commented on #6
Well, I think it's good to use *Exception or *Error consistently.  The means either naming everything *Exception, or changing the schema to rename `protocol.GAException` to `protocol.GAError`

[2015-01-22 10:29] jeromekelleher commented on #6
I agree that we should definitely use either *Exception or *Error consistently. I don't see why we'd need to change the protocol if we were to use the `Error` convention for our internal use though. There will ever only be one protocol Exception class, which we represent internally as `protocol.GAException`. This class doesn't extend `Exception`, isn't part of our internal exception hierarchy, and

[2015-01-22 18:26] dcolligan commented on #76
Working on this.

[2015-01-22 19:36] pashields commented on #6
@jeromekelleher are you saying there would ```protocol.GAException``` and ```exceptions.GAError```?

[2015-01-23 14:15] jeromekelleher commented on #6
Well, I was thinking more along the lines of having `ServerError` as the root of the hierarchy of exceptions that happen in the server. I don't really mind though, I'm just bringing up the point for discussion.

[2015-01-23 15:34] pashields commented on #6
If the exceptions hierarchy being proposed by @dcolligan is only for the frontend, we shouldn't put it in a standalone module. I'm more concerned about what the specified hierarchy here is than the naming. And I would argue that these exceptions really should be for the frontend only. A file not found is not necessarily a 404 (a missing sqlite database for instance). Conflating internal and extern

[2015-01-23 16:42] jeromekelleher commented on #6
Good point @pashields - should we just define these frontend exceptions in the frontend module then?

Where do you stand on *Exceptions vs *Error?

[2015-01-23 17:51] dcolligan commented on #6
@pashields +1 on decoupling frontend and backend errors (`PathNotFound` was meant for a URL path)

Another option is just to stick to having just one GAException type and let the clients drive their behavior off of the errorCode alone instead of any type hierarchy.

[2015-01-23 21:23] Naburimannu opened #92 "Explore using __slots__ for protocol objects"
Some of our memory burden (observed #10 ) comes from the dict allocated for every object; we can have a quarter million or more objects allocated on the server to answer a single query. Python classes can explicitly declare `__slots__` = [...] with a fixed immutable list of fields to prevent dict allocation.

This might save 15% of the peak memory burden (and perhaps provide speedup due to lack of

[2015-01-23 21:23] Naburimannu commented on #92
Waiting until we have server benchmark and heap memory profiling live to investigate.

[2015-01-24 21:20] diekhans commented on #6
chained exceptions  (cause field) are the single best error handling approach I have used and would be very valuable in the server.  However, these are only available in python 3.

My implementation for python 2 is here:
http://hgwdev.cse.ucsc.edu/~markd/ga4gh/PycbioException.py

[2015-01-25 16:08] Naburimannu commented on #92
Short of a formal investigation: https://github.com/Naburimannu/server/commit/8fbf3f526c14c907b5751d57d9a68494b9182376 spends  6.45-7.1 seconds in server_benchmark.py and never measures more than about 350MB on top; without that one patch, server_benchmark.py takes 10+ seconds and measures more than 650MB on top - considerably more savings than I expected.

We should be able to do this in a more p

[2015-01-26 10:44] jeromekelleher commented on #6
I think we have to have just one `GAException` type for the protocol --- clients will have to work with the `errorCode` as you say. How we structure our *internal* exception hierarchy is independent of this, I think, once we can map back to `errorCode` and `message` attributes for the client.

[2015-01-26 14:51] pashields commented on #6
Upon thinking about this a bit more, I'd push for our internal exceptions to be GAException rather than GAError. My reasoning for this is that the protocol itself defines the notion of an error which, as we've discussed above, is separate from our notion of and internal/error exception. If we keep our internal exceptions as, well, exceptions, I think it will bring some linguistic clarity to future

[2015-01-26 14:55] pashields commented on #92
This seems like a really good idea with big savings, unless I've missed something huge. @Naburimannu I'm moderately familiar with the code if you want a hand with this at any point.

[2015-01-26 14:58] jeromekelleher commented on #92
I've no objection to using `__slots__` if it doesn't make things more complicated. It seems like a pretty hefty performance gain, so I'd be very enthusiastic about this change. I don't think it's a huge loss that the protocol classes don't allow arbitrary fields being added - arguably, this is a good thing as it prevents common spelling errors.

[2015-01-26 18:47] dcolligan commented on #55
Fixed in d35744a9fdde68dc91596e2cf3d68866eea91708

[2015-01-26 18:47] #55 closed

[2015-01-26 18:48] dcolligan commented on #69
Fixed in 22df2e1e4db47b98e46e37cc441a850f28e813d3

[2015-01-26 18:48] #69 closed

[2015-01-26 22:09] Naburimannu opened #94 "CORS unit test broken"
@jeromekelleher @dcolligan : the merge in 6b9ef7e4e seems to have broken @melaniedc 's new CORS unit test? If I check out 399e96 or earlier SHAs, nosetests completes.

I think what's going on here is that we no longer call cors.CORS() for all invocations, but only in frontend.configure(), which is only called when we're entering through server_main().

Does nosetests not execute server_main()?

[2015-01-27 00:39] dcolligan commented on #94
I have a fix in a PR... see https://github.com/ga4gh/server/pull/95

[2015-01-27 00:54] dcolligan commented on #6
I think @pashields's Error/Exception distinction being the same as the External/Internal distinction is a good idea.

The only issue I see remaining reading over this thread is @pashields 's concern about having the exceptions in `exceptions.py` rather than `frontend.py` ... thoughts?

[2015-01-27 09:30] jeromekelleher commented on #6
Good, I'm happy with that conclusion.

I think we have to put the exceptions somewhere other than `frontend.py`, and `exceptions.py` might be as good as any for now. We can't define the exceptions in `frontend.py` because we would have to import `frontend` in `backend.py` and all the `datamodel` modules. This seems like unnecessary coupling to me. If we define the exceptions locally in `backend` a

[2015-01-27 15:31] pashields commented on #6
My point was just that if exceptions.py is only holding frontend exceptions, they should be in frontend. The backend shouldn't ever import the frontend exceptions, so that's not a problem. If we want to put all our exceptions into a single file, exceptions.py would be the place to do it. I'm not sure what the most idiomatic way to do it in python is. My only concern with group things together is t

[2015-01-27 15:31] Naburimannu commented on #92
Note "considerably more savings than I expected" - after fixing a couple of bugs in JSON encoding/decoding (71efce3e946f3c36050adec34c96e638a3ea4807) this is closer to what I originally predicted, with 15-20% space savings and inconsistent time savings. It's also a tiny bit less clean - four unit tests broke because they directly referenced `__dict__`, which no longer exists.

[2015-01-27 15:59] dcolligan commented on #67
Fixed in #74

[2015-01-27 15:59] #67 closed

[2015-01-27 16:14] dcolligan commented on #94
#93 fixes this

[2015-01-27 16:14] #94 closed

[2015-01-27 16:19] dcolligan commented on #6
Ok, two proposals for moving forward; everyone choose one:

1) put frontend exceptions in `frontend.py` and (future) backend exceptions in `backend.py` and eliminate any `exceptions.py` file

2) create `frontend_exceptions.py` and `backend_exceptions.py` files which are imported by the appropriate modules

Personally, I like (2) just from an aesthetic code organization perspective.

[2015-01-27 16:44] dcolligan opened #96 "Create run_tests.py for local Travis imitation"
Created after discussion in #95

Travis (AFAIK) does not allow manual test runs (see http://stackoverflow.com/questions/17606874/trigger-a-travis-ci-rebuild-without-pushing-a-commit -- a run can be triggered via a push, and the whole issue is we want a CI run BEFORE a push to master to ensure we don't break it!) and it would be a good practice for merging devs to ensure merges don't break master b

[2015-01-27 17:25] dcolligan commented on #96
PR in #97

[2015-01-28 11:00] jeromekelleher commented on #76
Not sure what happened here, but reopening this as we haven't implemented the complete protocol yet,

[2015-01-28 11:25] jeromekelleher opened #100 "Need to keep track of library dependencies for testing and dev"
We are keeping track of library dependencies for deployment using the `install_requires` keyword in `setup.py`. We should try to keep track of our requirements for testing and development also, as we have quite a few now. One option is to use a [requirements.txt](https://pip.readthedocs.org/en/1.1/requirements.html) file. This would allow us to install all our requirements in a virtualenv using `p

[2015-01-28 13:48] #96 closed

[2015-01-28 13:51] Naburimannu commented on #100
On Wed, Jan 28, 2015 at 6:25 AM, Jerome Kelleher <notifications@github.com>
wrote:

Sounds good to me.

[2015-01-28 16:00] dcolligan commented on #76
I think GitHub automatically closes an issue if it is referenced in a commit that is merged to master... kind of annoying (since it implies that issues can't be long running and addressed in a series of commits)

[2015-01-29 03:17] hershman commented on #41
I posted rough implementation for discussion as PR #103 .

[2015-01-29 17:50] dcolligan commented on #100
Here's what I have in my virtualenv, so presumably the app requires some subset of this:
[code]

[2015-01-29 17:54] dcolligan commented on #100
Maybe a good way to determine what modules are required would be to add a `pip freeze` command to the end of the Travis run and then just stuff whatever it prints out in a new requirements.txt ... I'm not sure  if there's an easier way of going about how to create a requirements.txt

[2015-01-29 18:09] dcolligan commented on #100
Travis gives me on master right now: https://travis-ci.org/ga4gh/server/builds/48792706
[code]
So I guess we can go with that.

[2015-01-30 15:29] Naburimannu opened #106 "Support multiple test buckets"
We should have wicked fast unit tests; the current set is perhaps a bit slow.
Separate from those we should have integration tests.
Separate from those we should have end-to-end tests.

We should make sure Travis runs at least some of the end-to-end tests on merge.
(If we get wheels to help with #71 that'll win us some time for more aggressive testing per merge.)

[2015-01-30 15:50] melaniedc commented on #106
+1

I would say there should be one very basic end-to-end test in Travis just to make sure everything fits together and doesn't explode, then separate integration tests with the real test cases that can run less frequently.

[2015-01-30 16:35] jeromekelleher opened #107 "variants/search client end point needs more detail"
With the changes in #102, we lost the detailed output for the variants/search function. We need to get this back.

In general, it would be good to have an option to provide either short or detailed output for each object. These do not need to be filled in for all objects to close this issue.

[2015-01-30 16:37] jeromekelleher commented on #106
Yep, all very sensible. The slowest aspect of the tests at the moment is creating the wormtable test fixtures, as we convert the input VCF data. As part of our mission to get rid of wormtable, we should try to get rid of these fixtures and use something based on pysam instead.

[2015-01-30 16:48] dcolligan commented on #76
The next PR will close this issue... there's still three client endpoints in the 0.5.1 spec to implement

[2015-01-30 16:49] dcolligan commented on #6
Closing this issue for now, since #88 has been merged and "we should use exceptions more" is too vague for an issue

[2015-01-30 16:49] #6 closed

[2015-01-30 17:21] #100 closed

[2015-01-30 17:26] jeromekelleher commented on #83
Pysam supports writing [SAM/BAM files](http://pysam.readthedocs.org/en/latest/usage.html#creating-sam-bam-files-from-scratch) and I think VCF output is supported also. We should use this rather than rolling our own converters.

[2015-01-30 17:44] #70 closed

[2015-01-30 17:51] dcolligan commented on #81
Another related thing that could be generated is a lot of the command line configuration, since most of it is just flags to set attributes in the GA*Request objects... not sure if we want to go down that road, however

[2015-01-30 18:47] melaniedc opened #111 "Frontend should display something"
Maybe have a basic input form and/or usage instructions on "/", and something to display (or allow download of) results for the implemented methods.

Thoughts? What would be useful to have here?

[2015-01-30 18:52] dcolligan commented on #111
+1 for the general idea, but I think maybe it would be more useful to have status/info about the server, analogous to a phpinfo page

[2015-01-30 19:59] jeromekelleher commented on #111
I'm +0 on the idea, but not sure what we could usefully display right now. I guess a phpinfo type display would be useful. I'm mildly negative about having any HTML output at all TBH, it seems like a blurring of the lines between the role of the web backend and HTML frontend. I'm happy to change my mind if other people feel strongly about this though!

[2015-01-30 22:29] dcolligan commented on #83
Working on this

[2015-02-01 20:50] jeromekelleher opened #115 "`generate_schemas.py` script should use textwrap instead of forking an `fmt` process"
When generating the embedded text representing the JSON schema of a protocol element, the `generate_schemas.py` script pipes the text through `fmt` to wrap the text. The `textwrap` module from the standard library provides a much better way to do this.

[2015-02-01 20:56] #92 closed

[2015-02-01 20:57] jeromekelleher opened #116 "`postMethods` should have a stable ordering in `generate_schemas.py`"
The postMethods should be sorted before writing, so that we have a stable ordering. See #114 for a discussion.

[2015-02-01 21:43] jeromekelleher commented on #111
OK, @dcolligan's POC has changed my mind - we definitely want this! Some stuff we might show:

- List of URLs
- Summary of datasets being served
- Traffic stats
- Uptime

These are just some ideas. I think the first two are probably the most useful for a user who has just deployed a server and wants to check that they're serving the data they expect.

[2015-02-02 04:22] diekhans commented on #18
Q:   Given that the server is a program, not a library, is the value of supporting python 2 worth the effort?  It takes more engineering effort and prevents taking advantage python 3 features.

"We Are Not Afraid of the Future"
--  Tomas Bata

[2015-02-02 11:49] jeromekelleher commented on #18
I think so. Python 2.7 supports all the major improvements in Python 3 using futures, and there are a lot of people still using 2.7. I think the support cost of insisting on Python 3 would be larger than the engineering cost of keeping 2.7 support going. (Plus, we don't actually support Python 3 at the moment, but this is definitely something  we should fix soon. )

What Python 3 features did you

[2015-02-02 11:55] jeromekelleher opened #117 "Client no longer displays sent JSON in verbose mode"
The client CLI provides a verbosity option to provide increasing levels of detail on the transactions between the client and server. This no longer shows the JSON sent to the server, which was a very useful debugging tool. Here is a possible behaviour for -v:

- -v: shows summary of HTTP messages sent to and received from server.
- -vv: shows full JSON messages sent and received.

[2015-02-02 11:58] jeromekelleher opened #118 "--variantSetIds option clashes with verbosity"
The -v, --variantSetIds option to `variants-search` client method clashes with the global -v, --verbosity option. This should be changed to -V or similar.

[2015-02-02 12:30] jeromekelleher opened #119 "variants-search should with no arguments should return all variants on server"
The `variants-search` client command is a useful development tool, but tedious to use as it needs a lot of input to return anything. We should change the default behaviour to return variants from the server, if there are any. So:
- `--end` should default to some large number, so we always overlap with something. (Ideally, the `end` value should be nullable in the protocol so that we can specify th

[2015-02-02 15:33] jeromekelleher opened #120 "Python 3 support"
This issue is to collect discussion on our Python 3 support, or lack thereof.

The major blocker for Python 3 support seems to be the [avro]( https://pypi.python.org/pypi/avro) module, which does not support Python 3. There is a separate [Python 3 avro module](https://pypi.python.org/pypi/avro-python3/1.7.7). Both seem to be associated with the official Avro project, so it's difficult to tell if o

[2015-02-02 16:59] diekhans commented on #18
Single biggest feature, which I don't think is backported is
exception chaining.  That makes a huge difference in my
experience (I have been using the concept since before Java even
existed).

I don't think people using 2.7 is important, since 3.* can be
installed beside 2.*.  I care far more about your time than
people who can't figure out how to install both.

Part of being a reference server, y

[2015-02-02 18:48] hershman commented on #120
While Flask works with Python 3, they [don't recommend using it under most circumstances](http://flask.pocoo.org/docs/0.10/python3/).  I get the sense that it's still too early to move to Python 3 so I'm -1.

[2015-02-02 18:52] dcolligan commented on #120
It seems like there are library issues with python 3, and we don't currently support python 3, and as @diekhans says "Part of being a reference server, you get to limit your audience to people who know what they are doing."  So, why support python 3 in the first place?  Correct me if I am wrong, but I think python 2 has a much larger install base and mindshare.

[2015-02-02 20:53] diekhans commented on #120
Yes, python 2->3 conversion is going slowly.  In hindsight, I
think they made some mistakes in their approach [not that I
would have had a better idea].  I also think some of there
changes were not worth the breakage (like rich comparisons).

If that the libraries server depends on are not ready for python
3, then, yes avoid it.  The main point of this suggestion was to
remove having to worry abou

[2015-02-02 21:20] jeromekelleher commented on #120
OK, let's shelve Python 3 support for the moment so. We can revisit when we've got a more complete implementation and see if we can replace the Avro parts we're using. Also the Flask issue is a good one, thanks @hershman.

[2015-02-02 21:20] #120 closed

[2015-02-02 22:03] diekhans commented on #120
I completely agree with shelve Python 3 for now.  If the
dependencies are not ready, it wastes time, not saves it.

sigh, maybe Python 3000 was not such a bad name..

Jerome Kelleher <notifications@github.com> writes:

[2015-02-02 22:15] diekhans commented on #120
Jerome Kelleher <notifications@github.com> writes:

This is much worse than insanely gratuitous; it's changing the code
to go against the common conventions.  I highly suggest filing
tickets on this.

[2015-02-03 10:38] dcolligan commented on #48
Closing for ambiguity / already implemented... see discussion in #85

[2015-02-03 10:38] #48 closed

[2015-02-03 11:22] dcolligan commented on #111
@jeromekelleher could you elaborate a little more about what you want re: "Summary of datasets being served" and "Traffic stats"?  AFAICT the backend does not now report what datasets are being served... what interface would you want to expose that information?  What traffic stats would you want to keep track of?

[2015-02-03 12:32] jeromekelleher commented on #111
Dunno, these are just vague ideas for discussion. For traffic stats, we could keep track of the number of bytes served/number of clients seen? This will probably cause trouble when we're dealing with multiple threads though, and the parent HTTP server will most likely do this anyway, so it's probably not worth the bother.

Re dataset information, I think it would be good to give a quick summary of

[2015-02-03 13:02] dcolligan commented on #111
Alright, I'll punt on the datasets and traffic stats for now.  We can file additional issues for the page at / as they come up.

In the meantime, I'd like to get #112 into master since making this change also forced me to update the exception handling code.

[2015-02-04 07:15] MollyZhang commented on #117
working on this

[2015-02-04 07:30] MollyZhang commented on #118
working on this

[2015-02-05 09:07] jeromekelleher opened #129 "WormtableVariantSet.getMetadata() should return VCF compatible values"
In WormtableVariantSet.getMetadata() we return metadata information about the INFO and sample fields in a VariantSet. The spec does not specify the format of these fields (which is a bug), but without a better option, VCF compatibility seems like the best approach.

[2015-02-05 09:35] jeromekelleher opened #130 "Client library needs logging/debug output"
The client library currently does not have any facility for logging or debugging events that occur. We should include log prints for HTTP events at a minimum to allow us to debug network issues.

[2015-02-05 12:58] dcolligan commented on #118
Fixed in #128

[2015-02-05 12:58] #118 closed

[2015-02-05 14:56] dcolligan opened #131 "Nosetests opening too many files"
Sometimes running the tests seems to run into system resource limits for open files, causing tests to fail.  Here are two sample runs that illustrate this problem, the first using `run_tests.py` and the second just executing `nosetests` directly:

https://gist.github.com/dcolligan/a8743d84a302529b161a
https://gist.github.com/dcolligan/bca0d356fb3ad367f235

The default open file limit on OSX Maveri

[2015-02-05 15:01] jeromekelleher commented on #131
Interesting... can you try to wrap an strace around it please? I don't see any good reason for opening that many files.

[2015-02-05 15:17] diekhans commented on #130
FWIW, attached [we will see if github can handle attachments] is
code I use to parse command line for logging level and facility,
setup loggers to syslog or stderr.

General gripe is that python doesn't split up messages so that
they don't get truncated by syslog.

Jerome Kelleher <notifications@github.com> writes:

[2015-02-05 15:23] dcolligan commented on #130
Doesn't look like GitHub supports anything but picture attachments

https://help.github.com/articles/issue-attachments/

Because we all know how useful uploading pictures of squirrels saying 'ship it' is vs txt uploads...

[2015-02-05 15:25] dcolligan commented on #130
Ok, you can upload a txt file using gist but you need to drag-and-drop it into the UI

[2015-02-05 15:26] dcolligan commented on #131
OSX has dtruss, which is similar; here's a run of `sudo dtruss nosetests > dtruss.txt 2>&1` https://gist.githubusercontent.com/dcolligan/ccde9e6a0a3a941dca0b/raw/dtruss.txt

[2015-02-05 15:29] diekhans commented on #130
ohhh modern technology
![adm3a](https://cloud.githubusercontent.com/assets/110053/6062972/a80e8fc8-ad08-11e4-89eb-9b11d421b8c4.jpg)

[2015-02-05 15:44] jeromekelleher commented on #131
Hmmm, looks pretty normal to me  from our side. We seem to hit errors very early on in the process, so I'm guessing it's a problem particular to your setup. Install a Linux VM on your machine?

[2015-02-05 15:49] dcolligan commented on #131
I'm happy to close this issue if no one else is having it.  I don't think nosetests is going to exceed a two-orders-of-magnitude increase in file limits anytime soon.

[2015-02-05 16:02] diekhans commented on #131
Maybe a missing try/finally block with a close?  It seems very
odd that any of the tests I have looked at would open more than
a few files.

Danny Colligan <notifications@github.com> writes:

[2015-02-05 16:14] jeromekelleher commented on #131
Nope, I'm wrong, it is a real problem. On my machine
[code]
shows that the last fd number is > 500, which is definitely wrong. We're missing a close somewhere...

[2015-02-05 16:40] dcolligan commented on #131
Are you sure that indicates a problem?  Does the OS reuse file descriptors?  That is, if fd 1 is opened and then closed, will the next opened file be fd 1 or 2?  If the later, that would not seem to indicate a problem.  (Not sure of the answer myself, and could be OS-dependent... )

It seems like the errors are happening a lot around wormtable functionality.  Perhaps it's a bug in the library?

[2015-02-05 16:43] dcolligan commented on #131
Just ran a little experiment which suggests that fds are indeed reused, so the fd number indicates the number of simultaneously open files for that process, which would indicate a problem: https://gist.github.com/dcolligan/15d946087b0c65949be0

[2015-02-05 16:44] jeromekelleher commented on #131
Yeah, looks like a wormtable issue. Digging into it now...

[2015-02-05 16:45] diekhans commented on #131
It reuses.  The limit is the current number that are actually open.  Worm table
maybe reopening database unnecessarily.  On linux, it's easy to see what is
open by stopping the program and looking in  /proc/<pid>/fd/

Not sure how on the mac, they have never implemented the /proc
pseudo file system.

Danny Colligan <notifications@github.com> writes:

[2015-02-05 16:48] diekhans commented on #131
If it's easy to reproduce, I can help track this down the some day when I don't have
meeting hell..

Danny Colligan <notifications@github.com> writes:

[2015-02-05 18:47] jeromekelleher commented on #131
OK, I've made a bit of progress on this. Basically we're not cleaning the backend up properly and we're leaking lots of file descriptors when we do the tests. I've added a quick cleanup method which reduced the maximum fd used from ~500 down to ~200. This is still too high, but acceptable. I'll look into it some more and see if I can track the leak down.

[2015-02-06 09:07] jeromekelleher opened #132 "Workaround for `assemblyId` on Google API no longer required"
As noted in the discussion for #125, Google have fixed the `assemblyId` issue, so we can remove the workaround for this.

[2015-02-08 00:20] MollyZhang commented on #116
working on this

[2015-02-08 00:20] MollyZhang commented on #115
working on this

[2015-02-09 10:25] jeromekelleher opened #135 "Standardise naming with abbreviation policy"
Since adding #123 and changing our policy for names that contain abbreviations, we have some inconsistencies with this policy. For example, `toJSONString` should now be `toJsonString`. We need to review the code to find and change these.

[2015-02-09 17:47] dcolligan commented on #135
Fixed in #138

[2015-02-09 17:47] #135 closed

[2015-02-09 18:38] dcolligan opened #139 "Installed server can't find html files"
Opening the web page at / using `server_dev.py` works fine, but opening it with the installed version of the server does not since it's searching for the html files in a place where they haven't been installed.

[code]

[2015-02-09 18:45] dcolligan commented on #111
Resolved in #112

@melaniedc or anyone else please file additional issues if you have ideas for adding onto the page

[2015-02-09 18:45] #111 closed

[2015-02-10 16:12] Naburimannu commented on #46
Exploratory profiling with perf suggests that our time is entirely in spent in Python; all aggregated kernel calls are 5%, JSON is 3%, and wormtable's C code is *way* down the list:

[code]

Using cProfile to look inside python suggests that WormtableVariantSet's use of zip() and map() is expensive; at runtime the only explicit caller of zip() is convertVariant(), and of map() is convertGenotype()

[2015-02-10 16:53] jeromekelleher commented on #46
Thanks for these numbers @Naburimannu, this is very interesting. My take on it is that there's no obvious bottleneck, and we can be reasonably happy about where we are perf-wise, for the moment at least.

It would be very interesting to use this machinery to compare how we do when we use the Tabix backend though... Fancy hooking this up to @kerrydc's code and seeing how it compares?

[2015-02-10 19:31] MollyZhang opened #143 "refactoring of ga4gh/frontend.py endpoints"
Since we're going to have this same if POST then handleHttpPost else handleHttpOptions pattern in all of our endpoints, it's good to do a refactoring here.

[2015-02-11 12:29] #76 closed

[2015-02-11 16:42] dcolligan commented on #132
Fixed in #108

[2015-02-11 16:42] #132 closed

[2015-02-11 21:00] dcolligan opened #146 "master is screwed up"
It looks like someone force pushed to master and we lost two weeks worth of commits (it may have been me; not sure)... of course, thanks to git, this is a recoverable situation.  Is there any way to view the reflog through the github UI?  If not, whoever has a most recent copy of the branch should force push it to master.

[2015-02-11 21:11] dcolligan commented on #146
I guess a "reflog" substitute is going through one's email and checking for the last merge notification that GitHub sent out.

I think the most recent commit was this one: https://github.com/dcolligan/server/commit/974c1fff197f5e2a8c90c2a2393eb6bbc9e26fd7

In these kinds of situations, should we get a consensus around which commit to restore master to, or should someone just do it since the longer

[2015-02-11 21:22] dcolligan commented on #146
Also, after this is resolved, an admin should enable this option, if we have this edition of GitHub: https://help.github.com/enterprise/11.10.340/admin/articles/blocking-force-pushes-to-a-repository/

[2015-02-11 21:34] dcolligan commented on #146
Another way of resolving this without resorting to the command line would be merging a PR that was going to get merged anyway and which is rebased off of the most recent version of the (real) master... for instance: https://github.com/ga4gh/server/pull/145

[2015-02-11 21:37] dcolligan commented on #146
(FYI, here is how one could find who force pushed in the future, but it sounds like it takes some external server so I don't propose we do it, and hopefully we can enable the no-force-pushes github flag anyways: http://stackoverflow.com/questions/17503226/find-committer-of-a-force-push-on-github )

[2015-02-11 22:38] dcolligan commented on #146
Thinking about it a bit more, the merging-a-PR strategy would modify the commit history, since the merge commit's parents would be the tip of the PR and then the tip of the current master, so I would instead advocate the force pushing from the command line strategy.  (Someone who had not fetched between the time master was screwed up and when master was fixed would not notice any problems as far a

[2015-02-11 23:22] diekhans opened #147 "generate_schemas poorly named"
because it doesn't generate schemas, it generates code from them ;)

[2015-02-11 23:23] diekhans commented on #146
goes the git help message tell one to use -f??? ;-)

Danny Colligan <notifications@github.com> writes:

[2015-02-12 00:04] fnothaft commented on #147
Strictly speaking, it generates a JSON schema from the AVDL description, which is then used to generate code. I think the name is OK.

[2015-02-12 00:26] diekhans commented on #147
Hmm, input is a AVDL schema output is code, JSON schema is a
side effect.  It confused someone here Not a high priority, we
are easily confused.

Any why do bioinformatics people insist on telling me what
programming language a program is writing in (foo.py, baz.pl)
and not what it does?  Dennis Ritchie must be rolling in his
grave ;-) [sorry, pet peeve]

Frank Austin Nothaft <notifications@github

[2015-02-12 08:28] jeromekelleher commented on #146
I've had a go at fixing it up with a force push, and it's even more screwed up now. I'll try again in a bit and report back here if there's any progress.

[2015-02-12 09:38] jeromekelleher commented on #146
This should be fixed now. Could everybody have a quick look over the commit history and make sure they are happy we haven't done anything weird please? I'll close the issue once we've signed off on the reinstated upstream/master.

Thanks for the report and background work @dcolligan.

[2015-02-12 09:57] jeromekelleher commented on #147
Fair enough, `process_schemas.py` or something would probably be a better name. Re the extension, this is a script written for local development purposes, and is never intended to be an installed executable (installed executables are treated in an entirely different way --- see cli.py and setup.py).

Feel free to open a PR with a name change...

[2015-02-12 14:49] dcolligan commented on #146
Okay, master should be reset to what it was before the original force push.

[2015-02-12 14:49] #146 closed

[2015-02-13 16:31] dcolligan commented on #107
Fixed in #110

[2015-02-13 16:31] #107 closed

[2015-02-14 00:07] dcolligan commented on #147
Fixed in #148

[2015-02-14 00:07] #147 closed

[2015-02-17 18:00] dcolligan commented on #106
So there seem to be a few ways that we could do this:

1) Tagging.  Use decorators to tag each test https://nose.readthedocs.org/en/latest/plugins/attrib.html
2) Classes.  Each test doesn't inherit from unittest.TestCase, but one of several pre-defined classes like ga4gh.tests.IntegrationTest or some such.
3) Directories.  Have several directories inside of the test directory `unit`, `integration`

[2015-02-17 18:07] dcolligan commented on #106
On the other hand, 3 would be bad if we want the same test to run under multiple configurations (or, at least, we would need to use 1 or 2 in addition to 3).  I'm not sure how crazy we want to get with test configurations.

[2015-02-17 18:58] Naburimannu commented on #106
Sounds like we should do #3 now, and if we have a more complex use case
really needed look into doing the additional work for #2 or #1?

On Tue, Feb 17, 2015 at 1:07 PM, Danny Colligan <notifications@github.com>
wrote:

[2015-02-18 09:17] jeromekelleher commented on #106
I'd vote for option 3 also.

[2015-02-18 18:30] macieksmuga commented on #129
I can take a shot at this.

[2015-02-18 18:42] dcolligan opened #159 "update README to include requirements.txt"
The setup described in the README is a bit out of date

[2015-02-18 18:48] macieksmuga commented on #159
Updating it based on my recent install experience

[2015-02-18 19:48] #143 closed

[2015-02-18 23:53] macieksmuga commented on #159
I wanted to get quick feedback from others before I modify the read, but here's my experience with installing the server from scratch (on a MacOS X 10.10 laptop with macports), and trying to run the nosetests:

The one external dependency not explicitly covered by the readme file is wormtable's dependency on Berkeley DB. While a link to the document that covers how to satisfy this dependency is ev

[2015-02-19 00:17] pgrosu commented on #159
@macieksmuga, absolutely agree and everything has to be documented clearly and in a step-by-step fashion, for different OS environments on both server or local implementation with logging for debugging.  This does not need to be complete in the first iteration, and can be streamlined over time.

It took me a couple of hours of setting everything up from scratch back in December on a cluster under

[2015-02-19 08:17] jeromekelleher commented on #159
It's probably a good idea to emphasise the Berkeley DB dependency for wormtable, as this would be a nasty stumbling block for a lot of users. We are planning on removing wormtable soon (hopefully!), so I wouldn't put too much work into this though.

For requirements.txt, I don't think there's any need to explicitly list the recursive requirements for Flask etc. Pip works these out, so we should ju

[2015-02-19 19:18] dcolligan opened #160 "Create backend exception framework"
The frontend has an exception hierarchy, but the backend doesn't really have any custom exception support at the moment.

Here's a good example of an exception we would like to catch (triggered by searching for a callSet inside a variantSet which doesn't have it: `python client_dev.py -O variants-search http://localhost:8000 -r 1 -c HG03279 -V 1000g_2011`):

[code]

Currently, this just bails and

[2015-02-19 19:51] dcolligan opened #161 "Create api versioning framework"
Currently, the reference server does not have any API versioning.  We need to change this.

Goals:
- easily be able to release future API versions -- meaning:
  - reusing previous API endpoints across versions where appropriate
  - easily being able to identify in the code which endpoints correspond to which api versions
  - adding additional endpoints should have minimal overhead
-  enforce some

[2015-02-19 22:13] macieksmuga commented on #159
Thanks @jeromekelleher and @pgrosu for your feedback!
Concerning the automatic dependency graph in pip, it didn't quite work out the first time in my case - which is why I had to perform the above listed pip installs manually after running the initial pip install -r requirements.txt

I realized that the reason the process failed was due to wormtable install exiting on error. Once that was fixed, t

[2015-02-20 16:10] Naburimannu commented on #83
I know @dcolligan is doing good work on this, but it does seem to be a bit of scope creep when a lot of the core server functionality isn't done, unless we need this for proof-of-concept? Do we have a concrete plan to demonstrate integration with a VCF or SAM tool that will help us get users / developers / test cases?

[2015-02-20 16:21] Naburimannu commented on #139
Could not reproduce.
(Was this triggered immediately, or is it a response to some client action?)

[code]

I'm getting various client errors, so it could be a problem on my end...

[2015-02-20 16:31] dcolligan commented on #139
You may have an unzipped egg in your site-packages for some reason?  Try blowing any ga4gh packages away and reinstalling and then trying to reproduce.

[2015-02-20 18:19] dcolligan opened #165 "running process_schemas.py creates diff in generated file"
The generated file that is the result of running `process_schemas.py` is not predictable.  It should be written out the exact same, every time.

There is an existing issue open for the non-stable order of the postMethods, #116 .  This bug is for non-postMethods write consistency.

This gist is the diff resulting from a run of `process_schemas.py` on the latest master: https://gist.github.com/dcoll

[2015-02-20 18:32] Naburimannu commented on #165
Let's land @mollyzhang's textwrap change, once that's got its indentation
and wrap width correct? Some of the differences look to be instability from
wrapping which will be changed by her work.

On Fri, Feb 20, 2015 at 1:19 PM, Danny Colligan <notifications@github.com>
wrote:

[2015-02-20 19:38] dcolligan commented on #161
In today's conference call we downscoped this issue to just adding version information to URLs since we are likely not going to need to support multiple versions for a long time.

[2015-02-20 19:40] dcolligan opened #166 "Have server return JSON for 404s"
Currently, the server (probably ever since the html page change) returns html instead of json for 404s.  Change it to return a 404 json error object.

[2015-02-20 20:33] diekhans commented on #83
Round trip testing on full data sets is very valuable.  I have
know how maybe times I have careful constructed test cases and
then the software crashed and burned on full data sets.
(which then get turned into test cases).

Mark

Tom Hudson <notifications@github.com> writes:

[2015-02-20 20:41] Naburimannu commented on #83
@diekhans Awesome. Let's identify a couple of test cases that we think we can run once we have one of these integrations written.

[2015-02-20 21:07] pgrosu commented on #83
@diekhans, so true!  This has happened to me so many times, that I usually build the test-cases before I even start coding.

[2015-02-20 21:11] dcolligan commented on #165
Right, solving #164 and #116 may resolve this issue.

[2015-02-23 15:12] dcolligan commented on #139
Fixed in #149

[2015-02-23 15:12] #139 closed

[2015-02-23 15:12] dcolligan commented on #130
Fixed in #150

[2015-02-23 15:12] #130 closed

[2015-02-23 15:15] dcolligan commented on #115
Fixed in #164

[2015-02-23 15:15] #115 closed

[2015-02-23 15:42] jeromekelleher opened #168 "Client logging should go to stdout"
Currently extra client logging info goes to stderr.  This is set in the `client.HttpClient` class. This would be more useful if it was sent to stdout.

[2015-02-23 15:49] diekhans commented on #168
-1 ;-)

With Unix commands, verbose tracing is sent to stderr.  This
keeps stdout free for output of date.

Why would it be more useful to go stdout?

With python logging, I usually have an option to send the logging
to a file.

Jerome Kelleher <notifications@github.com> writes:

[2015-02-23 16:22] dcolligan commented on #117
fixed in #127

[2015-02-23 16:22] #117 closed

[2015-02-23 16:29] dcolligan opened #169 "Client should log requests"
If the client is posting any json data in the request, it should be logged at the same level as the json responses

[2015-02-23 17:02] jeromekelleher commented on #168
Basically because I want to see the JSON going between the client and the server (using -vv), and I can never remember the arcane bash needed to redirect stderr to stdout. I'll get over it if others are strongly against this though.

[2015-02-23 17:08] dcolligan commented on #168
I'm also -1.

If you want stdout and stderr separate, you can do:
[code]
If you want them combined, you can do:
[code]

The `2` always represents stderr.  The `>&` is the redirection operator.  (Of course, things are more complicated than that, but that's how I think about it.)

[2015-02-23 17:08] #168 closed

[2015-02-23 17:20] diekhans commented on #168
:-)

2>&1

1 == stdout file number
2 == stderr file number

2>&1 redirects stderr to stdout

Jerome Kelleher <notifications@github.com> writes:

[2015-02-23 17:24] jeromekelleher opened #172 "Better example data required"
The example data we use to develop and performance test the server is based on an arbitrary subset of the 1kg phase 1 and phase 3 VCF datasets. No read of reference data is included. As we are now moving to include references and reads, we need some read a reference data. This should have the following properties:

1. Small enough to download onto your laptop (say a maximum of 500M);
2. Be big eno

[2015-02-23 17:38] jeromekelleher opened #173 "Better test data required"
Currently our test data is limited to a handful of small and synthetic VCFs (see https://github.com/ga4gh/server/tree/master/tests/data). We need a wide spread of test data to exercise our APIs, across variants, reads and references. We should have a collection typical small data files spanning many anticipated use cases.

[2015-02-23 17:46] dcolligan commented on #173
This issue is too general.  Can you try and narrow the scope a bit?

[2015-02-23 18:01] jeromekelleher commented on #173
OK, fair enough. We need the following to close this issue:

1. Test reference data;
2. Test read data;
3. More test VCF data, covering different format versions, numbers of samples, ploidy levels, etc. How much more depends on how much we think it's worth covering exotic corner cases.

I'm not really informed enough to know what would be considered a representative spread of examples, so it would

[2015-02-23 18:13] jeromekelleher commented on #168
Like I said: arcane! Maybe this will give me the motivation I need to learn...

[2015-02-23 18:29] #161 closed

[2015-02-23 18:29] dcolligan commented on #161
Fixed in #163

[2015-02-23 18:30] dcolligan commented on #160
Fixed in #162

[2015-02-23 18:30] #160 closed

[2015-02-24 01:18] pgrosu commented on #173
@jeromekelleher, I think you gave a great suggestion a while back in using the Illumina's Platinum Genomes dataset:

https://github.com/ga4gh/compliance/issues/13#issuecomment-59219513

~p

[2015-02-24 08:19] jeromekelleher opened #175 "Configuration options for server request/response validation required"
The `ProtocolElement.validate()` method allows us to check whether a given JSON dictionary is a valid instance of the protocol. We should have options to enable this checking for all incoming requests and all outgoing responses. We need both because we want them for different things: validation of input will be useful in productions settings as a security measure, and validation of output will be

[2015-02-24 12:21] jeromekelleher opened #176 "`NotImplementedError` should map to a useful user error"
We are using Python's `NotImplementedError` exception as a systematic way to designate the aspects of the protocol that we are not currently implementing. For example, we do not support name based search in the `TabixBackend`. This should map to an error code and be communicated back to the client.

[2015-02-24 14:47] dcolligan commented on #119
Fixed in #154

[2015-02-24 14:47] #119 closed

[2015-02-24 14:57] dcolligan commented on #116
Fixed in #174

[2015-02-24 14:57] #116 closed

[2015-02-24 15:00] dcolligan commented on #165
Okay, now that @MollyZhang has closed the two above issues, do we think we can close this one?  @jeromekelleher

I vote for yes, until we see any difference pop up.

[2015-02-24 15:03] Naburimannu commented on #165
Agree with @dcolligan.

[2015-02-24 15:11] jeromekelleher commented on #165
Agreed.

[2015-02-24 15:11] #165 closed

[2015-02-24 15:21] dcolligan commented on #175
I'm fine with this change, except for the coupling between frontend and backend.

It's probably a good idea to break out the flask config into its own module that can be then both imported by frontend and backend.

[2015-02-24 15:45] jeromekelleher opened #178 "Developers need to update `ga4gh-example-data`"
Since #171 was merged, the required structure of the `dataDir` has changed. The simplest solution is to re-download the tarball from  http://www.well.ox.ac.uk/~jk/ga4gh-example-data.tar.gz

[2015-02-24 15:57] dcolligan commented on #178
Not sure if this is really an "issue" that can be resolved, but I appreciate that there may not be a better way to message all the developers... should we close this?

[2015-02-24 15:59] jeromekelleher commented on #178
Just seemed like the simplest way to update people --- if they we having problems they might check the issue list and see this. Let's leave it open for a few days and close it then.

[2015-02-24 16:01] dcolligan commented on #169
Fixed in #170

[2015-02-24 16:01] #169 closed

[2015-02-24 16:21] jeromekelleher opened #180 "Searching across all variantSets in client not working"
When we specify no variantSet arguments to `variants-search` we should get back all variants. At present, we seem to only be returning a subset. Here's an example using the example data:
[code]
We should get 1000g_2011 and 1000g_2013 in the last example.

[2015-02-24 16:39] pgrosu commented on #178
@jeromekelleher, if you could add a md5sum file (i.e. `ga4gh-example-data.md5sum`) that was generated on compressed file, then when the server is started a function can be used compare the local md5sum against the one from the ftp site for any changes.  If there are any changes then the updated datasets will be downloaded automatically.

Thanks,
Paul

[2015-02-24 16:58] dcolligan commented on #178
(if we're going to do that it might be worth discussing what hash algorithm to use)

[2015-02-24 17:02] jeromekelleher commented on #178
This isn't worth writing code into the server for. It's just example data, and the format will change a couple of more times over the next few months.

[2015-02-24 17:04] dcolligan opened #181 "ga4gh_server unable to start"
I think this has to do with the new data directory layout
[code]

Here is the current directory layout it can't deal with:

[code]

[2015-02-24 17:12] dcolligan commented on #178
People shouldn't update their example data folder until #181 is resolved

[2015-02-24 17:13] jeromekelleher commented on #181
I've just installed into a new virtualenv and can't reproduce this -- are you sure you've updated your code?

[2015-02-24 17:30] dcolligan commented on #181
Hm, installing into a new virtualenv solved it for me, too.  My code was on the latest master... not sure what the difference between my two virtualenvs was...

[2015-02-24 17:30] #181 closed

[2015-02-24 17:33] dcolligan commented on #181
Flask-Cors, pysam, and requests were the only packages that had different versions between my two virtualenvs...

Guess it'll remain a mystery.

[2015-02-24 17:33] dcolligan commented on #178
Nevermind, false alarm.

[2015-02-24 20:30] macieksmuga opened #183 "Add "classic" compatibility mode to server for new graph version of GA4GH API"
A new graph version of the GA4GH API was added via PR 238 in the GA4GH/schema repository:
https://github.com/ga4gh/schemas/pull/238
It supports both classic and graph-supported server modes, with some syntax changes to the classic mode as compared to the v0.51 API.

As a first step to building a reference server for the new graph API, the current server needs to be updated to support the "classic"

[2015-02-24 22:25] dcolligan commented on #166
Fixed in #167

[2015-02-24 22:25] #166 closed

[2015-02-25 12:07] jeromekelleher commented on #183
Isn't the server currently in classic mode at the moment?

[2015-02-25 12:38] jeromekelleher opened #186 "Server should determine variant file handler type automatically"
At the moment, the server CLI takes an argument telling it what type of VariantSet to allocate. This is a poor design choice, and makes it difficult to try out new data. A simpler option would be to dynamically decide what type of VariantSet to allocate at run time. One possible outline would be

- Remove the variantSetClass from the `backend.Backend()` constructor, and call `variants.variantSetFa

[2015-02-25 12:48] pgrosu commented on #186
+1, I'm always in favor of having the code adapt to the data :)

[2015-02-25 14:42] dcolligan commented on #178
You know, it might be worthwhile to have a script like `scripts/update_data.py` that a dev can run and get the most recent version of the data initialized (in this case, it would download and extract the archive, and either delete the previous data -- if it exists -- or put it in a known location).  Thoughts?

[2015-02-25 15:11] dcolligan opened #187 "Generate portions of the cli"
I'm not sure if this is feasible, or even desirable, but just starting this discussion...

Most subparsers in `cli.py` seem to have a fairly predictable structure; they just allow setting of arguments in the eventual `GA*Request` object for that respective path.  Given that all of this information is in a schema file we have already, might it not be possible to simply generate a `_generated_cli.py

[2015-02-25 15:14] dcolligan opened #188 "Rename test_end_to_end.py"
Now that we have an end_to_end test bucket, test_end_to_end.py seems like it should be renamed.  Suggestions?

[2015-02-25 15:16] pgrosu commented on #178
+1, absolutely.  As more people join this project, the default should be assumed that everyone is in sync and works from the same datasets.

[2015-02-25 15:28] dcolligan opened #189 "Data-updating dev script"
Provide a script that, when run, correctly initializes the database.

[2015-02-25 16:25] jeromekelleher commented on #189
This is a bit vague @dcolligan --- we're just talking about the example data for development here, right?

I'm definitely +1 on the idea though.

[2015-02-25 16:37] pgrosu commented on #189
This is basically this:

https://github.com/ga4gh/server/issues/178#issuecomment-75970882

with the need to ensure things start from a clean environment.

And definitely +1.  If the data gets into the terabytes then we might need another solution, but for now we definitely want people to focus on the API more than worrying about having all the proper data/clean environment which should happen in t

[2015-02-25 17:39] adamnovak commented on #183
If nothing else, it needs to implement the method to advertise its support
for classic mode.

It may also need some other changes to move it from v0.5.1 to v0.6 classic
mode, as there are some non-graph-related breaking changes that other
people have made (for example, the new Strand enumeration).

On Wed, Feb 25, 2015 at 4:07 AM, Jerome Kelleher <notifications@github.com>
wrote:

[2015-02-25 17:42] jeromekelleher commented on #183
Moving to the 0.6.0 release (whenever it comes out) will be a big step, and we'll need to resolve a bunch of issues to go through this.

[2015-02-25 17:52] dcolligan commented on #183
@adamnovak: "If nothing else, it needs to implement the method to advertise its support
for classic mode."

What method is this?

[2015-02-25 18:02] jeromekelleher commented on #183
This is part of the forthcoming 0.6.0 release, which we're not aiming at right now. I don't think we should implement any API methods until they are released.

There's no reason we can't get infrastructure in place to support graph mode/v0.6.0, I just don't think we should implement the _methods_ until they are released.

[2015-02-25 18:32] lh3 commented on #183
We should wait until the graph part get stabilized. We agreed that #238 is just an initial attempt. Multiple rounds of iterations are likely to be required to get it to the implementation level.

[2015-02-25 22:33] adamnovak commented on #183
@dcolligan I'm referring to the [`sendsMode()` method](https://github.com/ga4gh/schemas/blob/master/src/main/resources/avro/referencemethods.avdl#L8). The server has to announce that it serves classic mode, and a well-behaved classic mode client should check to make sure the server serves classic mode. This is so you don't accidentally point a classic-only client at a graph-only server and crash w

[2015-02-25 22:44] benedictpaten commented on #183
I understand the need to iterate on the pull request - but, do we really want to move to branches for 0.6? If we can escape branching and make a rapid series of pull-requests maybe we can avoid having a lot of fork and merge pain while we still don't have an easy semi-complete reference server implementation. Given that it is backward compatible, we could just add it in progressively?

[2015-02-26 08:16] jeromekelleher commented on #183
My proposal for handling the process of supporting graph mode and moving the schema forward is as follows:

1. We make a v0.6.0 release of the schema soon. I absolutely agree with @lh3 and we will need to iterate on the current spec for a while before we get to something that works well. I would suggest that we do this through a series of point releases --- we can regard 0.6.x series as a developm

[2015-02-26 08:32] jeromekelleher opened #191 "README is incorrect about Python versions"
The README states that we fully support Python 2 and 3. This is incorrect, as we are currently supporting Python 2.7 only. We plan to support Python 3 in the future, but we're primarily held back from this by upstream libraries.

[2015-02-26 20:41] dcolligan commented on #13
Fixed in #140

[2015-02-26 20:41] #13 closed

[2015-02-26 20:49] benedictpaten commented on #183
I *strongly* +1 Jerome's vision on this.

[2015-02-26 20:56] macieksmuga commented on #191
I resolved this in PR 185.

[2015-02-26 21:06] lh3 commented on #183
@jeromekelleher currently we don't have a graph. Are you going to generate this graph, or to wait for others (e.g. @benedictpaten, @iqbal-lab and @ekg) to generate it for you?

[2015-02-26 21:10] dcolligan commented on #191
@macieksmuga typically we don't write that until the PR has been merged

Also, you can use GitHub's syntax to link the PR like so: #185

[2015-02-26 21:22] iqbal-lab commented on #183
I think ideally several of us either implement or partially implement and realise there are issues. I'm playing catch up, but I will try

[2015-02-26 21:23] fnothaft commented on #183
+1 @lh3 @iqbal-lab

[2015-02-26 21:24] dcolligan opened #195 "Increase minimum required test coverage?"
We're at 95% test coverage right now, and in `.travis.yml` we're mandating 80% test coverage.  Do we want to bump that up to, say, 90 (or even higher?) so we don't regress?

Edit: we're actually at 85%... see below and #197

[2015-02-27 00:11] MollyZhang commented on #176
working on this

[2015-02-27 08:46] jeromekelleher commented on #195
+1 --- 90% seems like a good number.

[2015-02-27 15:16] jeromekelleher commented on #183
@lh3 I think we have lots of graphs, we just need to output them in a format that is compatible with the current GA4GH model. I'm pretty sure there is a simple algorithm translating the graphs that we already have into the Durbin form, so the only missing link is to define a file format to write this information to. This is something we're hoping to nail down soon. I'm arguing for a SQLite based a

[2015-02-27 15:34] ekg commented on #183
@jeromekelleher What if I sent you graphs in Durbin form to start working with? I can serialize them in a bespoke extension to the GFA format that allows for path inclusion. That's trivial to parse. It's a temporary solution, but it's enough to get started.

(@lh3 @jts -- the bespoke idea for GFA is to use "P node_id path_name" to specify paths alongside nodes; you could also have a cigar for the

[2015-02-27 15:40] jeromekelleher commented on #183
Sounds great @ekg! It would be great if you could send me on a few little samples so I can start thinking about it. I'm sure we can get the data into the form we want easily, and it'll be great to make this discussion concrete.

[2015-02-27 17:57] dcolligan opened #197 "Calculate local test coverage numbers correctly"
A run of the coverage tool with `nosetests` will reuse cached coverage numbers, leading to discrepancies between what Travis reports and what `run_tests.py` reports.  Change this.

[2015-02-27 22:39] lh3 commented on #183
@ekg I am trying to work out what GA4GH graph cannot represent. Suppose we have the following graph in the GFA format which contains four sequences A, B, C and D:
[code]
and that the reference path goes through A and B. I think this graph cannot be described in the GA4GH representation because end C- has two joins but each segment end in a GA4GH graph only allows one join. Is that right? If so, th

[2015-02-28 03:46] haussler commented on #183
You can represent that graph. You would get it, for example, if AB is the
original primary path, then you add child that allows the variant CB  (a
"SNP bubble" with C in place of A), then you add a child that allows the
variant AD (a "SNP bubble" that allows D in place of B), and finally you
add an empty child that allows an adjacency between the 3' side of C and
the 5' side of D. This last child

[2015-02-28 04:20] lh3 commented on #183
Are you suggesting adding an extra empty Segment between C and D? But then we can add an empty Segment in a different way or add an arbitrary number of empty Segments. It would seem cleaner to me to just allow multiple end joins.

[2015-02-28 04:53] haussler commented on #183
This gets into a longer discussion I won't pursue completely here.
Richard's original model, which we have adopted and we like very much,
started with a primary reference sequence (e.g. the primary path of
chromosome 1 of GRCH38), and then sequentially added variants. (I use the
term "variant" here in a generic sense). Each variant added is a child to
the preexisting existing reference graph struc

[2015-02-28 06:15] lh3 commented on #183
In summary, some generic sequence graphs cannot be converted to GA4GH graphs unless we introduce empty/zero-length segments, but if we allow empty-segments, we can convert the same generic graph to multiple equivalent GA4GH graphs. I guess this is a property of our graphs.

[2015-03-01 11:42] richarddurbin commented on #183
I saw Hengs post about A,B,C,D yesterday, and nearly replied but wanted to think some more.
On reflection I suggest to go as the latest exchange between David and Heng says, i.e. to allow empty segments and stick with single joins.
I think that multiple end joins make things quite a lot more complicated for code, and that for any of these multiple sequence representations there are in practice alt

[2015-03-02 14:04] dcolligan commented on #197
Fixed in #198

[2015-03-02 14:04] #197 closed

[2015-03-02 16:10] dcolligan commented on #189
Closed in #190

[2015-03-02 16:10] #189 closed

[2015-03-02 18:11] adamnovak commented on #183
@lh3 Yes, that's pretty much correct. We already have to deal with equivalent graphs, though: if you want to represent two genomes, and one has a SNP relative to the other, which version of the SNP is the primary path and which is the new one-base segment depends on which genome you start with.

We also need the empty segments for adding in things like inversions of parts of existing sequences.

I

[2015-03-02 18:52] dcolligan opened #202 "Add SimulatedBackend for testing"
Following up on the discussion in #193

Create some kind of inheritance hierarchy (or do the equivalent with dependency injection?) for the backend.  Select amongst the different subclasses to use during server startup.

Blocker for merging #184

@jeromekelleher can you flesh out a little more what you had in mind here?

[2015-03-02 18:58] dcolligan commented on #195
We're at 85% right now.  The `datamodel` and `cli` modules seem to be bringing us down.
[code]

[2015-03-02 19:05] #159 closed

[2015-03-02 19:05] #191 closed

[2015-03-02 19:08] dcolligan commented on #106
Fixed in #157

[2015-03-02 19:08] #106 closed

[2015-03-02 19:22] macieksmuga opened #203 "command-line option format for utility scripts"
the python utility scripts such as `process_schemas.py` have some inconsistency in their command-line options, using POSIX style dash separators for some, and camel casing for others:
[code]

My strong personal preference is to adhere to the POSIX standard dash separators, however `argparse.ArgumentParser` automatically turns each `--command-line-option` into `parser.command_line_option`, which vi

[2015-03-02 22:08] ekg commented on #183
Having done a bit of work with reference graphs I am increasingly convinced
that it is easier to focus on the reference system as a collection of
sequences without preference toward any particular one. The idea of a
primary path is really not something that should be baked into the design
of the system. The reason is that you may want to change the primary path
later. In fact this is one of the ma

[2015-03-02 22:46] selewis commented on #183
+1
(akin to the ancient discussions about whether there really is such a thing
as wildtype)

On Mon, Mar 2, 2015 at 2:08 PM, Erik Garrison <notifications@github.com>
wrote:

[2015-03-03 07:42] diekhans commented on #203
you can specify the destination field name with dest="arvoToolsJar"

Maciek Smuga-Otto <notifications@github.com> writes:

[2015-03-03 10:20] jeromekelleher commented on #203
I tend to agree with @macieksmuga here, it would be much better to use the POSIX convention. I'm all for this, if we can do it simply. Will @diekhans idea generalise to the other CLI applications?

[2015-03-03 16:31] dcolligan commented on #186
@jeromekelleher can you update the directory structure in the example data to have this '.wt' convention?  I'm not exactly sure which level of the directory hierarchy you want it at.

[2015-03-03 16:48] dcolligan commented on #178
Alright, people should have this by now (and if they don't, they can run `scripts/update_data.py`).

[2015-03-03 16:48] #178 closed

[2015-03-03 19:11] pgrosu commented on #178
+1, Many thanks @dcolligan! :)

[2015-03-03 19:14] dcolligan commented on #71
If I'm reading this correctly, it looks like we'd have to set up some remote server (not Travis) to host the wheels.  @jeromekelleher can we / do we want to do that?

Alternatively, if just anyone can upload arbitrary wheels to PyPI we could do that too... we could have a ga4gh-server-wheels package or something where we package pysam and whatever else we need.

[2015-03-03 19:54] dcolligan opened #207 "Avro integration"
Modify the client and server so that they are optionally able to use the Avro binary protocol to communicate.

[2015-03-04 12:48] jeromekelleher commented on #71
I think the bandwidth requirements would be fairly small @dcolligan, and it would be well worth it. If we get them built, I'm sure we'll find the required infrastructure to serve them. How much hassle is it to build the wheels? I've had a quick look a few times, and it never seems particularly trivial.

PyPI isn't an option as binary wheels for Linux aren't supported AFAIK.

[2015-03-04 14:47] dcolligan commented on #176
Fixed in #206

[2015-03-04 14:47] #176 closed

[2015-03-04 15:20] jeromekelleher commented on #186
@dcolligan - done. I've also added the same data in tabix indexed VCF form, which should make it easy to compare the two approaches.

[2015-03-04 16:46] jeromekelleher commented on #202
Here are some thoughts:

1. We should add a SimulatedVariantSet. This should have a superclass shared with the other VariantSets, and we should try to share as much code as possible with HtslibVariantSet. (Not so much TabixVariantSet and WormtableVariantSet, since these will both soon be removed.) This can be based on the old version: https://github.com/ga4gh/server/blob/0d6522669fc3ad635deb6f2935

[2015-03-06 00:30] miketwo commented on #131
I'm running into this problem too. Took an strace and graphed the file numbers as they show up in `read(###,...)` calls.  Stack trace is here: https://gist.github.com/miketwo/d13bed512ed680913f02#file-nose_output-txt
![image](https://cloud.githubusercontent.com/assets/1082033/6517507/a5c931ce-c350-11e4-9725-ae8efea4c8e3.png)

Hope this helps.

[2015-03-06 13:58] #175 closed

[2015-03-06 14:00] jeromekelleher commented on #44
Closing this issue, as this has been resolved. For the record, the resolution is to have independent directories for each data set, and within the data set we have the required variants and reads subdirectories.

[2015-03-06 14:01] #44 closed

[2015-03-06 14:05] jeromekelleher commented on #18
Closing this as the README now states specifically we only support 2.7, and we have no immediate plans for supporting Python 3 because of upstream dependency issues.

[2015-03-06 14:05] #18 closed

[2015-03-06 14:07] jeromekelleher commented on #14
This was fixed in #99.

[2015-03-06 14:07] #14 closed

[2015-03-06 14:25] jeromekelleher opened #210 "Removing wormtable dependency"
This is a meta-issue collecting the steps we need to take to remove the wormtable dependency. Some of these may be turned into several separate issues, if they turn out to be sufficiently complex.

~~1. Merge #194 and #208, and start building data driven tests for the HtslibVariantSet. Once we are satisfied that it works well, remove the existing TabixVariantSet, and update the `variantSetFactory`

[2015-03-06 17:04] dcolligan commented on #175
Fixed in #205

[2015-03-06 18:04] dcolligan commented on #131
We're ripping out wormtable, and this seems like a wormtable bug, so it's doubtful anyone is going to spend time fixing it.  Closing.

[2015-03-06 18:04] #131 closed

[2015-03-06 18:10] pgrosu commented on #131
I'm shedding a tear of nostalgia :)

[2015-03-06 18:42] dcolligan commented on #83
#201 has added a preliminary ga2sam tool.

We're waiting for the pysam VCF capabilities to stabilize before proceeding on a ga2vcf tool.

[2015-03-09 12:04] jeromekelleher opened #213 "ResponseValidationFailure not reported on server logs"
When a response validation occurs, this is transformed into a frontend.ServerException and we must put in print statements to find out what went wrong. This is not very helpful for developers. We should report the type of exception that has occured, and trace back to where it happened.

In general, I struggle to see the purpose of the split between backend and frontend exceptions. What's wrong wit

[2015-03-09 13:23] dcolligan commented on #186
Fixed in #204

[2015-03-09 13:23] #186 closed

[2015-03-09 13:34] dcolligan commented on #213
Doesn't the `print(traceback.format_exc(exception))` line in `frontend.py` take care of this?

I agree that unifying the exceptions files would simplify logic.  The split I was attempting was that frontend exceptions need to worry about how they are going to appear to the client (defining httpStatus and an errorCode) while the backend exceptions don't need to worry about that.  If we unified them,

[2015-03-09 13:48] jeromekelleher commented on #213
No, it doesn't seem to catch it. Try the code in the current master with an 'all variants' query.

Good point about the httpStatus and errorCode - I'm sure if we thought about it we'd come up with a cunning class hierarchy that sorted out these details. How about this:
[code]
BackendException has httpStatus=500, and everything below this inherits this httpStatus. Children of FrontendExceptions are

[2015-03-09 15:36] dcolligan commented on #213
Here is the error that is thrown in the scenario you mentioned:
[code]
NotImplementedError is an exception that is already mapped in our hierarchy, so we don't print the stacktrace to the server console.

So I guess the question is: in which cases do you want the traceback to print?  Any time there is any sort of 500 and we are in DEBUG mode?

If you want to rearrange the exception hierarchy / mod

[2015-03-09 15:49] dcolligan opened #215 "Builds failing because of pep8 version"
We need to figure out which version of flake8 has an appropriate version of pep8 and hardcode it in the requirements.txt file.

The current version of flake8 uses pep8 1.6.2.  We need a version of pep8 above or equal to 1.5.7 and less than 1.6.

[code]

[2015-03-09 15:49] jeromekelleher commented on #213
No, this is different. Run the same query without the callsets argument.

I'm not suggesting we rearrange the hierarchy here, I was just trying to discuss the options and how we might simplify things and get feedback.

[2015-03-09 15:53] dcolligan commented on #215
Er, actually, pep8 is set in our requirements.txt file itself.  So we can just hardcode it there.

[2015-03-09 16:02] dcolligan commented on #215
Fixed in d9db9d0ae3e47b5ecd5a0d01731b7b3384829226

[2015-03-09 16:02] #215 closed

[2015-03-09 16:06] dcolligan opened #216 "Vcf module missing causes test error"
Latest master's (68b6310673aede03df821efc778ef881503b2ff5) tests running on my local machine:

[code]

We should probably add the appropriate package to the requirements.txt file.  @jeromekelleher can you track this down?

[2015-03-09 16:09] dcolligan commented on #216
Blah, nevermind, just needed to run `pip install -r requirements.txt` again.

[2015-03-09 16:09] #216 closed

[2015-03-09 16:11] pgrosu commented on #213
@jeromekelleher , @dcolligan - You would need to add code for an interactive console which allows for values to be set as the server is running.  A live server can check these values before starting a request, and if they changed will adapt accordingly in responding to errors.  By the way errors can be stored as objects so that they can be inspected at the granularity of interest, besides saving t

[2015-03-09 16:20] dcolligan commented on #213
@jeromekelleher here's the full output of client (note no callsets argument) and server on latest master (68b6310673aede03df821efc778ef881503b2ff5):
[code]
[code]
With the exception printed right when it is caught in `frontend.py`, I get:
[code]

[2015-03-09 16:36] jeromekelleher commented on #213
I think this is yet-another issue. To get the original problem you need to turn on validation. I'm going to close this issue as there are too many problems with the tabix backend to make reproducing it straight forward.

[2015-03-09 16:36] #213 closed

[2015-03-09 16:43] dcolligan commented on #202
Fixed in #212

[2015-03-09 16:43] #202 closed

[2015-03-09 17:28] jeromekelleher opened #220 "HtslibVariantSet should support metadata."
The `getMetadata` method in HtslibVariantSet has not been implemented. This should be filled out with all available information, as indicated in the comments. This can use the definition in WormtableVariantSet as a model.

The results of this should be tested in `tests/datadriven/test_variants.py` using PyVCF to check that the values are correctly mapped into the GA4GH API.

[2015-03-09 17:42] jeromekelleher opened #221 "Searching by CallSetIds not supported by HtslibVariantSet"
We need to support searching by CallSetIds in the HtslibVariantSet. The implementation should roughly mirror the WormtableVariantSet version: maintain a map of callSetIds to sample indexes, and only retrieve the genotypes for these indexes.

See the pysam source for details and documentation: https://github.com/pysam-developers/pysam/blob/master/pysam/cbcf.pyx

We also require testing for this, an

[2015-03-09 17:59] jeromekelleher opened #222 "Unit tests required for SimulatedBackend"
We need some basic tests for the simulator, to ensure that it works reasonably sensibly. We should make a new test module, `tests/test_simulator.py`, and create a test class in there, `TestVariantSet`. This class should test (e.g.)

1. The values passed into the constructor are stored correctly (after adding getter methods). For example, we'd want to check `self.assertEqual(seed, simulator.getRand

[2015-03-09 18:08] jeromekelleher opened #223 "Unittest like assert* method required for datadriven.DataDrivenTest"
PR #211 includes a definition of `assertEqual` in `DataDrivenTest`, as this allows us to write test cases much more conveniently than raw asserts, and we cannot use unittest.TestCase in these tests for technical reasons. It would be useful to define a subset of the unittest `assert*` methods here so we can use them. Say:

- assertTrue, assertFalse
- assertIs, assertIsNot
- assertGreater, assertGre

[2015-03-09 18:24] jeromekelleher opened #224 "README is out of date"
The README has not been updated to reflect the change over to a fully config-file driven input system. We should also take this opportunity to simply the README, and start preparing the way for a wormtable-free, deployable server. Some notes:

- We should remove the distinction between wormtable and Tabix variants. Now, we should explain the structure of the data directory (reads and variants), an

[2015-03-09 18:48] dcolligan commented on #71
Here's some information on what travis is running:

http://docs.travis-ci.com/user/ci-environment/

"Travis CI virtual machines are based on Ubuntu 12.04 LTS Server Edition 64 bit"

[2015-03-10 09:55] jeromekelleher opened #226 "tests/end_to_end/test_gestalt should use SimulatedBackend."
The end-to-end tests should allocate a SimulatedBackend, and run some simple tests on it. For example, we should

1. Write a server config file to a tmp file, and pass this to the server using the '-f' argument. This allows us to set the simulator parameters, such as VARIANT_DENSITY and NUM_VARIANT_SETS.
2. We can then test the output of the client to see if it matches. For example, we can run a `

[2015-03-10 10:53] jeromekelleher commented on #183
Closing this issue, as it is too general.

[2015-03-10 10:53] #183 closed

[2015-03-10 10:53] jeromekelleher commented on #129
This is low priority, since we are removing wormtable.

[2015-03-10 10:54] jeromekelleher commented on #82
Closing this, as it has been effectively solved in recent developments.

[2015-03-10 10:54] #82 closed

[2015-03-10 16:26] dcolligan commented on #223
Here are the methods unittest defines: https://docs.python.org/2/library/unittest.html
[code]

[2015-03-10 16:48] dcolligan commented on #223
And also (from the same page):
[code]
and
[code]
and
[code]

[2015-03-10 16:58] jeromekelleher commented on #223
We don't need all of these. The first set is plenty - if we find a need the others later then we can add them in.

[2015-03-10 18:39] dcolligan commented on #36
I've uploaded ga4gh to pypi: https://pypi.python.org/pypi/ga4gh

If you have a pypi account and want to be added as an admin, let me know what your pypi username is so I can add you

[2015-03-10 18:45] pgrosu commented on #36
Nice!  Thanks @dcolligan :)

[2015-03-10 18:58] dcolligan commented on #36
Install with this command:
[code]

[2015-03-10 19:02] #36 closed

[2015-03-10 19:04] dcolligan opened #228 "Set up travis to deploy to PyPi"
Right now we need to manually upload ga4gh source distributions through the PyPi web interface to release a version.  It would be much better if we had Travis do this for us.  Here's a HOWTO: http://docs.travis-ci.com/user/deployment/pypi/

[2015-03-10 20:22] shajoezhu commented on #220
reporting for duty

[2015-03-10 20:27] pgrosu commented on #220
Welcome back Joe :)

[2015-03-11 00:21] dcolligan commented on #226
Running that client command doesn't produce any results.

With:
[code]
We get:
[code]

[2015-03-11 09:22] jeromekelleher commented on #226
We can't just use the bottled `TestConfig` here @dcolligan because it has an '__EMPTY__' variant set. We do need to set the config explicitly, or we can't test that the returned values are correct.

[2015-03-11 09:39] jeromekelleher commented on #228
This seems like overkill and unnecessary work to me; once you have your PyPI credentials set up, you can use
[code]
and it's done.

[2015-03-11 11:27] jeromekelleher opened #231 "HtslibVariantSet should verify that metadata in different files is consistent"
Because variant sets are often split into several VCF files (for example, each chromosome is in a separate VCF file in 1000 genomes), the `HtslibVariantSet` corresponds to a directory containing a set of VCF/BCF files. We currently assume that these VCF files are consistent, and have the same metadata. This should be verified at construction time.

[2015-03-11 11:50] dcolligan commented on #71
Fixed in #225

[2015-03-11 11:50] #71 closed

[2015-03-11 12:12] jeromekelleher commented on #56
This is being worked on, and has been superseded by more specific issues, so I'm closing.

[2015-03-11 12:12] #56 closed

[2015-03-11 14:51] dcolligan commented on #226
Ah, forgot about the distinction between empty and simulated.

[2015-03-11 16:34] shajoezhu commented on #173
missing a test example such that has a variant site, where for the INFO and FORMAT field, NUMBER=R.

For details, see http://samtools.github.io/hts-specs/VCFv4.2.pdf, section 1.2.2 and 1.2.4

[2015-03-11 16:57] shajoezhu commented on #173
NUMBER=R is new for vcf4.2, a related entry is found on http://sourceforge.net/p/samtools/mailman/message/32900784/

[2015-03-11 17:09] shajoezhu commented on #231
reporting for duty

[2015-03-11 17:27] dcolligan commented on #231
Hi @shajoezhu , I infer from your previous activity to mean that "reporting for duty" means "I am working on this issue."  I'll assign the issue to you.

[2015-03-11 17:35] shajoezhu commented on #231
sure. :)

[2015-03-11 18:01] dcolligan commented on #228
That's actually not the recommended way to do it since it goes over plaintext

https://python-packaging-user-guide.readthedocs.org/en/latest/distributing.html#uploading-your-project-to-pypi

[2015-03-11 18:08] jeromekelleher commented on #228
Didn't realise that, thanks. Still, twine looks pretty straightforward.

[2015-03-11 18:15] dcolligan commented on #210
Is there anything preventing us from removing Tabix now?

[2015-03-11 18:17] jeromekelleher commented on #210
No, I don't hink so. HtslibVariantSet already has better support I think. Feel free to nuke it.

[2015-03-11 22:24] bioinformed commented on #231
Feel free to ping me if you have any questions on the metadata structure or
find any bugs or issues that need to be addressed.  I'm working on the
mutable API now and it is an ideal time to smooth over any rough edges.

On Wed, Mar 11, 2015 at 1:35 PM, Joe Zhu <notifications@github.com> wrote:

[2015-03-11 22:37] shajoezhu commented on #231
Thanks! Will do

On Wed, Mar 11, 2015 at 10:24 PM, Kevin Jacobs <notifications@github.com>
wrote:

[2015-03-12 10:24] jeromekelleher commented on #224
I'm working on this.

[2015-03-12 11:42] dcolligan commented on #226
Fixed in #230

[2015-03-12 11:42] #226 closed

[2015-03-12 11:43] dcolligan commented on #222
Fixed in #229

[2015-03-12 11:43] #222 closed

[2015-03-12 11:43] dcolligan commented on #195
I bumped it up to 85%  in #229.  Closing this issue for now; we can bump it up later if necessary.

[2015-03-12 11:43] #195 closed

[2015-03-12 11:44] dcolligan commented on #223
Fixed in #227

[2015-03-12 11:44] #223 closed

[2015-03-12 17:23] #224 closed

[2015-03-12 17:23] dcolligan commented on #224
Fixed in #238

[2015-03-12 17:23] dcolligan commented on #23
Fixed in #238

[2015-03-12 17:23] #23 closed

[2015-03-12 17:31] jeromekelleher opened #239 "Readme deployment instructions need to be verified"
The README now contains instructions for deploying to Apache. These are somewhat complex and it would be good to independently verify that the work.

Once this issue is closed we should tag 0.1.0a2 in github and push a release to PyPI.

[2015-03-12 17:51] jeromekelleher opened #240 "Performance analysis of HtslibVariantSet required"
As part of our removal of wormtable detailed in #210, we need a performance comparison between the HtslibVariantSet and the WormtableVariantSet. This should use the `server_benchmark.py` script.

Before we do the comparison, we need to support searching by CallSetId in the HtslibVariantSet as detailed in #221.

[2015-03-12 17:58] jeromekelleher opened #241 "Paging test required"
As part of the drive to remove Wormtable (as detailed in #210) we need to replace the tests that are currently embedded in the `TestWormtableBackend` with more modular tests. One of the tests we require is a test of the correctness of paging over the different sets of objects. We should create a new class in `tests/unit/test_backend.py` called `TestPaging(unittest.TestCase)`, which exercises the p

[2015-03-12 18:16] dcolligan opened #242 "Fill out ReadGroup.toProtocolElement"
Determine if any more of the fields in `ReadGroup.toProtocolElement` can be instantiated.  If so, set them.  If not, remove the TODO.

Helpful links:

http://ga4gh.org/documentation/api/v0.5.1/ga4gh_api.html#/schema/org.ga4gh.GAReadGroup

http://pysam.readthedocs.org/en/latest/api.html#pysam.AlignmentFile

[2015-03-12 20:46] dcolligan opened #244 "Add datadriven reads tests"
We need to test read data in `tests/datadriven/test_reads.py`

[2015-03-12 20:51] dcolligan opened #245 "Add backend information to info page"
It would be nice to have some information about the server configuration on the html page.

[2015-03-12 21:06] dcolligan opened #246 "Implement reads/search"
The reads/search endpoint is not implemented on the server.  Change that.

[2015-03-12 21:07] dcolligan commented on #246
@jeromekelleher do we also want a ReadsSimulator?  What priority would that be?

[2015-03-12 23:10] shajoezhu commented on #231
hi @bioinformed @jeromekelleher , i have a question, should metadata associate with each vcf file, or with the vcf file set? I was thinking, we should only call the getmetadata function once to build the metadata. I know we should still check through each vcf file in the set, but it seems cleaner to just build the metadata once, then check it with the vcffile.header, right?

[2015-03-12 23:39] pgrosu commented on #231
How about just having a `combineVariants` function (like GATK) and then apply the metadata or annotation to it.  What do you think?  It could streamline things.

`p

[2015-03-13 02:10] pgrosu commented on #231
Joe this is great, but could you substitute more meaningful variable names?

[code]

[2015-03-13 10:04] jeromekelleher commented on #245
Also, it would be good to give some abstract information on the data, so user's can see what they are serving at a glance. For example, we might show a table of the variant sets and reads, like
[code]
This should be fairly simple to do (VariantSet should implement a function called getNumVariants(), for example), and would be an important usability bonus.

[2015-03-13 10:06] jeromekelleher commented on #246
A `ReadsSimulator` would be great, and is certainly something we'll need. I've no real idea how this would work though---my read-data ignorance is starting to hurt!

[2015-03-13 10:17] jeromekelleher opened #247 "getReadAlignments method required"
The `datamodel.reads.ReadGroup` class needs a method called `getReadAlignments`. This should be directly analogous to the  `datamodel.variants.VariantSet.getVariants` method, and map directly to the `SearchReadsRequest` protocol method. Specifically, we should have
[code]

This should be tested in `datadriven/test_reads.py`. We should test for searching over all reads, and subsets of the reads wit

[2015-03-13 10:18] jeromekelleher commented on #246
We should implement #247 before tackling this.

[2015-03-13 10:20] jeromekelleher commented on #231
I agree @shajoezhu, we should just build the metadata once. The metadata is associated with the VariantSet --- it's an error if someone tries to make a VariantSet that contains VCF files with inconsistent metadata.

[2015-03-13 13:35] jeromekelleher commented on #245
Working on this.

[2015-03-13 14:22] shajoezhu commented on #231
Hi @bioinformed , description is missing for both infos and formats for the metadata of pysam. just wondering could you include them in the future? Thanks! :)

[2015-03-13 15:19] shajoezhu commented on #221
i am working on this

[2015-03-13 15:22] pgrosu commented on #245
+1 that would be a big help.  I had to use mostly experimenting with the code - and some of the posts - to guide me with the clarification on how data worked its way through the code and how some of the functionalities worked together.

[2015-03-13 15:52] dcolligan commented on #246
@jeromekelleher can you add some reads to ga4gh-example-data ?

[2015-03-13 16:00] jeromekelleher commented on #246
Sure - if you point me in the direction of the files and give me a script to generate the subsets!

[2015-03-13 16:02] dcolligan commented on #246
Scripts are in #243

Files are here: http://hgdownload.cse.ucsc.edu/goldenPath/hg19/encodeDCC/wgEncodeUwRepliSeq/

(I picked the first two bam files for test data, so I would avoid those two)

[2015-03-13 19:24] shajoezhu commented on #221
hey @jeromekelleher are callSetIds for variants? or samples?

[2015-03-13 19:30] pgrosu commented on #221
Joe, a `CallSet` has its own reference to a `sampleId`:

[code]

Paul

[2015-03-13 19:37] shajoezhu commented on #221
cool! thanks. just wanna make sure

[2015-03-13 19:47] pgrosu commented on #221
Sure, you're welcome :)  It took me a while as well to clarify the definitions for myself.  Here's a diagram accompanied by a few definitions that clarified things for me (which can be found on http://ga4gh.org/#/api):

![variants](https://cloud.githubusercontent.com/assets/6555937/6646028/7bb83cac-c997-11e4-82eb-e454f790ab3f.png)

A GAVariant represents a change in DNA sequence relative to some r

[2015-03-13 22:53] macieksmuga commented on #239
Tried following the deployment instructions to the letter (on a fresh Ubuntu Server 14.04.2 install on a VM). I have a couple of minor notes that I'll put into a PR shortly.

[2015-03-13 23:09] pgrosu commented on #239
Thanks Maciek for helping out on this - definitely being thorough is the best way :)

~p

[2015-03-16 09:44] jeromekelleher commented on #239
Great, thanks @macieksmuga. Feel free to edit any of the rest of the README while you're in there --- it's in draft status at the moment, so any updates would be good (even big structural changes, anything that'll make it easier for to people to follow).

[2015-03-16 13:18] jeromekelleher opened #250 "tests/unit/test_end_to_end.py should use SimulatedBackend."
As part of the process of removing the dependency on wormtable, we need to remove the usage of the WormtableTestFixture.

[2015-03-16 14:08] dcolligan commented on #220
Fixed in #234

[2015-03-16 14:08] #220 closed

[2015-03-16 14:08] dcolligan commented on #231
Fixed in #234

[2015-03-16 14:08] #231 closed

[2015-03-16 15:18] #245 closed

[2015-03-16 15:19] dcolligan commented on #245
Fixed in #248

[2015-03-16 15:20] jeromekelleher opened #251 "Method for easily subsetting data driven tests would be useful"
Currently, we are fairly limited in the how we can run subsets of the data driven tests. It would be good to be able to specify the file(s) we want to apply the tests to, as the 1000 genomes files result in very long tests at the moment. Ideally, we'd like to add a simple command line option to nosetests, but it seems we'd need to write a standalone plugin for this. Other options would be to use a

[2015-03-16 15:43] diekhans commented on #251
See comment in other tickets.  IMHO, check in small, tailored SAM files.

Jerome Kelleher <notifications@github.com> writes:

[2015-03-16 15:54] dcolligan commented on #251
Yeah, these tests (just ran them for the first time) take way too long.  What is the reason for having the data be so large (I'm assuming this is what is causing the test to run so long)?  Agree with @diekhans that smaller is better.

But if there's really no way getting around creating long-running tests, we can just tell nosetests to run only particular (fast) tests at launch.  Presumably the da

[2015-03-16 15:57] macieksmuga commented on #239
The version of the ga4gh server that I installed via pip (for deployment) isn't the latest dev version. In particular, it fails to start up properly due to an interface mismatch in the `configure` method of `frontend.py` (which expects a configuration object in the version loaded via pip, as opposed to a file path in the latest dev version.

What's the thinking/procedure/script/schedule behind kee

[2015-03-16 15:59] diekhans commented on #251
Yes, you want to test as many paths as you can, not see how many times
a path can be execute.

Optional longer tests maybe useful.  But generally I fine that running
one-off larger tests to find new tests cases is better.

Large test for tracking performance changes maybe useful.

Mark

Danny Colligan <notifications@github.com> writes:

[2015-03-16 15:59] dcolligan opened #253 "Silence spam output from noisy tests"
A recently added test is spewing out extraneous debug output.  This shouldn't happen -- silence this test!

[code]

One way to do this might be creating a `@SuppressOutput` decorator in `tests.utils` that redirects stdout and stderr to `/dev/null` for the running duration of the test and then restores the file handles at the end.

[2015-03-16 16:03] dcolligan commented on #239
Changes are going on in master all the time and it shouldn't be assumed that that version of the code and files from the pip installed version can be mixed.

Deployment to pypi right now is ad-hoc.  I presume @jeromekelleher essentially decides when he wants to upload a version.  I think the intention is to upload a new version whenever we bump the version number.

[2015-03-16 16:05] macieksmuga commented on #239
@dcolligan Thanks! that makes sense. @jeromekelleher The above-mentioned issue will need to be addressed by pushing a more recent version with the appropriate configure code in it.

[2015-03-16 16:23] dcolligan commented on #253
Alternatively, fix the data file (looks like one of the 1kg VCF files has a malformed header line)

[2015-03-16 16:25] macieksmuga commented on #239
...or simply amend the `application.wsgi` file in the README to read:
[code]

[2015-03-16 16:52] jeromekelleher commented on #251
The problems are caused by 1000G VCFs, which are very tedious to work with. There's only 100 records in there, so we're not going overboard with lots of data. I think it's a good idea to have 1000G data in there, but if it turns out to be too slow then we can look at dumping some of the samples.

[2015-03-16 16:54] jeromekelleher commented on #253
These warnings are coming from htslib, which would be nice to suppress in general; is there a way to silence it through pysam?

[2015-03-16 16:58] jeromekelleher commented on #239
There's a chicken and egg problem here - I would like the README to be correct _before_ we upload to PyPI.

We should only upload to PyPI when we tag a release in git.

Can you verify the instructions work as if the current head of master was in PyPI? I.e., just substitute `pip install ga4gh` with `python setup.py install` from git.

[2015-03-16 18:06] macieksmuga commented on #239
@jeromekelleher confirmed server install on ubuntu with the one substitution of building from github, as you suggested - everything now works, thanks!

[2015-03-16 18:09] dcolligan commented on #253
The error looks like it comes from this line in htslib:

https://github.com/samtools/htslib/blob/f3e1602196bbf03f426dfb363a4841932a042194/vcf.c#L1522

It looks like it's writing it directly to stderr without going through any kind of logging subsystem.  So there are probably no hooks in pysam or htslib to redirect / silence.

[2015-03-16 18:15] dcolligan commented on #253
@jeromekelleher do you know what line in our code is accessing the htslib code that is emitting the error?

[2015-03-16 18:25] dcolligan commented on #253
Nevermind, seems to be `DataDrivenTest.__init__` where `self._gaObject` is initialized

[2015-03-16 18:43] jeromekelleher commented on #239
Excellent! Thanks @macieksmuga, I'll tag a 0.1.0a2 in git tomorrow and upload to PyPI.

[2015-03-16 18:43] #239 closed

[2015-03-16 18:54] dcolligan commented on #253
Redirecting stdout and stderr doesn't seem to do it... this diff still emits the output...
[code]
Not sure what the deal is here.  Maybe stderr gets lots in the C/python binding?

[2015-03-16 19:15] macieksmuga commented on #239
Thanks @jeromekelleher, I'll re-test with the new tagged PyPI version as soon as it's there.

[2015-03-16 19:34] dcolligan commented on #253
Aha, looks like python's stderr object is a wrapper around something but C accesses the file descriptors directly.

http://stackoverflow.com/questions/5081657/how-do-i-prevent-a-c-shared-library-to-print-on-stdout-in-python

[2015-03-17 10:05] jeromekelleher opened #256 "Review PyPI page/README"
The PyPI package is now uploaded for v0.1.0a2, and it should start to look like something users can actually comprehend. The package is at https://pypi.python.org/pypi/ga4gh.

We need to review this, and make sure that new users get the information they need quickly. Is the current layout effective? Is the current approach of deployment, client tools and development too complicated?

It would be g

[2015-03-17 16:27] dcolligan commented on #250
Fixed in #254

[2015-03-17 16:27] #250 closed

[2015-03-17 16:27] dcolligan commented on #188
Fixed in #254

[2015-03-17 16:27] #188 closed

[2015-03-17 18:51] macieksmuga commented on #256
Thanks @jeromekelleher! I re-ran the install instructions on my ubuntu install, and all looked good (I checked the resulting install with a couple of the suggested `ga4gh_client` example queries in the readme.)

[2015-03-17 19:10] dcolligan commented on #253
Fixed in #261

[2015-03-17 19:10] #253 closed

[2015-03-17 21:39] dcolligan commented on #251
Has this been resolved in practice by modifying those VCF files?

[2015-03-17 23:46] shajoezhu commented on #231
Hi @bioinformed , I have a question, I was wondering in pysam, how was VariantRecordSample identified as a phased or not phased genotype?

[2015-03-18 04:11] bioinformed commented on #231
Currently I don't expose phase information.  There are some big semantic
questions -- like what is a phased monoploid call?  Or a partially phased
triploid call set that doesn't have a disjoint block structure?  My
preference is to use allele-specific phase links rather than a vector of
boolean values.  This is where GATK has been moving, but I have yet to see
allele-specific phase links make it i

[2015-03-18 09:19] jeromekelleher commented on #251
The major pain has gone away by throwing away the majority of the 1000G samples, but it would still be nice to be able to specify the test and data file that we use. Suppose we've got 50 tests files, and a test is failing on one of them. You'll want to put in lots of debug prints and just run the test for the file in question.

This is a low priority though.

[2015-03-18 10:03] shajoezhu commented on #231
Cool! Thanks for this

[2015-03-18 15:51] dcolligan commented on #251
A hacky way to do this would just be to delete all the other data files, fix the problems in the test, and then use git to restore all of the files.

[2015-03-18 15:55] jeromekelleher commented on #251
...  hadn't thought of that: nice hack!

We can close this issue if you like, I just thought it would be good to see if anyone had any bright ideas about how to do this cleanly.

[2015-03-18 16:02] dcolligan commented on #251
I say leave it open; there should be a good way to do this cleanly.

[2015-03-18 16:10] macieksmuga commented on #251
I like @dcolligan 's suggestion to lean on git to restore the tests to their original state after a debugging run. It works and satisfies Ockham's Razor - not introducing any further clever code to accomplish the goal.

[2015-03-18 19:29] dcolligan commented on #241
To replace TestWormtableBackend, it looks like we're going to have to substitute `.tbi` files for the wormtable files.  How does one create those files?  (Having a `README` inside `ga4gh-example-data` with how you generated those files would be useful.)

[2015-03-18 19:38] macieksmuga commented on #241
@dcolligan I'm looking into this now.

[2015-03-18 19:45] dcolligan commented on #244
This will be solved by #249, which should be merged in the not too distant future.  Closing this redundant issue.

[2015-03-18 19:45] #244 closed

[2015-03-18 20:20] macieksmuga commented on #241
`.tbi` files are tabix indices on the VCFs as read by pysam.VariantFile, and generating them is described in the now removed tabix part of `README.txt` (perhaps we should bring this part back?):
[code]
`ga4gh-example-data` currently comes with these index files precomputed.

[2015-03-19 10:58] jeromekelleher commented on #241
Generating Tabix indexes is pretty standard - you're right though, we'll need a proper discussion of how we deal with indexes in the README. We should add this as an issue.

[2015-03-19 13:10] shajoezhu opened #265 "GACall field phaseset unset"
currently using pysam tool to extract elements for GACall. (HtslibVariantSet)

[2015-03-19 14:33] jeromekelleher commented on #265
Can we get some more details on this please @shajoezhu?

[2015-03-19 16:32] dcolligan commented on #242
Fixed in #262

[2015-03-19 16:32] #242 closed

[2015-03-19 17:01] dcolligan opened #266 "Add README to ga4gh-example-data"
Following up on discussion in #241

ga4gh-example-data should have a README with instructions on how to generate the files therein.

[2015-03-19 17:17] bioinformed commented on #265
The pysam VCF/BCF code does not yet expose phase information.  As I
described in another thread, I am still considering how best to proceed:
https://github.com/ga4gh/server/issues/231#issuecomment-82643656

On Thu, Mar 19, 2015 at 8:33 AM, Jerome Kelleher <notifications@github.com>
wrote:

[2015-03-19 17:32] jeromekelleher commented on #266
OK, I'll do this when we go to the next (de-wormtablified) version.

[2015-03-19 18:40] dcolligan commented on #246
In `FileSystemBackend`, readGroupSetIds are indexed but there is no way in `GASearchReadsRequest` to specify a readGroupSetId.  Presumably, we should be indexing readGroupIds, which can be specified in a `GASearchReadsRequest`, (and which include the readGroupSetId in their id) correct?

[2015-03-19 20:24] shajoezhu commented on #240
#Performance comparison on BCF, VCF and Wormtable data format. It seems that wormtable is faster than both vcf and bcf. It doesn't appear to have significant difference between bcf and vcf

##1000g_2013 [BCF](#2013bcf_holly) vs [VCF](#2013vcf_holly) vs [Wormtable](#2013wt_holly)
###BCF<a name="2013bcf_holly"></a>

[code]

###VCF<a name="2013vcf_holly"></a>

[code]

###Wormtable<a name="2013wt_holl

[2015-03-19 21:52] dcolligan opened #267 "Client always sends extraneous last request"
Since we always return a pageToken regardless if we are at the end of the object stream, the client sees a non-null nextPageToken and decides to send one last request, which always returns an empty payload from the server.

Not sure if there is a way to fix this generally (or if it is even worth it in the specific case, since we would need to do some kind of look-ahead logic with iterators), but i

[2015-03-20 06:24] macieksmuga commented on #247
@jeromekelleher sorry for asking this late, but why both the `referenceName` and `referenceId` arguments? From the implementation, it looks like at most one can be passed in, otherwise an exception is raised. This seems like a strange convention to me (not followed anywhere else in the codebase, as far as I can tell). Since `referenceName` can be computed internally from `referenceId`, is there so

[2015-03-20 08:54] jeromekelleher commented on #267
This is a bug in the server --- we shouldn't send back a non-null pageToken unless there are records left.

[2015-03-20 09:04] jeromekelleher opened #269 "Datadriven variant tests should test range searches"
PR #264 adds data driven tests for variants in the HtslibVariantSet, and systematically tests the output variants for correctness. However, we do not test the search method in terms of the `start` and `end` arguments. We should test this by finding the maximum and minimum position in the variants that we read in using PyVCF, and then using these values to test range search. For example, we should

[2015-03-20 09:09] jeromekelleher commented on #246
Yeah, we'll need to index all the readGroupIds so we can find them for queries. We'll still need all the readGroupSets though, as these need to be retrievable also.

[2015-03-20 09:27] jeromekelleher commented on #247
Don't ask me @macieksmuga, I have no idea! This is coming from the schemas, which were written before I started working on the project.

[2015-03-20 09:47] jeromekelleher commented on #240
Thanks @shajoezhu, this seems like an excellent result to me. OK, we have a bit of a bottleneck in the HtslibVariantSet code, but we should be able to work around this. Otherwise, it looks like the overhead of parsing VCF and BCF is minimal and we should be able to get back to the wormtable level of performance without too much trouble.

Based on this, I'd vote to plough ahead with the wormtablect

[2015-03-20 11:08] pgrosu commented on #247
Maciek, Jerome - it already got removed in the following PR this past December, and only `referenceId` now remains:

https://github.com/ga4gh/schemas/pull/193

~p

[2015-03-20 13:41] bioinformed commented on #240
I'm looking into the apparent performance bottleneck in sample iteration (
pysam.cbcf.VariantRecordSample.iteritems).  I suspect there is some
low-hanging fruit to optimize.

-Kevin

On Fri, Mar 20, 2015 at 5:47 AM, Jerome Kelleher <notifications@github.com>
wrote:

[2015-03-20 14:11] pgrosu commented on #240
Hi Kevin,

Anything is possible :)  So currently it's just a generator and will only run when accessing it as [in lines 1696-1699 of cbcf.pyx](https://github.com/pysam-developers/pysam/blob/22990a3fe02e51eedbc0691a015184927f73aa01/pysam/cbcf.pyx#L1696-1699):

[code]
So maybe pysam can be updated for that part to be pre-indexed as a sorted index of hashes, that are stored as a tree.  As you can see

[2015-03-20 16:05] macieksmuga commented on #247
thanks @pgrosu! The discussion in that PR provides the answer I was looking for. Will comment with this on the PR to be merged here...

[2015-03-20 16:05] jeromekelleher opened #270 "Robust exception handling required for variants and 'bad-data driven tests""
We need custom exceptions for all of the error conditions in the `datamodel/variants.py` file. We also need to test these exceptions, however, since there's no point in making custom exceptions if we don't test them.

One way we might to this is to introduce a new directory in `tests` called `bad-data`, which contains data that is designed to exercise the error cases in our code. We'll need some e

[2015-03-20 16:13] macieksmuga commented on #270
Since different exceptions would presumably be generated by different bad data, such tests would need to be structured differently than the `datadriven` ones so far (i.e., we can't just run all of the exception tests over the totality of the test data - they'd need to be matched: This bad data triggered that exception).

Maybe make a directory of `regression-data` in general, that contains data th

[2015-03-20 16:21] pgrosu commented on #247
Gladly @macieksmuga - we're all helping each other :)

[2015-03-20 16:22] jeromekelleher commented on #270
Yes, that's a good point @macieksmuga --- we will need a different structure. We'd need some sort of map from bad-data file to expected exception. What if we had a directory of files for each exception (that is, any file in that directory is expected to throw a given exception)? Our directory tree of bad-data could mirror the exception hierarchy.

[2015-03-20 16:38] jeromekelleher opened #271 "Input data sanitisation required for pysam"
Pysam throws an exception if we provide numbers that are too large. We should fix this by finding out what the largest acceptable value is, and then setting our input values to this if any larger values are provided. More generally, we should sanitise the values that come in before we pass them to pysam. We should check the values of `referenceName`, `startPosition` and `endPosition` before we cal

[2015-03-20 16:41] jeromekelleher commented on #265
We should fill this in ourselves in the mean time, so we have something reasonable. It's a bug if we're exporting a phaseset that's definitely wrong.

[2015-03-20 16:56] jeromekelleher commented on #240
That sounds great @bioinformed, thanks for looking into it. While you're thinking about this, would it be possible to have a look at the `subset_samples` code also? At the moment, (I think) you can only call this once for an opened file. For our use case though, we want to keep the file open for a long period of time and call subset_samples on it repeatedly (each time we have a request). Perhaps a

[2015-03-20 18:10] jeromekelleher commented on #270
After discussion, it seems that this is a bit ambitious and over complicated. I think the simplest approach is to have a new directory `tests/bad_data/variants` and put some test variant sets in there. These should have descriptive directory names, and contain one (or more) dodgy VCFs.

Then, we have a new test module, `tests/unit/test_bad_data.py`, and we have a bunch of standard unittest.TestCas

[2015-03-20 18:13] jeromekelleher opened #272 "Compliance according to existing tester should be verified"
We need to check our compliance level with the existing compliance tester at https://github.com/ga4gh/compliance. For the beta release we should aim for full compliance on the reads and variants parts of the API.

[2015-03-20 18:51] bioinformed commented on #240
The main reason why subset_samples works only prior to reading records is
to ensure that all Python and C object lifetimes are synchronized.  Because
the header data structure (bcf_hdr_t) is re-written when subsetting, it can
lead to situations where Python objects contain references to C data
structures that have been freed or reused and thus crash the interpreter
(or worse) .  I'll look into wha

[2015-03-20 18:57] bioinformed commented on #265
Can you point me to the GA4GH API spec for how phase is communicated?

On Fri, Mar 20, 2015 at 12:41 PM, Jerome Kelleher <notifications@github.com>
wrote:

[2015-03-20 19:18] macieksmuga commented on #256
One minor typo, that I'll issue a PR against momentarily.
But first, a question: Do I want to issue this PR against ga4gh/server master (which has gone significantly past the v0.1.0a2 tag?) or do we want to create a PiPY pre-release branch? Your call, @jeromekelleher.

[2015-03-20 19:51] macieksmuga commented on #270
@jeromekelleher I like it, but I could also see the need for some additional mechanism to pass specific `setIds` to individual tests within a class.

[2015-03-20 21:06] dcolligan commented on #246
With regards to the nextPageToken with reads/search:

Is it possible for two alignments in a BAM file to be at the same starting position?  If so, setting the nextPageToken to include the position of the subsequent alignment will end up returning duplicate alignments.  In that case we would need to include the ids of alignments with the same starting position that the client has already consumed i

[2015-03-20 21:12] dcolligan opened #275 "Add reads to ga4gh-example-data"
We still need to determine what reads will go in (which Danny will do at a future date).

[2015-03-23 09:09] jeromekelleher commented on #240
That makes sense - thanks @bioinformed.

[2015-03-23 09:11] jeromekelleher commented on #265
I've never really understood what this means, but this is what we're going by:

http://ga4gh.org/documentation/api/v0.5.1/ga4gh_api.html#/schema/org.ga4gh.GACall

[2015-03-23 09:18] jeromekelleher commented on #256
I would say we always make PR against master. These tags exist (in my mind anyway) so that we have a fixed point in Git-space for each PyPI release. PyPI insists on a different version number for every upload, so we need to have 0.1.0a1, 0.1.0a2, etc every time we refine the package or the README.

More generally, I suppose we'll want to have a separate branch for the 0.5.1 protocol series (which

[2015-03-23 10:06] jeromekelleher commented on #246
Excellent point @dcolligan, this actually applies to variant search also. This is a little bit tricky. We'll need an identifier of some sort, so we don't return the same variant/read twice when there are multiple records at the same position. We could use the file position for this, as that's guaranteed to be unique and is cheap to generate and check. That is, in `getReadAlignments` we yield an it

[2015-03-23 15:36] dcolligan commented on #247
Fixed in #249

[2015-03-23 15:36] #247 closed

[2015-03-23 18:48] dcolligan commented on #246
Unfortunately, I don't think so: `seek` and `tell` seem to be orthogonal to `fetch`.  (I'm not really sure what seeking through an indexed file where we wanted random access would really get us anyway.)

[2015-03-23 19:24] awz commented on #275
Suggest we include some of this data:

* https://sites.stanford.edu/abms/content/giab-reference-materials-and-data

The PGP data is in the public domain and has phenotypes.

[2015-03-24 15:19] jeromekelleher opened #278 "CORS tests are broken."
Since Flask-CORS was updated recently, our test case for CORS support is failing (`testCors` in `tests/unit/test_views.py`). Why? I don't really understand what we're actually doing here, so I don't feel particularly qualified to comment on this.

[2015-03-24 15:35] dcolligan commented on #278
I don't really get why CORS is necessary for our project.  Reading the Wikipedia page it seems like CORS only applies to browsers that want to pull resources from servers other than where the original web page was loaded.  That is, it is a way of getting around the same-origin policy in a policy-based way.  Can't we just remove it?

http://en.wikipedia.org/wiki/Cross-origin_resource_sharing

[2015-03-24 15:39] dcolligan commented on #278
Looking at the original proposal to incorporate CORS, it seems like someone wanted to develop a javascript client eventually.

https://github.com/ga4gh/server/issues/4

Presumably that's a long way away, so should we just remove CORS support entirely, since it seems to be causing us repeated headaches?

[2015-03-24 15:44] dcolligan commented on #272
Doesn't this compliance test assume that we have a certain data set loaded?

[2015-03-24 15:57] jeromekelleher commented on #278
We need CORS for the existing JS compliance tester, and it was a feature request. We should try to figure out what the problem is here and sort if out.

[2015-03-24 15:58] jeromekelleher commented on #272
It does --- I'll just test it against the data it wants.

[2015-03-24 17:30] dcolligan commented on #221
Fixed in #264

[2015-03-24 17:30] #221 closed

[2015-03-24 17:52] jeromekelleher opened #283 "unittest like assertAlmostEqual required for data driven tests."
The variant data driven tests currently use a method `_floatsAgreeWithinTolerance` to compare floats that should be approximately equal. We should change this to use an API that is compatible with unittest, and move it into the superclass. Unless there is a good reason otherwise, we should a method identical to the approach used by unittest.

[2015-03-24 18:43] macieksmuga commented on #256
@jeromekelleher Thanks! Looks like @dcolligan already took up the PR into master, so all's well.

As for creating a separate release branch after 0.5.1 is released, the model you describe is exactly how I've seen this done in other projects, so I support your proposal.

[2015-03-25 15:24] jeromekelleher opened #286 "Implementation of getCallSets required for HtslibVariantSet and SimulatedVariantSet"
We need to implement getCallSets for the VariantSet implementations. For the HtslibVariantSet, we need  to create a `GACallSet` for every sample name. For the simulated variant set we should create a simulated sample name for all of the available calls. We should probably create the CallSet objects at initialisation time, and then implementing `getCallSets` will be trivial.

The majority of this c

[2015-03-25 15:51] dcolligan opened #287 "Support returning unmapped reads"
pysam's `AlignmentFile.fetch`, which we use to implement the `reads/search` endpoint, does not return unmapped reads.  Presumably clients would be interested in receiving unmapped reads, however.

[2015-03-25 15:57] bioinformed commented on #287
@dcolligan: There is nuance here.  AlignmentFile.fetch will return an unmapped reads if another segment is mapped (see section 2, item 4.1 of the SAM specification).  If all segments in the template are unmapped, those reads are obtained by fetching from tid=-1.

[2015-03-25 16:21] dcolligan commented on #287
@bioinformed thanks for the heads up.  Your input is always appreciated.

[2015-03-25 16:28] dcolligan commented on #278
Fixed in #282

[2015-03-25 16:28] #278 closed

[2015-03-25 16:51] dcolligan opened #288 "Server leaking internal error details to client"
Because we return exception.message to the client in the case where an exception is thrown that we haven't seen before, we can end up sending internal implementation details back to the client, which is both irrelevant to them and a potential security hazard.  For instance:

[code]

We should change this to only return the message when we know we have customized it, and return some generic "Intern

[2015-03-25 17:12] jeromekelleher commented on #288
OK good point; this will be easy enough to fix.

[2015-03-25 17:13] dcolligan commented on #283
Fixed in #284

[2015-03-25 17:13] #283 closed

[2015-03-25 17:45] macieksmuga commented on #210
@jeromekelleher looks like the biggies - 1,2 and 3 of your original list are taken care of. Can I take this one and yank out wormtable now?

[2015-03-25 18:38] dcolligan commented on #267
It looks like `variantsGenerator` and `callSetsGenerator` are the only methods affected by this issue.

[2015-03-25 18:38] macieksmuga commented on #241
Ok to close this now?

[2015-03-25 19:11] dcolligan commented on #58
@jeromekelleher close this issue?  Seems pretty irrelevant now.

[2015-03-26 08:47] jeromekelleher commented on #210
Yeah, go for it!

[2015-03-26 09:01] jeromekelleher commented on #267
We should fix `variantsGenerator` to use the same algorithm as reads (hopefully reusing some code too), as the same complications due to interval search can occur. `callSetsGenerator` will need to be fixed in isolation.

[2015-03-26 09:05] #241 closed

[2015-03-26 09:13] jeromekelleher commented on #58
Agreed.

[2015-03-26 09:13] #58 closed

[2015-03-26 09:46] jeromekelleher opened #291 "Replace hacked phaseset implementation with correct pysam approach"
As a temporary measure, PR #285 introduced a hacky workaround to add phaseset support to variants. The need for this workaround should be removed in the next version of pysam, in which the correct phaseset information will be provided natively.

The offending code is clearly marked in the source.

[2015-03-26 12:08] jeromekelleher opened #293 "Useful summaries needed for default client CLI output"
The current output of the CLI isn't very helpful for development, as it only outputs a single attribute for each object we read from the server. We should have something that at least allows us to identify the object in question. We can make this easier by refactoring things a little.

For example, we can have something like

[code]

The idea here is that we just have to implement the `printObject

[2015-03-26 16:27] dcolligan commented on #288
Fixed in #289

[2015-03-26 16:27] #288 closed

[2015-03-26 16:29] dcolligan commented on #269
Fixed in #281

[2015-03-26 16:29] #269 closed

[2015-03-26 16:30] dcolligan commented on #265
Fixed in #285

[2015-03-26 16:30] #265 closed

[2015-03-26 17:26] dcolligan opened #296 "Test generators more thoroughly"
We need some tests for the generator logic in `backend.py`.  I'm thinking of `readsGenerator` in particular.

[2015-03-26 17:50] macieksmuga commented on #293
Would it make sense to do this by adding meaningful `__repr__()` methods to protocol classes like `VariantSet`? I know these classes are auto-generated for now, but the rest of the code makes some pretty specific assumptions about these classes' structure (as demonstrated in the above code) anyway, so it may make sense to wrap `_protocol_definitions` in some non-autogenerated module that adds func

[2015-03-26 18:04] jeromekelleher commented on #293
Interesting idea @macieksmuga... I guess this would imply writing out _all_ the information contained in the objects though, whereas I'm thinking of a short and simple summary here.

What sort of stuff had you in mind for the updated classes (besides repr)? We could do something simple like having the generated classes in protocol_definitions be called (say) `_VariantSet` and then have
[code]
at t

[2015-03-26 18:07] jeromekelleher opened #298 "Update documentation to remove wormtable"
The README needs to be updated to remove references to wormtable.

Also, .wt files need to be removed from the ga4gh-example-data.

[2015-03-26 18:08] #129 closed

[2015-03-26 18:08] #10 closed

[2015-03-26 18:08] #15 closed

[2015-03-26 18:09] #46 closed

[2015-03-26 18:10] #240 closed

[2015-03-26 18:46] macieksmuga commented on #293
@jeromekelleher pretty much that. For now, `__repr__()` is what I was thinking of - and specifically, craft each protocol class's string representation so that it only returns a minimally useful set of data (nicely formatted), not everything contained in each object.

[2015-03-26 19:10] jeromekelleher commented on #293
One thing though: `repr` is supposed to be a machine readable version of an object. I think it's probably `__str__` that you would want to implement.

[2015-03-26 19:16] macieksmuga commented on #293
@jeromekelleher You're absolutely correct: `__str__`, not `__repr__`. My bad.

[2015-03-26 21:08] dcolligan commented on #210
Looks like number 5 / #298 is the only thing left to do here.

PS I find it hilarious that GitHub allows one to edit other people's comments.

[2015-03-27 16:29] dcolligan commented on #246
Fixed in #268

[2015-03-27 16:38] #246 closed

[2015-03-27 16:42] bioinformed commented on #246
@dcolligan: regarding fetch not being reflected in seek/tell.  This is because the file is often re-opened when fetching to ensure that multiple threads can query the file without interfering with each other.  It is possible to disable this behavior and then seek/tell will work as you expect.

[2015-03-27 17:19] dcolligan commented on #246
@bioinformed interesting.  I suspect as time goes forward and we strive for a more efficient implementation we will be forced to go deeper into pysam/htslib internals.

[2015-03-27 23:07] macieksmuga commented on #256
@jeromekelleher I think we're approaching a good time to make a new tag/ PyPI package. I'll look over the documentation this weekend to see if it's still tracking the latest changes (haven't done a clean redeployment on this version yet).

Also, time to start thinking about dockerizing the server + example data?

[2015-03-30 08:12] jeromekelleher commented on #256
I need to make some change to the README  before we roll another PyPI package@macieksmuga, but I'll get that done today.

Excellent idea on docker - open an issue on this?

[2015-03-30 09:13] jeromekelleher opened #299 "Call data not being returned for variants/search"
When we run the callsets-search client command, no call data is returned (regardless of what is provided to the `callSetIds` parameter).

[2015-03-30 12:18] jeromekelleher opened #301 "Paging broken for variants-search"
Paging for variants/search is not working correctly. If we run

[code]

We get an infinite set of results.

This should be solved by reusing the logic for reads/search.

[2015-03-30 12:24] jeromekelleher opened #302 "More examples in the README and usability testing required"
We need to do extensive 'hands-on' tests on the server and client applications to verify that they work correctly and to ensure a smooth experience for new users trying out a demo. This should include adding in more examples into the README, along with extensive testing of this on the command line.

We should, of course, aim to automate all of our tests. However, we also need to get used to using

[2015-03-30 13:02] diekhans commented on #302
This is a great idea.  We can get some grad students to try it
out.  We can do one or two at a time, as fresh, un-corrupted
minds are the best test.

Jerome Kelleher <notifications@github.com> writes:

[2015-03-30 13:09] pgrosu commented on #302
@diekhans, Hehehe, I'm not sure grad students such pure angels :)

[2015-03-30 17:25] dcolligan commented on #180
Fixed in #304

[2015-03-30 17:25] #180 closed

[2015-03-30 17:27] dcolligan commented on #298
Fixed in 7ed8f1d3202b23c704bff03819bc009f781b4ec4

[2015-03-30 17:27] dcolligan commented on #210
Fixed in 7ed8f1d3202b23c704bff03819bc009f781b4ec4

[2015-03-30 17:27] #210 closed

[2015-03-30 17:47] macieksmuga opened #305 "Dockerize ga4gh server + example data"
Once the first stable release is reached.

[2015-03-30 18:20] dcolligan commented on #275
@jeromekelleher can you add these files:

[code]

From here: http://hgdownload.cse.ucsc.edu/goldenPath/hg19/encodeDCC/wgEncodeUwRepliSeq/

And also take out the wormtable stuff in ga4gh-example-data while you're at it?

[2015-03-30 19:54] dcolligan opened #306 "Add favicon"
On navigating browser to /, the server spits out:
[code]

[2015-03-30 19:58] dcolligan commented on #305
What are the use cases of this?  Is this just to save users the trouble of having to download example data from a (jerome's) random server?

[2015-03-30 20:43] macieksmuga commented on #305
For the v0.5.1server, this will at first be a test of capability.

However the intention is to deploy the server on realistically sized chunks of genomic data soon, and It will make sense to investigate various ways (docker containers being a prime candidate) of deploying the server+data across clusters/on the cloud.

For the future v0.6 server, the datasets will likewise start growing fast, and t

[2015-03-30 21:27] shajoezhu opened #308 "Should duplicated callSetId raise a warning message?"
For command as such `
python client_dev.py -vv variants-search http://localhost:8000/v0.5.1 -m1  -c 1000g_2013.HG00096,1000g_2013.HG00096 -V 1000g_2013 -r 1 -e 100000 2>&1 | less
`
should ga4gh server raise a warning message to notify client that duplicated callSetId was called?

[2015-03-30 22:42] pgrosu commented on #305
@macieksmuga, is the use of Sqlite dbs been set in stone?  I only mention this because bottlenecks can appear, one specifically is the following:

http://www.sqlite.org/faq.html#q19

~p

[2015-03-30 22:58] macieksmuga commented on #305
@pgrosu the graph genome project will be using Sqlite for rapid development and minimizing of compatibility issues in a reference implementation, not necessarily for a final full-scale server: So yeah, it's not ideal for real-world deployment against a full-size population genome-sized dataset.

That being said, it shouldn't be too bad for small-scale deployments: The specific bottleneck you menti

[2015-03-30 23:10] pgrosu commented on #305
@macieksmuga, sounds good and agreed, though performance of concurrency for read-only can also be affected which depends on the configuration.  Below is a link to different configurations and how to maximize concurrency for read-only:

http://manski.net/2012/10/sqlite-performance/

Hope it helps,
~p

[2015-03-31 00:06] diekhans commented on #305
All database can encounter bottlenecks.  The fact that the
database will be read-only is a huge advantage in any approach.
It's a good choice for a reference implementation.

Paul Grosu <notifications@github.com> writes:

[2015-03-31 00:32] pgrosu commented on #305
@diekhans, I agree for now, but definitely not for the near future.  If we look just at the kilobases of sequencing per day per machine from a few years ago - which I'm sure will not plateau anytime soon, as things get more "affordable" - I imagine this data will feed eventually into GA4GH repositories on a daily basis:

![sequencing](https://cloud.githubusercontent.com/assets/6555937/6910020/3493

[2015-03-31 01:05] pgrosu commented on #305
@diekhans, I'm thinking more specifically the alignment to custom transcriptomes, so I imagine that write performance would also need to scale for that.  I sort of have a vision for GA4GH as being quite dynamic and customizable.  As new data feeds into the repositories, then previously generated summary analysis and annotations for multiple datasets would be performed online and updated accordingl

[2015-03-31 01:50] diekhans commented on #305
This is for the reference server.  The goal for the reference
server is validate the API, develop a conformance suite, and
allowing for the development applications.  It needs to be easy
to understand and to enhance.

It's not intended to be a high-performance server and will
fail in it's goals if we try to make it one.

Other high-performance, parallel, distributed servers will be
developed.  Goo

[2015-03-31 01:51] fnothaft commented on #305
+1 @diekhans

[2015-03-31 06:31] pgrosu commented on #305
I apologize ahead of time, but this will be a little long.  To design for scalability, throughput, and framework performance/functionality is something that would need to be clearly thought out before doing any coding.  I feel we are building it on the fly.  I know you are worried we would fail if our scope is too large, but we should not fail if we clearly write out our plans for the implementati

[2015-03-31 07:59] jeromekelleher commented on #305
@macieksmuga - sounds about right to me.

@dcolligan, the main advantage I would see in making Docker images would be avoid the hassle of configuring apache and so on, which is actually quite tedious.

@diekhans - 100% agreed on your summary.

[2015-03-31 08:03] jeromekelleher commented on #308
Excellent question! The protocol has nothing to say about whether duplicate callSetIds should be allowed, so I guess there's nothing particularly wrong with it. I would say it's OK, and the client and server should just do as they are asked.

Anyone else like to weigh in here? Should the protocol have something to say about this?

[2015-03-31 08:04] jeromekelleher commented on #306
Closed in #307.

[2015-03-31 08:04] #306 closed

[2015-03-31 08:06] #298 closed

[2015-03-31 08:35] jeromekelleher commented on #301
Fixed in #304.

[2015-03-31 08:35] #301 closed

[2015-03-31 08:36] jeromekelleher commented on #286
Fixed in #295.

[2015-03-31 08:36] #286 closed

[2015-03-31 13:59] fnothaft commented on #305
@pgrosu

I think you're looking at the reference implementation of the server and trying to generalize across the project. The server reference implementation is intended to provide a GA4GH server that is:

1. Fully compliant with the GA4GH spec
2. Easy to set up
3. Free

I.e., it is a tool that allows people to easily set up a GA4GH server sitting on top of their current infrastructure, for free.

[2015-03-31 14:10] jeromekelleher commented on #275
I've gone for a slightly different approach @dcolligan, in which we add a subset of the samples for reads in 1000G. The updated dataset is available at the usual place (but without the .gz suffix --- see PR #311).

I think it's more useful to keep the data at least notionally consistent (i.e, that these variants are called from these reads), within our example data. We'll need to deal with this sh

[2015-03-31 14:23] jeromekelleher opened #312 "Script required to generate `ga4gh-example-data` from 1000G sources"
The current ga4gh-example-data tarball contains a subset of the variants for 1000G phase1 and phase3. To make things managable, we also use only 3 samples, and throw away the others. We include the low coverage reads for these samples also.

Generating this dataset manually is tedious and error prone, and we should seek to automate the process using a script. The script should do the following:

1

[2015-03-31 14:24] jeromekelleher commented on #172
Closing this issue as it has been superseded by the more specific #312.

[2015-03-31 14:24] #172 closed

[2015-03-31 14:35] jeromekelleher commented on #266
I've done this for the new ga4gh-example-data --- what do you think @dcolligan?

[2015-03-31 14:35] ekg commented on #305
@pgrosu brought me here by mentioning my work with [`vg`](https://github.com/ekg/vg). I'd like to contextualize that within the overall GA4GH efforts around changes in reference technology and compressed evidence and population data.

Although I support the work of the GA4GH standards groups in principle, I do not think that specification-first development is likely to generate usable systems. Ide

[2015-03-31 15:20] jeromekelleher commented on #305
It's great to see that vg is progressing so well @ekg, and I'm certain that it's going to be a key tool in the future. I agree with the majority of what you're saying here, but I'm not sure it's very relevant to the original point of this issue (which is a very specific, technical issue regarding the reference implementation). Perhaps the data working group or the reference variation mailing lists

[2015-03-31 15:25] ekg commented on #305
@jeromekelleher point taken. Should we be starting new issues somewhere to discuss higher level topics?

[2015-03-31 15:32] jeromekelleher commented on #305
Maybe an email to the data working group mailing list? As I say, I agree with the majority of what you are saying and you are making good points, so it would be good to have the discussion.

[2015-03-31 15:34] fnothaft commented on #305
+1

[2015-03-31 15:42] ekg commented on #305
@jeromekelleher That sounds reasonable! Sorry for the noise.

[2015-03-31 16:32] pgrosu commented on #305
@fnothaft, I understand that the reference server purpose is to test the API implementation, but if the API implementation is not scalable then the core framework would need to be redesigned.  Are small labs supposed to use this server in-house with not a lot of data, or would they populate it with gigantic datasets with multi-user access?  If the in-house datasets are small, what meaningful resul

[2015-03-31 16:47] dcolligan commented on #308
There's a few ways that we could tackle this:

0) the server executes the request, but throws an error upon being asked to execute request that involves a callSetId that it has already seen
1) the server throws an error about a duplicate callSetId before executing the query
2) the server issues a warning about a duplicate id but proceeds with the request (we would need to clarify what we mean by "

[2015-03-31 16:50] jeromekelleher commented on #308
Good summary @dcolligan. I think (1) or (3) are the best options. I can see good arguments for both...

[2015-03-31 16:54] dcolligan commented on #308
Is there any scenario in which the user would want the same set of results twice?  Is there a reason that we should assume the user doesn't know what s/he is doing in that case?

[2015-03-31 17:00] dcolligan commented on #275
Cool, looks good.

[2015-03-31 17:00] #275 closed

[2015-03-31 17:00] dcolligan commented on #266
Excellent.

[2015-03-31 17:00] #266 closed

[2015-03-31 17:04] jeromekelleher commented on #308
That's what I was trying to figure out. The argument is a list rather than a set, so there's nothing semantically wrong with providing duplicates. It's not a trivial cost for us to check for duplicates, so maybe we should assume that the user knows what they are doing in this case.

[2015-03-31 17:05] diekhans commented on #305
A lot of the issues discussed here related to discussion in:
  Inheritance in GA4GH schemas (#264)

Theses are issues related to design approaches and goals for
GA4GH with Avro.  A lot of good discussion here. Perhaps some of
the comments people want to be moved forward can be added here.

Erik Garrison <notifications@github.com> writes:

[2015-03-31 17:10] dcolligan commented on #308
It's not a trivial cost?
[code]

[2015-03-31 17:17] shajoezhu commented on #308
:+1:

[2015-03-31 17:17] pgrosu commented on #305
@diekhans, I think you might have meant this link, for which I'm still drafting up an analysis:

https://github.com/ga4gh/schemas/issues/264

~p

[2015-03-31 17:20] jeromekelleher commented on #308
Well, we could have a few thousand callSetIds in there, so it _might_ be significant. I'm probably prematurely optimising though, so we should ignore that consideration.

My view is that if we stop people doing stupid (but legitimate) things we might also inadvertently stop them doing clever things. I think duplicate callSetIds is stupid, but probably legitimate.

[2015-03-31 17:23] dcolligan commented on #308
(3) also has the advantage of not introducing any protocol changes.

Yay, path of least resistance!

[2015-03-31 17:25] dcolligan commented on #299
Fixed in #309

[2015-03-31 17:25] #299 closed

[2015-03-31 17:42] shajoezhu commented on #308
Hi @dcolligan, the reason I raised issue was that, when I ran python server_dev.py in one window, and execute the command ` python client_dev.py -vv variants-search http://localhost:8000/v0.5.1 -m1 -c 1000g_2013.HG00096,1000g_2013.HG00096 -V 1000g_2013 -r 1 -e 100000 2>&1 | less ` I get the following:
[code]
so after discuss with @jeromekelleher , this seems to be a bug that should be fixed at the

[2015-03-31 17:48] diekhans commented on #305
Yes, that was it.. too many tickets!!

Paul Grosu <notifications@github.com> writes:

[2015-03-31 18:12] dcolligan commented on #308
AFAIK, there are no sets as attributes in the request/response protocol objects.  Everything is a list.  (Which makes sense, since JSON doesn't support sets.)

[2015-03-31 18:19] pgrosu commented on #305
I know the feeling - I've been through that experience many times in the past :)

[2015-03-31 18:33] benedictpaten commented on #305
These are good points Erik, worth starting an alternative thread.

I'd point out there are several graph alignment schemes now in
existence/aborning - none are likely to be using the GA4GH API directly for
their data structures/algorithms.

I view the API we've defined as a not crazy way of communicating our
results in a common format and comparing them. It may well grow and change
over time, but

[2015-03-31 19:51] dcolligan commented on #270
Fixed in #294

[2015-03-31 19:51] #270 closed

[2015-03-31 20:00] jeromekelleher commented on #308
The protocol itself is very vague about the semantics of the `callSetIds` array though. All it says is

"Only return variant calls which belong to call sets with these IDs."

Should `callSetIds` be considered a list or a set? Are we supposed to return the `Call` objects in the `Variant` in the same order as they are specified in `callSetIds` or is the order arbitrary? This is just the sort of deta

[2015-04-01 08:03] jeromekelleher commented on #271
Fixed in #279

[2015-04-01 08:03] #271 closed

[2015-04-01 11:34] shajoezhu opened #315 "Reduce the size of README"
The README file is currently too long, propose to
 - [ ] reduce the size of README
 - [x] split the installation section to three separate (Deployment, Client tools and Development) documentation pages, and create links to them.

[2015-04-01 11:35] shajoezhu commented on #315
i m working on this

[2015-04-01 13:20] jeromekelleher commented on #315
This sounds good @shajoezhu. One possible approach is to use Sphinx to generate documentation for us and use http://pythonhosted.org or https://read-the-docs.readthedocs.org to host our HTML documentation. I would probably lean towards read-the-docs as it's a bit more fully featured.

[2015-04-01 13:37] jeromekelleher commented on #272
After merging #316, we get a compliance score of 81/117. This is broken down as full compliance on the variants API, partial compliance on the reads API and zero compliance on the references API.

The downmarks on the reads API are due to not handling things like `dataSetId` and `ReadGroupSet.name` properly (which is fair enough), but also due to several things which appear to be wrong. The tester

[2015-04-01 14:00] jeromekelleher commented on #315
I've created a project for the ga4gh-reference-implementation on read-the-docs.org. If you want to be added to the list of maintainers, sign up for an account and I'll add you.

The documentation will be available at http://ga4gh-reference-implementation.readthedocs.org/

[2015-04-01 14:08] jeromekelleher opened #317 "New documentation outline"
@shajoezhu and I have been looking at the documentation, and we think the best approach is to split it into different parts:

1. The README.rst file should just contain basic information about the project and serve as the landing page on GitHub and PyPI. This can contain links to the more detailed documentation, which is hosted on read-the-docs.org.
2. The detailed documentation is then written se

[2015-04-01 14:57] lh3 commented on #315
A bit off-topic (I can create a new issue if you prefer). Installation seem complicated especially for someone without the root permission. Is it possible to optionally use flask's builtin server just for demonstration? I am imagining an installation procedure like:

[code]
Cassie used to show a BAM-based read server implantation (I can't find the link now). It has an installation procedure someth

[2015-04-01 15:09] jeromekelleher commented on #315
I completely agree @lh3, thanks for the input. We need to make the distinction between a quick demo (which should be as easy as your example here), and a full production deployment (which does need all the complicated Apache configuration).

We'll try and get this into the docs over the next couple of days.

[2015-04-01 15:30] jeromekelleher commented on #267
Fixed in #295 and #304.

[2015-04-01 15:30] #267 closed

[2015-04-01 15:31] jeromekelleher commented on #256
This issue has been superseded by #315 and #317.

[2015-04-01 15:31] #256 closed

[2015-04-01 15:59] jeromekelleher commented on #315
I'm working on part (1) of this - reduce the size of the README down to something sensible.

[2015-04-01 16:49] dcolligan commented on #272
Awesome!  Closing.

[2015-04-01 16:49] #272 closed

[2015-04-01 17:15] dcolligan commented on #317
+1 on this approach

[2015-04-01 18:17] dcolligan opened #319 "flake8 run gives back duplicate results"
The current flake8 invocation in `.travis.yml`
[code]
Traverses all python files twice because the '.' starts a recursive descent at the current directory.  Therefore, when there is a syntax error, the error gets printed out twice.  Also, this makes for a slower flake8 run.

We should fix this.

[2015-04-01 19:20] dcolligan commented on #315
Partially fixed in #318

[2015-04-01 19:34] dcolligan opened #321 "Support search over multiple variantSets"
Currently, variants-search and callsets-search don't support searching over multiple variant sets.  Change that.

[2015-04-01 19:35] dcolligan opened #322 "Support search over multiple readGroups"
Currently, reads-search doesn't support search over multiple readGroups.  Change that.

[2015-04-01 20:15] dcolligan opened #324 "Fix client logging"
Client logging has our messages entangled with urllib3's messages.  We should probably suppress all of urllib3's messages.

Also, we don't really care about printing the debugLevel for our messages.

[code]

[2015-04-01 20:24] macieksmuga opened #325 "Feature freeze for 0.1.0 release?"
This isn't so much an issue as a question for @jeromekelleher:
Will there be a feature freeze before the 0.1.0 release (all PR merges between the freeze and the release would be for bug fixes only)? If so, when? And will there be an associated tag? Thanks!

[2015-04-02 07:52] jeromekelleher commented on #325
Yes, good idea @macieksmuga. Let's call that freeze today (excluding documentation updates). I think we should try and tag 0.1.0a3 today so that we can test out installation and the docs. We should then tag 0.1.0b1 tomorrow, unless we hit any show stoppers.

[2015-04-02 07:58] jeromekelleher commented on #324
I quite like urllib3's messages --- it's the only way I can see direct information about what's happening at the HTTP level. In particular, the response length is useful to know. I don't have an opinion either way when it comes to the debugLevel output.

[2015-04-02 16:24] dcolligan commented on #325
Question answered, closing...

[2015-04-02 16:24] #325 closed

[2015-04-02 17:08] jeromekelleher commented on #315
Fixed in #328

[2015-04-02 17:08] #315 closed

[2015-04-02 17:16] jeromekelleher commented on #302
OK, 0.1.0a3 has been tagged, the updated package is on PyPI, and the new docs should be up at http://ga4gh-reference-implementation.readthedocs.org/en/latest/

Time to test! Please go through the documentation. If you see something easy that needs fixing, please open a PR to do so. If it's more difficult, open an issue and we can decide whether we want to resolve it by tomorrow.

The [demo](http:/

[2015-04-02 17:17] dcolligan commented on #319
Fixed in #320

[2015-04-02 17:17] #319 closed

[2015-04-02 17:50] dcolligan commented on #302
The zlib link in the demo page is broken on http://ga4gh-reference-implementation.readthedocs.org/en/latest/demo.html

[2015-04-02 17:58] dcolligan commented on #302
Configuration link in the demo page is broken: "see [configuration] for detailed information" on http://ga4gh-reference-implementation.readthedocs.org/en/latest/demo.html

[2015-04-02 18:10] dcolligan commented on #302
Other than that the docs look good to me

[2015-04-02 18:16] dcolligan commented on #81
@diekhans have you done any work on this or were you planning on tackling it anytime soon?

[2015-04-03 02:54] diekhans commented on #325
May I suggest create a release branch and not just tagging.
This is often SOP and makes it much easier to do parallel
development with a release and fix bungs in the release.

this is really exciting

Mark

Jerome Kelleher <notifications@github.com> writes:

[2015-04-03 08:15] jeromekelleher commented on #325
This is a good idea @diekhans -- I'm opening an issue to discuss future releases and development.

[2015-04-03 08:28] jeromekelleher opened #330 "Git development and release process"
Now that we're leaving the initial "let's get something working" phase and moving to a more predictable release model, we should review our development processes and release engineering plans.

Currently, all development happens on the master branch and we just tag releases when they are ready. This is simple and lightweight, but has some disadvantages:

1. Master breaks every now and then. It's u

[2015-04-03 09:42] jeromekelleher commented on #302
I've gone through the demo on a fresh ubuntu 14.10 VM and everything works fine. What's the experience like on a Mac? Do we need to provide guidance on installing zlib headers or is this provided as standard?

[2015-04-03 14:43] diekhans opened #332 "Server CLI programs should follow Unix conventions"
Language of implementation should be hidden by the server CLI programs.  This  abstraction is one of the fundamental tenets of UNIX.  One shouldn't have to know what language a program is in use it.

     python ga4gh-demo.py

should be simply

    ga4gh-demo

programs should be in a directory `bin'

[you can have my UNIX when you pry it out of my cold, repetitive strain injured hands]

[2015-04-03 15:14] jeromekelleher commented on #332
Yes, I agree that _programs_ should hide the language. That's why all the real CLI programs do this (ga2vcf, ga2sam, ga4gh_server, ga4gh_client). They aren't stored in a bin directory because they are made in a platform independent way by setuptools, so we never have to worry about installing them properly. Python does this for us.

These are _scripts_. They are either development tools intended t

[2015-04-03 15:39] diekhans commented on #332
I didn't try it, I just read the doc! So maybe this is a
documentation ticket.

Jerome Kelleher <notifications@github.com> writes:

[2015-04-03 15:46] jeromekelleher commented on #332
Which bit don't you like, the `ga4gh-demo.py` bit? This is just a script we're asking the user to make so they can run the Python code in the demo. We could get rid of the suffix, but then we'd have to put in a shebang in the script, and then say

Then run ``chmod u+x ga4gh-demo`` and run ``./ga4gh-demo``. I think putting it into a Python source file and just running it with the interpreter is a l

[2015-04-03 15:50] diekhans commented on #332
Oh, so pre-install.  No problemo, close away.  Sorry for the noise!

Jerome Kelleher <notifications@github.com> writes:

[2015-04-03 15:52] jeromekelleher commented on #332
No worries @diekhans, it's good to know you're keeping an eye on these things!

[2015-04-03 15:52] #332 closed

[2015-04-03 16:20] #317 closed

[2015-04-03 16:34] macieksmuga commented on #330
This is exactly the model I used on two previous git-backed projects. It worked well for us - but both those projects were significantly smaller (number of developers-wise) than this one, so I can't vouch for how it behaves at our scale.

[2015-04-03 17:20] dcolligan opened #333 "New branching process scripts and docs"
Create documentation for new branching process (master branch, develop branch, release branches)

Create scripts for making branching and merging according to that process easy and error-free

[2015-04-03 17:59] benedictpaten commented on #22
In the compliance suite it would be good to have some *very* limited performance testing - so in addition to testing that the functions work as designed - some timing information could be returned in the report. Alternatively this could be broken out separately, but for now it is probably pragmatic to do both in the same set.

There was some discussion here at UCSC about the performance requiremen

[2015-04-03 19:23] jeromekelleher commented on #22
Performance monitoring can be included easily, and should be part of the basic functionality.

[2015-04-04 00:49] benedictpaten opened #335 "Testing support on AWS"
We would like to put up a reference server on AWS for testing, and ultimately, wider, general use.

The dataset we should use for testing is probably:

http://aws.amazon.com/1000genomes/

It would be good to test read and variant support.

Assuming @dcolligan takes this on at UCSC, Hannes or Mark can give you our AWS account details.

[2015-04-07 10:59] jeromekelleher opened #338 "Continuous integration checks required for docs"
Documentation is built automatically now using read-the-docs, but there is no CI tests to ensure that this process works. We should include some checks in our travis configuration to make sure that the documentation at least builds without error. (This might be as simple as adding `python setup.py sphinx_build`)

[2015-04-07 11:06] jeromekelleher opened #339 "URL support for variants broken"
The support for using URLs as a data source in `HtslibVariantSet` is currently broken, as we insist that there is at least one VCF/BCF file in the data directory. This can be fixed easily enough by moving the check and count to after the URLs have been read in.

The `EmptyDirException` should also take the offending directory as an argument so that we can build a meaningful error message.

[2015-04-07 11:11] jeromekelleher opened #340 "URL support for read data."
We currently have some cludgy code to allow variant data be read from a remote URL source. The same method can applied to reads. We should try to abstract the details of how we do this so that the VariantSet and ReadGroupSet share the same code --- we could try to adapt (and rename) PysamSanitizer to do this.

~~We should resolve #339 first/also.~~

[2015-04-07 11:16] jeromekelleher opened #341 "Deployment instructions on nginx/uwsgi needed"
We currently have detailed deployment instructions for Apache, which gives an easy way to deploy the server in production. For larger scale deployments, the combination of [nginx]( http://wiki.nginx.org/Main) and [uwsgi]( http://uwsgi-docs.readthedocs.org/en/latest/index.html) would seem ideal.

We should document a simple installation of the server on this combination, and investigate more advanc

[2015-04-07 18:33] dcolligan commented on #335
I have a server set up with example data at this address now:

http://ec2-54-200-59-190.us-west-2.compute.amazonaws.com/ga4gh/

But I'm stopping the instance until I figure out the configuration with the 1000 genomes data set.

[2015-04-07 20:37] dcolligan commented on #335
#339 and #340 need to be fixed before we can test remote reads and variants

Also, @benedictpaten , can you be more specific about the list of files you would like to see served?  There is a lot of stuff in that s3 bucket.

[2015-04-07 21:15] dcolligan commented on #339
There's that big comment in `variants.py` saying how `urls.json` is not a good idea.  What were you envisioning for replacing it, @jeromekelleher ?

[2015-04-07 21:44] dcolligan commented on #340
What does `PysamSanitizer` have to do with this?

[2015-04-07 22:22] dcolligan commented on #341
See http://flask.pocoo.org/docs/0.10/deploying/uwsgi/

Should we also provide scripts to automate deployments (like on a standard AWS Ubuntu instance, say) or is this where we are going with docker?

[2015-04-08 09:28] jeromekelleher commented on #339
We'll figure out how to fix that when we can properly work with index files.

[2015-04-08 09:28] #339 closed

[2015-04-08 09:33] jeromekelleher commented on #341
I think the Docker file is sufficient for the automating deployment needs. We need to be careful security-wise here when thinking about deployment --- we'd need to audit things pretty carefully if we're going to provide a script to fully automate installation on Amazon. At least with Docker there is a host OS that someone else is responsible for.

[2015-04-08 12:44] jeromekelleher opened #346 "Refactoring of the datamodel code required"
Currently a lot of code in the `datamodel/reads.py` and `datamodel/variants.py` modules is duplicated, and not very logically organised. PR #345 is a start towards fixing this, but the changes need to go much further. We need a logically consistent, and well-thought out and well-documented class hierarchy for our data model objects, in which as much code as possible is pushed into superclasses.

[2015-04-08 13:49] jeromekelleher opened #347 "Expert review of the read translation code required"
There are multiple TODO items in the ``ga4gh/datamodel/reads.py`` file, particularly where we translate from pysam objects into the GA4GH equivalents (see the ``convertReadAlignment`` method). None of the current developers have the expertise required to be certain that the decisions made here are correct. We would very much appreciate some outside help on this.

[2015-04-08 16:17] benedictpaten commented on #335
Hmm, as a starting point I don't think it matters which bam/vcf files we
use. I tried looking through the s3 bucket but I'm totally confused about
what's there. Is there a sensible way of viewing/navigating it. Sorry for
the stupid question.

On Tue, Apr 7, 2015 at 1:37 PM, Danny Colligan <notifications@github.com>
wrote:

[2015-04-08 16:59] dcolligan commented on #339
Fixed in #343

[2015-04-08 19:41] dcolligan commented on #335
Yeah, are there any external docs that describe the contents of this project?

There are some READMEs scattered around that bucket.  What's annoying is that the standard command for interacting with s3, `s3cmd`, requires credentials to set up (AFAICT) meaning that a non-credentialed user just can't use it for public buckets.  I've written a tool to download them: https://github.com/dcolligan/serve

[2015-04-08 19:52] benedictpaten commented on #335
Okay, I'll take a look at the read-mes shortly. Thanks!

On Wed, Apr 8, 2015 at 12:41 PM, Danny Colligan <notifications@github.com>
wrote:

[2015-04-09 17:38] dcolligan commented on #333
Fixed in #337

[2015-04-09 17:38] #333 closed

[2015-04-09 17:40] dcolligan commented on #338
Fixed in #342

[2015-04-09 17:40] #338 closed

[2015-04-09 17:56] dcolligan opened #349 "Rename master branch"
The branch `master` should be renamed to reflect what its actual use is.  It is not the default branch anymore; that would be `develop`.

I propose we rename it to `stable` and update the documentation accordingly.  I am not proposing any changes in our development process.

[2015-04-09 18:02] dcolligan commented on #302
Closing this issue as the beta has been released